Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Restyled by prettier
  content/docs/command-reference/config.md
Due: prettier --write

Added content about static image plots
  content/docs/studio/user-guide/views/visualize-experiments.md
Due: prettier --write

exp show: Add --keep and --drop (#3112)
  content/docs/command-reference/exp/show.md
  content/docs/start/experiments.md
Due: prettier --write

ref: clarify add/import/get `-o` and `--to-remote` (#3049)
  content/docs/command-reference/add.md
  content/docs/command-reference/get.md
  content/docs/command-reference/import.md
Due: prettier --write

Minor change to section heading
  content/docs/studio/user-guide/views/visualize-experiments.md
Due: prettier --write

added dvclive image
  static/img/start_visualization_dvclive.png
Due: none

linked dvclive image
  content/docs/start/visualization.md
Due: prettier --write

fixed dvc plots command
  content/docs/start/visualization.md
Due: prettier --write

Added confusion image link
  content/docs/start/visualization.md
Due: prettier --write

added confusion image
  content/docs/start/visualization.md
Due: prettier --write

adding image for confusion matrxi
  static/img/start_visualization_confusion1.png
Due: none

add confusion image
  static/img/start_visualization_confusion2.png
Due: none

Change youtube embed component to only load src on user request
  src/components/Home/UseCases/Video/index.tsx
Due: none

Add null to ref type
  src/components/Home/UseCases/Video/index.tsx
Due: none

added html to react
  package.json
  src/typings.ts
  yarn.lock
Due: prettier --write

utility html to react parser
  src/utils/index.ts
Due: none

using code component and minor changes
  gatsby-config.js
  src/components/Code/index.tsx
  src/components/Documentation/Markdown/Main/styles.module.css
  src/components/Documentation/Markdown/index.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

guide: clarify that exp show --json is not a table
  content/docs/user-guide/experiment-management/comparing-experiments.md
Due: prettier --write

ref: copy edits on exp show
  content/docs/command-reference/exp/show.md
Due: prettier --write

ref: copy edit exp show --pcp example
  content/docs/command-reference/exp/show.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/exp/show.md
Due: prettier --write

ref: CE studio tblsht
  content/docs/studio/troubleshooting.md
Due: prettier --write

guide: studio commit hiding CEs
  content/docs/studio/user-guide/views/visualize-experiments.md
Due: prettier --write

Restyled by prettier
  content/docs/studio/troubleshooting.md
  content/docs/studio/user-guide/views/visualize-experiments.md
Due: prettier --write

Split sidebar normalization and utils and import via shadowing
  plugins/gatsby-remark-dvc-linker/apiLinker.js
  plugins/gatsby-remark-dvc-linker/commandLinker.js
  plugins/gatsby-remark-dvc-linker/liveLinker.js
  plugins/gatsby-theme-iterative-docs/build-sidebar-helpers.js
  plugins/gatsby-theme-iterative-docs/constants.js
  plugins/gatsby-theme-iterative-docs/normalize-sidebar.js
  plugins/gatsby-theme-iterative-docs/normalize-sidebar.test.js
  plugins/gatsby-theme-iterative-docs/resolve-sidebar.js
  plugins/gatsby-theme-iterative-docs/sidebar-helpers.js
  plugins/gatsby-theme-iterative-docs/sidebar-helpers.test.js
  plugins/gatsby-theme-iterative-docs/src/sidebar.d.ts
  plugins/gatsby-theme-iterative-docs/src/sidebar.js
  src/components/Community/Learn/index.tsx
  src/components/Documentation/Layout/SidebarMenu/index.tsx
  src/components/Documentation/Markdown/Main/index.tsx
  src/components/Documentation/WithJSX/index.tsx
  src/components/Documentation/index.tsx
  src/components/HamburgerMenu/index.tsx
  src/components/LayoutFooter/index.tsx
  src/components/LayoutHeader/Nav/LinkItems/index.tsx
  src/gatsby-theme-iterative-docs/sidebar.js
  src/templates/doc-jsx.tsx
  src/templates/doc.tsx
  src/utils/shared/redirects.js
  src/utils/shared/sidebar.js
Due: eslint --fix

Fix usage of findChildWithSource
  src/utils/shared/redirects.js
Due: eslint --fix

Fix lint-ts errors
  plugins/gatsby-theme-iterative-docs/sidebar-helpers.js
  plugins/gatsby-theme-iterative-docs/src/sidebar.d.ts
  src/gatsby-theme-iterative-docs/sidebar.js
Due: eslint --fix

Incorporated PR comments from Jorge
  content/docs/studio/troubleshooting.md
  content/docs/studio/user-guide/views/explore-experiments.md
  content/docs/studio/user-guide/views/visualize-experiments.md
Due: prettier --write

Minor improvement
  content/docs/studio/troubleshooting.md
Due: prettier --write

studio: doc 1. show, hide commits; 2. static images (#3116)
  content/docs/sidebar.json
  content/docs/studio/troubleshooting.md
  content/docs/studio/user-guide/explore-experiments.md
  content/docs/studio/user-guide/views/explore-experiments.md
  content/docs/studio/user-guide/views/run-experiments.md
  content/docs/studio/user-guide/views/view-settings.md
  content/docs/studio/user-guide/views/visualize-experiments.md
  content/docs/studio/user-guide/visualize-experiments.md
  redirects-list.json
Due: prettier --write

Add `dvctablehorizontals`
  config/prismjs/dvctable.js
  src/components/Documentation/Markdown/Main/styles.module.css
Due: eslint --fix

guide: clarify that exp show --json is not a table (#3137)
  content/docs/user-guide/experiment-management/comparing-experiments.md
Due: prettier --write

Add sklearn
  content/docs/dvclive/api-reference/sklearn.md
  content/docs/dvclive/ml-frameworks/index.md
  content/docs/dvclive/ml-frameworks/sklearn.md
  content/docs/sidebar.json
  static/img/sklearn-plots.png
Due: prettier --write

Fix links
  content/docs/dvclive/api-reference/sklearn.md
  content/docs/dvclive/ml-frameworks/sklearn.md
Due: prettier --write

Move comment normalized item definition to d.ts
  plugins/gatsby-theme-iterative-docs/sidebar-helpers.js
  plugins/gatsby-theme-iterative-docs/sidebar-helpers.test.js
  plugins/gatsby-theme-iterative-docs/src/sidebar.d.ts
Due: eslint --fix

Update and export INormalizedSidebarItem and use it in SidebarMenu
  plugins/gatsby-theme-iterative-docs/src/sidebar.d.ts
  src/components/Documentation/Layout/SidebarMenu/index.tsx
Due: none

Add suppressable default gatsby-transformer-remark definition
  gatsby-config.js
  plugins/gatsby-theme-iterative-docs/gatsby-config.js
  plugins/gatsby-theme-iterative-docs/gatsby-node.js
  plugins/gatsby-theme-iterative-docs/index.js
Due: eslint --fix

Remove resolve-sidebar since local remark plugins are dvc.org only
  plugins/gatsby-remark-dvc-linker/apiLinker.js
  plugins/gatsby-remark-dvc-linker/commandLinker.js
  plugins/gatsby-remark-dvc-linker/liveLinker.js
  plugins/gatsby-theme-iterative-docs/resolve-sidebar.js
Due: eslint --fix
