Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Restyled by prettier
  content/docs/command-reference/remote/modify.md
Due: prettier --write

Update content/docs/command-reference/remote/modify.md
  content/docs/command-reference/remote/modify.md
Due: prettier --write

Use forked checks action for debug purposes
  .github/workflows/link-check-deploy-init.yml
  .github/workflows/link-check-deploy.yml
Due: none

Remove conclusion on uncompleted Check and use YAML anchors for DRYing
  .github/workflows/link-check-deploy-init.yml
  .github/workflows/link-check-deploy.yml
Due: none

Remove anchors because GHA doesn't support them
  .github/workflows/link-check-deploy.yml
Due: none

Remove init to test if 1.0 works on deploy_status
  .github/workflows/link-check-deploy-init.yml
Due: none

Attempt to fix caching issue caught during dev
  src/gatsby/models/community/index.js
Due: eslint --fix

pretty
  content/blog/2020-09-09-september-20-dvc-heartbeat.md
Due: prettier --write

Handle non-JSON non-ok responses from CloudFlare cache clear (#1773)
  scripts/clear-cloudflare-cache.js
Due: eslint --fix

resize real python image
  content/blog/2020-09-09-september-20-dvc-heartbeat.md
  static/uploads/images/2020-09-09/Real_Python.png
Due: prettier --write

resize real python image
  content/blog/2020-09-09-september-20-dvc-heartbeat.md
Due: prettier --write

Draft of September Heartbeat (#1771)
  content/blog/2020-09-09-september-20-dvc-heartbeat.md
  static/uploads/images/2020-09-09/MLOps.png
  static/uploads/images/2020-09-09/Real_Python.png
  static/uploads/images/2020-09-09/docker_logo.png
  static/uploads/images/2020-09-09/fabiana.jpg
  static/uploads/images/2020-09-09/header.png
  static/uploads/images/2020-09-09/infoworld.png
  static/uploads/images/2020-09-09/podcast_log.png
  static/uploads/images/2020-09-09/sedaily.jpeg
  static/uploads/images/2020-09-09/singapore.jpg
Due: prettier --write

fix: typo
  content/docs/use-cases/data-registries.md
Due: prettier --write

fix entries
  content/docs/command-reference/remote/modify.md
Due: prettier --write

fix: typo (#1776)
  content/docs/use-cases/data-registries.md
Due: prettier --write

add initialization to deployment_status/action:created
  .github/workflows/link-check-deploy.yml
Due: none

Try initializing on pull_request
  .github/workflows/link-check-deploy.yml
Due: none

Roll in deployment init in same workflow file
  .github/workflows/link-check-deploy.yml
Due: none

Run Prettier and remove brackets on ifs
  .github/workflows/link-check-all.yml
  .github/workflows/link-check-deploy.yml
Due: none

Remove defaults
  .github/workflows/link-check-deploy.yml
Due: none

Re-add runs-on to init step (oops)
  .github/workflows/link-check-deploy.yml
Due: none

Try a no-checks variant that includes deployment as a dummy trigger
  .github/workflows/link-check-deploy.yml
Due: none

Revert "Try a no-checks variant that includes deployment as a dummy trigger"
  .github/workflows/link-check-deploy.yml
Due: none

Try check_suite as initializer
  .github/workflows/link-check-deploy.yml
Due: none

Use updated checks flow for updates
  .github/workflows/link-check-deploy.yml
Due: none

Go back to deployment init trigger
  .github/workflows/link-check-deploy.yml
Due: none

Remove names on steps
  .github/workflows/link-check-deploy.yml
Due: none

Unbreak deployment if statement
  .github/workflows/link-check-deploy.yml
Due: none

Re-wrap deploy if in interpolation
  .github/workflows/link-check-deploy.yml
Due: none

Remove event_name conditional on check
  .github/workflows/link-check-deploy.yml
Due: none

remove if conditional for testing
  .github/workflows/link-check-deploy.yml
Due: none

Try deployment_status only approach
  .github/workflows/link-check-deploy.yml
Due: none

Add example relative link to test
  content/blog/2020-09-09-september-20-dvc-heartbeat.md
Due: prettier --write

Go back to deployment+deployment_status method
  .github/workflows/link-check-deploy.yml
Due: none

Turn initialize into a conditional step
  .github/workflows/link-check-deploy.yml
Due: none

Go back to deployment_status only
  .github/workflows/link-check-deploy.yml
Due: none

updates
  content/docs/command-reference/move.md
Due: prettier --write
