Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

typos and commas
  content/blog/2022-05-16-may-22-heartbeat.md
Due: prettier --write

adding Twitter link
  content/blog/2022-05-16-may-22-heartbeat.md
Due: prettier --write

edits from Milecia
  content/blog/2022-05-16-may-22-heartbeat.md
  static/uploads/images/2022-05-16/hiring.jpeg
Due: prettier --write

Add rough draft MLEM alert
  src/components/LayoutHeader/alert.tsx
Due: none

corrected bad link
  content/blog/2022-05-16-may-22-heartbeat.md
Due: prettier --write

Blog: May heartbeat (#3554)
  content/blog/2022-05-16-may-22-heartbeat.md
  static/uploads/images/2022-05-16/chip-huyen.jpeg
  static/uploads/images/2022-05-16/data-version-control.png
  static/uploads/images/2022-05-16/dvc-visualization-doc.png
  static/uploads/images/2022-05-16/hiring.jpeg
  static/uploads/images/2022-05-16/img_pawpularity.png
  static/uploads/images/2022-05-16/innoq.jpeg
  static/uploads/images/2022-05-16/jenny-abramov.png
  static/uploads/images/2022-05-16/may-heartbeat.png
  static/uploads/images/2022-05-16/odsc.jpeg
  static/uploads/images/2022-05-16/release-party-meetup.png
Due: prettier --write

Upload “static/uploads/post-image.jpg”
  static/uploads/post-image.jpg
Due: none

updated date field
  src/cms/cms.js
Due: eslint --fix

Describe main.tf
  content/blog/2022-06-01-Jupyter-in-cloud-with-TPI.md
Due: prettier --write

Minor textual tweaks
  content/blog/2022-06-01-Jupyter-in-cloud-with-TPI.md
Due: prettier --write

updated preview pane
  src/cms/BlogPreview/index.js
  src/cms/BlogPreview/styles.module.css
  src/cms/cms.js
Due: eslint --fix

set empty date on default
  src/cms/cms.js
Due: eslint --fix

Minor restructure of opionated section
  content/blog/2022-06-01-Jupyter-in-cloud-with-TPI.md
Due: prettier --write

fix date format
  src/cms/cms.js
Due: eslint --fix

Restyled by prettier
  content/blog/2022-06-01-Jupyter-in-cloud-with-TPI.md
Due: prettier --write

Update content/blog/2022-05-17-aws-remotes-in-dvc.md
  content/blog/2022-05-17-aws-remotes-in-dvc.md
Due: prettier --write

Restyled by prettier
  content/blog/2022-05-17-aws-remotes-in-dvc.md
Due: prettier --write

more feedback edits
  content/blog/2022-05-17-aws-remotes-in-dvc.md
Due: prettier --write

initial draft for DVC/GCP remote
  content/blog/2022-05-27-using-gcp-remotes-in-dvc.md
Due: prettier --write

Grammarly suggestions and fixes
  content/blog/2022-06-01-Jupyter-in-cloud-with-TPI.md
Due: prettier --write

Create Blog “2022-05-17-test-blog”
  content/blog/2022-05-17-test-blog.md
Due: prettier --write

Restyled by prettier
  content/blog/2022-05-17-test-blog.md
Due: prettier --write

Update index.md
  content/docs/command-reference/cache/index.md
Due: prettier --write

Update index.md (#3563)
  content/docs/command-reference/cache/index.md
Due: prettier --write

cases: updates to Data Registry (#3447)
  content/docs/command-reference/import.md
  content/docs/command-reference/list.md
  content/docs/sidebar.json
  content/docs/studio/user-guide/prepare-repositories.md
  content/docs/use-cases/ci-cd-for-machine-learning.md
  content/docs/use-cases/data-registry.md
  content/docs/use-cases/versioning-data-and-model-files/index.md
  content/docs/use-cases/versioning-data-and-model-files/tutorial.md
  redirects-list.json
Due: prettier --write

cases: update MR figure [WIP]
  static/img/ml_model_registry_placement.jpg
Due: none

Create Blog “2022-05-18-the-right-to-be-forgotten-with-dvc”
  content/blog/2022-05-18-the-right-to-be-forgotten-with-dvc.md
  static/uploads/images/shutterstock_1065320012-1-.webp
Due: prettier --write

Update Blog “2022-05-18-the-right-to-be-forgotten-with-dvc”
  content/blog/2022-05-18-the-right-to-be-forgotten-with-dvc.md
  static/uploads/images/img_pawpularity.png
Due: prettier --write

Restyled by prettier
  content/blog/2022-05-18-the-right-to-be-forgotten-with-dvc.md
Due: prettier --write

cases: copy edit MR intro
  content/docs/use-cases/model-registry.md
Due: prettier --write

cases: iterate on MR figure
  static/img/ml_model_registry_placement.jpg
Due: none

Studio: Added docs for billing and payment
  content/docs/sidebar.json
  content/docs/studio/get-started.md
  content/docs/studio/troubleshooting.md
  content/docs/studio/user-guide/billing-and-payment.md
  content/docs/studio/user-guide/change-team-plan-and-size.md
  content/docs/studio/user-guide/teams.md
Due: prettier --write

doc: remove some H4s + rewrite around
  content/docs/command-reference/init.md
  content/docs/start/data-management/access.md
  content/docs/studio/troubleshooting.md
Due: prettier --write

ref: H4->H2 Usage blocks
  content/docs/api-reference/get_url.md
  content/docs/api-reference/make_checkpoint.md
  content/docs/api-reference/open.md
  content/docs/api-reference/read.md
Due: prettier --write

updated auth steps
  content/blog/2022-06-07-using-gcp-remotes-in-dvc.md
  static/uploads/images/2022-06-07/data_in_gcp.png
Due: prettier --write

install: remove condescending lang. per https://github.com/iterative/dvc.org/issues/1394
  content/docs/install/index.md
  content/docs/install/plugins.md
  content/docs/install/pre-release.md
  content/docs/install/windows.md
Due: prettier --write

Give h4s a font-weight of 600
  content/docs/studio/user-guide/teams.md
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/Main/styles.module.css
Due: prettier --write

Add link to RSS feed
  src/components/SubscribeSection/index.tsx
  src/components/SubscribeSection/styles.module.css
Due: none
