Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Refactor Support page components to TS
  package.json
  postcss.config.js
  src/components/LayoutWidthContainer/styles.module.css
  src/components/Support/Popover/index.js
  src/components/Support/Popover/index.tsx
  src/components/Support/Popover/styles.js
  src/components/Support/Popover/styles.module.css
  src/components/Support/index.js
  src/components/Support/index.tsx
  src/components/Support/styles.js
  src/components/Support/styles.module.css
  yarn.lock
Due: eslint --fix, prettier --write

Refactor Community page components to TS
  config/postcss/media.js
  package.json
  src/components/Community/Block/index.js
  src/components/Community/Block/index.tsx
  src/components/Community/Block/styles.js
  src/components/Community/Block/styles.module.css
  src/components/Community/Contribute/index.tsx
  src/components/Community/Events/index.js
  src/components/Community/Events/index.tsx
  src/components/Community/Events/styles.js
  src/components/Community/Events/styles.module.css
  src/components/Community/Hero/index.js
  src/components/Community/Hero/index.tsx
  src/components/Community/Hero/styles.js
  src/components/Community/Hero/styles.module.css
  src/components/Community/Learn/index.js
  src/components/Community/Learn/index.tsx
  src/components/Community/Learn/styles.module.css
  src/components/Community/Meet/index.js
  src/components/Community/Meet/index.tsx
  src/components/Community/Meet/styles.module.css
  src/components/Community/Section/index.js
  src/components/Community/Section/index.tsx
  src/components/Community/Section/styles.js
  src/components/Community/Section/styles.module.css
  src/components/Community/index.js
  src/components/Community/index.tsx
  src/components/Community/styles.js
  src/components/Community/styles.module.css
  src/components/LayoutWidthContainer/styles.module.css
  src/components/PageContent/index.tsx
  src/utils/api.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

use-cases: update shared dev server case, better explain "external" and "shared" cache
  content/docs/use-cases/shared-development-server.md
  content/docs/user-guide/managing-external-data.md
Due: prettier --write

april draft
  content/blog/2020-04-06-april-20-dvc-heartbeat.md
  static/uploads/images/2020-04-06/april_header.png
  static/uploads/images/2020-04-06/data_stream.png
  static/uploads/images/2020-04-06/laptop_on_boat.jpeg
  static/uploads/images/2020-04-06/marcel.jpeg
  static/uploads/images/2020-04-06/monolith.jpeg
  static/uploads/images/2020-04-06/oreilly.jpeg
Due: prettier --write

add new DVC features
  content/blog/2020-04-06-april-20-dvc-heartbeat.md
Due: prettier --write

cmd ref: small pending improvements from recent import/update changes per https://github.com/iterative/dvc.org/pull/1007#pullrequestreview-367607133
  content/docs/command-reference/import.md
  content/docs/command-reference/update.md
Due: prettier --write

docs: address feedback for #1110 per https://github.com/iterative/dvc.org/pull/1110#pullrequestreview-389529537 and others
  content/docs/command-reference/import.md
  content/docs/command-reference/update.md
  content/docs/use-cases/shared-development-server.md
Due: prettier --write

user-guide: remove unnecessary note per https://github.com/iterative/dvc.org/pull/1110#pullrequestreview-389535630
  content/docs/user-guide/managing-external-data.md
Due: prettier --write

scripts: small update for link-check
  README.md
  package.json
Due: prettier --write

scripts: fix link-check bad pages path per https://github.com/iterative/dvc.org/issues/1123#issuecomment-610766116
  scripts/link-check-git-all.sh
Due: none

redirect: fix bad redirect from recent merge
  redirects-list.json
Due: prettier --write

tutorials: get-started index updates
  content/docs/api-reference/open.md
  content/docs/command-reference/init.md
  content/docs/tutorials/deep/preparation.md
  content/docs/tutorials/get-started/index.md
  content/docs/tutorials/get-started/versioning-basics.md
  content/docs/use-cases/versioning-data-and-model-files.md
Due: prettier --write

Refactor remaining Documentation components to TS
  package.json
  src/components/Documentation/Layout/styles.module.css
  src/components/Documentation/Markdown/Tooltip/DesktopView/index.tsx
  src/components/Documentation/Markdown/Tooltip/DesktopView/styles.module.css
  src/components/Documentation/Markdown/Tooltip/MobileView/index.tsx
  src/components/Documentation/Markdown/Tooltip/MobileView/styles.module.css
  src/components/Documentation/Markdown/Tooltip/Portal/index.tsx
  src/components/Documentation/Markdown/Tooltip/index.tsx
  src/components/Documentation/Markdown/Tooltip/styles.module.css
  src/components/Documentation/Markdown/index.js
  src/components/Documentation/Markdown/index.tsx
  src/components/Documentation/Markdown/styles.js
  src/components/Documentation/Markdown/styles.module.css
  src/components/Documentation/RightPanel/index.js
  src/components/Documentation/RightPanel/index.tsx
  src/components/Documentation/RightPanel/styles.js
  src/components/Documentation/RightPanel/styles.module.css
  src/components/Documentation/Tutorials/index.js
  src/components/Documentation/Tutorials/styles.js
  src/components/Documentation/TutorialsLinks/index.tsx
  src/components/Documentation/TutorialsLinks/styles.module.css
  src/components/Documentation/index.tsx
  src/components/Documentation/styles.js
  src/components/Documentation/styles.module.css
  src/components/Page/index.tsx
  src/components/Page/styles.module.css
  src/components/ShowOnly/styles.module.css
  src/components/Tooltip/DesktopView/index.js
  src/components/Tooltip/DesktopView/styles.js
  src/components/Tooltip/MobileView/Modal/index.js
  src/components/Tooltip/MobileView/index.js
  src/components/Tooltip/MobileView/styles.js
  src/components/Tooltip/index.js
  src/consts.js
  yarn.lock
Due: eslint --fix, prettier --write

Refactor Documentation layout components to TS
  package.json
  src/components/Documentation/Layout/SearchForm/index.tsx
  src/components/Documentation/Layout/SearchForm/styles.module.css
  src/components/Documentation/Layout/SidebarMenu/index.tsx
  src/components/Documentation/Layout/SidebarMenu/styles.js
  src/components/Documentation/Layout/SidebarMenu/styles.module.css
  src/components/Documentation/Layout/index.js
  src/components/Documentation/Layout/index.tsx
  src/components/Documentation/Layout/styles.js
  src/components/Documentation/Layout/styles.module.css
  src/components/Documentation/Markdown/styles.js
  src/components/HamburgerIcon/index.tsx
  src/components/LayoutFooter/index.tsx
  src/components/LayoutHeader/index.tsx
  src/components/Page/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Get rid of styled-components
  .tmp-empty-package/index.d.ts
  .tmp-empty-package/package.json
  gatsby-config.js
  package.json
  src/components/Link/index.tsx
  src/styles.js
  yarn.lock
Due: eslint --fix, prettier --write

Refactor root html file to TS
  src/html.tsx
Due: none

Remove hack from SearchForm to avoiding loading conflict with mailchimp embed script (as it was removed before)
  src/components/Documentation/Layout/SearchForm/index.tsx
Due: none

Add util for handling keyboard events to follow DRY
  src/components/Community/Section/index.tsx
  src/components/Documentation/Markdown/Tooltip/MobileView/index.tsx
  src/components/Home/UseCases/CollapsibleText/index.tsx
  src/components/Support/Popover/index.tsx
  src/utils/keyboard.ts
Due: none

Update @react/portal package. Remove our custom Portal component
  package.json
  src/components/Documentation/Markdown/Tooltip/DesktopView/index.tsx
  src/components/Documentation/Markdown/Tooltip/DesktopView/styles.module.css
  src/components/Documentation/Markdown/Tooltip/MobileView/index.tsx
  src/components/Documentation/Markdown/Tooltip/MobileView/styles.module.css
  src/components/Documentation/Markdown/Tooltip/Portal/index.tsx
  src/components/Page/index.tsx
  src/components/Page/styles.module.css
  yarn.lock
Due: prettier --write

Update linters and reformat code accordingly to new rules
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .prettierignore
  .prettierrc
  config/prismjs/dvc-hook.js
  package.json
  plugins/gatsby-remark-dvc-linker/index.js
  plugins/resize-image-plugin/index.js
  plugins/utils/convertHast.js
  src/utils/shared/tagToSlug.js
  yarn.lock
Due: eslint --fix, prettier --write

Refactor Link component to use redirected urls as href
  package.json
  src/components/Link/index.tsx
  src/typings.ts
  src/utils/redirects.js
  yarn.lock
Due: eslint --fix, prettier --write

Remove temporary rule from eslint config
  .eslintrc.json
Due: prettier --write

Refactor front utils to TS
  src/components/Blog/Post/index.tsx
  src/components/Community/Learn/index.tsx
  src/components/Documentation/RightPanel/index.tsx
  src/utils/format.js
  src/utils/ga.js
  src/utils/ga.ts
  src/utils/i18n.js
  src/utils/i18n.ts
  src/utils/images.ts
  src/utils/isClient.ts
  src/utils/resources.js
  src/utils/resources.ts
Due: eslint --fix

Update react related packages
  package.json
  yarn.lock
Due: prettier --write

Remove !important rules from ShowOnly styles
  src/components/Documentation/Markdown/Tooltip/index.tsx
  src/components/Documentation/Markdown/Tooltip/styles.module.css
  src/components/ShowOnly/index.tsx
  src/components/ShowOnly/styles.module.css
Due: none

Refactor gatsby-node to separate utils
  gatsby-node.js
  src/utils/node/blog.js
  src/utils/node/common.js
  src/utils/node/doc.js
  src/utils/node/paginatable.js
Due: eslint --fix

Update babel & webpack related packages
  package.json
  yarn.lock
Due: prettier --write

Update gatsby-related packages
  package.json
  yarn.lock
Due: prettier --write

Update remaining packages
  package.json
  yarn.lock
Due: prettier --write

Another try to fix hash navigation
  src/components/MainLayout/index.tsx
  src/components/Page/utils.ts
  src/utils/front/images.ts
  src/utils/front/scroll.ts
Due: none

Toggle mobile menu only in mobile version
  src/components/Documentation/Layout/index.tsx
  src/utils/front/breakpoints.ts
Due: none

Fix Algolia's dropdown position
  src/components/Documentation/Layout/SearchForm/styles.module.css
Due: none

Fix Get Started button for the mobile version of main page
  src/components/Home/LandingHero/styles.module.css
Due: none

Align buttons in PromoSection component for mobile view
  src/components/PromoSection/styles.module.css
Due: none

Fix comments blog rendering
  src/components/Blog/Post/index.tsx
  src/components/Community/Learn/index.tsx
Due: none
