Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

cmd ref: use correct tag names in checkout examples and double check they still work per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-350597257
  public/static/docs/command-reference/checkout.md
Due: prettier --write

Added readable date support
  src/Community/Events/index.js
  src/Community/Learn/index.js
  src/Community/data.json
Due: eslint --fix, prettier --write

Change rel for external links to correct one
  src/Community/Learn/index.js
  src/Community/Meet/index.js
  src/Documentation/Markdown/Markdown.js
  src/Documentation/Tutorials.js
Due: eslint --fix

Update Cotribute section actions
  src/Community/Contribute/index.js
Due: eslint --fix

Fix menu title
  src/Nav/index.js
Due: eslint --fix

Replace icons
  public/static/img/community/contribute.svg
  public/static/img/community/events.svg
  public/static/img/community/learn.svg
  public/static/img/community/meet.svg
  src/Community/Section/index.js
  src/Community/Section/styles.js
  src/Community/styles.js
Due: eslint --fix

user-guide: update img dir dsc in docs contrib guide
  public/static/docs/user-guide/contributing/docs.md
Due: prettier --write

cmd ref: update note about Git hooks: only in install per https://github.com/iterative/dvc.org/pull/931#pullrequestreview-348280129 et al.
  public/static/docs/command-reference/checkout.md
  public/static/docs/command-reference/commit.md
  public/static/docs/command-reference/install.md
  public/static/docs/command-reference/push.md
  public/static/docs/command-reference/repro.md
Due: prettier --write

cache: remove more notes about .dir files and leave links per https://github.com/iterative/dvc.org/pull/931#pullrequestreview-348278952
  public/static/docs/command-reference/add.md
  public/static/docs/command-reference/diff.md
  public/static/docs/command-reference/fetch.md
  public/static/docs/command-reference/push.md
  public/static/docs/user-guide/dvcignore.md
Due: prettier --write

download: update to 0.82.6
  src/DownloadButton/index.js
Due: eslint --fix

user-guide: remove example subtitle per https://github.com/iterative/dvc.org/pull/931#pullrequestreview-348281484
  public/static/docs/user-guide/dvcignore.md
Due: prettier --write

cmd ref: remove autolinking cmd ref quote from checkout and opened #963
  public/static/docs/command-reference/checkout.md
Due: prettier --write

user-guide: add note about {#custom-header} engine feature in troubleshooting
  public/static/docs/user-guide/troubleshooting.md
Due: prettier --write

cmd ref: update diff desc per typo and per https://github.com/iterative/dvc/issues/3255#issuecomment-580596100
  public/static/docs/command-reference/diff.md
Due: prettier --write

cmd ref: simplify paragraph about moving vs static `rev` values in import per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-350601759
  public/static/docs/command-reference/import.md
Due: prettier --write

glossary: simplify definition of "workspace"
  public/static/docs/glossary.js
Due: eslint --fix

docs: remove mentions of Python 2.7
  public/static/docs/install/linux.md
  public/static/docs/install/macos.md
  public/static/docs/install/windows.md
Due: prettier --write

diff: remove backquotes adound "HEAD" same as in core repo per https://github.com/iterative/dvc/pull/3244#pullrequestreview-351263562
  public/static/docs/command-reference/diff.md
  public/static/docs/command-reference/metrics/diff.md
Due: prettier --write

meta: updates to GH PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

test:ci:check diff links for 404
  .circleci/config.yml
Due: none

test:check-links:add bonus html hrefs
  scripts/check-links.sh
Due: none

test:check-links:exclude list
  scripts/check-links.sh
Due: none

test:check-links:tidy output whitespace
  scripts/check-links.sh
Due: none

scripts:set -euxo pipefail
  scripts/check-links-git-diff.sh
  scripts/check-links.sh
Due: none

Small fix
  scripts/check-links.sh
Due: none

test:pre-commit:add hooks and config
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: none

lint:add .github/ to link checking
  package.json
Due: prettier --write

test:check-links:more status codes and warnings
  scripts/check-links.sh
Due: none

test:check-links:comments
  scripts/check-links.sh
Due: none

test:yarn:link-check all files
  package.json
Due: prettier --write

test:ci:check-links revert to only diff for now
  .circleci/config.yml
Due: none

test:check-links:add yarn/husky pre-commit diff
  package.json
Due: prettier --write

Script to check links on .md files
  scripts/check-links.sh
Due: none

test:check-links:fix status code display
  scripts/check-links.sh
Due: none

test:check-links:remove silly } warning
  scripts/check-links.sh
Due: none

test:check-links:move exclusions to external file
  scripts/check-links.sh
  scripts/exclude-links.txt
Due: none

test:ci:add full yarn url-check
  .circleci/config.yml
Due: none

test:check-links:minor url detector fix
  scripts/check-links.sh
Due: none

test:check-links:pre-commit checks md & js
  .pre-commit-config.yaml
Due: none
