Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

experiments draft 1 moved to experiments-trail/
  content/docs/start/experiments-trail/experiments-1.md
  content/docs/start/experiments.md
Due: prettier --write

Fix typos in doc-jsx.tsx and Documentation/WithJSX
  src/components/Documentation/WithJSX/index.tsx
  src/templates/doc-jsx.tsx
Due: none

modifications for downloading the data and setting up the experiment manually
  content/docs/start/experiments-trail/experiments-1.md
Due: prettier --write

Restyled by prettier
  content/docs/start/experiments-trail/experiments-1.md
Due: prettier --write

Update content/blog/2021-07-06-hyperparam-tuning.md
  content/blog/2021-07-06-hyperparam-tuning.md
Due: prettier --write

Restyled by prettier
  content/blog/2021-07-06-hyperparam-tuning.md
Due: prettier --write

June community gems (#2501)
  content/blog/2021-06-30-june-21-community-gems.md
  static/uploads/images/2021-06-30/gems-cover.png
Due: prettier --write

fix metadata (#2600)
  content/blog/2020-01-17-january-20-dvc-heartbeat.md
  content/blog/2020-02-10-february-20-dvc-heartbeat.md
  content/blog/2020-03-11-march-20-dvc-heartbeat.md
  content/blog/2020-04-06-april-20-dvc-heartbeat.md
  content/blog/2020-05-14-may-20-dvc-heartbeat.md
  content/blog/2020-06-08-june-20-dvc-heartbeat.md
  content/blog/2020-07-10-july-20-dvc-heartbeat.md
  content/blog/2020-08-10-august-20-dvc-heartbeat.md
  content/blog/2020-09-09-september-20-dvc-heartbeat.md
  content/blog/2020-10-12-october-20-dvc-heartbeat.md
  content/blog/2020-11-11-november-20-dvc-heartbeat.md
  content/blog/2020-12-18-december-20-dvc-heartbeat.md
  content/blog/2021-01-20-january-21-dvc-heartbeat.md
  content/blog/2021-02-16-february-21-dvc-heartbeat.md
  content/blog/2021-03-15-March-21-dvc-heartbeat.md
  content/blog/2021-04-16-april-21-dvc-heartbeat.md
  content/blog/2021-05-21-may-21-dvc-heartbeat.md
Due: prettier --write

added more to what DVC does
  content/blog/2021-07-06-hyperparam-tuning.md
Due: prettier --write

more adjustments to Community page
  content/community.json
  src/components/Community/Contribute/index.tsx
  src/components/Community/Meet/index.tsx
  static/img/community/events/ignite-innovation.png
Due: prettier --write

added july community gems start
  content/blog/2021-07-27-july-21-dvc-community-gems.md
Due: prettier --write

scroll sidebar follows along with main scroll
  package-lock.json
  src/components/Documentation/RightPanel/index.tsx
Due: prettier --write

switch to a .scrollTop based solution
  src/components/Documentation/RightPanel/index.tsx
Due: none

cleanup removed comments
  src/components/Documentation/RightPanel/index.tsx
Due: none

removed premature portability of scroll function
  src/components/Documentation/RightPanel/index.tsx
Due: none

removed package-lock.json, use yarn instead of npm
  package-lock.json
Due: prettier --write

fixed right panel scrollbar sync
  src/components/Documentation/RightPanel/index.tsx
Due: none

Fix project installation and commands
  content/docs/start/experiments-trail/experiments-1.md
Due: prettier --write

community page updates (#2581)
  content/community.json
  src/components/Community/Contribute/index.tsx
  src/components/Community/Meet/index.tsx
  static/img/community/events/dvc_learn.png
  static/img/community/events/ignite-innovation.png
  static/img/community/events/office-hours-meetup.png
  static/img/community/hiring_cm_desktop.png
  static/img/community/hiring_cm_mobile.png
  static/img/community/hiring_da_desktop.png
  static/img/community/hiring_da_mobile.png
  static/img/community/ugc/alon-gubkin.png
  static/img/community/ugc/reflinks.png
  static/img/community/ugc/streamlit.png
Due: prettier --write

added second draft for experiments
  content/docs/start/experiments-trail/experiments-2.md
Due: prettier --write

Restyled by prettier
  content/docs/start/experiments-trail/experiments-2.md
Due: prettier --write

cases: focus on efficient, performant data storage infra.
  content/docs/sidebar.json
  content/docs/use-cases/data-storage-layers.md
  content/docs/use-cases/effective-dataset-storage.md
  static/img/storage-layers.png
Due: prettier --write

cases: refine intro, expand on Storage Layer solutions
  content/docs/sidebar.json
  content/docs/use-cases/data-storage-layers.md
  static/img/storage-layers.png
Due: prettier --write

download: update to 2.5.0
  src/components/DownloadButton/index.tsx
Due: none

gha: add dvc autoupdater
  .github/workflows/update.yaml
Due: none

minor changes after review
  content/docs/command-reference/plots/index.md
Due: prettier --write

updated code snippets in post
  content/blog/2021-07-06-hyperparam-tuning.md
Due: prettier --write

ref: clarify gdrive_service_account_user_email GDrive remote param
  content/docs/command-reference/remote/modify.md
Due: prettier --write

import-url: remove gdrive (#2597)
  content/docs/command-reference/get-url.md
  content/docs/command-reference/import-url.md
Due: prettier --write

updated july community gems
  content/blog/2021-07-27-july-21-dvc-community-gems.md
Due: prettier --write

updating events images shrunk
  content/community.json
  static/img/community/events/dsgo.png
  static/img/community/events/hasgeek.png
Due: prettier --write

missed a save
  content/community.json
Due: prettier --write

ref: clarify GDrive remote param (#2612)
  content/docs/command-reference/remote/modify.md
Due: prettier --write

cases: finish main solution section (first version)
  content/docs/use-cases/data-storage-layers.md
  static/img/storage-layers.png
Due: prettier --write

added last questions for gems
  content/blog/2021-07-27-july-21-dvc-community-gems.md
Due: prettier --write

updating events images shrunk (#2613)
  content/community.json
  static/img/community/events/dsgo.png
  static/img/community/events/hasgeek.png
Due: prettier --write

addressed some comments
  content/blog/2021-07-13-hyperparam-tuning.md
Due: prettier --write

Fix comments link in the June 21 hearbeat
  content/blog/2021-06-18-june-21-dvc-heartbeat.md
Due: prettier --write

Add `doc/user-guide/glossary` page (#2595)
  content/docs/sidebar.json
  src/components/Documentation/Markdown/Main/index.tsx
  src/components/Documentation/Markdown/Main/styles.module.css
  src/components/Documentation/Markdown/index.tsx
  src/components/Documentation/Markdown/styles.module.css
  src/components/Documentation/WithJSX/AutoLinkElement/index.tsx
  src/components/Documentation/WithJSX/AutoLinkElement/styles.module.css
  src/components/Documentation/WithJSX/index.tsx
  src/components/Documentation/index.tsx
  src/gatsby/common.js
  src/pages/doc/user-guide/glossary.tsx
  src/templates/doc-jsx.tsx
Due: eslint --fix, prettier --write

ref: fix help outputs
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/default.md
  content/docs/command-reference/remote/list.md
  content/docs/command-reference/remote/modify.md
  content/docs/command-reference/remote/remove.md
  content/docs/command-reference/remote/rename.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
