Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

cases: GH/GL CICD -> cont int per https://github.com/iterative/dvc.org/pull/3333#pullrequestreview-970255962
  content/docs/use-cases/model-registry.md
Due: prettier --write

DVCLive: Deprecate `live` section of `dvc.yaml`. (#3411)
  content/docs/command-reference/exp/init.md
  content/docs/command-reference/run.md
  content/docs/command-reference/stage/add.md
  content/docs/dvclive/api-reference/live/index.md
  content/docs/dvclive/api-reference/live/make_report.md
  content/docs/dvclive/api-reference/live/next_step.md
  content/docs/dvclive/api-reference/live/set_step.md
  content/docs/dvclive/dvclive-with-dvc.md
  content/docs/dvclive/get-started.md
  content/docs/sidebar.json
  content/docs/user-guide/experiment-management/checkpoints.md
  content/docs/user-guide/project-structure/pipelines-files.md
Due: prettier --write

Update content/docs/command-reference/remote/modify.md
  content/docs/command-reference/remote/modify.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/remote/modify.md
Due: prettier --write

Add action for deploying master to heroku (#3525)
  .github/workflows/deploy-master.yaml
Due: none

Apply suggestions from code review
  content/docs/studio/get-started.md
  content/docs/studio/user-guide/account-management.md
  content/docs/studio/user-guide/connect-custom-gitlab-server.md
  content/docs/studio/user-guide/views/create-view.md
Due: prettier --write

Restyled by prettier
  content/docs/studio/user-guide/account-management.md
Due: prettier --write

Continue addressing PR comments
  content/docs/studio/user-guide/account-management.md
  content/docs/studio/user-guide/connect-custom-gitlab-server.md
Due: prettier --write

Addressed comments from Jorge in PR #3419 (#3497)
  content/docs/studio/get-started.md
  content/docs/studio/user-guide/account-management.md
  content/docs/studio/user-guide/connect-custom-gitlab-server.md
  content/docs/studio/user-guide/teams.md
  content/docs/studio/user-guide/views/create-view.md
Due: prettier --write

cases: copy edit Model Reg
  content/docs/use-cases/model-registry.md
Due: prettier --write

cases: rewrite GTO paragraph per https://github.com/iterative/dvc.org/pull/3333#pullrequestreview-972111025
  content/docs/use-cases/model-registry.md
Due: prettier --write

cases: rephrase MLEM paragraph per https://github.com/iterative/dvc.org/pull/3333#pullrequestreview-972120561
  content/docs/use-cases/model-registry.md
Due: prettier --write

fix token
  src/server/middleware/api/github.js
Due: eslint --fix

set picture comment to optional
  src/cms/cms.js
Due: eslint --fix

Update Blog “2022-05-09-end-to-end-computer-vision-api-part-3-remote-exp-ci-cd”
  content/blog/2022-05-09-end-to-end-computer-vision-api-part-3-remote-exp-ci-cd.md
Due: prettier --write

Restyled by prettier
  content/blog/2022-05-09-end-to-end-computer-vision-api-part-3-remote-exp-ci-cd.md
Due: prettier --write

update: description long as markdown
  src/cms/cms.js
Due: eslint --fix

AWS prerequisites
  content/blog/2022-06-01-Jupyter-in-cloud-with-TPI.md
Due: prettier --write

Link Terraform
  content/blog/2022-06-01-Jupyter-in-cloud-with-TPI.md
Due: prettier --write

Costs admon
  content/blog/2022-06-01-Jupyter-in-cloud-with-TPI.md
Due: prettier --write

fix typo
  src/config/index.js
Due: eslint --fix

update: local trailing slash to false
  src/server/middleware/serve/local.js
Due: eslint --fix

Write conclusion
  content/blog/2022-06-01-Jupyter-in-cloud-with-TPI.md
Due: prettier --write

may heartbeat
  content/blog/2022-05-16-may-22-heartbeat.md
  static/uploads/images/2022-05-16/chip-huyen.jpeg
  static/uploads/images/2022-05-16/data-version-control.png
  static/uploads/images/2022-05-16/img_pawpularity.png
  static/uploads/images/2022-05-16/innoq.jpeg
  static/uploads/images/2022-05-16/jenny-abramov.png
  static/uploads/images/2022-05-16/may-heartbeat.png
  static/uploads/images/2022-05-16/odsc.jpeg
Due: prettier --write

Describe first part of Terraform config
  content/blog/2022-06-01-Jupyter-in-cloud-with-TPI.md
Due: prettier --write

Expand upon requirements
  content/blog/2022-06-01-Jupyter-in-cloud-with-TPI.md
Due: prettier --write

minor clean up
  content/blog/2022-05-17-aws-remotes-in-dvc.md
Due: prettier --write

Update content/blog/2022-05-31-may-22-community-gems.md
  content/blog/2022-05-31-may-22-community-gems.md
Due: prettier --write

Restyled by prettier
  content/blog/2022-05-31-may-22-community-gems.md
Due: prettier --write

updated QAs based on feedback
  content/blog/2022-05-31-may-22-community-gems.md
Due: prettier --write

edits
  content/blog/2022-05-16-may-22-heartbeat.md
  static/uploads/images/2022-05-16/andrey-cheptsov.jpeg
  static/uploads/images/2022-05-16/dvc-visualization-doc.png
  static/uploads/images/2022-05-16/may-heartbeat.png
  static/uploads/images/2022-05-16/release-party-meetup.png
Due: prettier --write

tinified images
  static/uploads/images/2022-05-16/andrey-cheptsov.jpeg
  static/uploads/images/2022-05-16/chip-huyen.jpeg
  static/uploads/images/2022-05-16/data-version-control.png
  static/uploads/images/2022-05-16/dvc-visualization-doc.png
  static/uploads/images/2022-05-16/img_pawpularity.png
  static/uploads/images/2022-05-16/innoq.jpeg
  static/uploads/images/2022-05-16/jenny-abramov.png
  static/uploads/images/2022-05-16/may-heartbeat.png
  static/uploads/images/2022-05-16/odsc.jpeg
  static/uploads/images/2022-05-16/release-party-meetup.png
Due: none

add our course link
  content/blog/2022-05-16-may-22-heartbeat.md
Due: prettier --write

uploaded images and started post
  content/blog/2022-05-27-using-gcp-remotes-in-dvc.md
  static/uploads/images/2022-06-07/create_gcp_bucket.png
  static/uploads/images/2022-06-07/created_gcp_bucket.png
  static/uploads/images/2022-06-07/gcp_bucket_options.png
  static/uploads/images/2022-06-07/gcp_key.png
  static/uploads/images/2022-06-07/gcp_project.png
  static/uploads/images/2022-06-07/gcp_service_account.png
Due: prettier --write
