Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Remove actual unused constants file
  plugins/gatsby-theme-iterative-docs/constants.js
Due: eslint --fix

dvclive: Rename linear plots to metric history
  content/docs/dvclive/api-reference/live/index.md
  content/docs/dvclive/api-reference/live/log.md
  content/docs/dvclive/api-reference/live/next_step.md
  content/docs/dvclive/api-reference/live/set_step.md
  content/docs/dvclive/dvclive-with-dvc.md
  content/docs/dvclive/get-started.md
Due: prettier --write

Remove broken `note` links
  content/docs/user-guide/project-structure/internal-files.md
Due: prettier --write

Remove broken `note` links (#3213)
  content/docs/user-guide/project-structure/internal-files.md
Due: prettier --write

Use theme-based Link component
  src/components/Blog/Feed/Item/index.tsx
  src/components/Blog/FeedMeta/index.tsx
  src/components/Blog/Post/Share/index.tsx
  src/components/Blog/Post/index.tsx
  src/components/Community/Contribute/index.tsx
  src/components/Community/Events/index.tsx
  src/components/Community/Hero/index.tsx
  src/components/Community/Learn/index.tsx
  src/components/Community/Meet/index.tsx
  src/components/DownloadButton/index.tsx
  src/components/Features/index.tsx
  src/components/HamburgerMenu/index.tsx
  src/components/Home/Diagram/index.tsx
  src/components/Home/LandingHero/GithubLine/index.tsx
  src/components/Home/LandingHero/index.tsx
  src/components/Home/WhatsNewModal/index.tsx
  src/components/Home/index.tsx
  src/components/Link/index.tsx
  src/components/Paginator/index.tsx
  src/components/PseudoButton/index.tsx
  src/components/Support/index.tsx
Due: none

ref: clarify add --out base case per https://github.com/iterative/dvc.org/pull/3210#pullrequestreview-861567809
  content/docs/command-reference/add.md
Due: prettier --write

ref: re-explain add --out example (again)
  content/docs/command-reference/add.md
Due: prettier --write

Move core part of Documentation layout into theme
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Layout/SearchForm/index.tsx
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Layout/SearchForm/styles.module.css
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Layout/SidebarMenu/cml_bw_logo.svg
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Layout/SidebarMenu/cml_logo.svg
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Layout/SidebarMenu/external-link-icon.svg
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Layout/SidebarMenu/house.svg
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Layout/SidebarMenu/index.tsx
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Layout/SidebarMenu/studio_gray_icon.svg
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Layout/SidebarMenu/studio_icon.svg
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Layout/SidebarMenu/styles.module.css
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Layout/index.tsx
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Layout/styles.module.css
  src/components/DocumentationLayout/index.tsx
Due: none

Rename sidebar test block to something more descriptive of its contents
  plugins/gatsby-theme-iterative-docs/src/utils/shared/sidebar.test.js
Due: eslint --fix

Update content/docs/command-reference/add.md
  content/docs/command-reference/add.md
Due: prettier --write

ref: rename add --out (external cache) example and and more explanation clarifications heh
  content/docs/command-reference/add.md
  content/docs/user-guide/managing-external-data.md
Due: prettier --write

ref: rewrite add/import-url --to-remote example intros to to match previous commits (improvements to add --out example text)
  content/docs/command-reference/add.md
  content/docs/command-reference/import-url.md
Due: prettier --write

rephrase --to-remote examples per https://github.com/iterative/dvc.org/pull/3210#pullrequestreview-861572226 and https://github.com/iterative/dvc.org/pull/3210#pullrequestreview-861573596
  content/docs/command-reference/add.md
  content/docs/command-reference/import-url.md
Due: prettier --write

Break apart docs sidebar and move it into theme
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Layout/SidebarMenu/InnerSidebar/index.tsx
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Layout/SidebarMenu/Item/external-link-icon.svg
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Layout/SidebarMenu/Item/index.tsx
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Layout/SidebarMenu/cml_bw_logo.svg
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Layout/SidebarMenu/cml_logo.svg
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Layout/SidebarMenu/external-link-icon.svg
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Layout/SidebarMenu/house.svg
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Layout/SidebarMenu/icons/house.svg
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Layout/SidebarMenu/icons/index.ts
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Layout/SidebarMenu/index.tsx
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Layout/SidebarMenu/studio_gray_icon.svg
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Layout/SidebarMenu/studio_icon.svg
  src/gatsby-theme-iterative-docs/components/Documentation/Layout/SidebarMenu/InnerSidebar/index.tsx
  src/gatsby-theme-iterative-docs/components/Documentation/Layout/SidebarMenu/cml_logo.svg
  src/gatsby-theme-iterative-docs/components/Documentation/Layout/SidebarMenu/icons/cml-icon.svg
  src/gatsby-theme-iterative-docs/components/Documentation/Layout/SidebarMenu/icons/index.ts
  src/gatsby-theme-iterative-docs/components/Documentation/Layout/SidebarMenu/icons/studio-icon.svg
  src/gatsby-theme-iterative-docs/components/Documentation/Layout/SidebarMenu/studio_icon.svg
  src/gatsby-theme-iterative-docs/components/Documentation/Layout/SidebarMenu/styles.module.css
Due: none

guide: simplify Checkpoints guide (#3189)
  content/docs/api-reference/make_checkpoint.md
  content/docs/user-guide/experiment-management/checkpoints.md
  content/docs/user-guide/project-structure/pipelines-files.md
Due: prettier --write

Changed line 168 ~ from rm -f data/... to rm -Force data/...
  content/docs/start/data-and-model-versioning.md
Due: prettier --write

updated the query
  src/utils/algolia-queries.js
Due: eslint --fix

Use mkdirp in gatsby-node
  gatsby-node.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

Fix typo in gatsby-node..js
  gatsby-node.js
Due: eslint --fix

`exp remove`: Update help for `--all` flag
  content/docs/command-reference/exp/remove.md
Due: prettier --write

Move post build script to onCreateNode
  gatsby-node.js
  src/gatsby/models/blog/onCreateMarkdownContentNode.js
Due: eslint --fix

into -> with in the title
  content/docs/start/experiments.md
Due: prettier --write

rephrase into -> with + using
  content/docs/start/experiments.md
Due: prettier --write

modify -> tune
  content/docs/start/experiments.md
Due: prettier --write

describes -> specifies
  content/docs/start/experiments.md
Due: prettier --write

added git datetime field
  src/gatsby/models/blog/onCreateMarkdownContentNode.js
Due: eslint --fix

added paritial update for algolia
  gatsby-config.js
  src/utils/algolia-queries.js
Due: eslint --fix

skip indexing if no env variables found
  gatsby-config.js
Due: eslint --fix

replaced `dvc run` with `stage` and `exp run`
  content/docs/command-reference/dag.md
Due: prettier --write

Add script and plugin for creating exp show tables
  gatsby-config.js
  plugins/gatsby-remark-dvctable-filler/filler.js
  plugins/gatsby-remark-dvctable-filler/index.js
  plugins/gatsby-remark-dvctable-filler/index.test.js
  plugins/gatsby-remark-dvctable-filler/package.json
  plugins/gatsby-remark-dvctable-filler/tables.js
  scripts/create_dvctables.py
Due: eslint --fix, prettier --write

Use created tables in ref and user-guide.
  content/docs/command-reference/exp/show.md
  content/docs/user-guide/experiment-management/comparing-experiments.md
Due: prettier --write

Update test
  plugins/gatsby-remark-dvctable-filler/index.test.js
Due: eslint --fix

Remove hardcoded test
  plugins/gatsby-remark-dvctable-filler/index.test.js
Due: eslint --fix

Minor edits to Sharing Experiments
  content/docs/user-guide/experiment-management/sharing-experiments.md
Due: prettier --write

Restyled by prettier
  content/docs/user-guide/experiment-management/sharing-experiments.md
Due: prettier --write

replace dvc run in cmd-ref
  content/docs/command-reference/dag.md
  content/docs/command-reference/import-url.md
  content/docs/command-reference/index.md
  content/docs/command-reference/init.md
  content/docs/command-reference/metrics/diff.md
  content/docs/command-reference/metrics/index.md
  content/docs/command-reference/params/diff.md
  content/docs/command-reference/params/index.md
  content/docs/command-reference/plots/modify.md
  content/docs/command-reference/repro.md
  content/docs/command-reference/status.md
Due: prettier --write

ref: revert vanity change to fetch synopsis per https://github.com/iterative/dvc.org/pull/3175#discussion_r787022744
  content/docs/command-reference/fetch.md
Due: prettier --write

ref: data or code -> datasets in commit note per https://github.com/iterative/dvc.org/pull/3175#pullrequestreview-859946010
  content/docs/command-reference/commit.md
Due: prettier --write

ref: clarify mechanics around `-d/R` options (#3175)
  content/docs/command-reference/add.md
  content/docs/command-reference/checkout.md
  content/docs/command-reference/commit.md
  content/docs/command-reference/fetch.md
  content/docs/command-reference/metrics/diff.md
  content/docs/command-reference/metrics/show.md
  content/docs/command-reference/pull.md
  content/docs/command-reference/push.md
  content/docs/command-reference/stage/list.md
  content/docs/command-reference/status.md
  content/docs/command-reference/update.md
Due: prettier --write

Apply suggestions from code review
  content/docs/dvclive/ml-frameworks/index.md
  content/docs/sidebar.json
Due: prettier --write
