Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Specify restyled config
  .restyled.yaml
Due: none

Remove duplicated getComments api method and use similar one from utils/api
  src/api/index.ts
  src/components/BlogPost/index.tsx
  src/utils/api.js
Due: eslint --fix

Fix eslint warnings and remove --quiet option from package.json commands
  .eslintrc.json
  gatsby-node.js
  package.json
  src/components/Community/Learn/index.js
  src/utils/paginatablePageGenerator.js
Due: eslint --fix, prettier --write

Add --skipLibCheck option to tsc
  package.json
Due: prettier --write

Specify node version in package.json
  package.json
Due: prettier --write

Merge latest post from blog
  content/blog/2020-03-24-march-20-community-gems.md
  static/uploads/images/2020-03-12/march_20_header.png
Due: prettier --write

Remake SEO component to handle nested using properly
  package.json
  src/components/BlogFeed/index.tsx
  src/components/BlogHome/index.tsx
  src/components/BlogLayout/index.tsx
  src/components/BlogTags/index.tsx
  src/components/Page/DefaultSEO/index.tsx
  src/components/Page/index.tsx
  src/components/Paginator/index.tsx
  src/components/SEO/index.tsx
  src/queries/siteMeta.ts
  src/templates/blog-home.tsx
  src/templates/blog-tags.tsx
  yarn.lock
Due: prettier --write

Refactore utils/api to TS. Move usePost to queries folder as it's not api call, but gql query
  src/components/BlogPost/index.tsx
  src/components/Community/Learn/index.js
  src/queries/posts.ts
  src/templates/blog-post.tsx
  src/utils/api.js
  src/utils/api.ts
Due: eslint --fix

Fix styles for PageContent
  src/components/DocLayout/SidebarMenu/styles.js
  src/components/Documentation/Markdown/styles.js
  src/components/PageContent/index.tsx
  src/components/PageContent/styles.module.css
  src/components/SearchForm/styles.js
Due: eslint --fix

Doublecheck package commands and migrate missed ones from the blog
  package.json
  yarn.lock
Due: prettier --write

Update Circle CI config - update node version, simplify install command, use new correct commands from package.json to check all
  .circleci/config.yml
Due: none

Merge README
  README.md
Due: prettier --write

Fix stylelint warning. And add .json extension to stylelint config for correct autoformat
  .stylelintrc
  src/components/Page/base.css
Due: none

Add scripts folder to linters check
  package.json
  scripts/clear-cloudflare-cache.js
Due: eslint --fix, prettier --write

cmd ref: rewrite commit desc and realated docs to clarify... how it works and when to use it in the Git flow
  content/docs/command-reference/add.md
  content/docs/command-reference/cache/index.md
  content/docs/command-reference/commit.md
  content/docs/command-reference/install.md
  content/docs/command-reference/repro.md
  content/docs/command-reference/run.md
  content/docs/command-reference/status.md
  content/docs/user-guide/dvc-file-format.md
Due: prettier --write

Minor fix in README
  README.md
Due: prettier --write

Remove original otf fonts
  src/components/Page/fonts/Brandon_bld.otf
  src/components/Page/fonts/Brandon_bld_it.otf
  src/components/Page/fonts/Brandon_blk.otf
  src/components/Page/fonts/Brandon_blk_it.otf
  src/components/Page/fonts/Brandon_light.otf
  src/components/Page/fonts/Brandon_light_it.otf
  src/components/Page/fonts/Brandon_med.otf
  src/components/Page/fonts/Brandon_med_it.otf
  src/components/Page/fonts/Brandon_reg.otf
  src/components/Page/fonts/Brandon_reg_it.otf
  src/components/Page/fonts/Brandon_thin.otf
  src/components/Page/fonts/Brandon_thin_it.otf
Due: none

Remove images from static folder which are in the IconSet component now
  static/img/chat.png
  static/img/discord.png
  static/img/github.png
  static/img/iterative.png
  static/img/twitter.png
Due: none

Deduplicate logos
  src/components/HamburgerMenu/index.tsx
  src/components/LayoutFooter/index.tsx
  src/components/LayoutHeader/index.tsx
  static/img/logo-white.svg
  static/img/logo.png
  static/img/logo.svg
  static/img/logo_white.png
Due: none

Refactor doc template to TS and renamed it to doc-home.tsx, to keep consistensy with other templates
  gatsby-node.js
  src/templates/doc-home.tsx
Due: eslint --fix

Use Link component for links in the documentation content
  src/components/Documentation/Markdown/index.js
Due: eslint --fix

Add scripts/ and middleware/ folders to eslint overrides section
  .eslintrc.json
Due: prettier --write

Remove outdated highlightjs languages configs
  src/components/BlogPost/Markdown/styles.module.css
  src/components/Documentation/Markdown/lang/dvc.js
  src/components/Documentation/Markdown/lang/usage.js
Due: eslint --fix

download: update to 0.91.1
  src/components/DownloadButton/index.js
Due: eslint --fix

Fix track behaviour in the right sidebar in the docs
  src/components/Documentation/RightPanel/index.js
  src/components/Page/index.tsx
Due: eslint --fix

Add missing Inconsolate font import
  src/components/Page/fonts/fonts.css
Due: none

Fix tooltips
  src/components/Page/styles.module.css
Due: none

Unify code styles in the blog with docs styles
  src/components/BlogPost/Markdown/styles.module.css
  src/components/Page/base.css
  src/components/Page/fonts/fonts.css
Due: none

Replace broken link in the blog
  content/blog/2017-07-24-r-code-and-reproducible-model-development-with-dvc.md
  content/blog/2017-09-26-best-practices-of-orchestrating-python-and-r-code-in-ml-projects.md
Due: prettier --write

Update exlude-links file
  scripts/exclude-links.txt
Due: none

Change padding of hero block in the features page
  src/components/FeaturesHero/styles.js
Due: eslint --fix

gdrive: Service account support; Default credentials; Trash only config option.
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/modify.md
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

cmd ref: improve --no-cache option desc. per https://github.com/iterative/dvc.org/pull/1094#pullrequestreview-382553831
  content/docs/command-reference/add.md
  content/docs/command-reference/repro.md
  content/docs/command-reference/run.md
Due: prettier --write

Get rid of CSV/TSV metrics
  content/docs/command-reference/metrics/add.md
  content/docs/command-reference/metrics/diff.md
  content/docs/command-reference/metrics/index.md
  content/docs/command-reference/metrics/modify.md
  content/docs/command-reference/metrics/remove.md
  content/docs/command-reference/metrics/show.md
Due: prettier --write

Update metrics synopsis
  content/docs/command-reference/metrics/index.md
Due: prettier --write

docs: version: update output
  content/docs/command-reference/version.md
Due: prettier --write

docs: version: update output (#1098)
  content/docs/command-reference/version.md
Due: prettier --write

user-guide: some improvements on the gdrive guide
  content/docs/command-reference/remote/modify.md
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

cmd ref: better explain gdrive_trash_only option for gdrive remote (modify) per https://github.com/iterative/dvc.org/pull/1096#discussion_r399569034
  content/docs/command-reference/remote/modify.md
Due: prettier --write
