Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

redirects: add more information for the old dataversioncontrol domain
  redirects-list.json
  src/utils/redirects.test.js
Due: eslint --fix, prettier --write

minor, blog: remove trailing spaces
  content/blog/2020-03-31-reimagining-devops-video.md
Due: prettier --write

redirects, tetst: add more blog legacy tests
  redirects-list.json
  src/utils/redirects.test.js
Due: eslint --fix, prettier --write

links check: add a few links from tests
  scripts/exclude-links.txt
Due: none

user-guide: remove extra recs about installing Python on Windosw per https://github.com/iterative/dvc.org/pull/1103#pullrequestreview-387630006
  content/docs/user-guide/contributing/core.md
Due: prettier --write

user-guide: add notes about search indexing on Windows per https://github.com/iterative/dvc/issues/2360#issuecomment-606312128
  content/docs/user-guide/running-dvc-on-windows.md
Due: prettier --write

user-guide: fix typo in windows guide
  content/docs/user-guide/running-dvc-on-windows.md
Due: prettier --write

link check: add more exclusion list
  scripts/exclude-links.txt
Due: none

gdrive: remove ... from code sampler per https://github.com/iterative/dvc/pull/3591#issuecomment-609110868
  content/docs/command-reference/remote/add.md
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

user-guide: appDataFolder gdrive remote URLs are only suitable for personal use see https://github.com/iterative/dvc.org/pull/1096#pullrequestreview-387659437
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

user-guide: make intro into Quick started section per https://github.com/iterative/dvc.org/pull/1096#pullrequestreview-387659026
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

user-guide: simplify couple titles in gdrive remote guide, et al. related to https://github.com/iterative/dvc.org/pull/1096#pullrequestreview-387659235
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/modify.md
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

user-guide: refactor folder id point in gdrive remote guide per https://github.com/iterative/dvc.org/pull/1096#pullrequestreview-387659337
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

Fix build on Windows in Git-bash
  gatsby-node.js
Due: eslint --fix

Update gatsby-node.js
  gatsby-node.js
Due: eslint --fix

user-guide: improvements to gdrive guide per https://github.com/iterative/dvc.org/pull/1096#pullrequestreview-387659477 and others
  content/docs/user-guide/contributing/docs.md
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

user-guide: add note about shared drive limits (gdrive)
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

user-guide: typo fixed per https://github.com/iterative/dvc.org/pull/1096#pullrequestreview-387660152
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

Update content/docs/command-reference/checkout.md
  content/docs/command-reference/checkout.md
Due: prettier --write

cmd ref: update version def to match iterative/dvc/pull/3566 per https://github.com/iterative/dvc/pull/3566#pullrequestreview-388346381
  content/docs/command-reference/version.md
Due: prettier --write

cmd-ref: make changes related to update --rev (#1090)
  content/docs/command-reference/import.md
  content/docs/command-reference/update.md
Due: prettier --write

user-guide: copy edits per per https://github.com/iterative/dvc.org/pull/1096#pullrequestreview-387865301 and other comments
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

user-guid: some final copy edits
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

blog: fix social share button URLs
  src/components/BlogPost/Share/index.tsx
Due: none

cmd ref: review push examples related to https://github.com/iterative/dvc.org/pull/1096#pullrequestreview-387865301
  content/docs/command-reference/push.md
Due: prettier --write

Update content/docs/command-reference/metrics/index.md
  content/docs/command-reference/metrics/index.md
Due: prettier --write

cmd ref: better order in subcommands (nav sidebar) rel: https://github.com/iterative/dvc.org/pull/1097#pullrequestreview-385314740
  content/docs/sidebar.json
Due: prettier --write

Move blog's components under Blog namespace
  src/components/Blog/Feed/Item/index.tsx
  src/components/Blog/Feed/Item/placeholder.svg
  src/components/Blog/Feed/Item/styles.module.css
  src/components/Blog/Feed/index.tsx
  src/components/Blog/Feed/styles.module.css
  src/components/Blog/FeedMeta/index.tsx
  src/components/Blog/FeedMeta/styles.module.css
  src/components/Blog/Home/index.tsx
  src/components/Blog/Layout/index.tsx
  src/components/Blog/Layout/styles.module.css
  src/components/Blog/Post/HeroPic/index.tsx
  src/components/Blog/Post/HeroPic/styles.module.css
  src/components/Blog/Post/Markdown/index.tsx
  src/components/Blog/Post/Markdown/styles.module.css
  src/components/Blog/Post/Share/icons/facebook.svg
  src/components/Blog/Post/Share/icons/subscribe.svg
  src/components/Blog/Post/Share/icons/twitter.svg
  src/components/Blog/Post/Share/index.tsx
  src/components/Blog/Post/Share/styles.module.css
  src/components/Blog/Post/Tooltip/index.tsx
  src/components/Blog/Post/Tooltip/styles.module.css
  src/components/Blog/Post/index.tsx
  src/components/Blog/Post/styles.module.css
  src/components/Blog/Tags/index.tsx
  src/components/Page/index.tsx
  src/templates/blog-home.tsx
  src/templates/blog-post.tsx
  src/templates/blog-tags.tsx
Due: none

Allow to scroll smoothly in the scrollIntoLayout util function
  package.json
  src/typings.ts
  src/utils/scroll.ts
  yarn.lock
Due: prettier --write

Replace styled-reset to reset-css. Merge global styles. Use local classNames instead of global in few components
  package.json
  src/components/HamburgerMenu/index.tsx
  src/components/HamburgerMenu/styles.module.css
  src/components/Page/base.css
  src/components/Page/index.tsx
  src/components/Page/styles.module.css
  src/components/Page/utils.ts
  src/styles.js
  yarn.lock
Due: eslint --fix, prettier --write

Refactor SubscribeSection to get rid of linter warning
  package.json
  src/components/SubscribeSection/Form/index.tsx
  src/components/SubscribeSection/index.tsx
  yarn.lock
Due: prettier --write

Create one common component for buttons with two rows: TwoRowButton. Use it everywhere on main page. Refactor DownloadButton component
  src/components/DownloadButton/index.js
  src/components/DownloadButton/index.tsx
  src/components/DownloadButton/styles.js
  src/components/DownloadButton/styles.module.css
  src/components/Home/LandingHero/index.tsx
  src/components/Home/LandingHero/styles.module.css
  src/components/Home/LearnMore/styles.module.css
  src/components/Home/UseCases/Video/index.tsx
  src/components/Home/UseCases/Video/styles.module.css
  src/components/Page/base.css
  src/components/TwoRowsButton/index.tsx
  src/components/TwoRowsButton/styles.module.css
Due: eslint --fix

Refactor Features page components to TS
  src/components/Features/FeaturesHero/index.js
  src/components/Features/FeaturesHero/styles.js
  src/components/Features/index.js
  src/components/Features/index.tsx
  src/components/Features/styles.js
  src/components/Features/styles.module.css
  src/components/PageContent/styles.module.css
Due: eslint --fix

Extend scroll utils
  src/components/Documentation/Layout/SearchForm/styles.js
  src/components/Documentation/Layout/SidebarMenu/styles.js
  src/components/Documentation/Layout/index.js
  src/components/Documentation/RightPanel/styles.js
  src/components/Home/LandingHero/index.tsx
  src/components/Home/LearnMore/index.tsx
  src/components/LayoutHeader/index.tsx
  src/components/LayoutHeader/styles.module.css
  src/components/MainLayout/index.tsx
  src/components/Page/base.css
  src/components/Page/utils.ts
  src/utils/customProperties.ts
  src/utils/scroll.ts
Due: eslint --fix

Disable trailing slash redirects for dev mode
  src/server/middleware/redirects/index.js
Due: eslint --fix

Remove duplicated component - TrySection and replace it with PromoSection
  src/components/Features/index.js
  src/components/Support/index.js
  src/components/TrySection/index.js
  src/components/TrySection/styles.js
Due: eslint --fix

Fix scroll for no-hash links
  src/components/Link/index.tsx
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
