Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Updated warning
  content/docs/command-reference/exp/list.md
  content/docs/command-reference/exp/pull.md
  content/docs/command-reference/exp/push.md
Due: prettier --write

Removed SSH from synopsis
  content/docs/command-reference/exp/list.md
  content/docs/command-reference/exp/pull.md
  content/docs/command-reference/exp/push.md
Due: prettier --write

Update content/docs/command-reference/plots/index.md
  content/docs/command-reference/plots/index.md
Due: prettier --write

plots: custom html: update vega libs (#2798)
  content/docs/command-reference/plots/index.md
Due: prettier --write

Revert "yarn upgrade && yarn format-all (#2779)"
  content/docs/user-guide/contributing/blog.md
  package.json
  scripts/deploy-with-s3.js
  src/components/Blog/Feed/Item/index.tsx
  src/components/Blog/Post/HeroPic/index.tsx
  src/components/Community/Learn/index.tsx
  src/components/Community/Meet/index.tsx
  src/components/Documentation/Markdown/index.tsx
  src/components/DownloadButton/index.tsx
  src/components/Paginator/LocationContext/index.ts
  src/gatsby/models/authors/parse-link.js
  src/templates/blog-home.tsx
  src/templates/blog-post.tsx
  src/templates/blog-tags.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Revert "yarn upgrade && yarn format-all (#2779)" (#2799)
  content/docs/user-guide/contributing/blog.md
  package.json
  scripts/deploy-with-s3.js
  src/components/Blog/Feed/Item/index.tsx
  src/components/Blog/Post/HeroPic/index.tsx
  src/components/Community/Learn/index.tsx
  src/components/Community/Meet/index.tsx
  src/components/Documentation/Markdown/index.tsx
  src/components/DownloadButton/index.tsx
  src/components/Paginator/LocationContext/index.ts
  src/gatsby/models/authors/parse-link.js
  src/templates/blog-home.tsx
  src/templates/blog-post.tsx
  src/templates/blog-tags.tsx
  yarn.lock
Due: eslint --fix, prettier --write

dvc 2.7.0
  src/components/DownloadButton/index.tsx
Due: none

Added Invalid authentication for Git Remote to troubleshooting
  content/docs/command-reference/exp/list.md
  content/docs/command-reference/exp/pull.md
  content/docs/command-reference/exp/push.md
  content/docs/user-guide/troubleshooting.md
Due: prettier --write

Added shorter title
  content/docs/user-guide/troubleshooting.md
Due: prettier --write

Update get_step.md
  content/docs/dvclive/api-reference/get_step.md
Due: prettier --write

Update get_step.md (#2801)
  content/docs/dvclive/api-reference/get_step.md
Due: prettier --write

Applied P.R. suggestions
  content/docs/command-reference/exp/push.md
  content/docs/user-guide/troubleshooting.md
Due: prettier --write

http: remove digest option
  content/docs/command-reference/remote/modify.md
Due: prettier --write

replace sourcerer -> contrib.rocks
  README.md
Due: prettier --write

changed image
  static/uploads/images/2021-09-07/dvc-studio-view.png
Due: none

adding video
  content/blog/2021-07-19-hyperparam-tuning.md
Due: prettier --write

changing name of image in an attempt to make the link work
  content/blog/2021-09-07-road-to-hell.md
  static/uploads/images/2021-09-07/dvc-studio.png
Due: prettier --write

replace sourcerer -> contrib.rocks (#2810)
  README.md
Due: prettier --write

Run 'yarn upgrade'
  package.json
  yarn.lock
Due: prettier --write

Delete comment in 404.tsx
  src/pages/404.tsx
Due: none

adding video (#2811)
  content/blog/2021-07-19-hyperparam-tuning.md
Due: prettier --write

Upgrade @reach/portal
  package.json
  yarn.lock
Due: prettier --write

Apply suggestions from code review
  content/docs/command-reference/config.md
Due: prettier --write

Delete console.log in DefaultSeo
  src/components/Page/DefaultSEO/index.tsx
Due: none

Update content/docs/command-reference/exp/show.md
  content/docs/command-reference/exp/show.md
Due: prettier --write

Added -n/--num option (#2762)
  content/docs/command-reference/exp/show.md
Due: prettier --write

Update @react/portal
  package.json
  yarn.lock
Due: prettier --write

I am blind
  content/blog/2021-09-07-road-to-hell.md
Due: prettier --write

piece from the New Stack adapted for the blog (#2792)
  content/blog/2021-09-07-road-to-hell.md
  static/uploads/images/2021-09-07/dvc-studio.png
  static/uploads/images/2021-09-07/hell.png
Due: prettier --write

Update content/docs/user-guide/troubleshooting.md
  content/docs/user-guide/troubleshooting.md
Due: prettier --write

Apply suggestions from code review
  content/docs/command-reference/exp/push.md
  content/docs/user-guide/troubleshooting.md
Due: prettier --write

Updated top-level index. Refactored user-guide to top level
  content/docs/dvclive/dvclive-with-dvc.md
  content/docs/dvclive/get-started.md
  content/docs/dvclive/index.md
  content/docs/dvclive/ml-frameworks/catalyst.md
  content/docs/dvclive/ml-frameworks/fastai.md
  content/docs/dvclive/ml-frameworks/huggingface.md
  content/docs/dvclive/ml-frameworks/index.md
  content/docs/dvclive/ml-frameworks/keras.md
  content/docs/dvclive/ml-frameworks/lightgbm.md
  content/docs/dvclive/ml-frameworks/mmcv.md
  content/docs/dvclive/ml-frameworks/pytorch.md
  content/docs/dvclive/ml-frameworks/tensorflow.md
  content/docs/dvclive/ml-frameworks/xgboost.md
  content/docs/dvclive/user-guide/index.md
  content/docs/sidebar.json
Due: prettier --write

Updated links
  content/docs/dvclive/dvclive-with-dvc.md
  content/docs/dvclive/get-started.md
  content/docs/dvclive/ml-frameworks/catalyst.md
  content/docs/dvclive/ml-frameworks/fastai.md
  content/docs/dvclive/ml-frameworks/huggingface.md
  content/docs/dvclive/ml-frameworks/index.md
  content/docs/dvclive/ml-frameworks/keras.md
  content/docs/dvclive/ml-frameworks/lightgbm.md
  content/docs/dvclive/ml-frameworks/mmcv.md
  content/docs/dvclive/ml-frameworks/pytorch.md
  content/docs/dvclive/ml-frameworks/tensorflow.md
  content/docs/dvclive/ml-frameworks/xgboost.md
Due: prettier --write

Added dvclive-html.gif
  content/docs/dvclive/dvclive-with-dvc.md
  static/img/dvclive-html.gif
Due: prettier --write

Fix chrome auto dark-mode bugs in docs components * take off linear gradient in SearchForm * add background-color to body * update external-link.svg to have a transparent background
  src/components/Documentation/Layout/SearchForm/styles.module.css
  src/components/MainLayout/styles.module.css
  static/img/external-link.svg
Due: none

updated flow to focus on data more
  content/blog/2021-09-14-extending-models-with-more-data.md
Due: prettier --write

Fix chrome auto dark-mode bugs in docs components (#2816)
  src/components/Documentation/Layout/SearchForm/styles.module.css
  src/components/MainLayout/styles.module.css
  static/img/external-link.svg
Due: none

updated based on feedback
  content/blog/2021-09-21-collaborative-experiments.md
Due: prettier --write

Upgrade some packages
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
