Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Re-add functionality for moving index.html to project root.
  scripts/deploy-with-s3.js
Due: eslint --fix

update excluded links and link checker a bit (preparing to test blog as well)
  scripts/exclude-links.txt
  scripts/link-check.sh
Due: none

cmd ref: improve options desc in run
  content/docs/command-reference/run.md
Due: prettier --write

Add a clarifying comment on the 404 HTML file moving.
  scripts/deploy-with-s3.js
Due: eslint --fix

ci: remove stylelint from restyled config
  .restyled.yaml
Due: none

fix: ensure sidebar links icon is rotated for active links
  src/components/Documentation/Layout/SidebarMenu/styles.module.css
Due: none

download: update to 0.93.0
  src/components/DownloadButton/index.tsx
Due: none

Add animation for sidebar link icon rotation
  src/components/Documentation/Layout/SidebarMenu/styles.module.css
Due: none

correct contributor name
  content/blog/2020-04-06-april-20-dvc-heartbeat.md
Due: prettier --write

Restyled by prettier
  content/blog/2020-04-06-april-20-dvc-heartbeat.md
Due: prettier --write

correct contributor name (#1158)
  content/blog/2020-04-06-april-20-dvc-heartbeat.md
Due: prettier --write

Ensure icon on sidebar bullets is rotated when link is active (#1157)
  src/components/Documentation/Layout/SidebarMenu/styles.module.css
Due: none

New params: after review fixes
  content/docs/command-reference/params/diff.md
  content/docs/command-reference/params/index.md
Due: prettier --write

user-guide: remove link-check script from contrib guide per https://github.com/iterative/dvc.org/issues/1123#issuecomment-614929585
  content/docs/user-guide/contributing/docs.md
Due: prettier --write

cmd ref: remove mention of RAW metrics to comlpete #1097
  content/docs/command-reference/metrics/add.md
  content/docs/command-reference/metrics/diff.md
  content/docs/command-reference/metrics/modify.md
  content/docs/command-reference/metrics/show.md
Due: prettier --write

cmd ref: add --summary to checkout
  content/docs/command-reference/checkout.md
Due: prettier --write

windows: review some notes about Windows, esp regarding wget per https://github.com/iterative/dvc.org/pull/1074#pullrequestreview-392526259
  content/docs/tutorials/deep/define-ml-pipeline.md
  content/docs/tutorials/deep/preparation.md
  content/docs/tutorials/get-started/data-pipelines.md
  content/docs/user-guide/running-dvc-on-windows.md
Due: prettier --write

remote: document --clear-index
  content/docs/command-reference/pull.md
  content/docs/command-reference/push.md
  content/docs/command-reference/status.md
Due: prettier --write

Params: remove stage deps and --all option
  content/docs/command-reference/params/diff.md
  content/docs/command-reference/params/index.md
Due: prettier --write

home: make main topics into basic HTML tiles per https://github.com/iterative/dvc.org/pull/1074#pullrequestreview-393475713
  content/docs/index.md
Due: prettier --write

[accessibility] add label to the subscribe from and hide it visually.
  src/components/SubscribeSection/Form/index.tsx
Due: none

[accessibility] add label to the subscribe from and hide it visually. (#1165)
  src/components/SubscribeSection/Form/index.tsx
Due: none

get started: push and fetch/pull in a single section per https://github.com/iterative/dvc.org/pull/1074#discussion_r409274642
  content/docs/tutorials/get-started/data-pipelines.md
  content/docs/tutorials/get-started/index.md
  content/docs/tutorials/get-started/versioning-basics.md
Due: prettier --write

cmd ref: improve desc. of checkout --summary option per https://github.com/iterative/dvc.org/pull/1054#pullrequestreview-391199946
  content/docs/command-reference/checkout.md
Due: prettier --write

get started: another round of improvements for intro and first page, renamed Data Versioning, which now includes a broader Accessing data section
  content/docs/glossary.js
  content/docs/sidebar.json
  content/docs/tutorials/get-started/data-pipelines.md
  content/docs/tutorials/get-started/data-versioning.md
  content/docs/tutorials/get-started/index.md
Due: eslint --fix, prettier --write

[accessibility] hide the mobile menu on desktop from keyboard users.
  src/components/HamburgerMenu/styles.module.css
Due: none

get started: another round of ipros up to data-versioning
  content/docs/glossary.js
  content/docs/index.md
  content/docs/tutorials/get-started/data-versioning.md
  content/docs/tutorials/get-started/index.md
Due: eslint --fix, prettier --write

get started: list layers in index, rename Experiments page, et al.
  content/docs/command-reference/fetch.md
  content/docs/command-reference/get.md
  content/docs/command-reference/metrics/show.md
  content/docs/sidebar.json
  content/docs/tutorials/get-started/data-versioning.md
  content/docs/tutorials/get-started/experiments.md
  content/docs/tutorials/get-started/index.md
  content/docs/tutorials/versioning.md
Due: prettier --write

[accessibility] hide the mobile menu on desktop from keyboard users. (#1170)
  src/components/HamburgerMenu/styles.module.css
Due: none

get started: remove 2 extra visualize outputs
  content/docs/tutorials/get-started/data-pipelines.md
Due: prettier --write

Initialize dotenv in the deploy script and check it to determine if we want to clean local cache post-build.
  scripts/deploy-with-s3.js
Due: eslint --fix

Check cwd specifically for heroku
  scripts/deploy-with-s3.js
Due: eslint --fix

List the public images cache for heroku
  scripts/deploy-with-s3.js
Due: eslint --fix

Make down/uploads synchronous again
  scripts/s3-utils.js
Due: eslint --fix

Limit page builds
  src/gatsby/blog.js
Due: eslint --fix

Fix re-syncifying downloads/uploads
  scripts/s3-utils.js
Due: eslint --fix

get started: improvements to data-pipelines part, et al.
  content/docs/command-reference/diff.md
  content/docs/command-reference/import-url.md
  content/docs/tutorials/deep/preparation.md
  content/docs/tutorials/get-started/data-pipelines.md
  content/docs/tutorials/get-started/data-versioning.md
  content/docs/tutorials/get-started/experiments.md
  content/docs/tutorials/get-started/index.md
Due: prettier --write

Move image captions styles to documentation's Markdown component styles file
  src/components/Documentation/Markdown/styles.module.css
  src/components/Page/base.css
Due: none

Move image captions styles to documentation's Markdown component styles file (#1171)
  src/components/Documentation/Markdown/styles.module.css
  src/components/Page/base.css
Due: none

Fix a require that inconsistently lacked an extension.
  src/gatsby/models/blog/index.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
