Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Remove accidental comment paste into gatsby-config
  gatsby-config.js
Due: eslint --fix

Remove the rest of the accidentally pasted link
  gatsby-config.js
Due: eslint --fix

Re-introduce frontmatter markdown parsing for BlogPost descriptions and picture comments.
  src/gatsby/common.js
  src/gatsby/models/blog/onCreateNode.js
Due: eslint --fix

tutorials: review GS up to data-pipelines page
  content/docs/tutorials/get-started/data-pipelines.md
  content/docs/tutorials/get-started/versioning-basics.md
Due: prettier --write

Get rootDir with process.cwd instead of __dirname
  scripts/deploy-with-s3.js
Due: eslint --fix

Parallelize uploadAllToS3, downloadAllFromS3, and clean.
  scripts/deploy-with-s3.js
Due: eslint --fix

Fix a broken path.join
  scripts/page-data-utils.js
Due: eslint --fix

Remove unreachable return
  scripts/page-data-utils.js
Due: eslint --fix

Improve grammar in log messages
  scripts/deploy-with-s3.js
  scripts/page-data-utils.js
Due: eslint --fix

Further grammar changes in logging
  scripts/deploy-with-s3.js
Due: eslint --fix

sidebar: roll back empty element change per https://github.com/iterative/dvc.org/pull/1074#pullrequestreview-393358555
  content/docs/sidebar.json
  src/utils/shared/sidebar.js
Due: eslint --fix, prettier --write

tutorials: rewrite GS upto experiment-management#experiments
  content/docs/command-reference/metrics/index.md
  content/docs/index.md
  content/docs/tutorials/get-started/data-pipelines.md
  content/docs/tutorials/get-started/experiment-management.md
  content/docs/tutorials/get-started/experiments.md
  content/docs/tutorials/get-started/index.md
  content/docs/tutorials/get-started/versioning-basics.md
  content/docs/tutorials/pipelines.md
  content/docs/tutorials/versioning.md
  content/docs/user-guide/contributing/docs.md
Due: prettier --write

tutorials: add link to API ref from versioning-basics#import-data per https://github.com/iterative/dvc.org/pull/1074#pullrequestreview-393503351
  content/docs/tutorials/get-started/versioning-basics.md
Due: prettier --write

Make redirects in the Link component only for links in the current domain
  src/components/Link/index.tsx
Due: none

Params: remove stage deps and --all option
  content/docs/command-reference/params/diff.md
  content/docs/command-reference/params/index.md
Due: prettier --write

Make redirects in the Link component only for links in the current domain (#1151)
  src/components/Link/index.tsx
Due: none

Remove redirect logic from click handler in the Link components as we already replace original href with redirect if it exists
  src/components/Link/index.tsx
Due: none

Remove redirect logic from click handler in the Link components as we (#1154)
  src/components/Link/index.tsx
Due: none

Update content/docs/command-reference/params/diff.md
  content/docs/command-reference/params/diff.md
Due: prettier --write

cmd ref: update metrics diff language to match params diff changes per https://github.com/iterative/dvc.org/pull/1152#discussion_r409105441
  content/docs/command-reference/metrics/diff.md
Due: prettier --write

tutorials: updates into experiment-management#experiments
  content/docs/tutorials/get-started/experiment-management.md
Due: prettier --write

Clean up outdated page-data on rebuilds
  package.json
  scripts/deploy-with-s3.js
  scripts/page-data-utils.js
  yarn.lock
Due: eslint --fix, prettier --write

Store .cache and public fully on S3
  scripts/deploy-with-s3.js
Due: eslint --fix

Do not cache public and .cache folders on Heroku
  package.json
Due: prettier --write

Move cache pruning into a gatsby hook and fix prefixes.
  gatsby-node.js
  package.json
  scripts/deploy-with-s3.js
  scripts/page-data-utils.js
  src/gatsby/prune-cache.js
  src/utils/shared/crawlPageData.js
  yarn.lock
Due: eslint --fix, prettier --write

Remove left over console.log statement
  scripts/deploy-with-s3.js
Due: eslint --fix

Refactor S3 calls from deploy-with-s3 to s3-utils
  scripts/deploy-with-s3.js
  scripts/s3-utils.js
Due: eslint --fix

community gems draft
  content/blog/2020-04-16-april-20-community-gems.md
  static/uploads/images/2020-04-16/DVC_Gems_April_20.png
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
