Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix the experiment name to be branched. (#2947)
  content/docs/start/experiments.md
Due: prettier --write

Update content/docs/user-guide/contributing/docs.md
  content/docs/user-guide/contributing/docs.md
Due: prettier --write

cleaned up based on feedback from Ivan
  content/blog/2021-10-26-october-21-community-gems.md
Due: prettier --write

restored the video link
  content/docs/start/data-pipelines.md
Due: prettier --write

some command changes and inline comments.
  content/docs/start/data-pipelines.md
Due: prettier --write

cases: update Exp Tracking draft fig.
  static/img/lose-experimentation.png
Due: none

ref: correct tmp/links path per https://github.com/iterative/dvc.org/pull/2826#pullrequestreview-771264891
  content/docs/command-reference/config.md
Due: prettier --write

ref: correct tmp/links path (#2953)
  content/docs/command-reference/config.md
Due: prettier --write

Add fetch-depth: 0
  .github/workflows/link-check-deploy.yml
Due: none

format-all
  content/docs/user-guide/contributing/blog.md
  scripts/deploy-with-s3.js
  src/components/Community/Learn/index.tsx
  src/components/Community/Meet/index.tsx
  src/components/Documentation/Markdown/index.tsx
  src/components/DownloadButton/index.tsx
  src/components/Paginator/LocationContext/index.ts
  src/gatsby/models/authors/parse-link.js
  src/templates/blog-home.tsx
  src/templates/blog-tags.tsx
Due: eslint --fix, prettier --write

Restyled by prettier
  content/docs/user-guide/contributing/blog.md
  scripts/deploy-with-s3.js
  src/components/Community/Learn/index.tsx
  src/components/Community/Meet/index.tsx
  src/components/Documentation/Markdown/index.tsx
  src/components/DownloadButton/index.tsx
  src/components/Paginator/LocationContext/index.ts
  src/gatsby/models/authors/parse-link.js
  src/templates/blog-home.tsx
  src/templates/blog-tags.tsx
Due: eslint --fix, prettier --write

Add fetch-depth:0 to link-check-diff workflow
  .github/workflows/link-check-deploy.yml
Due: none

cases: add some key words and 2nd draft for table
  content/docs/use-cases/experiment-tracking.md
Due: prettier --write

dvc 2.8.2
  src/components/DownloadButton/index.tsx
Due: none

added tee example
  content/blog/2021-10-26-october-21-community-gems.md
Due: prettier --write

updated tags
  content/blog/2021-10-26-october-21-community-gems.md
Due: prettier --write

Add debug git calls
  .github/workflows/link-check-deploy.yml
Due: none

Add fetch-depth and new version of link-check
  .github/workflows/link-check-deploy.yml
Due: none

Remove debug diffs
  .github/workflows/link-check-deploy.yml
Due: none

Upgrade repo-link-check package
  package.json
  yarn.lock
Due: prettier --write

Upgrade link check action
  .github/workflows/link-check-deploy.yml
Due: none

added some notes for the next iteration
  content/docs/start/data-pipelines.md
Due: prettier --write

doc: correcting image (#2941)
  content/docs/use-cases/ci-cd-for-machine-learning.md
  static/img/cicd4ml-1.png
  static/img/cicd4ml.png
Due: prettier --write

guide: Persisting experiments (#2845)
  content/docs/sidebar.json
  content/docs/user-guide/experiment-management/persisting-experiments.md
Due: prettier --write

added some comments
  content/docs/start/metrics-parameters-plots.md
Due: prettier --write

removed the title and example
  content/docs/user-guide/experiment-management/running-experiments.md
Due: prettier --write

Restyled by prettier
  content/docs/user-guide/experiment-management/running-experiments.md
Due: prettier --write

Update content/docs/user-guide/experiment-management/running-experiments.md
  content/docs/user-guide/experiment-management/running-experiments.md
Due: prettier --write

guide: Add --recursive` options to Running Experiments Related #2730
  content/docs/user-guide/experiment-management/running-experiments.md
Due: prettier --write

size reduction
  content/docs/user-guide/experiment-management/running-experiments.md
Due: prettier --write

guide: Add `--recursive` options to Running Experiments (#2846)
  content/docs/user-guide/experiment-management/running-experiments.md
Due: prettier --write

updated answers with examples
  content/blog/2021-10-26-october-21-community-gems.md
Due: prettier --write

Fix link check
  .github/workflows/link-check-deploy.yml
Due: none

Fix link-check
  .github/workflows/link-check-deploy.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
