Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Clean up docs/onCreateNode
  src/gatsby/models/docs/onCreateNode.js
Due: eslint --fix

Change the Model API builder into a simple reusable wrapper.
  src/gatsby/utils/models/index.js
Due: eslint --fix

Update models/markdown-content/index
  src/gatsby/models/markdown-content/index.js
Due: eslint --fix

Fix a misnamed arg in asyncCallOnAll
  src/gatsby/utils/models/index.js
Due: eslint --fix

revisions
  content/blog/2020-04-16-april-20-community-gems.md
Due: prettier --write

Simplify Model API internals and improve comments
  gatsby-node.js
  src/gatsby/models/authors/index.js
  src/gatsby/models/authors/onCreateMarkdownContentNode.js
  src/gatsby/models/blog/index.js
  src/gatsby/models/blog/onCreateMarkdownContentNode.js
  src/gatsby/models/docs/index.js
  src/gatsby/models/docs/onCreateMarkdownContentNode.js
  src/gatsby/models/image-source-paths/index.js
  src/gatsby/models/markdown-content/index.js
  src/gatsby/utils/models/index.js
Due: eslint --fix

Make blog page limiter work on an env variable
  gatsby-node.js
  src/gatsby/models/blog/createPages.js
Due: eslint --fix

Capitalize "Model" in markdown content doc comment
  src/gatsby/models/markdown-content/index.js
Due: eslint --fix

Remove unnecessary index ternary from blog slug.
  src/gatsby/models/blog/onCreateMarkdownContentNode.js
Due: eslint --fix

Remove unnecessary explicit {models} on onCreateNode call
  gatsby-node.js
Due: eslint --fix

Rename internal model runner name to match usage convention
  src/gatsby/utils/models/index.js
Due: eslint --fix

Add custom foreign-key Node resolvers that operate on trimmed frontmatter fields.
  src/gatsby/models/authors/createSchemaCustomization.js
  src/gatsby/models/blog/createSchemaCustomization.js
  src/gatsby/utils/resolvers/index.js
Due: eslint --fix

Change all existing content frontmatter to work with the new resolvers.
  content/authors/dmitry_petrov.md
  content/authors/elle_obrien.md
  content/authors/george_vyshnya.md
  content/authors/marija_ilic.md
  content/authors/svetlana_grinchenko.md
  content/blog/2017-05-15-how-a-data-scientist-can-improve-his-productivity.md
  content/blog/2017-07-24-r-code-and-reproducible-model-development-with-dvc.md
  content/blog/2017-07-27-data-version-control-in-analytics-devops-paradigm.md
  content/blog/2017-08-23-ml-model-ensembling-with-fast-iterations.md
  content/blog/2017-09-26-best-practices-of-orchestrating-python-and-r-code-in-ml-projects.md
  content/blog/2018-10-18-ml-best-practices-in-pytorch-dev-conf-2018.md
  content/blog/2019-03-05-march-19-dvc-heartbeat.md
  content/blog/2019-04-18-april-19-dvc-heartbeat.md
  content/blog/2019-04-23-dvc-project-ideas-for-google-summer-of-docs-2019.md
  content/blog/2019-05-21-may-19-dvc-heartbeat.md
  content/blog/2019-06-26-june-19-dvc-heartbeat.md
  content/blog/2019-08-01-july-19-dvc-heartbeat.md
  content/blog/2019-09-26-september-19-dvc-heartbeat.md
  content/blog/2019-10-08-dvc-org-for-hacktoberfest-2019.md
  content/blog/2019-11-05-october-19-dvc-heartbeat.md
  content/blog/2019-12-14-november-19-dvc-heartbeat.md
  content/blog/2020-01-17-january-20-dvc-heartbeat.md
  content/blog/2020-01-20-january-20-community-gems.md
  content/blog/2020-02-04-gsoc-ideas-2020.md
  content/blog/2020-02-10-february-20-dvc-heartbeat.md
  content/blog/2020-02-17-a-public-reddit-dataset.md
  content/blog/2020-02-19-february-20-community-gems.md
  content/blog/2020-03-11-march-20-dvc-heartbeat.md
  content/blog/2020-03-24-march-20-community-gems.md
  content/blog/2020-03-31-reimagining-devops-video.md
  content/blog/2020-04-06-april-20-dvc-heartbeat.md
Due: prettier --write

Straight up callOnModels to have the same name everywhere.
  gatsby-node.js
  src/gatsby/models/markdown-content/index.js
  src/gatsby/utils/models/index.js
Due: eslint --fix

docs: remove unnecessary HTML comments in md files
  content/docs/command-reference/get-url.md
  content/docs/command-reference/version.md
  content/docs/install/macos.md
  content/docs/install/windows.md
Due: prettier --write

get started: copy edits per Ivan't feedback
  content/docs/index.md
  content/docs/tutorials/get-started/data-pipelines.md
  content/docs/tutorials/get-started/data-versioning.md
  content/docs/tutorials/get-started/experiments.md
  content/docs/tutorials/get-started/index.md
  content/docs/tutorials/pipelines.md
  content/docs/tutorials/versioning.md
  content/docs/user-guide/contributing/docs.md
Due: prettier --write

Add root-level 404.html to gitignore
  .gitignore
Due: none

revisions 2
  content/blog/2020-04-16-april-20-community-gems.md
Due: prettier --write

prettied it?
  content/blog/2020-04-16-april-20-community-gems.md
Due: prettier --write

Fix prune-cache to work post-Models
  src/gatsby/prune-cache.js
Due: eslint --fix

Start logging
  scripts/deploy-with-s3.js
Due: eslint --fix

get started: fix command story up to data-pipelines#stages (tried from terminal)
  content/docs/tutorials/get-started/data-pipelines.md
  content/docs/tutorials/get-started/data-versioning.md
  content/docs/tutorials/get-started/experiments.md
Due: prettier --write

cmd ref: update lock about import stages
  content/docs/command-reference/lock.md
Due: prettier --write

Improve cache dir debug tools
  scripts/deploy-with-s3.js
  scripts/s3-testing-utils.js
Due: eslint --fix

update picture URL
  content/blog/2020-04-16-april-20-community-gems.md
Due: prettier --write

Update author img url
  content/blog/2020-04-16-april-20-community-gems.md
Due: prettier --write

Restyled by prettier
  content/blog/2020-04-16-april-20-community-gems.md
Due: prettier --write

update comments link
  content/blog/2020-04-16-april-20-community-gems.md
Due: prettier --write

community gems April '20 (#1155)
  content/blog/2020-04-16-april-20-community-gems.md
  static/uploads/images/2020-04-16/DVC_Gems_April_20.png
Due: prettier --write

get started: expand on params, move section to data-pipelines page
  content/docs/tutorials/get-started/data-pipelines.md
  content/docs/tutorials/get-started/experiments.md
Due: prettier --write

Consolidate deploy options into one env var.
  scripts/deploy-with-s3.js
Due: eslint --fix

Change heroku hook to run on bash and save output
  package.json
  scripts/deploy-with-s3.sh
Due: prettier --write

Make deploy logging script log both to file and console
  scripts/deploy-with-s3.sh
Due: none

cmd ref: clarify about checkout output and --summary option desc. per https://github.com/iterative/dvc.org/pull/1054#pullrequestreview-395924744
  content/docs/command-reference/checkout.md
Due: prettier --write

use cases: add checkout output per https://github.com/iterative/dvc.org/pull/1054#issuecomment-611806881
  content/docs/use-cases/shared-development-server.md
  content/docs/use-cases/versioning-data-and-model-files.md
Due: prettier --write

Update content/docs/command-reference/checkout.md
  content/docs/command-reference/checkout.md
Due: prettier --write

Fix share buttons by importing slug via GraphQL
  src/templates/blog-post.tsx
Due: none

Fix blog post titles on blog feed
  gatsby-config.js
Due: eslint --fix

Fix share buttons by importing slug via GraphQL (#1180)
  src/templates/blog-post.tsx
Due: none
