Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Remove carousel
  src/Community/Carousel/index.js
  src/Community/Carousel/styles.js
  src/Community/Learn/index.js
  src/Community/Meet/index.js
Due: eslint --fix

Add pictures to user content
  public/static/img/community/ugc/donuts.png
  src/Community/Events/index.js
  src/Community/Learn/index.js
  src/Community/data.json
Due: eslint --fix, prettier --write

term: rewrite definition of "workspace" per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-348857535
  public/static/docs/glossary.js
Due: eslint --fix

cmd ref: change link from `metrics diff` options to `metrics show` per https://github.com/iterative/dvc.org/pull/933#issuecomment-580033273
  public/static/docs/command-reference/metrics/diff.md
Due: prettier --write

cmd ref: update example in `dvc metrics diff` and similar ones per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-348851587
  public/static/docs/command-reference/checkout.md
  public/static/docs/command-reference/fetch.md
  public/static/docs/command-reference/get.md
  public/static/docs/command-reference/install.md
  public/static/docs/command-reference/metrics/diff.md
  public/static/docs/tutorials/versioning.md
Due: prettier --write

cmd ref: simplify dvc gc -a option per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-350540249 and https://github.com/iterative/dvc.org/pull/933#pullrequestreview-350540611
  public/static/docs/command-reference/gc.md
  public/static/docs/command-reference/pull.md
Due: prettier --write

cmd ref: use "reference" more than "revision" in diff per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-350539579
  public/static/docs/command-reference/diff.md
Due: prettier --write

cmd ref: link term "revision" in diff and `metrics diff` also per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-350539579
  public/static/docs/command-reference/diff.md
  public/static/docs/command-reference/metrics/diff.md
Due: prettier --write

term: put Git ref exapmles before term and link per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-350540611
  public/static/docs/command-reference/diff.md
  public/static/docs/command-reference/get.md
  public/static/docs/command-reference/import.md
  public/static/docs/command-reference/install.md
  public/static/docs/command-reference/metrics/diff.md
  public/static/docs/command-reference/update.md
  public/static/docs/use-cases/data-registries.md
  public/static/docs/user-guide/dvc-file-format.md
Due: prettier --write

cmd ref: friendlier explanation of "tip of default branch" per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-350540726
  public/static/docs/command-reference/get.md
  public/static/docs/command-reference/import.md
Due: prettier --write

cmd ref: use tag name instead of term "the revision" per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-350541159
  public/static/docs/command-reference/diff.md
  public/static/docs/command-reference/import-url.md
Due: prettier --write

term: revert some "revision"->"reference" changes, and related simplifications per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-350541159
  public/static/docs/command-reference/diff.md
  public/static/docs/command-reference/get.md
  public/static/docs/command-reference/import.md
  public/static/docs/command-reference/install.md
  public/static/docs/command-reference/metrics/diff.md
  public/static/docs/command-reference/metrics/index.md
  public/static/docs/command-reference/metrics/show.md
  public/static/docs/command-reference/pull.md
  public/static/docs/command-reference/push.md
  public/static/docs/command-reference/status.md
  public/static/docs/tutorials/versioning.md
  public/static/docs/use-cases/data-registries.md
  public/static/docs/use-cases/versioning-data-and-model-files.md
Due: prettier --write

add privacy policy link to the main page
  src/Footer/index.js
Due: eslint --fix

cmd ref: review desc. of `-a` options throughout refs
  public/static/docs/command-reference/fetch.md
  public/static/docs/command-reference/metrics/show.md
  public/static/docs/command-reference/pull.md
  public/static/docs/command-reference/push.md
  public/static/docs/command-reference/status.md
Due: prettier --write

Update Privacy Policy
  public/static/docs/user-guide/privacy.md
Due: prettier --write

Add quick and dirty fix for section animation
  src/Community/Section/index.js
  src/Community/Section/styles.js
Due: eslint --fix

Consistantly renamed Documentation components
  pages/doc.js
  src/components/Documentation/Markdown/index.js
  src/components/Documentation/RightPanel/index.js
  src/components/Documentation/SidebarMenu/index.js
Due: eslint --fix

Moved documentation component out of the page
  pages/doc.js
  src/components/Documentation/HeadInjector.js
  src/components/Documentation/index.js
Due: eslint --fix

Move Features component out of page
  pages/features.js
  src/components/Features/index.js
Due: eslint --fix

Move Support component out of the page
  pages/support.js
  src/components/Support/index.js
Due: eslint --fix

Moved Home component from page
  pages/index.js
  src/components/Home/index.js
Due: eslint --fix

Rename popover filename
  src/components/Popover/index.js
  src/components/Support/index.js
Due: eslint --fix

move redirects to their own file in src/redirects.js, add white space between tests
  server.js
  src/redirects-list.json
  src/redirects.js
  src/redirects.test.js
Due: eslint --fix, prettier --write

cmd ref: update diff params per iterative/dvc/pull/3244
  public/static/docs/command-reference/diff.md
  public/static/docs/command-reference/metrics/diff.md
Due: prettier --write

cmd ref: update notes around moving/static Git refs in import and update per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-350601759
  public/static/docs/command-reference/import.md
  public/static/docs/command-reference/update.md
Due: prettier --write

revert workspace glossary entry per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-350604641
  public/static/docs/glossary.js
Due: eslint --fix

tutorial: use full name of Deep Dive Tutorial in title and links per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-350605629
  public/static/docs/get-started/pipeline.md
  public/static/docs/tutorials/deep/index.md
  public/static/docs/tutorials/pipelines.md
Due: prettier --write

user-guide: undo change on "binary" literal for analytics example per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-350607861
  public/static/docs/user-guide/analytics.md
Due: prettier --write

use-cases: avoid term "revision" in data-registries per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-350608591
  public/static/docs/use-cases/data-registries.md
Due: prettier --write

Added some user content
  src/Community/data.json
Due: prettier --write

term: avoid "checksum" in favor of file "hash" value per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-350538870
  public/static/docs/changelog/0.18.md
  public/static/docs/changelog/0.35.md
  public/static/docs/command-reference/add.md
  public/static/docs/command-reference/checkout.md
  public/static/docs/command-reference/commit.md
  public/static/docs/command-reference/config.md
  public/static/docs/command-reference/fetch.md
  public/static/docs/command-reference/gc.md
  public/static/docs/command-reference/get.md
  public/static/docs/command-reference/import-url.md
  public/static/docs/command-reference/install.md
  public/static/docs/command-reference/remote/add.md
  public/static/docs/command-reference/remote/modify.md
  public/static/docs/command-reference/repro.md
  public/static/docs/command-reference/run.md
  public/static/docs/command-reference/status.md
  public/static/docs/get-started/add-files.md
  public/static/docs/get-started/store-data.md
  public/static/docs/tutorials/deep/define-ml-pipeline.md
  public/static/docs/tutorials/deep/reproducibility.md
  public/static/docs/tutorials/pipelines.md
  public/static/docs/understanding-dvc/related-technologies.md
  public/static/docs/user-guide/dvc-file-format.md
  public/static/docs/user-guide/dvc-files-and-directories.md
  public/static/docs/user-guide/managing-external-data.md
Due: prettier --write

three pieces of user content
  src/Community/data.json
Due: prettier --write

added the prague event, cleaned up events city + date formatting
  public/static/img/community/events/event1.png
  public/static/img/community/events/mlprague.png
  src/Community/Events/index.js
  src/Community/data.json
Due: eslint --fix, prettier --write

Added WIDS event
  src/Community/data.json
Due: prettier --write

WIDS logo
  src/Community/data.json
Due: prettier --write

Added divops.org
  public/static/img/community/events/divops.png
  src/Community/data.json
Due: prettier --write

Fixed divops date, and checked if the banners work as expected
  public/static/img/community/banner-mobile.png
  public/static/img/community/banner.png
  src/Community/data.json
Due: prettier --write

typo
  src/Community/data.json
Due: prettier --write

term: revert "hash"->"checksum" in this PR per https://github.com/iterative/dvc.org/pull/933#discussion_r373221327
  public/static/docs/changelog/0.18.md
  public/static/docs/command-reference/add.md
  public/static/docs/command-reference/checkout.md
  public/static/docs/command-reference/run.md
  public/static/docs/get-started/add-files.md
  public/static/docs/get-started/store-data.md
  public/static/docs/tutorials/pipelines.md
Due: prettier --write

cmd ref: "revision"->"commit" in get ref per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-350609358
  public/static/docs/command-reference/get.md
Due: prettier --write
