Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Update gatsby-config.js
  gatsby-config.js
Due: eslint --fix

add rss feed for blogs (#5371)
  gatsby-config.js
  package.json
  plugins/blogs/createSchemaCustomization.ts
  src/components/Community/Learn/index.tsx
  src/components/Home/WhatsNewModal/index.tsx
  src/components/SEO/index.tsx
  src/gatsby/models.js
  src/gatsby/models/blogFeed/index.js
  src/queries/usePosts.ts
  src/templates/blog-home.tsx
  yarn.lock
Due: eslint --fix, prettier --write

support node 22
  package.json
Due: prettier --write

support node 22 (#5372)
  package.json
Due: prettier --write

Add --respect-no-push in data status page
  content/docs/command-reference/data/status.md
Due: prettier --write

docs: align equation
  content/docs/use-cases/ci-cd-for-machine-learning.md
Due: prettier --write

docs: align equation (#5374)
  content/docs/use-cases/ci-cd-for-machine-learning.md
Due: prettier --write

fix font-size
  content/docs/use-cases/ci-cd-for-machine-learning.md
Due: prettier --write

fix font-size (#5376)
  content/docs/use-cases/ci-cd-for-machine-learning.md
Due: prettier --write

blogs: do not hit /api/comments if there is no commentsUrl set for the blog
  src/components/Blog/Post/index.tsx
  src/components/Community/Learn/index.tsx
Due: none

update renovate
  renovate.json
Due: prettier --write

fix check-deployment
  .github/workflows/check-deployment.yml
Due: none

adapt README
  plugins/gatsby-theme-iterative/README.md
Due: prettier --write

refactor: clean up unused codes
  eslint.config.mjs
  packages/websites-server/.husky/install.mjs
  packages/websites-server/.install-husky
  packages/websites-server/.npmignore
  packages/websites-server/.yarn/releases/yarn-4.9.1.cjs
  packages/websites-server/.yarnrc.yml
  packages/websites-server/lint-staged.config.js
  packages/websites-server/package.json
  packages/websites-server/postinstall.js
  packages/websites-server/yarn.lock
Due: eslint --fix, prettier --write

ignore errors
  .prettierignore
  eslint.config.mjs
  packages/websites-server/.gitignore
  packages/websites-server/.prettierignore
  packages/websites-server/.prettierrc.json
  packages/websites-server/examples/example-server/src/pages/404.jsx
  packages/websites-server/scripts/deploy-with-s3.js
  packages/websites-server/src/index.js
Due: eslint --fix, prettier --write

Drop websites-server/examples
  packages/websites-server/eslint.config.js
  packages/websites-server/examples/example-server/.gitignore
  packages/websites-server/examples/example-server/README.md
  packages/websites-server/examples/example-server/gatsby-config.js
  packages/websites-server/examples/example-server/package.json
  packages/websites-server/examples/example-server/server.js
  packages/websites-server/examples/example-server/src/images/icon.png
  packages/websites-server/examples/example-server/src/pages/404.jsx
  packages/websites-server/examples/example-server/src/pages/index.jsx
  packages/websites-server/package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix tests
  packages/gatsby-theme/src/utils/shared/redirects.test.js
Due: eslint --fix

drop test
  packages/gatsby-theme/plugins/gatsby-remark-dvc-linker/helpers.js
  packages/gatsby-theme/plugins/gatsby-remark-dvc-linker/index.test.js
Due: eslint --fix

do not call /api/comments when there is no commentsUrl
  packages/gatsby-theme/src/utils/front/api.ts
  packages/websites-server/src/middleware/api/comments.js
  packages/websites-server/src/middleware/api/discourse.js
Due: eslint --fix

drop eslint config
  packages/websites-server/eslint.config.js
Due: eslint --fix

Update tsconfig.json
  tsconfig.json
Due: prettier --write

Revert "fix(deps): update dependency @octokit/request to v10 (#5396)"
  package.json
  packages/websites-server/package.json
  yarn.lock
Due: prettier --write

Revert "fix(deps): update dependency @octokit/request to v10 (#5396)" (#5403)
  package.json
  packages/websites-server/package.json
  yarn.lock
Due: prettier --write

fix workflow with new lychee update
  .github/workflows/download-link-check-deploy.yml
  .github/workflows/download-link-check-issue.yml
Due: none

use peter-evans/create-pull-request to create PR
  .github/workflows/update.yaml
Due: none

unpin gh actions
  .github/workflows/download-link-check-deploy.yml
  .github/workflows/download-link-check-issue.yml
Due: none

yarn update
  yarn.lock
Due: none

update Course domains
  content/blogs/2022-04-15-april-22-heartbeat.md
  content/blogs/2022-05-16-may-22-heartbeat.md
  content/blogs/2022-07-18-july-heartbeat.md
  content/blogs/2022-08-16-august-22-heartbeat.md
  content/blogs/2022-08-30-august-22-community-gems.md
  content/blogs/2022-1-18-January-22-heartbeat.md
  content/blogs/2022-10-24-jupyter-notebook-dvc-pipeline.md
  content/blogs/2022-2-17-february-22-heartbeat.md
  content/blogs/2024-01-19-automate-data-validation-and-model-monitoring-with-evidently-and-dvc.md
  content/blogs/2024-03-12-dvc-ray.md
  src/@dvcorg/gatsby-theme/components/HamburgerMenu/index.tsx
  src/@dvcorg/gatsby-theme/data/menu.tsx
Due: prettier --write

remove unneeded operator foranyvalue
  content/docs/studio/user-guide/openid-connect.md
Due: prettier --write

docs: document allow_anonymous_login support for gs
  content/docs/user-guide/data-management/remote-storage/google-cloud-storage.md
Due: prettier --write

docs: document allow_anonymous_login support for gs (#5411)
  content/docs/user-guide/data-management/remote-storage/google-cloud-storage.md
Due: prettier --write

docs: dvcfs: rename parameter
  content/blogs/2023-06-14-dvc-3.0-ml-experiments-data-versioning.md
  content/docs/api-reference/dvcfilesystem.md
  content/docs/user-guide/integrations/huggingface.md
Due: prettier --write

docs: dvcfs: rename parameter (#5412)
  content/blogs/2023-06-14-dvc-3.0-ml-experiments-data-versioning.md
  content/docs/api-reference/dvcfilesystem.md
  content/docs/user-guide/integrations/huggingface.md
Due: prettier --write
