Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Re-async downloads and uploads
  scripts/s3-utils.js
Due: eslint --fix

Remove page logging from build script and re-enable prod cache warming.
  package.json
  scripts/deploy-with-s3.js
Due: eslint --fix, prettier --write

Fix {} typo in downloadAll function
  scripts/s3-utils.js
Due: eslint --fix

Remove branch logging from onPostBuild
  gatsby-node.js
Due: eslint --fix

Remove deploy-with-s3.sh and direct call the js variant again.
  package.json
  scripts/deploy-with-s3.sh
Due: prettier --write

Re-add node_modules cacheDirectories entry
  package.json
Due: prettier --write

Remove temporary deploy logs.
  scripts/deploy-with-s3.js
  scripts/s3-testing-utils.js
Due: eslint --fix

Remove S3 testing utils import
  scripts/deploy-with-s3.js
Due: eslint --fix

Fixes #1199
  content/docs/command-reference/config.md
Due: prettier --write

Test Heroku cache
  package.json
Due: prettier --write

Don't specify cache directories
  package.json
Due: prettier --write

Bump CircleCI cache version (?)
  .circleci/config.yml
Due: none

blog: April heartbeat fix broken link
  content/blog/2019-04-18-april-19-dvc-heartbeat.md
Due: prettier --write

Rebuilds caching (#1182)
  .circleci/config.yml
  .gitignore
  gatsby-node.js
  package.json
  scripts/deploy-with-s3.js
  scripts/s3-utils.js
  src/gatsby/prune-cache.js
  src/utils/shared/crawlPageData.js
  yarn.lock
Due: eslint --fix, prettier --write

blog: May heartbeat update a broken link
  content/blog/2019-05-21-may-19-dvc-heartbeat.md
Due: prettier --write

Explicitly add node_modules to cacheDirectories for Heroku
  package.json
Due: prettier --write

Use upath in Gatsby foreign-file resolvers
  package.json
  src/gatsby/utils/resolvers/index.js
  yarn.lock
Due: eslint --fix, prettier --write

Remove source for outdated doc at doc/user-guide/api-reference/open
  content/docs/user-guide/api-reference/open.md
Due: prettier --write

Remove source for outdated doc at doc/user-guide/api-reference/open (#1206)
  content/docs/user-guide/api-reference/open.md
Due: prettier --write

Add a script in package.json enabling "yarn run dev"
  package.json
Due: prettier --write

Add a script in package.json enabling "yarn run dev" (#1207)
  package.json
Due: prettier --write

Explicitly add node_modules to cacheDirectories for Heroku (#1203)
  package.json
Due: prettier --write

Make Link component recognize mailto links
  src/components/Link/index.tsx
Due: none

Make Link component recognize mailto links (#1208)
  src/components/Link/index.tsx
Due: none

Fix and improve cache pruning
  src/gatsby/prune-cache.js
  src/utils/shared/crawlPageData.js
Due: eslint --fix

Fix and improve cache pruning (#1209)
  src/gatsby/prune-cache.js
  src/utils/shared/crawlPageData.js
Due: eslint --fix

blog: adding GSOD 2020 post
  content/authors/jorge_orpinel.md
  content/blog/2020-04-30-gsod-ideas-2020.md
  static/uploads/avatars/jorge.jpg
Due: prettier --write

Use upath in Gatsby foreign-file resolvers (#1205)
  package.json
  src/gatsby/utils/resolvers/index.js
  yarn.lock
Due: eslint --fix, prettier --write

blog: GSOD ideas [WIP]
  content/authors/jorge_orpinel.md
  content/blog/2020-04-30-gsod-ideas-2020.md
Due: prettier --write

blog: GSOD project ideas
  content/blog/2020-04-30-gsod-ideas-2020.md
Due: prettier --write

3 years and 1.0 pre release
  content/blog/2020-05-04-dvc-3-years-and-1-0-release.md
  static/uploads/images/2020-05-04/5k_github.png
  static/uploads/images/2020-05-04/5k_stars.png
  static/uploads/images/2020-05-04/dvc-plot-scatter.png
  static/uploads/images/2020-05-04/dvc-plot.png
Due: prettier --write

Formatting and change github star image
  content/blog/2020-05-04-dvc-3-years-and-1-0-release.md
  static/uploads/images/2020-05-04/5k_github.png
Due: prettier --write

Add learnings
  content/blog/2020-05-04-dvc-3-years-and-1-0-release.md
Due: prettier --write

fix a formatting bug
  content/blog/2020-05-04-dvc-3-years-and-1-0-release.md
Due: prettier --write

docs: update files/dirs for 1.0 release
  content/docs/user-guide/dvc-files-and-directories.md
Due: prettier --write

Restyled by prettier
  content/docs/user-guide/dvc-files-and-directories.md
Due: prettier --write

blog: 1.0 release update image path
  content/blog/2020-05-04-dvc-3-years-and-1-0-release.md
Due: prettier --write

Update content/docs/user-guide/dvc-files-and-directories.md
  content/docs/user-guide/dvc-files-and-directories.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
