Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix bug
  config/gatsby-remark-embedder/custom-yt-embedder.js
Due: eslint --fix

implemented feedback from Jorge
  content/blog/2022-01-15-moving-local-experiments-to-the-cloud-with-iterative-terraform-provider.md
Due: prettier --write

Restyled by prettier
  content/blog/2022-01-15-moving-local-experiments-to-the-cloud-with-iterative-terraform-provider.md
Due: prettier --write

Keep embed links style consistent
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/Main/styles.module.css
  src/components/Blog/Post/Markdown/styles.module.css
  src/components/Home/UseCases/Video/styles.module.css
Due: none

update random image
  static/uploads/images/2022-01-31/jan-community-gems.png
Due: none

Rename image file
  content/blog/2022-01-31-january-22-community-gems.md
  static/uploads/images/2022-01-31/jan-community-gems-0.png
Due: prettier --write

Make YouTube Embeds GDPR compliant (#3253)
  config/gatsby-remark-embedder/custom-yt-embedder.js
  gatsby-config.js
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/Main/index.tsx
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/Main/styles.module.css
  plugins/gatsby-theme-iterative-docs/src/utils/front/useCustomYtEmbeds.ts
  src/components/Blog/Post/Markdown/styles.module.css
  src/components/Blog/Post/index.tsx
  src/components/Home/UseCases/Video/index.tsx
  src/components/Home/UseCases/Video/styles.module.css
Due: eslint --fix

Update content/blog/2022-02-28-using-iterative-terraform-provider-with-docker.md
  content/blog/2022-02-28-using-iterative-terraform-provider-with-docker.md
Due: prettier --write

polishing examples based on feedback
  content/blog/2022-02-28-using-iterative-terraform-provider-with-docker.md
Due: prettier --write

fixed formatting issue
  content/blog/2022-02-28-using-iterative-terraform-provider-with-docker.md
Due: prettier --write

Restyled by prettier
  content/blog/2022-02-28-using-iterative-terraform-provider-with-docker.md
Due: prettier --write

added initial draft
  content/blog/2022-02-28-february-21-community-gems.md
Due: prettier --write

fixed the url
  content/blog/2022-02-28-february-22-community-gems.md
Due: prettier --write

Update content/docs/dvclive/api-reference/live/log_image.md
  content/docs/dvclive/api-reference/live/log_image.md
Due: prettier --write

Add `dvc plots` snippets
  content/docs/dvclive/api-reference/live/log_plot.md
Due: prettier --write

Add "Learn" and `...` dropdown to nav bar * refactor nav popup code * add usePopup hook * add OtherPopup to nav popups * add "Learn" nav item
  src/components/LayoutHeader/Nav/LinkItems/index.tsx
  src/components/LayoutHeader/Nav/LinkItems/styles.module.css
  src/components/LayoutHeader/Nav/Popup/index.tsx
  src/components/LayoutHeader/Nav/Popup/styles.module.css
  src/gatsby/hooks/usePopup.tsx
Due: none

Added PIL link
  content/docs/dvclive/api-reference/live/log_image.md
Due: prettier --write

Refactor navLinkItemsData code
  src/components/LayoutHeader/Nav/LinkItems/index.tsx
Due: none

Update "learn" item * rename "Learn" to "Course" * move "Course" to after blog
  src/components/LayoutHeader/Nav/LinkItems/index.tsx
  src/components/LayoutHeader/Nav/LinkItems/styles.module.css
  src/components/LayoutHeader/Nav/Popup/styles.module.css
Due: none

Add course connect to hamburger menu
  src/components/HamburgerMenu/index.tsx
Due: none

Fracion -> Fraction
  content/docs/dvclive/api-reference/live/log_plot.md
Due: prettier --write

dvclive: Add `log_image` and `log_plot` (#3207)
  content/docs/dvclive/api-reference/live/get_step.md
  content/docs/dvclive/api-reference/live/index.md
  content/docs/dvclive/api-reference/live/log.md
  content/docs/dvclive/api-reference/live/log_image.md
  content/docs/dvclive/api-reference/live/log_plot.md
  content/docs/dvclive/api-reference/live/next_step.md
  content/docs/dvclive/api-reference/live/set_step.md
  content/docs/dvclive/dvclive-with-dvc.md
  content/docs/dvclive/get-started.md
  content/docs/dvclive/ml-frameworks/catalyst.md
  content/docs/dvclive/ml-frameworks/fastai.md
  content/docs/dvclive/ml-frameworks/huggingface.md
  content/docs/dvclive/ml-frameworks/keras.md
  content/docs/dvclive/ml-frameworks/lightgbm.md
  content/docs/dvclive/ml-frameworks/mmcv.md
  content/docs/dvclive/ml-frameworks/pytorch-lightning.md
  content/docs/dvclive/ml-frameworks/pytorch.md
  content/docs/dvclive/ml-frameworks/tensorflow.md
  content/docs/dvclive/ml-frameworks/xgboost.md
  content/docs/sidebar.json
  static/img/dvclive-calibration.png
  static/img/dvclive-confusion_matrix.png
  static/img/dvclive-det.png
  static/img/dvclive-precision_recall.png
  static/img/dvclive-roc.png
Due: prettier --write

added script to build on ci
  .github/workflows/blogs-indexing.yaml
Due: none

minor change
  .github/workflows/blogs-indexing.yaml
Due: none

fix typo
  .github/workflows/blogs-indexing.yaml
Due: none

updated skip indexing and minor fixs
  .env.example
  .github/workflows/blogs-indexing.yaml
  gatsby-config.js
  src/utils/algolia-queries.js
Due: eslint --fix

added yarn caching
  .github/workflows/blogs-indexing.yaml
Due: none

added caching and incremntal build
  .github/workflows/blogs-indexing.yaml
  package.json
Due: prettier --write

run only on blogs content change
  .github/workflows/blogs-indexing.yaml
Due: none

added a test blog
  content/blog/2022-02-9-test-blog.md
Due: prettier --write

removed test blog
  content/blog/2022-02-9-test-blog.md
Due: prettier --write

added back paritial indexing for blogs
  gatsby-config.js
  src/gatsby/models/blog/onCreateMarkdownContentNode.js
  src/utils/algolia-queries.js
Due: eslint --fix

set gitDateTime only on CI
  src/gatsby/models/blog/onCreateMarkdownContentNode.js
Due: eslint --fix

revised
  content/docs/start/visualization.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
