Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

usercentrics script: add to head
  gatsby-shared.tsx
  packages/gatsby-theme/src/components/SEO/index.tsx
Due: none

load usercentrics first
  packages/gatsby-theme/src/components/SEO/index.tsx
Due: none

add userCentrics to frameSrc
  server/index.js
Due: eslint --fix

Delete .github/workflows/download-link-check-schedule.yml
  .github/workflows/download-link-check-schedule.yml
Due: none

try to fix redirects-list.json
  packages/gatsby-theme/src/utils/shared/redirects.test.js
  redirects-list.json
Due: eslint --fix, prettier --write

fix: scripts: remove double scripts injection
  gatsby-config.js
  gatsby-ssr.js
  packages/gatsby-theme/gatsby-config.js
  packages/gatsby-theme/gatsby-node.js
  packages/gatsby-theme/gatsby-ssr.js
  packages/gatsby-theme/src/components/MainLayout/index.tsx
  packages/gatsby-theme/src/components/SEO/index.tsx
  packages/gatsby-theme/src/queries/useSiteMeta.ts
  packages/gatsby-theme/src/templates/doc.tsx
  plugins/gatsby-plugin-plausible/gatsby-ssr.js
  plugins/gatsby-plugin-plausible/package.json
  plugins/gatsby-plugin-usercentrics/gatsby-ssr.js
  plugins/gatsby-plugin-usercentrics/package.json
  src/pages/404.tsx
  src/templates/doc-jsx.tsx
Due: eslint --fix, prettier --write

replace react-helmet with gatsby-head
  package.json
  packages/gatsby-theme/gatsby-config.js
  packages/gatsby-theme/package.json
  packages/gatsby-theme/src/components/MainLayout/index.tsx
  packages/gatsby-theme/src/components/SEO/index.tsx
  packages/gatsby-theme/src/templates/doc.tsx
  src/pages/404.tsx
  src/pages/user-guide/glossary.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix: scripts: remove double scripts injection (#5486)
  gatsby-config.js
  gatsby-ssr.js
  package.json
  packages/gatsby-theme/gatsby-config.js
  packages/gatsby-theme/gatsby-node.js
  packages/gatsby-theme/gatsby-ssr.js
  packages/gatsby-theme/package.json
  packages/gatsby-theme/src/components/MainLayout/index.tsx
  packages/gatsby-theme/src/components/SEO/index.tsx
  packages/gatsby-theme/src/queries/useSiteMeta.ts
  packages/gatsby-theme/src/templates/doc.tsx
  plugins/gatsby-plugin-plausible/gatsby-ssr.js
  plugins/gatsby-plugin-plausible/package.json
  plugins/gatsby-plugin-usercentrics/gatsby-ssr.js
  plugins/gatsby-plugin-usercentrics/package.json
  src/pages/404.tsx
  src/pages/user-guide/glossary.tsx
  src/templates/doc-jsx.tsx
  yarn.lock
Due: eslint --fix, prettier --write

gtag: set default consent to denied
  plugins/gatsby-plugin-usercentrics/gatsby-ssr.js
Due: eslint --fix

gtag: set default consent to denied (#5488)
  plugins/gatsby-plugin-usercentrics/gatsby-ssr.js
Due: eslint --fix

update plausible script src
  gatsby-config.js
Due: eslint --fix

fix endpoint for plausible
  gatsby-config.js
  plugins/gatsby-plugin-plausible/gatsby-ssr.js
Due: eslint --fix

fix id/key of the script
  plugins/gatsby-plugin-plausible/gatsby-ssr.js
Due: eslint --fix

fix editLink
  packages/gatsby-theme/src/getEditLink.ts
Due: none

fix editLink (#5490)
  packages/gatsby-theme/src/getEditLink.ts
Due: none

Clarify behavior of `dvc remove` command in update-tracked-data guide
  content/docs/user-guide/how-to/update-tracked-data.md
Due: prettier --write

format
  content/docs/user-guide/how-to/update-tracked-data.md
Due: prettier --write

Clarify behavior of `dvc remove` command in update-tracked-data guide (#5491)
  content/docs/user-guide/how-to/update-tracked-data.md
Due: prettier --write

require Python 3.9+ and point to dvc.org for downloads
  content/docs/contributing/core.md
  content/docs/dvclive/install.md
  content/docs/install/linux.md
  content/docs/install/macos.md
  content/docs/install/pre-release.md
  content/docs/install/windows.md
Due: prettier --write

improve installation instruction
  content/docs/install/linux.md
  content/docs/install/macos.md
  content/docs/install/windows.md
  content/docs/start/index.md
Due: prettier --write

improve installation instruction (#5493)
  content/docs/install/linux.md
  content/docs/install/macos.md
  content/docs/install/windows.md
  content/docs/start/index.md
Due: prettier --write

keep download link in a single place
  content/docs/install/linux.md
  content/docs/install/macos.md
  content/docs/install/windows.md
  packages/gatsby-theme/src/components/Documentation/Markdown/components/index.tsx
  packages/gatsby-theme/src/components/Link/index.tsx
Due: prettier --write

remove whitespace
  content/docs/install/windows.md
Due: prettier --write

improve installation instruction (#5494)
  content/docs/install/linux.md
  content/docs/install/macos.md
  content/docs/install/windows.md
  packages/gatsby-theme/src/components/Documentation/Markdown/components/index.tsx
  packages/gatsby-theme/src/components/Link/index.tsx
Due: prettier --write

consent(usercentrics): set ruleset-id
  gatsby-config.js
  plugins/gatsby-plugin-usercentrics/gatsby-ssr.js
Due: eslint --fix

consent(usercentrics): set ruleset-id (#5495)
  gatsby-config.js
  plugins/gatsby-plugin-usercentrics/gatsby-ssr.js
Due: eslint --fix

add Privacy Settings to the footer
  packages/gatsby-theme/src/components/LayoutFooter/index.tsx
Due: none

add Privacy Settings to the footer (#5496)
  packages/gatsby-theme/src/components/LayoutFooter/index.tsx
Due: none

Add Cypress tests
  .gitignore
  cypress.config.js
  cypress/e2e/sidebar.cy.js
  cypress/support/commands.js
  cypress/support/e2e.js
  eslint.config.mjs
  package.json
  packages/gatsby-theme/src/components/Documentation/Layout/SidebarMenu/Item/index.tsx
  packages/gatsby-theme/src/components/Documentation/Layout/SidebarMenu/index.tsx
  packages/gatsby-theme/src/components/Documentation/Layout/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Make mobile docs sidebar button aria label change when open/closed
  cypress/e2e/sidebar.cy.js
  cypress/support/commands.js
  packages/gatsby-theme/src/components/Documentation/Layout/index.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
