Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

sidebar: do not highlight links on hover
  src/Documentation/SidebarMenu/SidebarMenu.js
Due: eslint --fix

update yarn.lock
  yarn.lock
Due: none

cmd ref: update desc and args of get and import per iterative/dvc/pull/3214 and https://github.com/iterative/dvc.org/pull/931#pullrequestreview-345035823
  public/static/docs/command-reference/get.md
  public/static/docs/command-reference/import.md
Due: prettier --write

user-guide: quick reordering of "Structure of the project" in docs contrib guide per https://github.com/iterative/dvc.org/pull/935#pullrequestreview-346778448
  public/static/docs/user-guide/contributing/docs.md
Due: prettier --write

metrics: add #description to links to "metric" concept for later replacement when its moved to basic concepts
  public/static/docs/command-reference/metrics/add.md
  public/static/docs/command-reference/metrics/modify.md
  public/static/docs/command-reference/metrics/remove.md
  public/static/docs/command-reference/metrics/show.md
  public/static/docs/command-reference/pipeline/index.md
  public/static/docs/command-reference/pull.md
  public/static/docs/command-reference/push.md
  public/static/docs/get-started/compare-experiments.md
  public/static/docs/get-started/metrics.md
  public/static/docs/sidebar.json
  public/static/docs/tutorials/deep/define-ml-pipeline.md
  public/static/docs/tutorials/deep/reproducibility.md
  public/static/docs/tutorials/pipelines.md
  public/static/docs/tutorials/versioning.md
  public/static/docs/understanding-dvc/collaboration-issues.md
  public/static/docs/understanding-dvc/related-technologies.md
  public/static/docs/user-guide/dvc-file-format.md
Due: prettier --write

nav: revert wrong change in sidebar from prev commit
  public/static/docs/sidebar.json
Due: prettier --write

remote: mark links to "remote" concept for future basic-concepts guide
  public/static/docs/command-reference/checkout.md
  public/static/docs/command-reference/fetch.md
  public/static/docs/command-reference/gc.md
  public/static/docs/command-reference/get.md
  public/static/docs/command-reference/import-url.md
  public/static/docs/command-reference/import.md
  public/static/docs/command-reference/index.md
  public/static/docs/command-reference/install.md
  public/static/docs/command-reference/pull.md
  public/static/docs/command-reference/push.md
  public/static/docs/get-started/add-files.md
  public/static/docs/get-started/import-data.md
  public/static/docs/get-started/store-data.md
  public/static/docs/install/linux.md
  public/static/docs/install/macos.md
  public/static/docs/install/windows.md
  public/static/docs/tutorials/deep/sharing-data.md
  public/static/docs/tutorials/interactive.md
  public/static/docs/tutorials/pipelines.md
  public/static/docs/tutorials/versioning.md
  public/static/docs/understanding-dvc/related-technologies.md
  public/static/docs/use-cases/data-registries.md
  public/static/docs/use-cases/sharing-data-and-model-files.md
  public/static/docs/use-cases/versioning-data-and-model-files.md
Due: prettier --write

nav: add `metrics diff` to sidebar
  public/static/docs/command-reference/metrics/diff.md
  public/static/docs/sidebar.json
Due: prettier --write

cmd ref: typos in `metrics diff`
  public/static/docs/command-reference/metrics/diff.md
Due: prettier --write

Update add.ml - add note for Azure connection-string
  public/static/docs/command-reference/remote/add.md
Due: prettier --write

cmd ref: rewrite `metrics diff` ref and and review related concepts throughout docs e.g. "Git reference", "working tree"
  public/static/docs/command-reference/diff.md
  public/static/docs/command-reference/get.md
  public/static/docs/command-reference/import.md
  public/static/docs/command-reference/metrics/diff.md
  public/static/docs/command-reference/update.md
  public/static/docs/get-started/older-versions.md
  public/static/docs/glossary.js
  public/static/docs/install/pre-release.md
  public/static/docs/tutorials/versioning.md
  public/static/docs/use-cases/versioning-data-and-model-files.md
  public/static/docs/user-guide/dvc-file-format.md
Due: eslint --fix, prettier --write

Update add.md
  public/static/docs/command-reference/remote/add.md
Due: prettier --write

run format all
  public/static/docs/command-reference/remote/add.md
Due: prettier --write

cmd ref: update cmd argument descriptions for `diff` and `metics diff`
  public/static/docs/command-reference/diff.md
  public/static/docs/command-reference/metrics/diff.md
Due: prettier --write

Update modify.md
  public/static/docs/command-reference/remote/modify.md
Due: prettier --write

add privacy policy
  public/static/docs/sidebar.json
  public/static/docs/user-guide/privacy.md
Due: prettier --write

acknowledge authorship of the privacy policy doc
  public/static/docs/user-guide/privacy.md
Due: prettier --write

diff: update docs according to the new patch
  public/static/docs/command-reference/diff.md
Due: prettier --write

Privacy policy minor adjustments
  public/static/docs/user-guide/privacy.md
Due: prettier --write

add cache-control: no-cache
  server.js
Due: eslint --fix

server: refactor redirects so they're more declarative
  server.js
  src/redirects.js
Due: eslint --fix

refactor redirects to be more declarative
  server.js
  src/redirects.js
  src/redirects.json
Due: eslint --fix, prettier --write

Add mobile banner
  public/static/img/community/hero_desktop.png
  public/static/img/community/hero_mobile.jpg
  src/Community/Hero/index.js
  src/Community/data.json
Due: eslint --fix, prettier --write

Make all mobile section parts clickable
  src/Community/Section/index.js
Due: eslint --fix

Fix forum posts display on desktop
  src/Community/styles.js
Due: eslint --fix

Remove focus state from carousel dots
  src/Community/Carousel/styles.js
Due: eslint --fix

treat no-redirect case
  server.js
Due: eslint --fix

split matching into separate function
  server.js
Due: eslint --fix

Extend Privacy Policy with used Google scopes
  public/static/docs/user-guide/privacy.md
Due: prettier --write

Privacy Policy: mention drive.appdata scope.
  public/static/docs/user-guide/privacy.md
Due: prettier --write

Temporarily disable carousel
  src/Community/Carousel/index.js
Due: eslint --fix

metrics diff: big terminology review around the intro of this new command per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-348855380 et al.
  public/static/docs/command-reference/add.md
  public/static/docs/command-reference/diff.md
  public/static/docs/command-reference/fetch.md
  public/static/docs/command-reference/gc.md
  public/static/docs/command-reference/get.md
  public/static/docs/command-reference/import-url.md
  public/static/docs/command-reference/import.md
  public/static/docs/command-reference/install.md
  public/static/docs/command-reference/metrics/diff.md
  public/static/docs/command-reference/metrics/show.md
  public/static/docs/command-reference/pull.md
  public/static/docs/command-reference/push.md
  public/static/docs/command-reference/remote/modify.md
  public/static/docs/command-reference/status.md
  public/static/docs/get-started/experiments.md
  public/static/docs/get-started/import-data.md
  public/static/docs/tutorials/pipelines.md
  public/static/docs/tutorials/versioning.md
  public/static/docs/understanding-dvc/collaboration-issues.md
  public/static/docs/understanding-dvc/what-is-dvc.md
  public/static/docs/use-cases/data-registries.md
  public/static/docs/use-cases/versioning-data-and-model-files.md
  public/static/docs/user-guide/analytics.md
  public/static/docs/user-guide/contributing/core.md
  public/static/docs/user-guide/contributing/docs.md
  public/static/docs/user-guide/dvc-file-format.md
  public/static/docs/user-guide/external-dependencies.md
  public/static/docs/user-guide/managing-external-data.md
  public/static/docs/user-guide/running-dvc-on-windows.md
Due: prettier --write

term: review usage of "hash", "commit hash", "SHA", and "MD5" per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-348856746
  public/static/docs/changelog/0.18.md
  public/static/docs/command-reference/add.md
  public/static/docs/command-reference/checkout.md
  public/static/docs/command-reference/gc.md
  public/static/docs/command-reference/get.md
  public/static/docs/command-reference/import.md
  public/static/docs/command-reference/metrics/diff.md
  public/static/docs/command-reference/repro.md
  public/static/docs/command-reference/run.md
  public/static/docs/command-reference/update.md
  public/static/docs/command-reference/version.md
  public/static/docs/get-started/add-files.md
  public/static/docs/get-started/store-data.md
  public/static/docs/install/pre-release.md
  public/static/docs/tutorials/deep/define-ml-pipeline.md
  public/static/docs/tutorials/deep/reproducibility.md
  public/static/docs/tutorials/pipelines.md
  public/static/docs/tutorials/versioning.md
  public/static/docs/understanding-dvc/related-technologies.md
  public/static/docs/understanding-dvc/what-is-dvc.md
  public/static/docs/use-cases/versioning-data-and-model-files.md
  public/static/docs/user-guide/dvc-file-format.md
Due: prettier --write

Fix #955: Generate correct slug for titles with md
  src/Documentation/Markdown/Markdown.js
Due: eslint --fix

Add small visual fixes
  src/Community/Section/styles.js
  src/Community/data.json
Due: eslint --fix, prettier --write

push: add missing space
  public/static/docs/command-reference/push.md
Due: prettier --write

Fix mobile safari bug
  src/Community/styles.js
Due: eslint --fix

simplify and test declarative redirects
  .eslintrc.json
  server.js
  server.test.js
  src/redirects.json
Due: eslint --fix, prettier --write

Update desktop dropdown styles
  src/Nav/index.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
