Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

create -> run
  content/docs/start/experiments.md
Due: prettier --write

Rewrote non-default project options paragraph
  content/docs/start/experiments.md
Due: prettier --write

replaced `--include` `--exclude` with `--keep`, `--drop`. #3118
  content/docs/start/experiments.md
Due: prettier --write

removes "if you used dvc repro" hidden section for good
  content/docs/start/experiments.md
Due: prettier --write

removes "if you used dvc repro" hidden section for good (#3155)
  content/docs/start/experiments.md
Due: prettier --write

added 3 more questions
  content/blog/2022-01-31-january-22-community-gems.md
Due: prettier --write

replaced custom component with prism hook
  config/prismjs/dvc-hook.js
  config/prismjs/usage.js
  gatsby-config.js
  src/components/Code/index.tsx
  src/components/Documentation/Markdown/Main/styles.module.css
  src/components/Documentation/Markdown/index.tsx
Due: eslint --fix

added last 3 QAs
  content/blog/2022-01-31-january-22-community-gems.md
Due: prettier --write

Fix bug in WhatsNewModal * Check if blog image exists before adding GatsbyImage
  src/components/Home/WhatsNewModal/index.tsx
Due: none

exp init --model -> --models, fixes #3158
  content/docs/command-reference/exp/init.md
Due: prettier --write

exp init --model -> --models, fixes #3158 (#3159)
  content/docs/command-reference/exp/init.md
Due: prettier --write

Take off possible empty link
  src/components/Home/WhatsNewModal/index.tsx
Due: none

Add `WhatsNewModal` Image Check (#3157)
  src/components/Home/WhatsNewModal/index.tsx
Due: none

Test blog meta image path update
  package.json
  src/components/SEO/helper.ts
  src/gatsby/models/blog/createPages.js
  src/templates/blog-post.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Add console.log
  gatsby-config.js
Due: eslint --fix

Update siteUrl
  gatsby-config.js
Due: eslint --fix

Fix typo
  gatsby-config.js
Due: eslint --fix

generalized the arg regex
  config/prismjs/usage.js
Due: eslint --fix

updated command linker
  plugins/gatsby-remark-dvc-linker/commandLinker.js
Due: eslint --fix

reduced line for code climate fix
  plugins/gatsby-remark-dvc-linker/commandLinker.js
Due: eslint --fix

Return src/components to master
  src/components/Community/Learn/index.tsx
  src/components/Documentation/Layout/SidebarMenu/index.tsx
  src/components/Documentation/Layout/SidebarMenu/styles.module.css
  src/components/Documentation/Markdown/Main/index.tsx
  src/components/Documentation/Markdown/Main/styles.module.css
  src/components/Documentation/WithJSX/index.tsx
  src/components/Documentation/index.tsx
  src/components/HamburgerMenu/index.tsx
  src/components/Home/UseCases/Video/index.tsx
  src/components/Home/WhatsNewModal/index.tsx
  src/components/LayoutFooter/index.tsx
  src/components/LayoutHeader/Nav/LinkItems/index.tsx
  src/templates/doc-jsx.tsx
  src/templates/doc.tsx
  src/utils/shared/redirects.js
  src/utils/shared/sidebar.js
  src/utils/shared/sidebar.test.js
Due: eslint --fix

Add alias for local theme
  gatsby-node.js
  tsconfig.json
Due: eslint --fix, prettier --write

used same link icon source for consistency
  gatsby-config.js
  plugins/gatsby-remark-args-linker/index.js
  static/icons/index.js
Due: eslint --fix

Relink
  content/docs/command-reference/exp/show.md
  content/docs/user-guide/experiment-management/comparing-experiments.md
Due: prettier --write

Parallel coordinates plot (#3105)
  content/docs/command-reference/exp/show.md
  content/docs/user-guide/experiment-management/comparing-experiments.md
  static/img/pcp_interaction.gif
  static/img/ref_pcp_default.png
  static/img/ref_pcp_filter.png
  static/img/ref_pcp_sortby.png
Due: prettier --write

redirects: add man.dvc.org/completion
  redirects-list.json
Due: prettier --write

added a hidden section
  content/docs/start/experiments.md
Due: prettier --write

Restyled by prettier
  content/docs/start/experiments.md
Due: prettier --write

added data
  content/blog/2022-01-20-stale-models.md
Due: prettier --write

updated to refer to stage add instead of run
  content/docs/command-reference/remove.md
Due: prettier --write

reviewed gems for errors
  content/blog/2022-01-31-january-22-community-gems.md
Due: prettier --write

added placeholder image for build
  content/blog/2022-01-31-january-22-community-gems.md
Due: prettier --write

redirects: add man.dvc.org/completion (#3162)
  redirects-list.json
Due: prettier --write

added repo link and data drift tools
  content/blog/2022-01-20-stale-models.md
Due: prettier --write

added january events
  content/community.json
  static/img/community/events/conf42_python.jpg
  static/img/community/events/python_web_conf.jpg
Due: prettier --write

Apply suggestions from code review
  content/docs/dvclive/api-reference/sklearn.md
  content/docs/dvclive/ml-frameworks/sklearn.md
Due: prettier --write

Restyled by prettier
  content/docs/dvclive/api-reference/sklearn.md
  content/docs/dvclive/ml-frameworks/sklearn.md
Due: prettier --write

new img
  content/docs/dvclive/ml-frameworks/sklearn.md
  static/img/dvclive-sklearn.png
  static/img/sklearn-plots.png
Due: prettier --write

Remove introduction
  content/docs/dvclive/ml-frameworks/sklearn.md
Due: prettier --write

live: remove 3rd party intro
  content/docs/dvclive/ml-frameworks/catalyst.md
  content/docs/dvclive/ml-frameworks/fastai.md
  content/docs/dvclive/ml-frameworks/huggingface.md
  content/docs/dvclive/ml-frameworks/keras.md
  content/docs/dvclive/ml-frameworks/lightgbm.md
  content/docs/dvclive/ml-frameworks/mmcv.md
  content/docs/dvclive/ml-frameworks/pytorch-lightning.md
  content/docs/dvclive/ml-frameworks/pytorch.md
  content/docs/dvclive/ml-frameworks/tensorflow.md
  content/docs/dvclive/ml-frameworks/xgboost.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
