Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

updated env variables
  .env.example
  gatsby-config.js
  src/config/index.ts
  src/utils/algolia-queries.js
Due: eslint --fix

added search to blog
  package.json
  src/components/Blog/Home/index.tsx
  src/components/Blog/Search/SearchBox/index.tsx
  src/components/Blog/Search/SearchBox/styles.module.css
  src/components/Blog/Search/SearchResult/index.tsx
  src/components/Blog/Search/SearchResult/styles.module.css
  src/components/Blog/Search/index.tsx
  src/components/Blog/Search/styles.module.css
  src/gatsby/hooks/useClickOutside.tsx
  yarn.lock
Due: prettier --write

added `--names-only` description (#3195)
  content/docs/command-reference/exp/list.md
Due: prettier --write

Update add.md
  content/docs/command-reference/add.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/add.md
Due: prettier --write

Test postbuild script
  gatsby-node.js
Due: eslint --fix

started rewriting post
  content/blog/2022-01-20-stale-models.md
Due: prettier --write

updated an example
  content/blog/2022-01-31-january-22-community-gems.md
Due: prettier --write

updated UI for search results
  src/components/Blog/Search/SearchBox/styles.module.css
  src/components/Blog/Search/SearchResult/index.tsx
  src/components/Blog/Search/SearchResult/styles.module.css
  src/components/Blog/Search/index.tsx
  src/components/Blog/Search/styles.module.css
Due: none

dvclive copy edits
  content/docs/dvclive/api-reference/live/index.md
  content/docs/dvclive/api-reference/live/log.md
  content/docs/dvclive/dvclive-with-dvc.md
Due: prettier --write

dvclive copy edits (#3203)
  content/docs/dvclive/api-reference/live/index.md
  content/docs/dvclive/api-reference/live/log.md
  content/docs/dvclive/dvclive-with-dvc.md
Due: prettier --write

Remove unneeded changes
  .gitignore
  src/gatsby/models/blog/createPages.js
Due: eslint --fix

troubleshooting: add entry for pickle protocol errors
  content/docs/user-guide/troubleshooting.md
Due: prettier --write

replaced jimp with sharp
  gatsby-node.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

updated types
  src/components/Blog/Search/SearchBox/index.tsx
  src/components/Blog/Search/SearchResult/index.tsx
  src/gatsby/hooks/useClickOutside.tsx
Due: none

dvclive: Updates for implicit no step.
  content/docs/dvclive/api-reference/live/get_step.md
  content/docs/dvclive/api-reference/live/index.md
  content/docs/dvclive/api-reference/live/log.md
  content/docs/dvclive/api-reference/live/next_step.md
  content/docs/dvclive/api-reference/live/set_step.md
  content/docs/dvclive/dvclive-with-dvc.md
  content/docs/dvclive/get-started.md
Due: prettier --write

Apply suggestions from code review
  content/docs/dvclive/api-reference/live/log.md
Due: prettier --write

Update description
  content/docs/dvclive/get-started.md
  content/docs/dvclive/index.md
Due: prettier --write

remove no-step section
  content/docs/dvclive/get-started.md
Due: prettier --write

Add no step warning for summary and resume
  content/docs/dvclive/api-reference/live/index.md
Due: prettier --write

Add image and plots
  content/docs/dvclive/api-reference/live/log.md
  content/docs/dvclive/api-reference/live/log_image.md
  content/docs/dvclive/api-reference/live/log_plot.md
  content/docs/dvclive/dvclive-with-dvc.md
  content/docs/dvclive/get-started.md
  content/docs/sidebar.json
Due: prettier --write

Add plots
  content/docs/dvclive/api-reference/live/log.md
  content/docs/dvclive/api-reference/live/log_plot.md
  static/img/dvclive-calibration.png
  static/img/dvclive-confusion_matrix.png
  static/img/dvclive-det.png
  static/img/dvclive-precision_recall.png
  static/img/dvclive-roc.png
Due: prettier --write

Update index
  content/docs/dvclive/api-reference/live/index.md
  content/docs/dvclive/get-started.md
Due: prettier --write

exp show: add `--rev` flag exp show
  content/docs/command-reference/exp/show.md
Due: prettier --write

minified image
  static/img/community/events/python_web_conf.jpeg
Due: none

Added january events (#3167)
  content/community.json
  static/img/community/events/conf42_python.jpg
  static/img/community/events/python_web_conf.jpeg
  static/img/community/events/python_web_conf.jpg
Due: prettier --write

added image
  static/uploads/images/2022-01-31/jan-community-gems.png
Due: none

removed unnecessary dependency
  content/blog/2022-01-31-january-22-community-gems.md
Due: prettier --write

Update gatsby-node * delete unneeded comments * use constant for blog width
  gatsby-node.js
Due: eslint --fix

removed February office hours
  content/blog/2022-01-31-january-22-community-gems.md
Due: prettier --write

Clear lint-ts errors * give SEO component imageHeight and ImageWidth props
  src/components/Blog/Post/HeroPic/index.tsx
  src/components/Blog/Post/index.tsx
  src/components/SEO/helper.ts
  src/components/SEO/index.tsx
  src/templates/blog-post.tsx
Due: none

ref: clarify external-data-related options of add i.e. --external, --out, and --to-remote
  content/docs/command-reference/add.md
Due: prettier --write

ref: improve add --out example
  content/docs/command-reference/add.md
Due: prettier --write

ref: clarify add/import-url --to-remote examples
  content/docs/command-reference/add.md
  content/docs/command-reference/import-url.md
Due: prettier --write

ref: add/import-url --add option copy edits
  content/docs/command-reference/add.md
  content/docs/command-reference/import-url.md
Due: prettier --write

updated post with new flow
  content/blog/2022-01-27-stale-models.md
Due: prettier --write

Remove unused constants file
  plugins/gatsby-theme-iterative-docs/src/constants.ts
Due: none

Revert "Remove unused constants file"
  plugins/gatsby-theme-iterative-docs/src/constants.ts
Due: none
