Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Remove conclusion from init to see if docs example works
  .github/workflows/link-check-deploy-init.yml
Due: none

Add blank conclusion to test
  .github/workflows/link-check-deploy-init.yml
Due: none

Re-add conclusion with better description on deploy check initializer
  .github/workflows/link-check-deploy-init.yml
Due: none

Re-add failing link examples to test formatting
  content/blog/2020-08-27-august-20-community-gems.md
Due: prettier --write

s/open/read in dvc.api.read reference (#1759)
  content/docs/api-reference/read.md
Due: prettier --write

Remove test examples to get an example of a passing deploy run
  content/blog/2020-08-27-august-20-community-gems.md
Due: prettier --write

Add full check deployment run for testing again
  .github/workflows/link-check-all.yml
Due: none

Remove test deployment trigger
  .github/workflows/link-check-all.yml
Due: none

docs: fix diff mixed offset in start/data-pipelines.md
  content/docs/start/data-pipelines.md
Due: prettier --write

Remove UrlNotDvcRepoError from exc for dvc.api
  content/docs/api-reference/get_url.md
  content/docs/api-reference/open.md
  content/docs/api-reference/read.md
Due: prettier --write

Document that YAML files are expected to be in YAML1.2
  content/docs/command-reference/metrics/index.md
  content/docs/command-reference/params/index.md
  content/docs/command-reference/plots/index.md
  content/docs/user-guide/dvc-files-and-directories.md
Due: prettier --write

Update content/docs/user-guide/troubleshooting.md
  content/docs/user-guide/troubleshooting.md
Due: prettier --write

Restyled by prettier
  content/docs/user-guide/troubleshooting.md
Due: prettier --write

Update repo-link-check and use new YML config syntax
  config/link-check/config.json
  config/link-check/config.yml
  config/link-check/excluded-files.txt
  config/link-check/excluded-files.yml
  config/link-check/excluded-links.txt
  config/link-check/excluded-links.yml
  package.json
  yarn.lock
Due: prettier --write

Add more detail to check init and report script failure on Check
  .github/workflows/link-check-all.yml
  .github/workflows/link-check-deploy-init.yml
  .github/workflows/link-check-deploy.yml
Due: none

Removes stage file reference and replaces with metrics example.
  content/docs/install/completion.md
Due: prettier --write

Replaces 'metrics' with 'plots' to fix typo
  content/docs/install/completion.md
Due: prettier --write

Update http remote documentation
  content/docs/command-reference/remote/modify.md
Due: prettier --write

fix space before code block
  content/docs/command-reference/remote/modify.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/remote/modify.md
Due: prettier --write

Adds subcommands to example description.
  content/docs/install/completion.md
Due: prettier --write

Update content/docs/command-reference/remote/modify.md
  content/docs/command-reference/remote/modify.md
Due: prettier --write

Update http remote documentation (#1767)
  content/docs/command-reference/remote/modify.md
Due: prettier --write

describe the HTTP method config
  content/docs/command-reference/remote/modify.md
Due: prettier --write

prettify
  content/blog/2020-09-09-september-20-dvc-heartbeat.md
  static/uploads/images/2020-09-09/MLOps.png
  static/uploads/images/2020-09-09/Real_Python.png
  static/uploads/images/2020-09-09/docker_logo.png
  static/uploads/images/2020-09-09/fabiana.jpg
  static/uploads/images/2020-09-09/header.png
  static/uploads/images/2020-09-09/infoworld.png
  static/uploads/images/2020-09-09/podcast_log.png
  static/uploads/images/2020-09-09/sedaily.jpeg
  static/uploads/images/2020-09-09/singapore.jpg
Due: prettier --write

checkAction => checksAction
  .github/workflows/link-check-deploy.yml
Due: none

remove note, embed the note in the paragraph
  content/docs/command-reference/params/index.md
Due: prettier --write

review updates
  content/docs/command-reference/diff.md
Due: prettier --write

Moves plots example to commands. Restores and updates repro example.
  content/docs/install/completion.md
Due: prettier --write

Update the place where DAGs are stored.
  content/docs/command-reference/dag.md
Due: prettier --write

Handle non-JSON non-ok responses from CloudFlare cache clear
  scripts/clear-cloudflare-cache.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
