Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Change external link component choice to an if statement.
  src/components/Documentation/Layout/SidebarMenu/index.tsx
Due: none

Updates mribeirodantas' blog post URL (#1274)
  content/blog/2020-05-08-dvc-ambassador-program.md.md
Due: prettier --write

Make sidebar "type" type field optional
  src/components/Documentation/Layout/SidebarMenu/index.tsx
Due: none

Add an external link icon ID to the changelog sidebar item
  src/components/Documentation/Layout/SidebarMenu/index.tsx
Due: none

Use SVGR for sidebar external icon
  src/components/Documentation/Layout/SidebarMenu/index.tsx
Due: none

Let findChildWithSource accept external links
  src/utils/shared/sidebar.js
Due: eslint --fix

Remove old changelog pages
  content/docs/changelog/0.18.md
  content/docs/changelog/0.35.md
Due: prettier --write

Update content/docs/command-reference/update.md
  content/docs/command-reference/update.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/update.md
Due: prettier --write

Change sidebar external icon link to match font color.
  src/components/Documentation/Layout/SidebarMenu/index.tsx
  static/img/external-link-minimal.svg
Due: none

Change external link url to be under `url` key
  content/docs/sidebar.json
  src/utils/shared/sidebar.js
Due: eslint --fix, prettier --write

term: review language around word "should" to sound less authoritative
  content/docs/command-reference/import-url.md
  content/docs/command-reference/install.md
  content/docs/command-reference/metrics/add.md
  content/docs/command-reference/metrics/modify.md
  content/docs/command-reference/metrics/remove.md
  content/docs/command-reference/params/diff.md
  content/docs/command-reference/params/index.md
  content/docs/command-reference/push.md
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/repro.md
  content/docs/command-reference/run.md
  content/docs/command-reference/status.md
  content/docs/tutorials/deep/define-ml-pipeline.md
  content/docs/tutorials/deep/index.md
  content/docs/tutorials/deep/reproducibility.md
  content/docs/tutorials/get-started/configure.md
  content/docs/tutorials/pipelines.md
  content/docs/tutorials/versioning.md
  content/docs/understanding-dvc/existing-tools.md
  content/docs/understanding-dvc/related-technologies.md
  content/docs/understanding-dvc/what-is-dvc.md
  content/docs/use-cases/data-registries.md
  content/docs/use-cases/sharing-data-and-model-files.md
  content/docs/use-cases/versioning-data-and-model-files.md
  content/docs/user-guide/api-reference/get_url.md
  content/docs/user-guide/contributing/blog.md
  content/docs/user-guide/contributing/core.md
  content/docs/user-guide/contributing/docs.md
  content/docs/user-guide/dvc-file-format.md
  content/docs/user-guide/dvcignore.md
  content/docs/user-guide/setup-google-drive-remote.md
  content/docs/user-guide/updating-tracked-files.md
Due: prettier --write

Add `target="_blank"` on externals by default.
  src/components/Link/index.tsx
Due: none

Fix tests for new temporary sidebar logic
  src/utils/shared/sidebar.test.js
Due: eslint --fix

term: review authoritative language usage, et al.
  content/docs/command-reference/checkout.md
  content/docs/command-reference/fetch.md
  content/docs/command-reference/get.md
  content/docs/command-reference/import-url.md
  content/docs/command-reference/metrics/add.md
  content/docs/command-reference/metrics/modify.md
  content/docs/command-reference/metrics/remove.md
  content/docs/command-reference/metrics/show.md
  content/docs/tutorials/deep/define-ml-pipeline.md
  content/docs/tutorials/deep/index.md
  content/docs/tutorials/versioning.md
  content/docs/understanding-dvc/collaboration-issues.md
  content/docs/use-cases/data-registries.md
  content/docs/user-guide/contributing/docs.md
Due: prettier --write

Move new icon to same dir as sidebar menu component
  src/components/Documentation/Layout/SidebarMenu/external-link-icon.svg
  src/components/Documentation/Layout/SidebarMenu/index.tsx
Due: none

Add external doc sidebar links and replace "Changelog" with one. (#1273)
  content/docs/changelog/0.18.md
  content/docs/changelog/0.35.md
  content/docs/sidebar.json
  src/components/Community/data.json
  src/components/Documentation/Layout/SidebarMenu/external-link-icon.svg
  src/components/Documentation/Layout/SidebarMenu/index.tsx
  src/components/Link/index.tsx
  src/utils/shared/sidebar.js
  src/utils/shared/sidebar.test.js
Due: eslint --fix, prettier --write

term: review usage of "entry", exp. around cache topic
  content/docs/command-reference/add.md
  content/docs/command-reference/checkout.md
  content/docs/command-reference/commit.md
  content/docs/command-reference/push.md
  content/docs/command-reference/status.md
  content/docs/user-guide/dvc-files-and-directories.md
Due: prettier --write

cmd ref: full revision of plot refs and misc. related fixes and improvements
  config/prismjs/dvc-commands.js
  content/blog/2017-07-24-r-code-and-reproducible-model-development-with-dvc.md
  content/blog/2019-09-26-september-19-dvc-heartbeat.md
  content/docs/command-reference/plot/diff.md
  content/docs/command-reference/plot/index.md
  content/docs/command-reference/plot/show.md
  content/docs/command-reference/run.md
  content/docs/command-reference/version.md
  content/docs/use-cases/data-registries.md
  content/docs/use-cases/versioning-data-and-model-files.md
  content/docs/user-guide/contributing/blog.md
  static/img/plot_diff.svg
  static/img/plot_show_json.svg
  static/img/plot_show_json_field.svg
Due: eslint --fix, prettier --write

cmd ref: avoid term "revision" in plot diff, et al.
  content/docs/command-reference/plot/diff.md
  content/docs/command-reference/plot/index.md
  content/docs/user-guide/contributing/blog.md
Due: prettier --write

install dev version: add instruction on how to install extras
  content/docs/install/pre-release.md
Due: prettier --write

doc: show-md on params/metrics diff, shows diff in markdown table format
  content/docs/command-reference/diff.md
  content/docs/command-reference/metrics/diff.md
  content/docs/command-reference/params/diff.md
Due: prettier --write

Skip rendering events if none are in the future.
  src/components/Community/Events/index.tsx
Due: none

k
  content/authors/marcel_rd.md
  content/blog/2020-05-08-dvc-ambassador-program.md.md
Due: prettier --write

Add moment.js to dependencies and run yarn upgrade
  package.json
  yarn.lock
Due: prettier --write

minor: fix markup in pre-release install md
  content/docs/install/pre-release.md
Due: prettier --write

Documenting sse_kms_key_id remote S3 parameter.
  content/docs/command-reference/remote/modify.md
Due: prettier --write

Grammatical tweak.
  content/docs/command-reference/remote/modify.md
Due: prettier --write

Add support for community page expiration dates
  src/components/Community/Events/index.tsx
  src/components/Community/Hero/index.tsx
  src/utils/shared/expiration.js
Due: eslint --fix

Add an expiration date to the current Hero data
  src/components/Community/data.json
Due: prettier --write

dmitry comment revisions
  content/blog/2020-05-08-dvc-ambassador-program-announcement.md
Due: prettier --write

Update 2020-05-08-dvc-ambassador-program-announcement.md
  content/blog/2020-05-08-dvc-ambassador-program-announcement.md
Due: prettier --write

new header
  src/components/Community/data.json
  static/img/community/header_mailing_list.png
  static/img/community/mobile_header_mailing_list.png
Due: prettier --write

dvc remote modify: minor term fix
  content/docs/command-reference/remote/modify.md
Due: prettier --write

Add documentation for remote s3 sse_kms_key_id parameter (#1280)
  content/docs/command-reference/remote/modify.md
Due: prettier --write

minor: update image title
  content/blog/2020-05-08-dvc-ambassador-program-announcement.md
Due: prettier --write

ambassador blog draft (#1269)
  content/authors/marcel_rd.md
  content/blog/2020-05-08-dvc-ambassador-program-announcement.md
  static/uploads/avatars/marcel.jpg
  static/uploads/images/2020-05-08/Ambassador_Header.png
Due: prettier --write

Create Community/Events and JsonFile models
  content/community.json
  src/components/Community/Contribute/index.tsx
  src/components/Community/Events/index.tsx
  src/components/Community/Hero/index.tsx
  src/components/Community/Learn/index.tsx
  src/components/Community/Meet/index.tsx
  src/gatsby/models.js
  src/gatsby/models/community/index.js
  src/gatsby/models/json-files/index.js
  src/utils/shared/expiration.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
