Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

api: better formatting, added links, and examples per https://github.com/iterative/dvc.org/issues/463#issuecomment-515917973
  public/static/docs/api-reference/get_url.md
  public/static/docs/api-reference/index.md
  public/static/docs/api-reference/open.md
  public/static/docs/api-reference/read.md
  public/static/docs/api-reference/summon.md
Due: prettier --write

api ref: reorder pages, refine descriptions and options, add examples
  public/static/docs/api-reference/get_url.md
  public/static/docs/api-reference/open.md
  public/static/docs/api-reference/read.md
  public/static/docs/api-reference/summon.md
  public/static/docs/sidebar.json
Due: prettier --write

api: note that env mgr install is required per https://github.com/iterative/dvc.org/pull/908#pullrequestreview-340279299
  public/static/docs/api-reference/index.md
Due: prettier --write

api ref: typo in index
  public/static/docs/api-reference/index.md
Due: prettier --write

fix #909: strip query from path along with hash
  pages/doc.js
Due: eslint --fix

web: simplify query and hash removal from path for docs engine per https://github.com/iterative/dvc.org/commit/06f1071debbc296175d815d4371e88e1ceb7c43a#commitcomment-36732551
  pages/doc.js
Due: eslint --fix

cmd ref: improve `path` description in get and import
  public/static/docs/command-reference/get.md
  public/static/docs/command-reference/import.md
Due: prettier --write

api: improve path/name and repo param descriptions
  public/static/docs/api-reference/get_url.md
  public/static/docs/api-reference/open.md
  public/static/docs/api-reference/read.md
  public/static/docs/api-reference/summon.md
Due: prettier --write

api: improve `repo` param desc
  public/static/docs/api-reference/get_url.md
  public/static/docs/api-reference/open.md
  public/static/docs/api-reference/read.md
  public/static/docs/api-reference/summon.md
Due: prettier --write

api: add assumed defaults to all params in all functions
  public/static/docs/api-reference/get_url.md
  public/static/docs/api-reference/open.md
  public/static/docs/api-reference/read.md
  public/static/docs/api-reference/summon.md
Due: prettier --write

api: oops, forgot about `repo` param's default :B
  public/static/docs/api-reference/open.md
  public/static/docs/api-reference/read.md
  public/static/docs/api-reference/summon.md
Due: prettier --write

api: comlpete get_url desc and real life example per https://github.com/iterative/dvc.org/pull/908#pullrequestreview-340297527
  public/static/docs/api-reference/get_url.md
  public/static/docs/api-reference/open.md
  public/static/docs/api-reference/read.md
Due: prettier --write

DOC: reflect the fact that get allows for non-DVC repositories
  public/static/docs/command-reference/get.md
  public/static/docs/get-started/add-files.md
  public/static/docs/tutorials/pipelines.md
  public/static/docs/tutorials/versioning.md
  public/static/docs/use-cases/data-registries.md
Due: prettier --write

tooltip: do not use a div container for tooltips
  src/Tooltip/index.js
  src/styles.js
Due: eslint --fix

user-guide: add HTTP redirect from err.dvc.org/{header} to troubleshooting guide header per https://github.com/iterative/dvc.org/pull/875#issuecomment-573035112
  server.js
Due: eslint --fix

user-guide: move troubleshooting guide to correct location
  public/static/docs/user-guide/troubleshooting.md
Due: prettier --write

user-guide: force header id in troubleshooting guide per https://github.com/iterative/dvc.org/pull/875#discussion_r365360659
  public/static/docs/user-guide/troubleshooting.md
Due: prettier --write

use-cases: link from data-registries to api ref
  public/static/docs/use-cases/data-registries.md
Due: prettier --write

doc: add some basic links between API and cmd refs
  public/static/docs/api-reference/open.md
  public/static/docs/api-reference/read.md
  public/static/docs/command-reference/get.md
  public/static/docs/command-reference/import.md
Due: prettier --write

api: better desc. and example explanation in get_url
  public/static/docs/api-reference/get_url.md
  public/static/docs/api-reference/open.md
Due: prettier --write

api: improve index desc (again?)
  public/static/docs/api-reference/index.md
Due: prettier --write

gdrive: Shared drives support
  public/static/docs/command-reference/remote/add.md
Due: prettier --write

api: update get_url example to use iterative/dataset-registry repo
  public/static/docs/api-reference/get_url.md
Due: prettier --write

docs: remove all H4s and other improvements near the changed text per https://github.com/iterative/dvc.org/pull/914#pullrequestreview-341551048
  public/static/docs/command-reference/remote/add.md
  public/static/docs/command-reference/version.md
Due: prettier --write

api: complete base examples for get_url, open, and read (they may need confirmation)
  public/static/docs/api-reference/get_url.md
  public/static/docs/api-reference/open.md
  public/static/docs/api-reference/read.md
  public/static/docs/api-reference/summon.md
Due: prettier --write

doc: capitalize all examples
  public/static/docs/command-reference/import.md
  public/static/docs/command-reference/remote/index.md
  public/static/docs/user-guide/external-dependencies.md
Due: prettier --write

remote: improve index examples per https://github.com/iterative/dvc.org/pull/902#issuecomment-573446787
  public/static/docs/command-reference/remote/index.md
Due: prettier --write

Add note about --default in remote index example
  public/static/docs/command-reference/remote/index.md
Due: prettier --write

update usage
  public/static/docs/command-reference/get.md
  public/static/docs/command-reference/import.md
Due: prettier --write

server: rename err to error
  server.js
Due: eslint --fix

update command reference for `dvc get`
  public/static/docs/command-reference/import.md
  public/static/docs/glossary.js
  public/static/docs/use-cases/data-registries.md
  public/static/docs/user-guide/external-dependencies.md
Due: eslint --fix, prettier --write

user-guide: remove unnecessary note from core contrib guide
  public/static/docs/user-guide/contributing/core.md
Due: prettier --write

cmd ref: review language around term "effect" (conditional applicability of options)
  public/static/docs/command-reference/add.md
  public/static/docs/command-reference/checkout.md
  public/static/docs/command-reference/commit.md
  public/static/docs/command-reference/config.md
  public/static/docs/command-reference/fetch.md
  public/static/docs/command-reference/get.md
  public/static/docs/command-reference/import.md
  public/static/docs/command-reference/metrics/show.md
  public/static/docs/command-reference/pull.md
  public/static/docs/command-reference/push.md
  public/static/docs/command-reference/repro.md
  public/static/docs/command-reference/run.md
  public/static/docs/command-reference/status.md
Due: prettier --write

address PR comments
  public/static/docs/command-reference/get.md
  public/static/docs/command-reference/import.md
  public/static/docs/get-started/add-files.md
  public/static/docs/glossary.js
  public/static/docs/tutorials/pipelines.md
  public/static/docs/tutorials/versioning.md
  public/static/docs/use-cases/data-registries.md
  public/static/docs/user-guide/external-dependencies.md
Due: eslint --fix, prettier --write

server: remove man.dvc.org redirect path replace exceptions per https://github.com/iterative/dvc.org/pull/875#discussion_r366049988
  server.js
Due: eslint --fix

install: add notes about installing as a Python lib per https://github.com/iterative/dvc.org/issues/919#issue-549227438
  public/static/docs/api-reference/index.md
  public/static/docs/install/index.md
  public/static/docs/install/linux.md
  public/static/docs/install/macos.md
  public/static/docs/install/windows.md
Due: prettier --write

user-guide: recommend Cmder for Windows terminal alt. per https://github.com/iterative/dvc.org/issues/698#issuecomment-558260295
  public/static/docs/user-guide/running-dvc-on-windows.md
Due: prettier --write

server: no need to replace - for / in man. redirect per https://github.com/iterative/dvc.org/commit/44fe4263e4f9eb0568118fd82d584e1604b5fad0#r36784752
  server.js
Due: eslint --fix

Update public/static/docs/command-reference/get.md
  public/static/docs/command-reference/get.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
