Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Add sentry
  next.config.js
  package.json
  pages/_app.js
  pages/_document.js
  yarn.lock
Due: eslint --fix, prettier --write

Fix bug woth bottom pading on tablet in Communuty
  src/components/Community/index.js
  src/components/Community/styles.js
Due: eslint --fix

Add triangle to dropdown menu
  public/static/img/community/triangle.png
  src/components/Nav/index.js
  src/components/Nav/styles.js
Due: eslint --fix

Revert "Add sentry"
  next.config.js
  package.json
  pages/_app.js
  pages/_document.js
  yarn.lock
Due: eslint --fix, prettier --write

api: correct exception path in get_url per https://github.com/iterative/dvc.org/pull/908#pullrequestreview-345730018
  public/static/docs/api-reference/get_url.md
Due: prettier --write

api: improve last open() example per https://github.com/iterative/dvc.org/pull/908#discussion_r369594771
  public/static/docs/api-reference/open.md
Due: prettier --write

api: std use of single vs double quotes and add mode='rb' in read() example per https://github.com/iterative/dvc.org/pull/908#discussion_r369597979
  public/static/docs/api-reference/open.md
  public/static/docs/api-reference/read.md
Due: prettier --write

api: update index and install section per Ivan's feedback in #908
  public/static/docs/api-reference/index.md
  public/static/docs/install/index.md
Due: prettier --write

api ref: rewrite get_url intro per https://github.com/iterative/dvc.org/pull/908#pullrequestreview-348442281
  public/static/docs/api-reference/get_url.md
  public/static/docs/command-reference/get.md
  public/static/docs/command-reference/import.md
Due: prettier --write

api ref: simplify note about get_url not checking for file/dir existence per https://github.com/iterative/dvc.org/pull/908#pullrequestreview-348442808
  public/static/docs/api-reference/get_url.md
Due: prettier --write

api ref: update note about directory JSON .dir files in get_url per https://github.com/iterative/dvc.org/pull/908#pullrequestreview-348443386
  public/static/docs/api-reference/get_url.md
Due: prettier --write

cmd ref: don't use link to git reference doc per https://github.com/iterative/dvc.org/pull/933#discussion_r373753614
  public/static/docs/command-reference/metrics/diff.md
  public/static/docs/command-reference/update.md
Due: prettier --write

cmd ref: don't use term "revision" in diff, prefer "commit" per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-351862100
  public/static/docs/command-reference/diff.md
Due: prettier --write

cmd ref: no need for word "specific" (or "SHA") in get/import per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-351862174
  public/static/docs/command-reference/get.md
  public/static/docs/command-reference/import.md
Due: prettier --write

cmd ref: update "project"->"workspace" term and example intros in `dvc install` per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-351862271
  public/static/docs/command-reference/install.md
Due: prettier --write

docs: 2 misc updates per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-351862315 and https://github.com/iterative/dvc.org/pull/933#pullrequestreview-351862377
  public/static/docs/understanding-dvc/what-is-dvc.md
  public/static/docs/user-guide/analytics.md
Due: prettier --write

tutorials: update model->"data or model" per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-351862439 et al.
  public/static/docs/tutorials/versioning.md
Due: prettier --write

get-started: typo in pipelines chapter
  public/static/docs/get-started/pipeline.md
Due: prettier --write

cmd ref: rewrite paragraph about fixed revision import stages in `update` per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-351862953
  public/static/docs/command-reference/update.md
Due: prettier --write

cmd ref: rewrite p about `repro` rewriting artifacts in cache per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-351863154
  public/static/docs/command-reference/repro.md
Due: prettier --write

cmd ref: rephrase and split p about what to compare and about targets in `status` per https://github.com/iterative/dvc.org/pull/933#pullrequestreview-353489318
  public/static/docs/command-reference/status.md
Due: prettier --write

Add subjects to mail links
  src/components/Community/Contribute/index.js
Due: eslint --fix

Revert "Revert "Add sentry""
  next.config.js
  package.json
  pages/_app.js
  pages/_document.js
  yarn.lock
Due: eslint --fix, prettier --write

Move sourcemaps to dependencies
  package.json
Due: prettier --write

remote: update Google API privacy policy (gdrive) per https://github.com/iterative/dvc.org/pull/954/files#r377220244
  public/static/docs/user-guide/privacy.md
Due: prettier --write

term: change DVC app for DVC GCP Project in gdrive privacy policy per https://github.com/iterative/dvc.org/pull/987#discussion_r377378741
  public/static/docs/user-guide/privacy.md
Due: prettier --write

remote: change DVC Project->DVC Application per https://github.com/iterative/dvc.org/pull/987#discussion_r377395118
  public/static/docs/user-guide/privacy.md
Due: prettier --write

remote: rename nav and title for gdrive privacy policy
  public/static/docs/sidebar.json
  public/static/docs/user-guide/privacy.md
Due: prettier --write

remote: link to gdrive privacy policy from a few places per https://github.com/iterative/dvc.org/commit/45e93dc6663031427aa4314f9059d888f127832c#r37220402
  public/static/docs/command-reference/remote/add.md
  public/static/docs/command-reference/remote/modify.md
  public/static/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

Revert issues sorting order
  pages/api/github.js
Due: eslint --fix

Open mail links in the new window
  src/components/Community/Contribute/index.js
Due: eslint --fix

Set correct icon to mail in mobile menu
  src/components/HamburgerMenu/index.js
Due: eslint --fix

Fix not working links in top menu
  src/components/HamburgerMenu/styles.js
Due: eslint --fix

update hero banners
  public/static/img/community/banner-mobile.png
  public/static/img/community/banner.png
  public/static/img/community/banner_feb20.png
  public/static/img/community/banner_mobile_feb20.png
  public/static/img/community/hero_desktop.png
  public/static/img/community/hero_mobile.jpg
  src/components/Community/data.json
Due: prettier --write

Fix item collapse in mobile safari
  package.json
  src/components/Community/Section/index.js
  src/components/Community/Section/styles.js
  src/components/Community/styles.js
  src/components/HamburgerMenu/index.js
  src/components/TextCollapse/index.js
  src/components/TextCollapse/styles.js
  yarn.lock
Due: eslint --fix, prettier --write

Fix couple of visual bugs
  src/components/Community/Section/styles.js
  src/components/HamburgerMenu/styles.js
Due: eslint --fix

Refactor Community page in line with other pages
  pages/community.js
  src/components/Community/index.js
Due: eslint --fix

Change blog api error status to 502
  pages/api/blog.js
Due: eslint --fix

Rename BareButton to CommunityButton
  src/components/Community/Button/index.js
Due: eslint --fix

cmd ref: reorg last part of repro desc
  public/static/docs/command-reference/repro.md
Due: prettier --write
