Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Described show/hide commits and moved pages related to views inside the views menu
  content/docs/sidebar.json
  content/docs/studio/troubleshooting.md
  content/docs/studio/user-guide/explore-experiments.md
  content/docs/studio/user-guide/views/explore-experiments.md
  content/docs/studio/user-guide/views/run-experiments.md
  content/docs/studio/user-guide/views/view-settings.md
  content/docs/studio/user-guide/views/visualize-experiments.md
  redirects-list.json
Due: prettier --write

ref: better explain exp apply behavior explicitly rel. https://github.com/iterative/dvc.org/pull/3080#discussion_r769709333
  content/docs/command-reference/exp/apply.md
Due: prettier --write

ref: exp apply destroys any canges per https://github.com/iterative/dvc.org/pull/3080#discussion_r772903011
  content/docs/command-reference/exp/apply.md
Due: prettier --write

ref: clarify that exp branch makes 1+ commits in the exp branch rel. https://github.com/iterative/dvc.org/pull/3080#discussion_r769714007
  content/docs/command-reference/exp/branch.md
Due: prettier --write

ref: simplify exp init --explicit explanation
  content/docs/command-reference/exp/init.md
Due: prettier --write

ref: explain why params.yaml are required (by default) in exp init per https://github.com/iterative/dvc.org/pull/3071#discussion_r769810080
  content/docs/command-reference/exp/init.md
Due: prettier --write

ref: copy edits to exp init
  content/docs/command-reference/exp/init.md
Due: prettier --write

ref: add simple example to exp init rel. https://github.com/iterative/dvc.org/pull/3071#issuecomment-995393831
  content/docs/command-reference/exp/init.md
Due: prettier --write

Update landing page (#3115)
  src/components/Home/LandingHero/index.tsx
  src/components/Home/WhatsNewModal/index.tsx
Due: none

addressed more feedback
  content/blog/2021-12-21-December-21-community-gems.md
  static/uploads/images/2021-12-21/dec-community-gems.png
Due: prettier --write

fixed text
  content/blog/2021-12-21-December-21-community-gems.md
Due: prettier --write

December community gems (#3058)
  content/blog/2021-12-21-December-21-community-gems.md
  static/uploads/images/2021-12-21/dec-community-gems.png
Due: prettier --write

Replace Google Analytics with Plausible
  gatsby-config.js
  gatsby-ssr.js
  package.json
  src/components/Community/Contribute/index.tsx
  src/components/Community/Events/index.tsx
  src/components/Community/Hero/index.tsx
  src/components/Community/Learn/index.tsx
  src/components/Community/Meet/index.tsx
  src/components/DownloadButton/index.tsx
  src/components/HamburgerMenu/index.tsx
  src/components/Home/LandingHero/index.tsx
  src/components/Home/LearnMore/index.tsx
  src/components/Home/UseCases/Video/index.tsx
  src/components/Home/index.tsx
  src/components/LayoutHeader/Nav/LinkItems/index.tsx
  src/components/LayoutHeader/Nav/Popup/index.tsx
  src/components/LayoutHeader/Nav/index.tsx
  src/components/Page/DefaultSEO/index.tsx
  src/components/SubscribeSection/Form/index.tsx
  src/utils/front/ga.ts
  src/utils/front/plausible.ts
  yarn.lock
Due: eslint --fix, prettier --write

Add outbound link analytics
  src/components/Page/DefaultSEO/index.tsx
Due: none

Updated with single regex
  content/docs/command-reference/exp/show.md
Due: prettier --write

Edit
  content/docs/command-reference/exp/show.md
Due: prettier --write

ref: copy edits around plots output info
  content/docs/command-reference/plots/diff.md
  content/docs/command-reference/plots/show.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/plots/show.md
Due: prettier --write

Replace Google Analytics with Plausible (#3117)
  gatsby-config.js
  gatsby-ssr.js
  package.json
  src/components/Community/Contribute/index.tsx
  src/components/Community/Events/index.tsx
  src/components/Community/Hero/index.tsx
  src/components/Community/Learn/index.tsx
  src/components/Community/Meet/index.tsx
  src/components/DownloadButton/index.tsx
  src/components/HamburgerMenu/index.tsx
  src/components/Home/LandingHero/index.tsx
  src/components/Home/LearnMore/index.tsx
  src/components/Home/UseCases/Video/index.tsx
  src/components/Home/index.tsx
  src/components/LayoutHeader/Nav/LinkItems/index.tsx
  src/components/LayoutHeader/Nav/Popup/index.tsx
  src/components/LayoutHeader/Nav/index.tsx
  src/components/Page/DefaultSEO/index.tsx
  src/components/SubscribeSection/Form/index.tsx
  src/utils/front/ga.ts
  src/utils/front/plausible.ts
  yarn.lock
Due: eslint --fix, prettier --write

Update content/docs/command-reference/plots/show.md
  content/docs/command-reference/plots/show.md
Due: prettier --write

Update `dvc plots` output. (#3110)
  content/docs/command-reference/plots/diff.md
  content/docs/command-reference/plots/index.md
  content/docs/command-reference/plots/show.md
Due: prettier --write

Add safeQuerySelector function
  src/components/Link/index.tsx
  src/components/Page/utils.ts
  src/utils/front/safeQuerySelector.ts
Due: none

Fix tables
  content/docs/command-reference/exp/show.md
Due: prettier --write

Fix site crashing with certain anchor links (#3107)
  src/components/Link/index.tsx
  src/components/Page/utils.ts
  src/utils/front/safeQuerySelector.ts
Due: none

Update content/docs/command-reference/exp/show.md
  content/docs/command-reference/exp/show.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/exp/show.md
Due: prettier --write

guide: simplify Sharing Exps intro per https://github.com/iterative/dvc.org/pull/2908#pullrequestreview-835727834
  content/docs/user-guide/experiment-management/sharing-experiments.md
Due: prettier --write

guide: add exp pull to diagram in Sharing Exps per https://github.com/iterative/dvc.org/pull/2908#issuecomment-997117821
  content/docs/user-guide/experiment-management/sharing-experiments.md
Due: prettier --write

Update content/docs/sidebar.json
  content/docs/sidebar.json
Due: prettier --write

Update content/docs/studio/troubleshooting.md
  content/docs/studio/troubleshooting.md
Due: prettier --write

Update related-technologies.md
  content/docs/user-guide/related-technologies.md
Due: prettier --write

Restyled by prettier
  content/docs/user-guide/related-technologies.md
Due: prettier --write

Improve analytics * stop window.plausible from receiving a falsy value props
  src/utils/front/plausible.ts
Due: none

Update analytics 'Download Button' props * change ... to unknown
  src/components/DownloadButton/index.tsx
Due: none

Delete console.log in DownloadButton
  src/components/DownloadButton/index.tsx
Due: none

Apply suggestions from code review
  content/docs/command-reference/exp/show.md
Due: prettier --write

Mention Studio in related-technologies.md (#3121)
  content/docs/user-guide/related-technologies.md
Due: prettier --write

Update with `--drop`
  content/docs/start/experiments.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
