Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Include scrapped content from part 1 as commented out
  content/blog/2022-04-15-training-and-saving-models-on-a-dedicated-runner-part-2.md
Due: prettier --write

Fix URL validation errors
  content/blog/2022-03-31-training-and-saving-models-on-a-dedicated-runner.md
Due: prettier --write

added content about stages
  content/docs/user-guide/pipelines/index.md
Due: prettier --write

Restyled by prettier
  content/docs/user-guide/pipelines/index.md
Due: prettier --write

dvc 2.10.1
  src/components/DownloadButton/index.tsx
Due: none

M
  content/blog/2022-03-31-stale-models.md
Due: prettier --write

Restyled by prettier
  content/blog/2022-03-31-stale-models.md
Due: prettier --write

reformatting
  content/blog/2022-03-31-stale-models.md
Due: prettier --write

Minor edit suggestions for stale models blog (#3420)
  content/blog/2022-03-31-stale-models.md
Due: prettier --write

Update time
  .github/workflows/link-check-all-lychee.yaml
Due: none

Add deployment action
  .github/workflows/link-check-deploy-lychee.yaml
Due: none

see github context in file
  .github/workflows/link-check-deploy-lychee.yaml
Due: none

Add pull_request event
  .github/workflows/link-check-deploy-lychee.yaml
Due: none

Test on list
  .github/workflows/link-check-deploy-lychee.yaml
Due: none

Update naming
  .github/workflows/link-check-all-lychee.yaml
Due: none

Fix typos
  .github/workflows/link-check-all-lychee.yaml
  .github/workflows/link-check-deploy-lychee.yaml
Due: none

Fix typo
  .github/workflows/link-check-deploy-lychee.yaml
Due: none

cases: update Mod Reg benefits and remove everything else (for now)
  content/docs/use-cases/ml-model-registries.md
Due: prettier --write

cases: Add (update) Mod Reg first section (DVC) and and benefits list
  content/docs/use-cases/ml-model-registries.md
Due: prettier --write

cases: improve 3rd DVC-related paragraph in Mod Regs
  content/docs/use-cases/ml-model-registries.md
Due: prettier --write

Update theme package
  package.json
  yarn.lock
Due: prettier --write

Add stylelint ignore for `a` and `color-mod` functions
  .stylelintrc
Due: none

Minor fixes
  content/docs/command-reference/import.md
Due: prettier --write

Added Studio docs for email sign up and custom Gitlab server support
  content/docs/sidebar.json
  content/docs/studio/get-started.md
  content/docs/studio/user-guide/account-management.md
  content/docs/studio/user-guide/connect-custom-gitlab-server.md
  content/docs/studio/user-guide/index.md
  content/docs/studio/user-guide/teams.md
  content/docs/studio/user-guide/views/create-view.md
Due: prettier --write

Continue adding Studio docs for email sign up and custom Gitlab server support
  content/docs/studio/get-started.md
  content/docs/studio/user-guide/account-management.md
  content/docs/studio/user-guide/connect-custom-gitlab-server.md
  content/docs/studio/user-guide/teams.md
  content/docs/studio/user-guide/views/create-view.md
Due: prettier --write

add admon
  content/docs/command-reference/import.md
Due: prettier --write

Minor fixes (#3422)
  content/docs/command-reference/import.md
Due: prettier --write

added proxy for plausible
  src/server/index.js
  src/server/middleware/api/index.js
  src/server/middleware/api/plausible.js
Due: eslint --fix

Git branch test
  .github/workflows/link-check-deploy-lychee.yaml
Due: none

fix test
  .github/workflows/link-check-deploy-lychee.yaml
Due: none

Update test
  .github/workflows/link-check-deploy-lychee.yaml
Due: none

add fetch depth option
  .github/workflows/link-check-deploy-lychee.yaml
Due: none

Update index.md
  content/docs/command-reference/plots/index.md
Due: prettier --write

fix: unrecognized argument in plots example (#3425)
  content/docs/command-reference/plots/index.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/plots/index.md
Due: prettier --write

moves contributing content to docs/contributing
  content/docs/contributing/blog.md
  content/docs/contributing/core.md
  content/docs/contributing/docs.md
Due: prettier --write

moves the sidebar entry for contributing
  content/docs/sidebar.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
