Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

engine: fix small bug in new /doc*/{item} redirect from previous commit
  server.js
Due: eslint --fix

engine: small impros to an HTTP redirect and to a nearby comment
  server.js
Due: eslint --fix

next: move /fonts/ back to /static/fonts/ per https://github.com/iterative/dvc.org/pull/882#pullrequestreview-336987770
  pages/_document.js
  public/fonts/Brandon_bld.otf
  public/fonts/Brandon_bld.woff
  public/fonts/Brandon_bld_it.otf
  public/fonts/Brandon_blk.otf
  public/fonts/Brandon_blk_it.otf
  public/fonts/Brandon_light.otf
  public/fonts/Brandon_light.woff
  public/fonts/Brandon_light_it.otf
  public/fonts/Brandon_med.otf
  public/fonts/Brandon_med.woff
  public/fonts/Brandon_med_it.otf
  public/fonts/Brandon_reg.otf
  public/fonts/Brandon_reg.woff
  public/fonts/Brandon_reg_it.otf
  public/fonts/Brandon_thin.otf
  public/fonts/Brandon_thin_it.otf
  public/fonts/fonts.css
Due: eslint --fix

engine: movedlose public images into img/ per https://github.com/iterative/dvc.org/pull/882#discussion_r361887420
  pages/_document.js
  public/img/favicon-16x16.png
  public/img/favicon-32x32.png
  public/img/favicon.ico
  public/img/social-share.png
  src/consts.js
Due: eslint --fix

engine: resoter fonts files! Accidentally deleted in 1cf44bd :P
  public/static/fonts/Brandon_bld.otf
  public/static/fonts/Brandon_bld.woff
  public/static/fonts/Brandon_bld_it.otf
  public/static/fonts/Brandon_blk.otf
  public/static/fonts/Brandon_blk_it.otf
  public/static/fonts/Brandon_light.otf
  public/static/fonts/Brandon_light.woff
  public/static/fonts/Brandon_light_it.otf
  public/static/fonts/Brandon_med.otf
  public/static/fonts/Brandon_med.woff
  public/static/fonts/Brandon_med_it.otf
  public/static/fonts/Brandon_reg.otf
  public/static/fonts/Brandon_reg.woff
  public/static/fonts/Brandon_reg_it.otf
  public/static/fonts/Brandon_thin.otf
  public/static/fonts/Brandon_thin_it.otf
  public/static/fonts/fonts.css
Due: none

engine: limit -> /doc/... redirect to /docs/ and /documentation/ paths per https://github.com/iterative/dvc.org/pull/882#pullrequestreview-336988323
  server.js
Due: eslint --fix

add micro cors to deps, update next version
  package.json
  yarn.lock
Due: prettier --write

move request to prod dependencies
  package.json
Due: prettier --write

fix typo
  static/docs/get-started/add-files.md
Due: prettier --write

next: reorganize and rewrite some server redirects
  server.js
Due: eslint --fix

fix top menu styles to align with blog
  src/Nav/index.js
  src/TopMenu/index.js
Due: eslint --fix

command-reference/update: add docs for new --rev option
  static/docs/command-reference/update.md
Due: prettier --write

download: update to 0.80.0
  src/DownloadButton/index.js
Due: eslint --fix

checkout: rephrase --relink option explanation per https://github.com/iterative/dvc.org/pull/864#issuecomment-569589010
  static/docs/command-reference/checkout.md
Due: prettier --write

checkout: small impro per https://github.com/iterative/dvc.org/pull/864#pullrequestreview-337893097
  static/docs/command-reference/checkout.md
Due: prettier --write

cmd ref: improve link from config to checkout --relink per https://github.com/iterative/dvc.org/pull/864#pullrequestreview-337895358
  static/docs/command-reference/config.md
Due: prettier --write

cmd ref: update checkout description per https://github.com/iterative/dvc.org/pull/864#pullrequestreview-337893478 and https://github.com/iterative/dvc.org/pull/864#pullrequestreview-337893629
  static/docs/command-reference/checkout.md
Due: prettier --write

cmd ref: introduce "outputs" term (and tooltip) earlier in the description of checkout per https://github.com/iterative/dvc.org/pull/864#pullrequestreview-337893874
  static/docs/command-reference/checkout.md
Due: prettier --write

cmd ref: rewrite --relink option desc. in checkout (again) per https://github.com/iterative/dvc.org/pull/864#pullrequestreview-337896034
  static/docs/command-reference/checkout.md
Due: prettier --write

cmd ref: switch order of sentences in checkout --relink option desc. per https://github.com/iterative/dvc.org/pull/864#pullrequestreview-337896338
  static/docs/command-reference/checkout.md
Due: prettier --write

node: some more HTTP redirect refinements
  server.js
Due: eslint --fix

node: made HTTP redirects more strict with $ at the end and made one of them more lax with i (non-case sensitive) per https://github.com/iterative/dvc.org/pull/882#pullrequestreview-337529125
  server.js
Due: eslint --fix

next: fix bad links to static files from recent commit (2) also per https://github.com/iterative/dvc.org/pull/882#pullrequestreview-337007188
  public/static/docs/user-guide/contributing/docs.md
Due: prettier --write

node: some last server HTTP redirect refinements
  server.js
Due: eslint --fix

cmd ref: remove --relink sentence from description, mention all options per https://github.com/iterative/dvc.org/pull/864#pullrequestreview-338233895
  static/docs/command-reference/checkout.md
Due: prettier --write

cmd ref: simplify checkout description intro per https://github.com/iterative/dvc.org/pull/864#discussion_r362923144
  static/docs/command-reference/checkout.md
Due: prettier --write

cmd ref: move `--with-deps` to the first bullet in checkout desc. per https://github.com/iterative/dvc.org/pull/864#pullrequestreview-338312734
  static/docs/command-reference/checkout.md
Due: prettier --write

cmd ref: simplify bullets in checkout desc. per https://github.com/iterative/dvc.org/pull/864#pullrequestreview-338315176
  static/docs/command-reference/checkout.md
Due: prettier --write

term: replace "recreate" by "restore" for checkout --relink option, et al. per https://github.com/iterative/dvc.org/pull/864#pullrequestreview-338315859
  static/docs/command-reference/checkout.md
  static/docs/command-reference/config.md
  static/docs/understanding-dvc/related-technologies.md
Due: prettier --write

engine: improve comments aroud the engine load time, reformat sidebar.json
  server.js
  src/utils/sidebar.js
  static/docs/sidebar.json
Due: eslint --fix, prettier --write

HOTFIX: bad path in previous merge
  src/utils/sidebar.js
Due: eslint --fix

engine: make sidebar.js comment more informative per https://github.com/iterative/dvc.org/pull/891#pullrequestreview-338371474
  src/utils/sidebar.js
Due: eslint --fix

command-reference: update docs related 'update' command
  static/docs/command-reference/import.md
  static/docs/command-reference/update.md
Due: prettier --write

make all sidebar.json indices optional + bunch of comments and some refactoring
  package.json
  public/static/docs/sidebar.json
  public/static/docs/user-guide/contributing/index.md
  server.js
  src/utils/sidebar.js
Due: eslint --fix, prettier --write

refactor: item vs rawItem var name in sidebar helper per https://github.com/iterative/dvc.org/pull/891#pullrequestreview-338378612
  src/utils/sidebar.js
Due: eslint --fix

server: remove some unnecessary code comments
  server.js
  src/utils/sidebar.js
Due: eslint --fix

term: review "recommend" usage
  public/static/docs/command-reference/config.md
  public/static/docs/install/linux.md
  public/static/docs/install/macos.md
  public/static/docs/install/pre-release.md
  public/static/docs/user-guide/contributing/docs.md
Due: prettier --write

term: review usage of "engine"
  README.md
  public/static/docs/changelog/0.35.md
  public/static/docs/user-guide/contributing/docs.md
  public/static/docs/user-guide/contributing/index.md
  server.js
Due: eslint --fix, prettier --write

term: review usage around "next" word
  .gitignore
  public/static/docs/get-started/connect-code-and-data.md
  public/static/docs/tutorials/pipelines.md
  public/static/docs/user-guide/contributing/core.md
  server.js
Due: eslint --fix, prettier --write
