Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Mention column order
  content/docs/command-reference/exp/show.md
Due: prettier --write

dvctable: Add `violet` for `dep` columns. (#3237)
  config/prismjs/dvctable.js
  src/components/Documentation/Markdown/Main/styles.module.css
Due: eslint --fix

Update content/docs/command-reference/import-url.md
  content/docs/command-reference/import-url.md
Due: prettier --write

ref: misc. improvements around "stage" concept (#3235)
  content/docs/command-reference/freeze.md
  content/docs/command-reference/import-url.md
  content/docs/command-reference/index.md
  content/docs/command-reference/plots/modify.md
  content/docs/user-guide/experiment-management/index.md
Due: prettier --write

ref: corrections around add --to-remote and --out per https://github.com/iterative/dvc.org/pull/3210#discussion_r793031780
  content/docs/command-reference/add.md
Due: prettier --write

ref: std import --out description
  content/docs/command-reference/import.md
Due: prettier --write

ref: forgot to remove -o from add --to-remote example and and complete console sample with ls
  content/docs/command-reference/add.md
Due: prettier --write

ref: add ls to import-url --to-remote example
  content/docs/command-reference/import-url.md
Due: prettier --write

ref: consistent --to-remote examples among add and import-url
  content/docs/command-reference/add.md
  content/docs/command-reference/import-url.md
Due: prettier --write

ref: more consistency changes around --to-remote
  content/docs/command-reference/add.md
  content/docs/command-reference/import-url.md
  content/docs/command-reference/update.md
Due: prettier --write

ref: remove some redundancy in import-url --to-remote example
  content/docs/command-reference/import-url.md
Due: prettier --write

added script to add updated_at field on blogs
  package.json
  scripts/pre-commit.sh
  scripts/update-blog-post.js
  yarn.lock
Due: eslint --fix, prettier --write

Order metrics, params and dependencies.
  content/docs/command-reference/exp/show.md
  content/docs/start/experiments.md
  content/docs/user-guide/experiment-management/comparing-experiments.md
Due: prettier --write

Hide list item markers in nav bar * stop list item markers from appearing in Google Chrome dark mode
  src/components/LayoutHeader/Nav/styles.module.css
Due: none

Hide list item markers in nav bar (#3240)
  src/components/LayoutHeader/Nav/styles.module.css
Due: none

fix for ios
  src/components/Blog/Search/SearchBox/styles.module.css
Due: none

Add missing import
  gatsby-node.js
Due: eslint --fix

blog: January community gems (#3156)
  content/blog/2022-01-31-january-22-community-gems.md
  static/uploads/images/2022-01-31/jan-community-gems.png
Due: prettier --write

Add packages used in theme to its package.json
  plugins/gatsby-theme-iterative-docs/package.json
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Layout/SearchForm/index.tsx
  plugins/gatsby-theme-iterative-docs/src/typings.ts
  plugins/gatsby-theme-iterative-docs/tsconfig.json
Due: prettier --write

`exp remove`: Update help for `--all` flag (#3216)
  content/docs/command-reference/exp/remove.md
Due: prettier --write

revised and added content after the review
  content/docs/start/experiments.md
Due: prettier --write

makes assumptions -> has sane defaults
  content/docs/start/experiments.md
Due: prettier --write

h3 -> h2
  content/docs/start/experiments.md
Due: prettier --write

Fix broken "Edit on Github" links * fix typo in gatsby-theme-iterative-docs/src/constants
  plugins/gatsby-theme-iterative-docs/src/constants.ts
Due: none

Fix broken "Edit on Github" links (#3244)
  plugins/gatsby-theme-iterative-docs/src/constants.ts
Due: none

Add missing packages and use gatsby-exported link
  plugins/gatsby-theme-iterative-docs/package.json
  plugins/gatsby-theme-iterative-docs/src/components/Link/index.tsx
Due: prettier --write

Mention possible issues due to hardlink limit (iterative/dvc#6965)
  content/docs/user-guide/large-dataset-optimization.md
Due: prettier --write

Restyled by prettier
  content/docs/user-guide/large-dataset-optimization.md
Due: prettier --write

Remove unnecessary package changes
  plugins/gatsby-theme-iterative-docs/package.json
  plugins/gatsby-theme-iterative-docs/src/typings.ts
  plugins/gatsby-theme-iterative-docs/tsconfig.json
Due: prettier --write

Remove gatsby-link from package.json
  package.json
Due: prettier --write

Small theme bugfixes (#3242)
  package.json
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Layout/SearchForm/index.tsx
  plugins/gatsby-theme-iterative-docs/src/components/Link/index.tsx
Due: prettier --write

ref: include motivation again in add --to-remote example and and everything else while at it... Plus std. changes to corresponding import-url example
  content/docs/command-reference/add.md
  content/docs/command-reference/import-url.md
Due: prettier --write

lock: update info. around locking and "parallel" dvc processes per https://github.com/iterative/dvc.org/issues/860#issuecomment-1023712795
  content/docs/command-reference/exp/show.md
  content/docs/command-reference/init.md
  content/docs/use-cases/experiment-tracking.md
  content/docs/user-guide/project-structure/internal-files.md
Due: prettier --write

TPI naming
  content/blog/2022-01-15-moving-local-experiments-to-the-cloud-with-iterative-terraform-provider.md
Due: prettier --write

Restyled by prettier
  content/blog/2022-01-15-moving-local-experiments-to-the-cloud-with-iterative-terraform-provider.md
Due: prettier --write

Update content/docs/start/experiments.md
  content/docs/start/experiments.md
Due: prettier --write

Apply suggestions from code review
  content/docs/start/experiments.md
Due: prettier --write

start: use `exp init` instead of `stage add` (#3196)
  content/docs/start/experiments.md
Due: prettier --write
