Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

minor capitalization fix
  content/blog/2022-03-31-stale-models.md
Due: prettier --write

Add echo
  .github/workflows/link-check-all-lychee.yaml
Due: none

Revert "Insert broken links into test files"
  README.md
  content/blog/2022-02-28-february-22-community-gems.md
  content/docs/dvclive/ml-frameworks/catalyst.md
Due: prettier --write

Insert broken links
  README.md
  content/blog/2021-12-13-collaborative-experiments.md
Due: prettier --write

Update lychee args
  .github/workflows/link-check-all-lychee.yaml
Due: none

Add test
  content/docs/dvclive/index.md
Due: prettier --write

Remove "" in lychee args
  .github/workflows/link-check-all-lychee.yaml
Due: none

Add broken link
  content/docs/dvclive/index.md
Due: prettier --write

Add multiple tests
  README.md
  content/docs/dvclive/index.md
Due: prettier --write

Attempt to access output
  .github/workflows/link-check-all-lychee.yaml
Due: none

Add LYCHEE_OUT env var
  .github/workflows/link-check-all-lychee.yaml
Due: none

Change LYCHEE_OUT to LYCHEE_TMP
  .github/workflows/link-check-all-lychee.yaml
Due: none

Take off output name
  .github/workflows/link-check-all-lychee.yaml
Due: none

Take off env
  .github/workflows/link-check-all-lychee.yaml
Due: none

Add read output file step
  .github/workflows/link-check-all-lychee.yaml
Due: none

Add run tests
  .github/workflows/link-check-all-lychee.yaml
Due: none

fix bug
  .github/workflows/link-check-all-lychee.yaml
Due: none

Delete first test
  .github/workflows/link-check-all-lychee.yaml
Due: none

Remove extra tests
  .github/workflows/link-check-all-lychee.yaml
Due: none

Add more granular filesystem config entries
  gatsby-config.js
Due: eslint --fix

Switch image resolvers to use simpler File resolvers
  src/components/Blog/Feed/Item/index.tsx
  src/components/Blog/FeedMeta/index.tsx
  src/components/Blog/Post/index.tsx
  src/components/Home/WhatsNewModal/index.tsx
  src/gatsby/models/authors/createSchemaCustomization.js
  src/gatsby/models/blog/createSchemaCustomization.js
  src/gatsby/utils/resolvers/index.js
  src/queries/posts.ts
  src/templates/blog-post.tsx
Due: eslint --fix

updated the design
  src/components/MainLayout/styles.module.css
Due: none

Set up first attempt to check all links
  .github/workflows/link-check-all-lychee.yaml
Due: none

fix: random chars for emoji
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/index.tsx
Due: none

Update args
  .github/workflows/link-check-all-lychee.yaml
Due: none

Switch to json
  .github/workflows/link-check-all-lychee.yaml
Due: none

fix: replace empty char from all places
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/index.tsx
Due: none

Update get-started.md
  content/docs/dvclive/get-started.md
Due: prettier --write

dvclive: Use admonitions (#3379)
  content/docs/dvclive/api-reference/live/index.md
  content/docs/dvclive/api-reference/live/log.md
  content/docs/dvclive/api-reference/live/log_image.md
  content/docs/dvclive/api-reference/live/log_plot.md
  content/docs/dvclive/dvclive-with-dvc.md
  content/docs/dvclive/get-started.md
  content/docs/dvclive/ml-frameworks/catalyst.md
  content/docs/dvclive/ml-frameworks/fastai.md
  content/docs/dvclive/ml-frameworks/huggingface.md
  content/docs/dvclive/ml-frameworks/keras.md
  content/docs/dvclive/ml-frameworks/lightgbm.md
  content/docs/dvclive/ml-frameworks/mmcv.md
  content/docs/dvclive/ml-frameworks/pytorch-lightning.md
  content/docs/dvclive/ml-frameworks/pytorch.md
  content/docs/dvclive/ml-frameworks/tensorflow.md
  content/docs/dvclive/ml-frameworks/xgboost.md
Due: prettier --write

dvc 2.9.5
  src/components/DownloadButton/index.tsx
Due: none

install: missing `pip` optional paks (#3360)
  content/docs/install/linux.md
  content/docs/install/macos.md
  content/docs/user-guide/contributing/core.md
Due: prettier --write

Take off admon test
  content/docs/index.md
Due: prettier --write

adding Maria
  content/authors/maria_khalusova.md
  static/uploads/avatars/maria_khalusova.jpeg
Due: prettier --write

tinified image
  static/uploads/avatars/maria_khalusova.jpeg
Due: none

Update maria_khalusova.md
  content/authors/maria_khalusova.md
Due: prettier --write

Adding Maria Khalusova avatar (#3398)
  content/authors/maria_khalusova.md
  static/uploads/avatars/maria_khalusova.jpeg
Due: prettier --write

move run/repro exec modifyer options down per https://github.com/iterative/dvc.org/pull/3345#discussion_r835554525
  content/docs/command-reference/exp/run.md
  content/docs/command-reference/repro.md
  content/docs/command-reference/run.md
Due: prettier --write
