Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

simplify / make explicit main page messaging
  content/data/datachain.yml
  src/components/Home/Hero/HeroSection.tsx
  src/components/Home/Hero/HeroTitleSection.tsx
Due: none

simplify / make explicit main page messaging (#5332)
  content/data/datachain.yml
  src/components/Home/Hero/HeroSection.tsx
  src/components/Home/Hero/HeroTitleSection.tsx
Due: none

Fixed typo in cloud-versioning.md
  content/docs/user-guide/data-management/cloud-versioning.md
Due: prettier --write

chore: remove by iterative
  package.json
  src/@dvcorg/gatsby-theme-iterative/components/LayoutFooter/index.tsx
  yarn.lock
Due: prettier --write

chore: remove by iterative (#5336)
  package.json
  src/@dvcorg/gatsby-theme-iterative/components/LayoutFooter/index.tsx
  yarn.lock
Due: prettier --write

Fixed typo in cloud-versioning.md (#5335)
  content/docs/user-guide/data-management/cloud-versioning.md
Due: prettier --write

fix: update blog domain
  gatsby-config.js
Due: eslint --fix

point redirect at datachain.ai
  redirects-list.json
Due: prettier --write

point redirect at datachain.ai (#5337)
  redirects-list.json
Due: prettier --write

Move studio.dvc.ai to studio.datachain.ai
  content/docs/studio/user-guide/openid-connect.md
Due: prettier --write

Move studio.iterative.ai to studio.datachain.ai
  config/link-check/excluded-links.yml
  content/docs/command-reference/exp/push.md
  content/docs/command-reference/studio/index.md
  content/docs/command-reference/studio/login.md
  content/docs/dvclive/index.md
  content/docs/dvclive/live/log_image.md
  content/docs/dvclive/ml-frameworks/pytorch-lightning.md
  content/docs/start/experiments/experiment-tracking.md
  content/docs/start/model-registry/index.md
  content/docs/start/model-registry/manage-models.md
  content/docs/studio/index.md
  content/docs/studio/rest-api/create-project.md
  content/docs/studio/rest-api/download-model.md
  content/docs/studio/rest-api/index.md
  content/docs/studio/user-guide/account-management/index.md
  content/docs/studio/user-guide/experiments/create-a-project.md
  content/docs/studio/user-guide/git-connections/custom-gitlab-server.md
  content/docs/studio/user-guide/model-registry/view-and-compare-models.md
  content/docs/studio/user-guide/single-sign-on.md
  content/docs/studio/user-guide/team-collaboration/index.md
  content/docs/studio/user-guide/troubleshooting.md
  content/docs/use-cases/data-registry/tutorial.md
  content/docs/use-cases/model-registry.md
  content/docs/user-guide/data-management/discovering-and-accessing-data.md
  content/docs/user-guide/env.md
  content/docs/user-guide/experiment-management/comparing-experiments.md
  content/docs/user-guide/experiment-management/sharing-experiments.md
  content/docs/user-guide/experiment-management/visualizing-plots.md
  content/docs/user-guide/integrations/databricks.md
  content/docs/user-guide/integrations/sagemaker.md
  content/docs/user-guide/project-structure/configuration.md
  src/@dvcorg/gatsby-theme-iterative/components/LayoutFooter/index.tsx
  src/@dvcorg/gatsby-theme-iterative/data/menu.tsx
  src/utils/externalUrls.ts
Due: prettier --write

Move to `studio.datachain.ai` (#5338)
  config/link-check/excluded-links.yml
  content/docs/command-reference/exp/push.md
  content/docs/command-reference/studio/index.md
  content/docs/command-reference/studio/login.md
  content/docs/dvclive/index.md
  content/docs/dvclive/live/log_image.md
  content/docs/dvclive/ml-frameworks/pytorch-lightning.md
  content/docs/start/experiments/experiment-tracking.md
  content/docs/start/model-registry/index.md
  content/docs/start/model-registry/manage-models.md
  content/docs/studio/index.md
  content/docs/studio/rest-api/create-project.md
  content/docs/studio/rest-api/download-model.md
  content/docs/studio/rest-api/index.md
  content/docs/studio/user-guide/account-management/index.md
  content/docs/studio/user-guide/experiments/create-a-project.md
  content/docs/studio/user-guide/git-connections/custom-gitlab-server.md
  content/docs/studio/user-guide/model-registry/view-and-compare-models.md
  content/docs/studio/user-guide/openid-connect.md
  content/docs/studio/user-guide/single-sign-on.md
  content/docs/studio/user-guide/team-collaboration/index.md
  content/docs/studio/user-guide/troubleshooting.md
  content/docs/use-cases/data-registry/tutorial.md
  content/docs/use-cases/model-registry.md
  content/docs/user-guide/data-management/discovering-and-accessing-data.md
  content/docs/user-guide/env.md
  content/docs/user-guide/experiment-management/comparing-experiments.md
  content/docs/user-guide/experiment-management/sharing-experiments.md
  content/docs/user-guide/experiment-management/visualizing-plots.md
  content/docs/user-guide/integrations/databricks.md
  content/docs/user-guide/integrations/sagemaker.md
  content/docs/user-guide/project-structure/configuration.md
  src/@dvcorg/gatsby-theme-iterative/components/LayoutFooter/index.tsx
  src/@dvcorg/gatsby-theme-iterative/data/menu.tsx
  src/utils/externalUrls.ts
Due: prettier --write

docs: cmd-reference: add --tree/--level
  content/docs/command-reference/list-url.md
Due: prettier --write

docs: cmd-reference: add --tree/--level (#5339)
  content/docs/command-reference/list-url.md
Due: prettier --write

feat: add apollo integration
  gatsby-shared.tsx
Due: none

feat: add apollo integration (#5341)
  gatsby-shared.tsx
Due: none

feat: replace hubspot with studio contacts
  src/@dvcorg/gatsby-theme-iterative/components/HamburgerMenu/index.tsx
  src/@dvcorg/gatsby-theme-iterative/components/LayoutHeader/Nav/index.tsx
  src/components/Support/RequestAQuoteForm.tsx
  src/components/Support/utils.tsx
  src/utils/externalUrls.ts
Due: none

feat: replace hubspot with studio contacts (#5345)
  src/@dvcorg/gatsby-theme-iterative/components/HamburgerMenu/index.tsx
  src/@dvcorg/gatsby-theme-iterative/components/LayoutHeader/Nav/index.tsx
  src/components/Support/RequestAQuoteForm.tsx
  src/components/Support/utils.tsx
  src/utils/externalUrls.ts
Due: none

refactor: remove CSRF token handling from RequestAQuoteForm and utils
  src/components/Support/RequestAQuoteForm.tsx
  src/components/Support/utils.tsx
  src/utils/externalUrls.ts
Due: none

refactor: remove CSRF token handling from RequestAQuoteForm and utils (#5346)
  src/components/Support/RequestAQuoteForm.tsx
  src/components/Support/utils.tsx
  src/utils/externalUrls.ts
Due: none

install(ubuntu): place key in /etc/apt/keyrings
  content/docs/install/linux.md
Due: prettier --write

Update content/docs/install/linux.md
  content/docs/install/linux.md
Due: prettier --write

Add wget and gpg installation step
  content/docs/install/linux.md
Due: prettier --write

install(ubuntu): place key in /etc/apt/keyrings (#5350)
  content/docs/install/linux.md
Due: prettier --write

Update commit.md
  content/docs/command-reference/commit.md
Due: prettier --write

Update commit.md (#5351)
  content/docs/command-reference/commit.md
Due: prettier --write

fix: correct import from `DVCLive` to `dvclive`
  content/docs/dvclive/ml-frameworks/scikit-learn.md
Due: prettier --write

docs: show default remote in dvc remote list
  content/docs/command-reference/pull.md
  content/docs/command-reference/push.md
  content/docs/command-reference/remote/default.md
  content/docs/command-reference/remote/index.md
  content/docs/command-reference/remote/list.md
Due: prettier --write

Migrate S3 redirects to R2
  redirects-list.json
Due: prettier --write

Migrate S3 redirects to R2 (#5354)
  redirects-list.json
Due: prettier --write

docs: default remote is shown in dvc remote list
  content/docs/command-reference/pull.md
  content/docs/command-reference/push.md
  content/docs/command-reference/remote/default.md
  content/docs/command-reference/remote/index.md
  content/docs/command-reference/remote/list.md
Due: prettier --write

lint
  content/docs/command-reference/remote/list.md
Due: prettier --write

Lint PR modified files
  content/docs/command-reference/pull.md
  content/docs/command-reference/remote/default.md
  content/docs/command-reference/remote/list.md
Due: prettier --write

docs: show default remote in dvc remote list (#5353)
  content/docs/command-reference/pull.md
  content/docs/command-reference/push.md
  content/docs/command-reference/remote/default.md
  content/docs/command-reference/remote/index.md
  content/docs/command-reference/remote/list.md
Due: prettier --write

fix: correct import from `DVCLive` to `dvclive` (#5352)
  content/docs/dvclive/ml-frameworks/scikit-learn.md
Due: prettier --write

changes all master branch to main
  content/docs/api-reference/get_url.md
  content/docs/command-reference/checkout.md
  content/docs/command-reference/commit.md
  content/docs/command-reference/diff.md
  content/docs/command-reference/exp/apply.md
  content/docs/command-reference/exp/branch.md
  content/docs/command-reference/exp/push.md
  content/docs/command-reference/exp/remove.md
  content/docs/command-reference/exp/rename.md
  content/docs/command-reference/exp/show.md
  content/docs/command-reference/get.md
  content/docs/command-reference/import.md
  content/docs/command-reference/install.md
  content/docs/command-reference/update.md
  content/docs/command-reference/version.md
  content/docs/contributing/core.md
  content/docs/dvclive/ml-frameworks/mmcv.md
  content/docs/start/data-pipelines/metrics-parameters-plots.md
  content/docs/start/experiments/experiment-tracking.md
  content/docs/use-cases/versioning-data-and-models/index.md
  content/docs/use-cases/versioning-data-and-models/tutorial.md
  content/docs/user-guide/analytics.md
  content/docs/user-guide/data-management/discovering-and-accessing-data.md
  content/docs/user-guide/how-to/run-dvc-on-windows.md
  content/docs/user-guide/index.md
  content/docs/user-guide/integrations/evidently.md
Due: prettier --write

Update mmcv.md
  content/docs/dvclive/ml-frameworks/mmcv.md
Due: prettier --write

Update get_url.md
  content/docs/api-reference/get_url.md
Due: prettier --write

Update discovering-and-accessing-data.md
  content/docs/user-guide/data-management/discovering-and-accessing-data.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
