Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Apply suggestions from code review
  content/docs/start/data-and-model-versioning.md
Due: prettier --write

Update content/docs/start/data-and-model-versioning.md
  content/docs/start/data-and-model-versioning.md
Due: prettier --write

ref: clarifications around `add` and `import-url` for external targets (#3210)
  content/docs/command-reference/add.md
  content/docs/command-reference/import-url.md
  content/docs/command-reference/import.md
  content/docs/command-reference/update.md
  content/docs/user-guide/managing-external-data.md
Due: prettier --write

ref: exp show can list queued exps too
  content/docs/command-reference/exp/run.md
Due: prettier --write

Make markdown youtube embeds gdpr compliant * add custom youtube transformer to gatsby-remark-embedder * add needed js and css code in doc/blog components
  config/gatsby-remark-embedder/custom-yt-embedder.js
  gatsby-config.js
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/Main/index.tsx
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/Main/styles.module.css
  plugins/gatsby-theme-iterative-docs/src/utils/front/setUpCustomYtEmbeds.ts
  src/components/Blog/Post/Markdown/styles.module.css
  src/components/Blog/Post/index.tsx
Due: eslint --fix

Make Video youtube embeds gdpr compliant * add on hover message to overlay
  src/components/Home/UseCases/Video/index.tsx
  src/components/Home/UseCases/Video/styles.module.css
Due: none

Replace params with parameters
  content/docs/command-reference/exp/show.md
  content/docs/user-guide/experiment-management/comparing-experiments.md
  scripts/create_dvctables.py
Due: prettier --write

Remove dvctables
  scripts/create_dvctables.py
Due: none

ref: exp show can list queued exps too (#3252)
  content/docs/command-reference/exp/run.md
Due: prettier --write

started Fec CGs
  content/blog/2022-02-28-february-21-community-gems.md
Due: prettier --write

added new github action to schedule blog post merges
  .github/workflows/merge-scheduler.yaml
Due: none

Add tabs
  content/docs/dvclive/get-started.md
Due: prettier --write

Update references to metrics logs/history
  content/docs/dvclive/api-reference/live/get_step.md
  content/docs/dvclive/api-reference/live/index.md
  content/docs/dvclive/api-reference/live/log.md
  content/docs/dvclive/api-reference/live/log_image.md
  content/docs/dvclive/api-reference/live/log_plot.md
  content/docs/dvclive/api-reference/live/next_step.md
  content/docs/dvclive/api-reference/live/set_step.md
  content/docs/dvclive/dvclive-with-dvc.md
  content/docs/dvclive/ml-frameworks/catalyst.md
  content/docs/dvclive/ml-frameworks/fastai.md
  content/docs/dvclive/ml-frameworks/huggingface.md
  content/docs/dvclive/ml-frameworks/keras.md
  content/docs/dvclive/ml-frameworks/lightgbm.md
  content/docs/dvclive/ml-frameworks/mmcv.md
  content/docs/dvclive/ml-frameworks/pytorch-lightning.md
  content/docs/dvclive/ml-frameworks/pytorch.md
  content/docs/dvclive/ml-frameworks/tensorflow.md
  content/docs/dvclive/ml-frameworks/xgboost.md
Due: prettier --write

Fixes
  content/docs/dvclive/api-reference/live/log_plot.md
  content/docs/dvclive/api-reference/live/next_step.md
Due: prettier --write

Apply suggestions from code review
  content/docs/start/experiments.md
  content/docs/user-guide/experiment-management/comparing-experiments.md
Due: prettier --write

Restyled by prettier
  content/docs/start/experiments.md
  content/docs/user-guide/experiment-management/comparing-experiments.md
Due: prettier --write

ref: Remove outdated SSH default jobs.
  content/docs/command-reference/exp/pull.md
  content/docs/command-reference/exp/push.md
  content/docs/command-reference/fetch.md
  content/docs/command-reference/gc.md
  content/docs/command-reference/get-url.md
  content/docs/command-reference/get.md
  content/docs/command-reference/import-url.md
  content/docs/command-reference/import.md
  content/docs/command-reference/pull.md
  content/docs/command-reference/push.md
  content/docs/command-reference/remote/modify.md
  content/docs/command-reference/status.md
  content/docs/command-reference/update.md
Due: prettier --write

Fix bugs * allow users to click on tooltip links * update margin/font in Video component
  plugins/gatsby-theme-iterative-docs/src/utils/front/setUpCustomYtEmbeds.ts
  src/components/Home/UseCases/Video/styles.module.css
Due: none

Fix typo
  src/components/Home/UseCases/Video/styles.module.css
Due: none

Dvc exp show deps (#3220)
  content/docs/command-reference/exp/show.md
  content/docs/start/experiments.md
  content/docs/user-guide/experiment-management/comparing-experiments.md
Due: prettier --write

Apply suggestions from code review
  content/blog/2022-02-28-using-iterative-terraform-provider-with-docker.md
Due: prettier --write

renamed file
  .github/workflows/merge-schedule.yaml
Due: none

Add missing controls to md yt embeds
  config/gatsby-remark-embedder/custom-yt-embedder.js
Due: eslint --fix

Update .github/workflows/merge-schedule.yaml
  .github/workflows/merge-schedule.yaml
Due: none

Added new GitHub action to schedule blog post merges (#3256)
  .github/workflows/merge-schedule.yaml
Due: none

Apply suggestions from code review
  content/docs/dvclive/api-reference/live/index.md
  content/docs/dvclive/api-reference/live/log_image.md
  content/docs/dvclive/api-reference/live/log_plot.md
  content/docs/dvclive/get-started.md
Due: prettier --write

Updates from review
  content/docs/dvclive/api-reference/live/log_image.md
  content/docs/dvclive/api-reference/live/log_plot.md
Due: prettier --write

Add trees
  content/docs/dvclive/api-reference/live/log_image.md
  content/docs/dvclive/get-started.md
Due: prettier --write

Update wrong link
  content/docs/dvclive/dvclive-with-dvc.md
Due: prettier --write

Add missing trees
  content/docs/dvclive/api-reference/live/log.md
  content/docs/dvclive/dvclive-with-dvc.md
Due: prettier --write

convert custom yt js func to hook
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/Main/index.tsx
  plugins/gatsby-theme-iterative-docs/src/utils/front/useCustomYtEmbeds.ts
  src/components/Blog/Post/index.tsx
Due: none

Add missing href attributes to yt tooltip links
  config/gatsby-remark-embedder/custom-yt-embedder.js
Due: eslint --fix

Fix ts error
  plugins/gatsby-theme-iterative-docs/src/utils/front/useCustomYtEmbeds.ts
Due: none

fix cursor on tooltip
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/Main/styles.module.css
  src/components/Blog/Post/Markdown/styles.module.css
Due: none

Add remove click listeners
  plugins/gatsby-theme-iterative-docs/src/utils/front/useCustomYtEmbeds.ts
Due: none

added height props to toggle
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/index.tsx
Due: none

Set up local storage
  plugins/gatsby-theme-iterative-docs/src/utils/front/useCustomYtEmbeds.ts
  src/components/Home/UseCases/Video/index.tsx
Due: none

Refactor custom-yt-embedder
  config/gatsby-remark-embedder/custom-yt-embedder.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
