Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

engine: fix missing refs from static/ to public/static/ (tmp) to complete previous commit's intended change
  package.json
  src/utils/sidebar.test.js
Due: eslint --fix, prettier --write

Cache test
  package.json
  pages/api/comments.js
  pages/api/discourse.js
  yarn.lock
Due: eslint --fix, prettier --write

Rewrote comments API using fetch
  package.json
  pages/api/comments.js
  yarn.lock
Due: eslint --fix, prettier --write

Only show console.log in cache in dev mode
  pages/api/comments.js
  pages/api/discourse.js
Due: eslint --fix

Add cache to github
  pages/api/github.js
Due: eslint --fix

Replace Discord with widget
  pages/api/discord.js
  pages/community.js
  src/Community/Block/index.js
  src/Community/Block/styles.js
  src/Community/Contribute/index.js
  src/Community/Contribute/styles.js
  src/Community/Events/styles.js
  src/Community/Learn/index.js
  src/Community/Meet/index.js
  src/Community/Meet/styles.js
  src/Community/index.js
  src/Community/styles.js
  src/utils/api.js
Due: eslint --fix

Hide events block if there is no upcoming events
  src/Community/Events/index.js
Due: eslint --fix

Add simple fallback for api handles
  src/Community/Block/index.js
  src/Community/Block/styles.js
  src/Community/Learn/index.js
  src/Community/Meet/index.js
  src/Community/styles.js
  src/utils/api.js
Due: eslint --fix

attempt to enable Restyled to close #804
  .restyled.yaml
Due: none

format: remove .restyled.yaml since check isn't working on #879 /shrugx
  .restyled.yaml
Due: none

format: add .restyled.yaml back...
  .restyled.yaml
Due: none

format: add three dashes `---` at the beginning of .restyled.yaml just in case? and for consistency with iterative/dvc
  .restyled.yaml
Due: none

format: simplify .restyled.yaml per https://github.com/restyled-io/restyler/blob/acc7227b90fef4b4b99f6db89ce28d693f833cb9/config/default.yaml#L118-L122
  .restyled.yaml
Due: none

format: further simplify .restyled.yaml (remove comments)
  .restyled.yaml
Due: none

format: remove .restyled.yaml again... Hoping this brings Restyled back to life after it crashes.
  .restyled.yaml
Due: none

yaml: add debugger dev server script, doc in contrib guide to try solving https://github.com/iterative/dvc.org/pull/882#issuecomment-568639266
  package.json
  public/docs/user-guide/contributing/docs.md
Due: prettier --write

Fix broken use-case link
  static/docs/use-cases/data-registries.md
Due: prettier --write

engine: excempt /docs/... from /doc/... 301 redirection per https://github.com/iterative/dvc.org/pull/882#issuecomment-568691936 and add useful comment to nearby code.
  server.js
Due: eslint --fix

format: add a simple .restyled.yaml once again with only default prettier for .md files
  .restyled.yaml
Due: none

utils: update debug dev server script name
  package.json
  public/docs/user-guide/contributing/docs.md
Due: prettier --write

format: fix simple .restyled.yaml for md prettier? per https://restyled.io/gh/iterative/repos/dvc.org/jobs/162748
  .restyled.yaml
Due: none

format: try to specify what to lint in .restyled.yaml and update `yarn format*` scripts
  .restyled.yaml
  package.json
  public/docs/user-guide/contributing/docs.md
Due: prettier --write

Restyled by prettier
  pages/_document.js
  pages/features.js
  src/Diagram/index.js
  src/Footer/index.js
  src/GithubLine/index.js
  src/HamburgerMenu/index.js
  src/TopMenu/index.js
  src/utils/sidebar.test.js
Due: eslint --fix

Mobile version design
  src/Community/Block/index.js
  src/Community/Block/styles.js
  src/Community/Events/index.js
  src/Community/Events/styles.js
  src/Community/Hero/styles.js
  src/Community/Learn/index.js
  src/Community/Meet/index.js
  src/Community/Meet/styles.js
  src/Community/Section/index.js
  src/Community/Section/styles.js
  src/Community/styles.js
  static/img/community/blog.svg
  static/img/community/documentation.svg
  static/img/community/user_content.svg
Due: eslint --fix

Add dropdown menu to contribute
  src/Community/Contribute/index.js
  src/Community/Events/index.js
  src/Community/Learn/index.js
  src/Community/Meet/index.js
  src/Community/Section/index.js
  src/Nav/index.js
  src/TopMenu/index.js
Due: eslint --fix

doc: address NaN console warning for #854
  src/Documentation/SidebarMenu/SidebarMenu.js
Due: eslint --fix

doc: improve comment about /doc* redirect per https://github.com/iterative/dvc.org/pull/882#discussion_r361338475 and small refactoring
  server.js
Due: eslint --fix

es6: manually sort imports in pages/doc.js by groups/chrono and add a console.error in await fetch() call error handler
  pages/doc.js
Due: eslint --fix

lint: added sort-imports rule and ran `eslint --fix pages src` per https://github.com/iterative/dvc.org/issues/789#issuecomment-554120626
  .eslintrc.json
  pages/doc.js
  pages/support.js
  src/Diagram/index.js
  src/Documentation/SidebarMenu/SidebarMenu.js
  src/LandingHero/index.js
  src/TrySection/index.js
  src/UseCases/index.js
Due: eslint --fix, prettier --write

format: sort-imports in pages/ and (manually in) server.js
  pages/_document.js
  pages/api/comments.js
  pages/doc.js
  pages/features.js
  pages/index.js
  pages/support.js
  server.js
Due: eslint --fix

Mobile design tweaks
  src/Community/Block/styles.js
  src/Community/Section/styles.js
  src/Community/styles.js
Due: eslint --fix

Fix comments height
  src/Community/styles.js
Due: eslint --fix

download: update to 0.78.1
  src/DownloadButton/index.js
Due: eslint --fix

format: sort-imports in src/ js files for #789
  src/Diagram/index.js
  src/Documentation/HeadInjector.js
  src/Documentation/Markdown/Markdown.js
  src/Documentation/Markdown/utils/remark-linker.js
  src/Documentation/RightPanel/RightPanel.js
  src/Documentation/SidebarMenu/SidebarMenu.js
  src/Documentation/Tutorials.js
  src/DownloadButton/index.js
  src/Footer/index.js
  src/Hamburger/index.js
  src/HamburgerMenu/index.js
  src/Hero/index.js
  src/LandingHero/index.js
  src/Layout/index.js
  src/LearnMore/index.js
  src/Modal/index.js
  src/Nav/index.js
  src/Page/index.js
  src/PromoSection/index.js
  src/Subscribe/index.js
  src/SubscribeForm/index.js
  src/TextCollapse/index.js
  src/Tooltip/desktop-view.js
  src/Tooltip/index.js
  src/Tooltip/mobile-view.js
  src/TopMenu/index.js
  src/TrySection/index.js
  src/UseCases/index.js
  src/Video/index.js
Due: eslint --fix

cmd ref: reword --relink option of checkout per https://github.com/iterative/dvc.org/pull/864#discussion_r361353886
  static/docs/command-reference/checkout.md
Due: prettier --write

user-guide: link to `dvc checkout --relink` option per https://github.com/iterative/dvc.org/pull/864#issuecomment-567345548
  static/docs/user-guide/large-dataset-optimization.md
Due: prettier --write

cmd ref: add link to `dvc checkout --relink` in cache.type option of config
  static/docs/command-reference/config.md
Due: prettier --write

cmd ref: rewrite description and --relink option in checkout per https://github.com/iterative/dvc.org/pull/864#discussion_r361741531
  static/docs/command-reference/checkout.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
