Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

guide: clarify that exp show --json is not a table (#3137)
  content/docs/user-guide/experiment-management/comparing-experiments.md
Due: prettier --write

Add nested md tabs (#3093)
  src/components/Documentation/Markdown/ToggleProvider/index.tsx
  src/components/Documentation/Markdown/index.tsx
Due: none

Add `WhatsNewModal` Image Check (#3157)
  src/components/Home/WhatsNewModal/index.tsx
Due: none

Mention Studio in related-technologies.md (#3121)
  content/docs/user-guide/related-technologies.md
Due: prettier --write

Fix bugs in analytics (#3123)
  src/components/DownloadButton/index.tsx
  src/utils/front/plausible.ts
Due: none

ref: Update `dvc run` references in `dvc commit` (#3035)
  content/docs/command-reference/commit.md
Due: prettier --write

Update community hero height/padding (#3084)
  src/components/Community/Hero/index.tsx
  src/components/Community/Hero/styles.module.css
Due: none

Update remove.md (#3146)
  content/docs/command-reference/exp/remove.md
Due: prettier --write

live: remove 3rd party intro (#3169)
  content/docs/dvclive/ml-frameworks/catalyst.md
  content/docs/dvclive/ml-frameworks/fastai.md
  content/docs/dvclive/ml-frameworks/huggingface.md
  content/docs/dvclive/ml-frameworks/keras.md
  content/docs/dvclive/ml-frameworks/lightgbm.md
  content/docs/dvclive/ml-frameworks/mmcv.md
  content/docs/dvclive/ml-frameworks/pytorch-lightning.md
  content/docs/dvclive/ml-frameworks/pytorch.md
  content/docs/dvclive/ml-frameworks/tensorflow.md
  content/docs/dvclive/ml-frameworks/xgboost.md
Due: prettier --write

`exp`: misc. guide and ref. updates (#3080)
  content/docs/command-reference/exp/apply.md
  content/docs/command-reference/exp/branch.md
  content/docs/command-reference/exp/run.md
  content/docs/sidebar.json
  content/docs/user-guide/experiment-management/comparing-experiments.md
  content/docs/user-guide/experiment-management/index.md
  content/docs/user-guide/project-structure/internal-files.md
  content/docs/user-guide/troubleshooting.md
Due: prettier --write

exp init --model -> --models, fixes #3158 (#3159)
  content/docs/command-reference/exp/init.md
Due: prettier --write

Fix broken tab order on docs sidebar menu (#3149)
  src/components/Documentation/Layout/SidebarMenu/index.tsx
  src/components/Documentation/Layout/SidebarMenu/styles.module.css
Due: none

Update landing page (#3115)
  src/components/Home/LandingHero/index.tsx
  src/components/Home/WhatsNewModal/index.tsx
Due: none

Fix site crashing with certain anchor links (#3107)
  src/components/Link/index.tsx
  src/components/Page/utils.ts
  src/utils/front/safeQuerySelector.ts
Due: none

fix(seo): prevent expensive calculations on every render (#3079)
  src/components/SEO/helper.ts
  src/components/SEO/index.tsx
Due: none

Added january events (#3167)
  content/community.json
  static/img/community/events/conf42_python.jpg
  static/img/community/events/python_web_conf.jpeg
  static/img/community/events/python_web_conf.jpg
Due: prettier --write

term: dataset (one word) (#3224)
  content/docs/start/experiments.md
Due: prettier --write

add cmd ref: get --to-remote back in the example
  content/docs/command-reference/add.md
Due: prettier --write

Interactive synopsis Fix #2024 (#3140)
  config/prismjs/dvc-hook.js
  config/prismjs/usage.js
  gatsby-config.js
  plugins/gatsby-remark-args-linker/index.js
  plugins/gatsby-remark-args-linker/package.json
  plugins/gatsby-remark-dvc-linker/commandLinker.js
  src/components/Documentation/Markdown/Main/styles.module.css
  static/icons/index.js
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

dvclive: Updates for implicit no step (#3147)
  content/docs/dvclive/api-reference/live/get_step.md
  content/docs/dvclive/api-reference/live/index.md
  content/docs/dvclive/api-reference/live/log.md
  content/docs/dvclive/api-reference/live/next_step.md
  content/docs/dvclive/api-reference/live/set_step.md
  content/docs/dvclive/dvclive-with-dvc.md
  content/docs/dvclive/get-started.md
  content/docs/dvclive/index.md
Due: prettier --write

`exp remove`: Update help for `--all` flag (#3216)
  content/docs/command-reference/exp/remove.md
Due: prettier --write

ref: review cache/etc. "corruption" concept... (#3062)
  content/docs/command-reference/config.md
  content/docs/command-reference/remote/modify.md
  content/docs/command-reference/unprotect.md
  content/docs/user-guide/how-to/share-a-dvc-cache.md
  content/docs/user-guide/how-to/update-tracked-data.md
  content/docs/user-guide/large-dataset-optimization.md
Due: prettier --write

update cmd ref add: simplify remote transfer example
  content/docs/command-reference/add.md
Due: prettier --write

Add margin-bottom to toggle component (#3180)
  src/components/Documentation/Markdown/styles.module.css
Due: none

January heartbeat (#3188)
  config/link-check/excluded-links.yml
  content/blog/2022-1-18-January-22-heartbeat.md
  static/uploads/images/2022-01-18/Conf42.png
  static/uploads/images/2022-01-18/abid-ali-awan.png
  static/uploads/images/2022-01-18/amit-kulkarni-studio.png
  static/uploads/images/2022-01-18/carl-handlin-rappibank.png
  static/uploads/images/2022-01-18/diego-jardim.png
  static/uploads/images/2022-01-18/forbes.jpeg
  static/uploads/images/2022-01-18/git-sql-cli.jpeg
  static/uploads/images/2022-01-18/heartbeat-january.png
  static/uploads/images/2022-01-18/hiring.jpeg
  static/uploads/images/2022-01-18/kdnuggets.jpeg
  static/uploads/images/2022-01-18/ryan-dawson-thoughtworks-cd4ml.png
  static/uploads/images/2022-01-18/stateful-training.png
Due: prettier --write

blog: January community gems (#3156)
  content/blog/2022-01-31-january-22-community-gems.md
  static/uploads/images/2022-01-31/jan-community-gems.png
Due: prettier --write

Fix broken "Edit on Github" links (#3244)
  plugins/gatsby-theme-iterative-docs/src/constants.ts
Due: none

Fix Broken Anchor Links in `/command-reference/exp/show` (#3229)
  gatsby-config.js
Due: eslint --fix

fix import-url again, get to-remote back
  content/docs/command-reference/import-url.md
Due: prettier --write

dvctable: Add `violet` for `dep` columns. (#3237)
  config/prismjs/dvctable.js
  src/components/Documentation/Markdown/Main/styles.module.css
Due: eslint --fix

fix import-url style
  content/docs/command-reference/import-url.md
Due: prettier --write

add cmd ref: remove sample remote reference
  content/docs/command-reference/add.md
Due: prettier --write

Minor edits to Sharing Experiments (#3221)
  content/docs/user-guide/experiment-management/sharing-experiments.md
Due: prettier --write

redirects: make a couple 302 (#3172)
  redirects-list.json
Due: prettier --write

start: Add a parameters hidden section to experiments to merge params/metrics into experiments (#3163)
  content/docs/start/experiments.md
Due: prettier --write

ref: move Alias notes to before short desc. (#3181)
  content/docs/command-reference/exp/index.md
  content/docs/command-reference/list.md
Due: prettier --write

ref: missing `adds --jobs` (#3199)
  content/docs/command-reference/add.md
  content/docs/command-reference/remote/modify.md
Due: prettier --write

term: subfolder -> subdirectory (#3190)
  content/docs/dvclive/api-reference/live/log.md
Due: prettier --write

Rename `dvctablehorizontals` to `dvctable` and use across site (#3173)
  config/prismjs/dvctable.js
  content/blog/2021-07-19-hyperparam-tuning.md
  content/blog/2021-08-24-transfer-learning-experiments.md
  content/blog/2021-10-05-adding-data-to-build-a-more-generic-model.md
  content/blog/2021-11-30-november-21-community-gems.md
  content/blog/2021-12-07-ml-experiment-versioning.md
  content/docs/command-reference/exp/remove.md
  content/docs/command-reference/exp/show.md
  content/docs/start/experiments.md
  content/docs/use-cases/experiment-tracking.md
  content/docs/user-guide/experiment-management/cleaning-experiments.md
  content/docs/user-guide/experiment-management/comparing-experiments.md
  content/docs/user-guide/experiment-management/persisting-experiments.md
  src/components/Blog/Post/Markdown/styles.module.css
  src/components/Documentation/Markdown/Main/styles.module.css
Due: eslint --fix, prettier --write
