Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add public dir to cached directories in Heroku
  package.json
Due: prettier --write

Remove prism sh warning
  content/docs/command-reference/init.md
Due: prettier --write

Move helpers methods to separate utils file for the Page component
  src/components/Page/index.tsx
  src/components/Page/utils.ts
Due: none

Fix incorrect scroll position for hash links
  src/components/Documentation/RightPanel/index.js
  src/components/Link/index.tsx
Due: eslint --fix

Remove monospace fonts from code blocks in the blog
  src/components/BlogPost/Markdown/styles.module.css
Due: none

Fix scroll behaviour for left sidebar in the docs
  package.json
  src/components/DocLayout/SidebarMenu/index.js
  src/components/DocLayout/SidebarMenu/styles.js
  yarn.lock
Due: eslint --fix, prettier --write

Fix Sentry errors for IE11
  gatsby-node.js
  src/components/DocLayout/SidebarMenu/index.js
  src/components/HamburgerMenu/index.tsx
  src/components/Page/utils.ts
  src/html.js
Due: eslint --fix

Fix yarn installation warnings
  package.json
  yarn.lock
Due: prettier --write

Transform initial pages components to TS
  src/pages/404.js
  src/pages/404.tsx
  src/pages/community.js
  src/pages/community.tsx
  src/pages/features.js
  src/pages/features.tsx
  src/pages/index.js
  src/pages/index.tsx
  src/pages/support.js
  src/pages/support.tsx
Due: eslint --fix

Move DocLayout to Documentation directory
  src/components/Documentation/Layout/SidebarMenu/index.js
  src/components/Documentation/Layout/SidebarMenu/styles.js
  src/components/Documentation/Layout/index.js
  src/components/Documentation/Layout/styles.js
  src/components/Page/index.tsx
Due: eslint --fix

Decrease header text padding to compensate new layout structure
  src/components/FeaturesHero/styles.js
  src/components/Support/styles.js
Due: eslint --fix

Fix styles for Get started button in the nav and code blocks in the docs
  src/components/BlogPost/Markdown/styles.module.css
  src/components/Nav/styles.module.css
Due: none

Scroll to the sidebar item only if it isn't visible
  src/components/Documentation/Layout/SidebarMenu/index.js
Due: eslint --fix

One more fix for anchor navigation
  src/components/Link/index.tsx
  src/components/Page/utils.ts
  src/utils/scroll.ts
Due: none

Remove focus styles for logo
  src/components/LayoutHeader/styles.module.css
Due: none

Fix critical bug! Redirects on the server side
  middleware/redirects/index.js
Due: eslint --fix

user-guide: move URL format above GC project in gdrive guide and... other copy edits
  content/docs/command-reference/remote/modify.md
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

Update community.md
  content/docs/tutorials/community.md
Due: prettier --write

user-guide: make note on Python for Windows in contrib and... correction in remote cmd ref
  content/docs/command-reference/remote/index.md
  content/docs/user-guide/contributing/core.md
Due: prettier --write

download: update to 0.91.2
  src/components/DownloadButton/index.js
Due: eslint --fix

user-guide: clarify which sections are optional and... fastest route to start using GDrive remotes
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

user-guide: clarify benefits of custom gc project for gdrive per https://github.com/iterative/dvc.org/pull/1096#discussion_r399570083
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

gdrive: update guide and remote modify cmd ref arund service accounts for #1096
  content/docs/command-reference/remote/modify.md
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

remote: clarify how easy it is to start using GDrive remotes in... cmd refs as well as in user guide
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/modify.md
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

link: fix bad link
  content/docs/command-reference/remote/add.md
Due: prettier --write

Fix styles of some elements for blog. Fix fonts for Firefox
  src/components/BlogLayout/index.tsx
  src/components/BlogLayout/styles.module.css
  src/components/BlogPost/Markdown/styles.module.css
  src/components/MainLayout/index.tsx
Due: none

link: fix another bad link
  scripts/exclude-links.txt
Due: none

Fix broken remark-images plugin
  package.json
  yarn.lock
Due: prettier --write

Fix hash navigation again
  src/components/Link/index.tsx
Due: none

Use @reach/router navigate method for front redirecting
  src/utils/redirects.js
Due: eslint --fix

Update hash in the url by clicking on links with hashes in the href attr
  src/components/Link/index.tsx
Due: none

Remove TODOs
  .eslintrc.json
  src/components/Page/index.tsx
Due: prettier --write

Migrate latest blogpost
  content/blog/2020-03-31-reimagining-devops-video.md
  static/uploads/images/2020-03-31/cover_image.png
Due: prettier --write

Fix fonts for the all layouts
  src/components/BlogLayout/styles.module.css
  src/components/Documentation/styles.js
  src/components/FeaturesHero/styles.js
  src/components/MainLayout/index.tsx
  src/components/MainLayout/styles.module.css
  src/components/Support/styles.js
Due: eslint --fix

Scroll to the hash section if it wasn't changed (user can scroll page)
  src/components/Link/index.tsx
Due: none

Update content/docs/command-reference/metrics/index.md
  content/docs/command-reference/metrics/index.md
Due: prettier --write

user-guide: improve shared folder/drive note with links and appDataFolder info
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
