Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Further restructuring
  content/docs/sidebar.json
  content/docs/studio/get-started.md
  content/docs/studio/overview.md
  content/docs/studio/user-guide/explore-experiments.md
  content/docs/studio/user-guide/index.md
  content/docs/studio/user-guide/prepare-repositories.md
  content/docs/studio/user-guide/run-experiments.md
  content/docs/studio/user-guide/teams.md
  content/docs/studio/user-guide/views/create-view.md
  content/docs/studio/user-guide/views/share-view.md
  content/docs/studio/user-guide/views/view-settings.md
  content/docs/studio/user-guide/views/what-is-a-view.md
  content/docs/studio/user-guide/visualize-experiments.md
Due: prettier --write

Proof-reading
  content/docs/studio/get-started.md
  content/docs/studio/user-guide/explore-experiments.md
  content/docs/studio/user-guide/install-github-app.md
  content/docs/studio/user-guide/prepare-repositories.md
  content/docs/studio/user-guide/teams.md
  content/docs/studio/user-guide/views/create-view.md
  content/docs/studio/user-guide/views/share-view.md
  content/docs/studio/user-guide/views/view-settings.md
  content/docs/studio/user-guide/views/what-is-a-view.md
Due: prettier --write

Fix typo
  content/docs/command-reference/import-url.md
Due: prettier --write

Fix typo (#2589)
  content/docs/command-reference/import-url.md
Due: prettier --write

Fixed broken links
  content/docs/studio/get-started.md
  content/docs/studio/troubleshooting.md
  content/docs/studio/user-guide/prepare-repositories.md
  content/docs/studio/user-guide/views/create-view.md
Due: prettier --write

Added redirect for view-settings page coz it's used in Studio FE
  redirects-list.json
Due: prettier --write

Studio docs v4 (#2571)
  content/docs/sidebar.json
  content/docs/studio/create-view.md
  content/docs/studio/get-started.md
  content/docs/studio/index.md
  content/docs/studio/overview.md
  content/docs/studio/run-experiments.md
  content/docs/studio/teams.md
  content/docs/studio/troubleshooting.md
  content/docs/studio/user-guide/account-management.md
  content/docs/studio/user-guide/explore-experiments.md
  content/docs/studio/user-guide/index.md
  content/docs/studio/user-guide/install-github-app.md
  content/docs/studio/user-guide/prepare-repositories.md
  content/docs/studio/user-guide/run-experiments.md
  content/docs/studio/user-guide/teams.md
  content/docs/studio/user-guide/views/create-view.md
  content/docs/studio/user-guide/views/share-view.md
  content/docs/studio/user-guide/views/view-settings.md
  content/docs/studio/user-guide/views/what-is-a-view.md
  content/docs/studio/user-guide/visualize-experiments.md
  content/docs/studio/view-settings.md
  redirects-list.json
Due: prettier --write

download: update to 2.4.2
  src/components/DownloadButton/index.tsx
Due: none

download: use dvc-s3-repo bucket for deb and rpm packages
  src/components/DownloadButton/index.tsx
Due: none

pics, numbers corrections
  static/img/community/events/dvc_learn.png
  static/img/community/events/office-hours-meetup.png
  static/img/community/hiring_da_desktop.png
  static/img/community/hiring_da_mobile.png
  static/img/community/ugc/alon-gubkin.png
Due: none

Fix right sidebar to scroll with main page
  src/components/Documentation/RightPanel/index.tsx
  src/components/Documentation/RightPanel/styles.module.css
Due: none

cases: first draft og Managing Datasets
  content/docs/sidebar.json
  content/docs/use-cases/managing-datasets.md
Due: prettier --write

ref: fix md link in destroy
  content/docs/command-reference/destroy.md
Due: prettier --write

ref: fix md link in destroy (#2591)
  content/docs/command-reference/destroy.md
Due: prettier --write

updated gems based on comments
  content/blog/2021-06-25-june-21-community-gems.md
  static/uploads/images/2021-06-30/gems-cover.png
Due: prettier --write

Extend description of gdrive_service_account_user_email param of Google Drive remote to include information about required domain-wide authority/OAuth Scopes.
  content/docs/command-reference/remote/modify.md
Due: prettier --write

Fix typos in sidebar.json user-guide section
  content/docs/sidebar.json
Due: prettier --write

updated commands
  content/blog/2021-06-25-june-21-community-gems.md
Due: prettier --write

download: update to 2.4.3
  src/components/DownloadButton/index.tsx
Due: none

Add glossary page to doc/user-guide * add Documentation Markdown/Main and WithJSX components * add template for creating doc pages with jsx instead of markdown * add glossary page to pages directory
  content/docs/sidebar.json
  src/components/Documentation/Markdown/Main/index.tsx
  src/components/Documentation/Markdown/Main/styles.module.css
  src/components/Documentation/Markdown/index.tsx
  src/components/Documentation/Markdown/styles.module.css
  src/components/Documentation/WithJSX/index.tsx
  src/gatsby/common.js
  src/pages/doc/user-guide/glossary.tsx
  src/templates/doc-jsx.tsx
Due: eslint --fix, prettier --write

Extend description of gdrive_service_account_user_email (#2594)
  content/docs/command-reference/remote/modify.md
Due: prettier --write

Move user-guide/glossary to bottom of user-guide
  content/docs/sidebar.json
Due: prettier --write

Use one dangerouslySetInnerHTML in glossary page
  src/pages/doc/user-guide/glossary.tsx
Due: none

Fix typo in pages/glossary.tsx regex
  src/pages/doc/user-guide/glossary.tsx
Due: none

import-url: remove gdrive
  content/docs/command-reference/import-url.md
Due: prettier --write

get-url: remove gdrive
  content/docs/command-reference/get-url.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/get-url.md
  content/docs/command-reference/import-url.md
Due: prettier --write

Add AutoLinkHeader component for JSX doc pages
  src/components/Documentation/WithJSX/AutoLinkHeader/index.tsx
  src/pages/doc/user-guide/glossary.tsx
Due: none

Update link-check to 0.8 (ref links)
  .github/workflows/link-check-all.yml
  .github/workflows/link-check-deploy.yml
Due: none

added links to PRs
  content/blog/2021-06-25-june-21-community-gems.md
Due: prettier --write

cases: rename Dataset Storage page and update intro per https://github.com/iterative/dvc.org/pull/2587#discussion_r661973106
  content/docs/sidebar.json
  content/docs/use-cases/effective-dataset-storage.md
  content/docs/use-cases/managing-datasets.md
  content/docs/user-guide/experiment-management/checkpoints.md
Due: prettier --write

cases: update scenarios for Effective Dataset Storage
  content/docs/use-cases/effective-dataset-storage.md
Due: prettier --write

updated answer to address comments
  content/blog/2021-06-25-june-21-community-gems.md
Due: prettier --write

minor formatting
  content/blog/2021-06-25-june-21-community-gems.md
Due: prettier --write

more minor clean up
  content/blog/2021-06-30-june-21-community-gems.md
Due: prettier --write

Convert AutoLinkHeader into AutoLinkElement
  src/components/Documentation/WithJSX/AutoLinkElement/index.tsx
  src/components/Documentation/WithJSX/AutoLinkElement/styles.module.css
  src/components/Documentation/WithJSX/AutoLinkHeader/index.tsx
  src/pages/doc/user-guide/glossary.tsx
Due: none

Update link-check to 0.8 (ref links) (#2599)
  .github/workflows/link-check-all.yml
  .github/workflows/link-check-deploy.yml
Due: none

api: use ref links
  content/docs/api-reference/get_url.md
Due: prettier --write

guide: cleanup some md links (#2534)
  content/docs/api-reference/get_url.md
  content/docs/command-reference/destroy.md
  content/docs/user-guide/managing-external-data.md
Due: prettier --write

fix metadata
  content/blog/2020-01-17-january-20-dvc-heartbeat.md
  content/blog/2020-02-10-february-20-dvc-heartbeat.md
  content/blog/2020-03-11-march-20-dvc-heartbeat.md
  content/blog/2020-04-06-april-20-dvc-heartbeat.md
  content/blog/2020-05-14-may-20-dvc-heartbeat.md
  content/blog/2020-06-08-june-20-dvc-heartbeat.md
  content/blog/2020-07-10-july-20-dvc-heartbeat.md
  content/blog/2020-08-10-august-20-dvc-heartbeat.md
  content/blog/2020-09-09-september-20-dvc-heartbeat.md
  content/blog/2020-10-12-october-20-dvc-heartbeat.md
  content/blog/2020-11-11-november-20-dvc-heartbeat.md
  content/blog/2020-12-18-december-20-dvc-heartbeat.md
  content/blog/2021-01-20-january-21-dvc-heartbeat.md
  content/blog/2021-02-16-february-21-dvc-heartbeat.md
  content/blog/2021-03-15-March-21-dvc-heartbeat.md
  content/blog/2021-04-16-april-21-dvc-heartbeat.md
  content/blog/2021-05-21-may-21-dvc-heartbeat.md
Due: prettier --write
