Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

ref: replaced all `dvc run` references with `dvc stage add` in `dvc add` (#3024)
  content/docs/command-reference/add.md
Due: prettier --write

Add tablet and desktop versions of WhatsNewModal
  package.json
  src/components/Home/WhatsNewModal/index.tsx
  src/components/Home/WhatsNewModal/styles.module.css
  src/components/Home/index.tsx
  static/img/close-icon.svg
  yarn.lock
Due: prettier --write

Add video to hero
  src/components/Home/LandingHero/index.tsx
  src/components/Home/LandingHero/styles.module.css
Due: none

Adjust WhatsNew modal texts
  src/components/Home/WhatsNewModal/index.tsx
Due: none

Add WhatsNew modal to phone * adjusted texts, widths, and positioning
  src/components/Home/WhatsNewModal/styles.module.css
Due: none

Update internal-files.md
  content/docs/user-guide/project-structure/internal-files.md
Due: prettier --write

Restyled by prettier
  content/docs/user-guide/project-structure/internal-files.md
Due: prettier --write

ref: Update `dvc run` references in `dvc commit`
  content/docs/command-reference/commit.md
Due: prettier --write

updated post based on feedback
  content/blog/2021-12-02-collaborative-experiments.md
Due: prettier --write

cases: text reorg and improvements per private feedback
  content/docs/use-cases/experiment-tracking.md
Due: prettier --write

Mention `dvc exp run` in `Run-cache` (#3033)
  content/docs/user-guide/project-structure/internal-files.md
Due: prettier --write

updated answer about dvc remove
  content/blog/2021-11-30-november-21-community-gems.md
Due: prettier --write

updated Dec office hours
  content/blog/2021-11-30-november-21-community-gems.md
Due: prettier --write

Update What's New modal * increase button animation * take off video
  src/components/Home/WhatsNewModal/index.tsx
  src/components/Home/WhatsNewModal/styles.module.css
Due: none

docs: python 3.6 -> 3.7 (#3029)
  content/docs/install/linux.md
  content/docs/install/macos.md
  content/docs/install/pre-release.md
  content/docs/user-guide/contributing/core.md
  content/docs/user-guide/contributing/docs.md
Due: prettier --write

Update content/blog/2021-11-30-november-21-community-gems.md
  content/blog/2021-11-30-november-21-community-gems.md
Due: prettier --write

Restyled by prettier
  content/blog/2021-11-30-november-21-community-gems.md
Due: prettier --write

exp versioning blog post: rename
  content/blog/2021-11-30-ml-experiment-versioning.md
Due: prettier --write

updates to community page
  content/community.json
  static/img/community/events/data-day-texas.png
  static/img/community/events/py-barcelona.png
  static/img/community/ugc/baena.jpeg
  static/img/community/ugc/shanaka-square.png
Due: prettier --write

adjustment to Support page
  src/components/Support/index.tsx
Due: none

one more event and number adjusted
  content/community.json
Due: prettier --write

Add console.logs
  plugins/community-page/gatsby-node.js
  src/components/Community/Events/index.tsx
Due: eslint --fix

Update how Events gets date
  src/components/Community/Events/index.tsx
Due: none

Fix incorrect /community events dates
  src/components/Community/Events/index.tsx
Due: none

Fix incorrect /community events dates (#3040)
  src/components/Community/Events/index.tsx
Due: none

Update WhatsNew modal * add image (to be changed later) * update texts * turn title into link * fix scroll bug
  src/components/Home/WhatsNewModal/index.tsx
  src/components/Home/WhatsNewModal/styles.module.css
Due: none

Update WhatsNewModel * make image a link * increase text by 2px on bigger screens * make link bold
  src/components/Home/WhatsNewModal/index.tsx
  src/components/Home/WhatsNewModal/styles.module.css
Due: none

more feedback updates
  content/blog/2021-12-02-collaborative-experiments.md
Due: prettier --write

Add section for parallel coordinates
  content/docs/user-guide/experiment-management/comparing-experiments.md
Due: prettier --write

ref: don't use local config in GDrive OAuth creds per https://github.com/iterative/dvc.org/pull/3027#discussion_r750907324
  content/docs/command-reference/remote/modify.md
Due: prettier --write

ref: review `remote add/modify --local` info. (#3027)
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/modify.md
Due: prettier --write

ref: separate HDFS and WebHDFS config notes per https://github.com/iterative/dvc.org/pull/3019#pullrequestreview-805338042
  content/docs/command-reference/remote/add.md
Due: prettier --write

exp apply: sipmlify --no-force note, add it to guide
  content/docs/command-reference/exp/apply.md
  content/docs/user-guide/experiment-management/persisting-experiments.md
Due: prettier --write

Update index.md (#3014)
  content/docs/command-reference/params/index.md
Due: prettier --write

exp apply: sipmlify --no-force note, add it to guide (#3042)
  content/docs/command-reference/exp/apply.md
  content/docs/user-guide/experiment-management/persisting-experiments.md
Due: prettier --write

cases: reorg Exp Tracking story
  content/docs/use-cases/experiment-tracking.md
Due: prettier --write

Update content/docs/use-cases/experiment-tracking.md
  content/docs/use-cases/experiment-tracking.md
Due: prettier --write
