Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update content/docs/command-reference/dag.md
  content/docs/command-reference/dag.md
Due: prettier --write

Remove bash-based GitHub action
  scripts/link-check-action.sh
Due: none

Add a JS-based link checker with CLI and GitHub Action runners
  package.json
  scripts/link-check/action.js
  scripts/link-check/exclusions.js
  scripts/link-check/formatting.js
  scripts/link-check/index.js
  scripts/link-check/link-check-git-diff.js
  scripts/link-check/link-check.js
  yarn.lock
Due: eslint --fix, prettier --write

Improve link checker
  .github/workflows/link-check.yml
  scripts/link-check/action.js
  scripts/link-check/exclusions.js
  scripts/link-check/formatting.js
  scripts/link-check/index.js
  scripts/link-check/link-check-git-diff.js
  scripts/link-check/link-check.js
Due: eslint --fix

Move action definition to its own file
  .github/workflows/link-check.yml
  scripts/link-check/action.js
  scripts/link-check/action.yml
Due: eslint --fix

Add fields to example content to fix required error
  content/blog/2020-07-27-example.md
Due: prettier --write

Fix workflow syntax (inputs -> with)
  .github/workflows/link-check.yml
Due: none

Fix output format for action
  .github/workflows/link-check.yml
  scripts/link-check/action.js
  scripts/link-check/action.yml
Due: eslint --fix

Change invocation of local action to action.yml's parent directory
  .github/workflows/link-check.yml
Due: none

Change file links to be non-dot relative
  .github/workflows/link-check.yml
  scripts/link-check/action.yml
Due: none

Undo `uses` change
  .github/workflows/link-check.yml
Due: none

Move Action to its own repo
  .github/workflows/link-check.yml
  scripts/link-check/action.js
  scripts/link-check/action.yml
  scripts/link-check/exclusions.js
  scripts/link-check/formatting.js
  scripts/link-check/index.js
  scripts/link-check/link-check-git-diff.js
  scripts/link-check/link-check.js
Due: eslint --fix

Revert package.json to master
  package.json
Due: prettier --write

Add tag because not having one is invalid
  .github/workflows/link-check.yml
Due: none

Change tag to unnumbered "testing"
  .github/workflows/link-check.yml
Due: none

Remove example content
  content/blog/2020-07-07-cml-release.md
  content/blog/2020-07-24-first-mlops-tutorial.md
  content/blog/2020-07-27-example.md
Due: prettier --write

Change `uses` tag to `rc1` instead of `testing`
  .github/workflows/link-check.yml
Due: none

Revert original shell script link checkers to master versions
  scripts/link-check.sh
  scripts/utils.sh
Due: none

Revert yarn.lock to master
  yarn.lock
Due: none

Add example towarddatascience link to test 405 behavior
  content/blog/2020-07-24-first-mlops-tutorial.md
Due: prettier --write

Make a more comprehensive example set
  content/blog/2020-07-24-first-mlops-tutorial.md
Due: prettier --write

Add duplicate test link
  content/blog/2020-07-24-first-mlops-tutorial.md
Due: prettier --write

Update action to rc2 for full reports every time
  .github/workflows/link-check.yml
Due: none

Update workflow to use instead of
  .github/workflows/link-check.yml
Due: none

Fix deployment url target variable again
  .github/workflows/link-check.yml
Due: none

Add yet another change to deploy URL access
  .github/workflows/link-check.yml
Due: none

Remove towardsdatascience from link exclusions
  scripts/exclude-links.txt
Due: none

Return content to normal
  content/blog/2020-07-24-first-mlops-tutorial.md
Due: prettier --write

attempt image frontmatter & sizing
  content/blog/2020-06-28-shtab-completion.md
Due: prettier --write

image sizing and new post image
  content/blog/2020-06-28-shtab-completion.md
  static/uploads/images/2020-06-28/tab-py.jpg
Due: prettier --write

fix captions
  content/blog/2020-06-28-shtab-completion.md
Due: prettier --write

annotate key frequency image
  static/uploads/images/2020-06-28/key-frequencies.png
Due: none

Update content/docs/command-reference/params/index.md
  content/docs/command-reference/params/index.md
Due: prettier --write

try to fix image captions
  content/blog/2020-06-28-shtab-completion.md
Due: prettier --write

Update 2020-06-28-shtab-completion.md
  content/blog/2020-06-28-shtab-completion.md
Due: prettier --write

Restyled by prettier
  content/blog/2020-06-28-shtab-completion.md
Due: prettier --write

add params example with toml parameters file (#1612)
  content/docs/command-reference/params/index.md
  content/docs/command-reference/run.md
  content/docs/start/experiments.md
  content/docs/user-guide/dvc-files-and-directories.md
Due: prettier --write

download: update to 1.2.1
  src/components/DownloadButton/index.tsx
Due: none

update dates and lengthen URL
  content/blog/2020-07-27-shtab-completion-release.md
  static/uploads/images/2020-07-27/dvc.gif
  static/uploads/images/2020-07-27/key-frequencies.png
  static/uploads/images/2020-07-27/tab-py.jpg
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
