Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

start: edits
  content/docs/start/data-management/metrics-parameters-plots.md
Due: prettier --write

guide: fix link in sharing exps
  content/docs/user-guide/experiment-management/sharing-experiments.md
Due: prettier --write

guide: experiment tracking edits (#4230)
  content/docs/user-guide/experiment-management/sharing-experiments.md
Due: prettier --write

Use typed.js and re-add old terminal content
  package.json
  src/components/AsciinemaPlayer/index.tsx
  src/components/Home/LandingHero/Typed/index.tsx
  src/components/Home/LandingHero/index.tsx
  static/asciinema/expshow.cast
  static/asciinema/pull.cast
  static/asciinema/remote.cast
  yarn.lock
Due: prettier --write

Update content/docs/contributing/docs.md
  content/docs/contributing/docs.md
Due: prettier --write

Restyled by prettier
  content/docs/contributing/docs.md
Due: prettier --write

Tweak line delays and styling
  package.json
  src/components/Home/LandingHero/index.tsx
  yarn.lock
Due: prettier --write

Apply suggestions from code review
  content/docs/contributing/docs.md
Due: prettier --write

docs/contributing: Clarify supported Node.js version (#4224)
  content/docs/contributing/docs.md
Due: prettier --write

Use max height over height for feature items
  src/components/Home/LandingHero/index.tsx
Due: none

Move pre-processing to build time
  content/data/home.json
  gatsby-config.js
  gatsby-node.js
  plugins/landing-page/gatsby-node.ts
  plugins/landing-page/package.json
  src/components/Home/LandingHero/index.tsx
Due: eslint --fix, prettier --write

Shrink terminal width slightly to avoid a mid-width line break
  src/components/Home/LandingHero/index.tsx
Due: none

Re-add download and get started buttons
  src/components/Home/LandingHero/index.tsx
  src/components/Home/LandingHero/styles.module.css
Due: none

fix(docs/studio): update gitlab self-hosted link
  content/docs/studio/get-started.md
Due: prettier --write

fix links in studio/getting-started and create-a-project
  content/docs/studio/get-started.md
  content/docs/studio/user-guide/projects-and-experiments/create-a-project.md
Due: prettier --write

fix(docs/studio): studio/getting-started and create-a-project - update gitlab self-hosted link (#4232)
  content/docs/studio/get-started.md
  content/docs/studio/user-guide/projects-and-experiments/create-a-project.md
Due: prettier --write

Refactor and use original colors
  src/components/Home/LandingHero/Slides/index.tsx
  src/components/Home/LandingHero/index.tsx
  src/components/Home/LandingHero/styles.module.css
  tailwind.config.js
Due: eslint --fix

start: consolidate text (DM/ Plots) &
  content/docs/start/data-management/metrics-parameters-plots.md
Due: prettier --write

start: avoid "render" in DM/ Plots
  content/docs/start/data-management/metrics-parameters-plots.md
Due: prettier --write

Add subheading under main heading
  src/components/Home/LandingHero/index.tsx
Due: none

Add more discrete pause handling and purple header color
  content/data/home.json
  plugins/landing-page/gatsby-node.ts
  src/components/Home/LandingHero/index.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

Add terminal buttons
  src/components/Home/LandingHero/Slides/index.tsx
Due: none

start: improve DM/ Plots/ Viz
  content/docs/start/data-management/metrics-parameters-plots.md
Due: prettier --write

Change term inline block wrapper to fix cursor
  src/components/Home/LandingHero/Slides/index.tsx
Due: none

Add highlighting and dark color to terminal
  plugins/landing-page/gatsby-node.ts
  src/components/Home/LandingHero/Slides/index.tsx
  src/components/Home/LandingHero/Typed/index.tsx
  tailwind.config.js
Due: eslint --fix

Use cli over dvc when getting prism highlighter
  plugins/landing-page/gatsby-node.ts
Due: none

Make heading bigger and bolder, add "Open-source" to subheading
  src/components/Home/LandingHero/index.tsx
Due: none

Make heading scale with screen size
  src/components/Home/LandingHero/index.tsx
Due: none

guide: Data Management text (section 1)
  content/docs/user-guide/data-management/index.md
Due: prettier --write

guide: Data Management (main text)
  content/docs/user-guide/data-management/index.md
Due: prettier --write

guide: Data Management (secondary text)
  content/docs/user-guide/data-management/index.md
Due: prettier --write

Update metrics-parameters-plots.md
  content/docs/start/data-management/metrics-parameters-plots.md
Due: prettier --write

Update metrics-parameters-plots.md (#4233)
  content/docs/start/data-management/metrics-parameters-plots.md
Due: prettier --write

ref: `queue kill --force` update &
  content/docs/command-reference/queue/kill.md
Due: prettier --write

Update content/docs/command-reference/remote/modify.md
  content/docs/command-reference/remote/modify.md
Due: prettier --write

guide: add DVC data mgmt technical diagram &
  content/docs/user-guide/data-management/index.md
  static/img/dvc-data-process.png
Due: prettier --write

Make "(Not Just)" and "Data Version Control" invididually not break line
  src/components/Home/LandingHero/index.tsx
Due: none

Restyled by prettier
  content/docs/command-reference/remote/modify.md
Due: prettier --write

Update content/docs/command-reference/exp/save.md
  content/docs/command-reference/exp/save.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
