Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

minor fixs
  src/config/index.ts
Due: none

ref: improve status description
  content/docs/command-reference/status.md
Due: prettier --write

status: clarify meaning of "always changed" in ref and and link from dvc.yaml always_changed field
  content/docs/command-reference/status.md
  content/docs/user-guide/project-structure/pipelines-files.md
Due: prettier --write

ref: update --always-changed refs and links
  content/docs/command-reference/repro.md
  content/docs/command-reference/run.md
  content/docs/command-reference/stage/add.md
Due: prettier --write

ref: review refs to the other status(es) only a coupld _not in cache_ found
  content/docs/command-reference/commit.md
  content/docs/command-reference/diff.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/repro.md
Due: prettier --write

start: about .dvc file tracking
  content/docs/start/data-and-model-versioning.md
Due: prettier --write

exp show: add `--rev` flag exp show
  content/docs/command-reference/exp/show.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/exp/show.md
Due: prettier --write

exp remove: add new flags `--rev` and `-n`
  content/docs/command-reference/exp/remove.md
Due: prettier --write

exp show: add `--rev`, `-n`, `-A` flag exp pull/push
  content/docs/command-reference/exp/pull.md
  content/docs/command-reference/exp/push.md
Due: prettier --write

add a new `num` arg to exp list, rename `--all` to `--all-commits`
  content/docs/command-reference/exp/list.md
Due: prettier --write

added margin to yt-embed block
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/Main/styles.module.css
  src/components/Blog/Post/Markdown/styles.module.css
Due: none

no-fix
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/Main/styles.module.css
  src/components/Blog/Post/Markdown/styles.module.css
Due: none

Added margins to youtube embeds (#3292)
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/Main/styles.module.css
  src/components/Blog/Post/Markdown/styles.module.css
Due: none

Feb HB
  content/blog/2022-2-15-february-22-heartbeat.md
  static/uploads/images/2022-02-17/alex-serban.png
  static/uploads/images/2022-02-17/arjun-kumbakkara-architecture.png
  static/uploads/images/2022-02-17/battery-dev.png
  static/uploads/images/2022-02-17/heartbeat-february.png
  static/uploads/images/2022-02-17/office-hours-meetup.png
  static/uploads/images/2022-02-17/roles-in-ai.png
  static/uploads/images/2022-02-17/scientometric.png
  static/uploads/images/2022-02-17/twine.png
Due: prettier --write

revisions
  content/blog/2022-2-15-february-22-heartbeat.md
Due: prettier --write

small typo fixes
  content/blog/2022-2-15-february-22-heartbeat.md
Due: prettier --write

final cover image
  static/uploads/images/2022-02-17/heartbeat-february.png
Due: none

enlarged the confusion image
  static/img/start_visualization_confusion2.png
Due: none

caching .cache and public with same key
  .github/workflows/blogs-indexing.yaml
Due: none

Search blogs indexing on Github actions CI (#3264)
  .env.example
  .github/workflows/blogs-indexing.yaml
  gatsby-config.js
  src/config/index.ts
  src/gatsby/models/blog/onCreateMarkdownContentNode.js
  src/utils/algolia-queries.js
Due: eslint --fix

set branch to master
  .github/workflows/blogs-indexing.yaml
Due: none

Blog: February Heartbeat (#3293)
  content/blog/2022-2-15-february-22-heartbeat.md
  static/uploads/images/2022-02-17/alex-serban.png
  static/uploads/images/2022-02-17/arjun-kumbakkara-architecture.png
  static/uploads/images/2022-02-17/battery-dev.png
  static/uploads/images/2022-02-17/heartbeat-february.png
  static/uploads/images/2022-02-17/office-hours-meetup.png
  static/uploads/images/2022-02-17/roles-in-ai.png
  static/uploads/images/2022-02-17/scientometric.png
  static/uploads/images/2022-02-17/twine.png
Due: prettier --write

changing date on piece
  content/blog/2022-2-17-february-22-heartbeat.md
Due: prettier --write

changing date on piece (#3298)
  content/blog/2022-2-17-february-22-heartbeat.md
Due: prettier --write

added input for full indexing as well
  .github/workflows/blogs-indexing.yaml
  gatsby-config.js
Due: eslint --fix

ref/remote: tabify & crossref config
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/modify.md
Due: prettier --write

correcting bad links
  content/blog/2022-2-17-february-22-heartbeat.md
Due: prettier --write

correcting bad links (#3301)
  content/blog/2022-2-17-february-22-heartbeat.md
Due: prettier --write

install: drop `snap install --beta/edge` (Linux)
  content/docs/install/linux.md
Due: prettier --write

term: metricS history (file) [DVCLive]
  content/docs/dvclive/api-reference/live/log.md
Due: prettier --write

dvclive: format log_image params
  content/docs/dvclive/api-reference/live/log_image.md
Due: prettier --write

dvclive: format log_plot params
  content/docs/dvclive/api-reference/live/log_plot.md
Due: prettier --write

Update content/docs/dvclive/api-reference/live/log_plot.md
  content/docs/dvclive/api-reference/live/log_plot.md
Due: prettier --write

Update modify.md
  content/docs/command-reference/remote/modify.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/remote/modify.md
Due: prettier --write

Indent
  content/docs/command-reference/remote/modify.md
Due: prettier --write
