Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Generate sidebar redirects automatically
  redirects-list.json
  src/server/middleware/redirects/index.js
  src/utils/shared/redirects.js
  src/utils/shared/redirects.test.js
  src/utils/shared/sidebar.js
Due: eslint --fix, prettier --write

Generate sidebar redirects automatically (#1133)
  redirects-list.json
  src/server/middleware/redirects/index.js
  src/utils/shared/redirects.js
  src/utils/shared/redirects.test.js
  src/utils/shared/sidebar.js
Due: eslint --fix, prettier --write

Store .cache and public fully on S3
  scripts/deploy-with-s3.js
Due: eslint --fix

Do not cache public and .cache folders on Heroku
  package.json
Due: prettier --write

Clean up outdated page-data on rebuilds
  package.json
  scripts/deploy-with-s3.js
  scripts/page-data-utils.js
  yarn.lock
Due: eslint --fix, prettier --write

Removed repeating 'myremote' remote name
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

Removed repeating 'myremote' remote name (#1135)
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

add meta tags for SEO
  src/components/HamburgerIcon/index.tsx
  src/components/Page/DefaultSEO/index.tsx
  src/components/Page/index.tsx
  src/components/SEO/index.tsx
  src/templates/blog-post.tsx
  static/robots.txt
Due: none

don't break glossary terms to prevent broken tooltip positioning
  src/components/Documentation/Markdown/Tooltip/DesktopView/styles.module.css
Due: none

minor: eslint config remove comments since they are not part of JSON
  .eslintrc.json
Due: prettier --write

params: more code-review fixes
  content/docs/command-reference/params/diff.md
  content/docs/command-reference/params/index.md
Due: prettier --write

add params to prismjs: cmd highlight
  config/prismjs/dvc-commands.js
Due: eslint --fix

Update content/docs/command-reference/params/diff.md
  content/docs/command-reference/params/diff.md
Due: prettier --write

docs: remove deprecated --cwd
  content/docs/command-reference/run.md
Due: prettier --write

cmd ref: finish params and related docs
  content/docs/command-reference/metrics/diff.md
  content/docs/command-reference/metrics/index.md
  content/docs/command-reference/metrics/modify.md
  content/docs/command-reference/params/diff.md
  content/docs/command-reference/params/index.md
  content/docs/command-reference/run.md
  content/docs/glossary.js
  content/docs/tutorials/get-started/experiments.md
  content/docs/user-guide/dvc-file-format.md
Due: eslint --fix, prettier --write

remove inexistent options from run
  content/docs/command-reference/run.md
Due: prettier --write

cmd ref: reinstate new options of run and add them to Options per https://github.com/iterative/dvc.org/pull/1131#pullrequestreview-391809115
  content/docs/command-reference/run.md
Due: prettier --write

readme/contributing: update after migration to Gatsby
  README.md
  content/docs/sidebar.json
  content/docs/user-guide/contributing/blog.md
  content/docs/user-guide/contributing/docs.md
Due: prettier --write

README: fix copyright, include proper links, refactor sections
  README.md
Due: prettier --write

docs contib guide: update, fix linters a litle bit
  .eslintignore
  .eslintrc.json
  README.md
  content/docs/user-guide/contributing/docs.md
  gatsby-ssr.js
  package.json
Due: eslint --fix, prettier --write

contrib: update and improve writing a blog post section
  content/docs/sidebar.json
  content/docs/user-guide/contributing/blog.md
  content/docs/user-guide/contributing/docs.md
Due: prettier --write

content: update broken link
  content/blog/2019-06-26-june-19-dvc-heartbeat.md
  content/docs/understanding-dvc/resources.md
Due: prettier --write

docs: remove deprecated `--remove-outs`
  content/docs/command-reference/run.md
Due: prettier --write

docs: remove deprecated `--remove-outs` (#1141)
  content/docs/command-reference/run.md
Due: prettier --write

add link in new release
  content/blog/2020-04-06-april-20-dvc-heartbeat.md
Due: prettier --write

blog: April heartbeat (#1122)
  content/blog/2020-03-31-reimagining-devops-video.md
  content/blog/2020-04-06-april-20-dvc-heartbeat.md
  static/uploads/images/2020-04-06/april_header.png
  static/uploads/images/2020-04-06/data_stream.png
  static/uploads/images/2020-04-06/laptop_on_boat.jpeg
  static/uploads/images/2020-04-06/marcel.jpeg
  static/uploads/images/2020-04-06/monolith.jpeg
  static/uploads/images/2020-04-06/oreilly.jpeg
Due: prettier --write

Update 2020-04-06-april-20-dvc-heartbeat.md
  content/blog/2020-04-06-april-20-dvc-heartbeat.md
Due: prettier --write

Update 2020-04-06-april-20-dvc-heartbeat.md (#1142)
  content/blog/2020-04-06-april-20-dvc-heartbeat.md
Due: prettier --write

rss: update blog RSS URL
  gatsby-config.js
Due: eslint --fix

readme/contrib: address PRs review
  content/docs/user-guide/contributing/blog.md
  content/docs/user-guide/contributing/docs.md
  gatsby-config.js
Due: eslint --fix, prettier --write

use cases: fix highlighter type
  content/docs/use-cases/data-registries.md
Due: prettier --write

tutorials: new get started up to stages section
  content/docs/command-reference/get-url.md
  content/docs/command-reference/import-url.md
  content/docs/command-reference/pipeline/index.md
  content/docs/command-reference/remote/index.md
  content/docs/install/macos.md
  content/docs/install/pre-release.md
  content/docs/tutorials/get-started/data-pipelines.md
  content/docs/tutorials/get-started/experiment-management.md
  content/docs/tutorials/get-started/index.md
  content/docs/tutorials/get-started/versioning-basics.md
  content/docs/tutorials/pipelines.md
  content/docs/understanding-dvc/related-technologies.md
  content/docs/user-guide/contributing/core.md
  content/docs/user-guide/contributing/docs.md
  content/docs/user-guide/running-dvc-on-windows.md
  content/docs/user-guide/updating-tracked-files.md
Due: prettier --write

Add a "posts" field to Authors
  src/gatsby/models/authors/createSchemaCustomization.js
Due: eslint --fix

Improve model schema
  gatsby-config.js
  gatsby-node.js
  package.json
  src/components/Blog/Feed/Item/index.tsx
  src/components/Blog/FeedMeta/index.tsx
  src/components/Blog/Post/HeroPic/index.tsx
  src/components/Blog/Post/index.tsx
  src/gatsby/common.js
  src/gatsby/models.js
  src/gatsby/models/authors/createSchemaCustomization.js
  src/gatsby/models/authors/index.js
  src/gatsby/models/authors/onCreateNode.js
  src/gatsby/models/blog/createPages.js
  src/gatsby/models/blog/createSchemaCustomization.js
  src/gatsby/models/blog/index.js
  src/gatsby/models/blog/onCreateNode.js
  src/gatsby/models/docs/createPages.js
  src/gatsby/models/docs/createSchemaCustomization.js
  src/gatsby/models/docs/index.js
  src/gatsby/models/docs/onCreateNode.js
  src/gatsby/models/image-source-paths/index.js
  src/gatsby/models/markdown-content/fields.js
  src/gatsby/models/markdown-content/index.js
  src/gatsby/utils/models/index.js
  src/gatsby/utils/resolvers/index.js
  src/queries/posts.ts
  src/templates/blog-post.tsx
  src/templates/doc-home.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Refactor content parsing logic out into "Models"
  gatsby-config.js
  gatsby-node.js
  src/components/Blog/Feed/Item/index.tsx
  src/components/Blog/Feed/index.tsx
  src/components/Blog/Post/index.tsx
  src/gatsby/common.js
  src/gatsby/models.js
  src/gatsby/models/authors/index.js
  src/gatsby/models/authors/onCreateNode.js
  src/gatsby/models/blog/createPages.js
  src/gatsby/models/blog/index.js
  src/gatsby/models/blog/onCreateNode.js
  src/gatsby/models/docs/createPages.js
  src/gatsby/models/docs/index.js
  src/gatsby/models/docs/onCreateNode.js
  src/gatsby/models/markdown-content/index.js
  src/queries/posts.ts
  src/templates/blog-home.tsx
  src/templates/blog-post.tsx
  src/templates/blog-tags.tsx
  src/templates/doc-home.tsx
  src/utils/models/index.js
Due: eslint --fix

readme/contrib: address second review
  content/docs/user-guide/contributing/blog.md
  content/docs/user-guide/contributing/docs.md
  package.json
Due: prettier --write

README/contributing: update after migration to Gatsby (#1138)
  .eslintignore
  .eslintrc.json
  README.md
  content/docs/sidebar.json
  content/docs/user-guide/contributing/blog.md
  content/docs/user-guide/contributing/docs.md
  gatsby-config.js
  gatsby-ssr.js
  package.json
Due: eslint --fix, prettier --write

Update blog.md
  content/docs/user-guide/contributing/blog.md
Due: prettier --write

Fix lint problems after merging with the web ui.
  gatsby-config.js
  src/gatsby/common.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
