Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

community page new header (#1282)
  src/components/Community/Contribute/index.tsx
  src/components/Community/Hero/index.tsx
  src/components/Community/data.json
  static/img/community/banner-mobile.png
  static/img/community/banner.png
  static/img/community/header_mailing_list_skinny.png
  static/img/community/mobile_header_mailing_list_skinny.png
  static/img/community/ugc/donuts.png
  static/img/community/ugc/fowler_icon.ico
  static/img/community/ugc/marcel.jpg
  static/img/community/ugc/ml-axis-of-change.png
Due: prettier --write

Rename default banner images to a more generic name
  content/community.json
  static/img/community/default-banner.png
  static/img/community/default-mobile-banner.png
  static/img/community/header_mailing_list.png
  static/img/community/mobile_header_mailing_list.png
Due: prettier --write

remove unused import from community model
  src/gatsby/models/community/index.js
Due: eslint --fix

Fix unrelated unused imports
  scripts/deploy-with-s3.js
  scripts/s3-utils.js
Due: eslint --fix

update supported Python versions (drop 3.5) (#1287)
  content/docs/install/linux.md
  content/docs/install/macos.md
  content/docs/install/windows.md
Due: prettier --write

cmd ref: add --all to metrics diff per https://github.com/iterative/dvc.org/pull/1266#pullrequestreview-408459695
  content/docs/command-reference/metrics/diff.md
Due: prettier --write

Fix handling of 0 usable events
  content/community.json
  src/utils/front/community.ts
  src/utils/shared/expiration.js
Due: eslint --fix, prettier --write

docs: --ignore-build-cache -> --no-run-cache
  content/docs/command-reference/repro.md
  content/docs/command-reference/run.md
Due: prettier --write

fix TS issues
  src/utils/front/community.ts
Due: none

Fix link in community JSON data
  content/community.json
Due: prettier --write

docs: --ignore-build-cache -> --no-run-cache (#1285)
  content/docs/command-reference/repro.md
  content/docs/command-reference/run.md
Due: prettier --write

Fix mobile doc sidebar (#1279)
  src/components/Documentation/Layout/SidebarMenu/index.tsx
  src/components/Documentation/Layout/SidebarMenu/styles.module.css
  src/components/Documentation/Layout/index.tsx
Due: none

Remove TODO
  src/utils/front/community.ts
Due: none

Change "Women in San Diego" event date
  content/community.json
Due: prettier --write

revert blog content check for now
  scripts/link-check-git-all.sh
Due: none

Display a message in a situation with no events.
  src/components/Community/Events/index.tsx
  src/components/Community/Events/styles.module.css
Due: none

Simplify getExpirationDate
  src/utils/shared/expiration.js
Due: eslint --fix

fix broken links: one more iteration
  content/blog/2020-01-20-january-20-community-gems.md
  content/docs/user-guide/api-reference/get_url.md
  content/docs/user-guide/api-reference/index.md
  content/docs/user-guide/api-reference/read.md
Due: prettier --write

Renamed --outs-only to --dvc-only
  content/docs/command-reference/list.md
Due: prettier --write

always visible scroll
  src/components/Documentation/RightPanel/styles.module.css
Due: none

cmd ref: update metrics diff --all description per https://github.com/iterative/dvc.org/pull/1283#pullrequestreview-411308971
  content/docs/command-reference/metrics/diff.md
Due: prettier --write

cmd ref: update run params example to clarify what DVC does and does not
  content/docs/command-reference/run.md
Due: prettier --write

docs: rename plot -> plots
  config/prismjs/dvc-commands.js
  content/blog/2020-04-30-gsod-ideas-2020.md
  content/blog/2020-05-04-dvc-3-years-and-1-0-release.md
  content/docs/command-reference/plots/diff.md
  content/docs/command-reference/plots/index.md
  content/docs/command-reference/plots/show.md
  content/docs/sidebar.json
Due: eslint --fix, prettier --write

user-guide: add .dvc/plots
  content/docs/user-guide/dvc-files-and-directories.md
Due: prettier --write

images: rename plot -> plots
  content/blog/2020-05-04-dvc-3-years-and-1-0-release.md
  content/docs/command-reference/plots/diff.md
  content/docs/command-reference/plots/index.md
  content/docs/command-reference/plots/show.md
  static/img/plots_auc.svg
  static/img/plots_diff.svg
  static/img/plots_diff_confusion.svg
  static/img/plots_diff_workspace.svg
  static/img/plots_show.svg
  static/img/plots_show_confusion.svg
  static/img/plots_show_field.svg
  static/img/plots_show_json.svg
  static/img/plots_show_json_field.svg
  static/uploads/images/2020-05-04/dvc-plots-scatter.svg
  static/uploads/images/2020-05-04/dvc-plots.svg
Due: prettier --write

Explicitly define sourceIndex on Hero items
  src/gatsby/models/community/index.js
Due: eslint --fix

May draft
  content/blog/2020-05-14-may-20-heartbeat.md
  static/uploads/images/2020-05-14/acing_ai.png
  static/uploads/images/2020-05-14/ar_logo.jpg
  static/uploads/images/2020-05-14/dev_logo.png
Due: prettier --write

Change events placeholder to use a common "gray text" class
  src/components/Community/Events/styles.module.css
  src/components/Community/styles.module.css
Due: none

Write tests for Expiration helpers
  src/utils/shared/expiration.test.js
Due: eslint --fix

install: remove hyphen
  content/docs/install/linux.md
Due: prettier --write

Fix a typo in Event css
  src/components/Community/Events/styles.module.css
Due: none

Change shared gray text class to be named "gray"
  src/components/Community/Events/styles.module.css
  src/components/Community/styles.module.css
Due: none

Add logs to indicate when Events are expired
  gatsby-node.js
  src/gatsby/models/community/index.js
Due: eslint --fix

Refactor expiration schema
  src/gatsby/models/community/index.js
Due: eslint --fix

"Expiration Date" feature for Community Hero and Events (#1281)
  content/community.json
  package.json
  scripts/deploy-with-s3.js
  scripts/s3-utils.js
  src/components/Community/Contribute/index.tsx
  src/components/Community/Events/index.tsx
  src/components/Community/Events/styles.module.css
  src/components/Community/Hero/index.tsx
  src/components/Community/Learn/index.tsx
  src/components/Community/Meet/index.tsx
  src/components/Community/Section/index.tsx
  src/components/Community/styles.module.css
  src/components/Link/index.tsx
  src/gatsby/models.js
  src/gatsby/models/community/index.js
  src/gatsby/models/json-files/index.js
  src/utils/front/community.ts
  src/utils/shared/expiration.js
  src/utils/shared/expiration.test.js
  static/img/community/default-banner.png
  static/img/community/default-mobile-banner.png
  yarn.lock
Due: eslint --fix, prettier --write

Log expired Heroes and improve expiration logs in general
  src/gatsby/models/community/index.js
Due: eslint --fix

Log expired events (#1295)
  gatsby-node.js
  src/gatsby/models/community/index.js
Due: eslint --fix

Correct dvc push and git push order
  content/docs/command-reference/install.md
Due: prettier --write

Add "card" and "cards" custom components to Docs
  src/components/Documentation/Markdown/index.tsx
  src/components/Documentation/Markdown/styles.module.css
Due: none
