Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Bump theme to v0.1.17
  package.json
  yarn.lock
Due: prettier --write

import/import-url improvements
  content/docs/command-reference/import-url.md
  content/docs/command-reference/import.md
Due: prettier --write

update renovate config
  renovate.json
Due: prettier --write

Bump theme to v0.1.17 (#4028)
  package.json
  yarn.lock
Due: prettier --write

cmd-ref: Document ls-url command (#3996)
  content/docs/command-reference/get-url.md
  content/docs/command-reference/import-url.md
  content/docs/command-reference/list-url.md
  content/docs/command-reference/list.md
  content/docs/sidebar.json
  content/linked-terms.js
Due: eslint --fix, prettier --write

link fix: fix pipelines link on the plots page
  content/docs/command-reference/plots/index.md
Due: prettier --write

link fix: fastai callback src code fixed on dvclive page
  content/docs/dvclive/ml-frameworks/fastai.md
Due: prettier --write

fix src links in dvclive ml frameworks
  content/docs/dvclive/ml-frameworks/catalyst.md
  content/docs/dvclive/ml-frameworks/huggingface.md
  content/docs/dvclive/ml-frameworks/keras.md
  content/docs/dvclive/ml-frameworks/lightgbm.md
  content/docs/dvclive/ml-frameworks/mmcv.md
  content/docs/dvclive/ml-frameworks/pytorch-lightning.md
  content/docs/dvclive/ml-frameworks/pytorch.md
  content/docs/dvclive/ml-frameworks/xgboost.md
Due: prettier --write

link fix: checkpoints wrong link to persisting exps
  content/docs/user-guide/experiment-management/checkpoints.md
Due: prettier --write

link fix: dvclive, plots findings by hexometer
  content/docs/command-reference/plots/index.md
  content/docs/dvclive/ml-frameworks/mmcv.md
  content/docs/dvclive/ml-frameworks/pytorch.md
Due: prettier --write

Add conditional
  .github/workflows/link-check-deploy.yml
Due: none

Remove brackets and invert conditional
  .github/workflows/link-check-deploy.yml
Due: none

Update renovate config (#4030)
  renovate.json
Due: prettier --write

First draft of content for CML workflow in Studio
  content/docs/studio/user-guide/projects-and-experiments/run-experiments.md
Due: prettier --write

Update content/docs/dvclive/get-started.md
  content/docs/dvclive/get-started.md
Due: prettier --write

Reduce wording
  content/docs/dvclive/get-started.md
  content/docs/dvclive/ml-frameworks/index.md
Due: prettier --write

Add Python API tab
  content/docs/dvclive/get-started.md
Due: prettier --write

More details
  content/docs/dvclive/get-started.md
Due: prettier --write

dvc 2.30.0
  src/components/DownloadButton/index.tsx
Due: none

Updates from review
  content/docs/dvclive/get-started.md
Due: prettier --write

Capitalize pages
  content/docs/dvclive/outputs.md
  content/docs/dvclive/resume.md
Due: prettier --write

Mention studio for sharing experiments
  content/docs/dvclive/get-started.md
Due: prettier --write

New section for Studio
  content/docs/dvclive/get-started.md
Due: prettier --write

Add sample output
  content/docs/dvclive/get-started.md
Due: prettier --write

Use test branch
  .github/workflows/link-check-deploy.yml
Due: none

Remove test conditional
  .github/workflows/link-check-deploy.yml
Due: none

Apply suggestions from code review
  content/docs/command-reference/import-url.md
  content/docs/command-reference/import.md
Due: prettier --write

import/import-url improvements (#4029)
  content/docs/command-reference/import.md
Due: prettier --write

guide: updates to `dvc.yaml` spec (#3789)
  content/docs/command-reference/config.md
  content/docs/user-guide/project-structure/dvcyaml-files.md
Due: prettier --write

start: get faster to actionable commands (#4023)
  content/docs/start/data-management/data-and-model-access.md
  content/docs/start/data-management/data-pipelines.md
  content/docs/start/data-management/data-versioning.md
  content/docs/start/data-management/metrics-parameters-plots.md
  content/docs/start/experiment-management/experiments.md
  content/docs/start/experiment-management/visualization.md
  content/docs/start/index.md
Due: prettier --write

update add.md --to-remote description
  content/docs/command-reference/add.md
Due: prettier --write

re-add if
  .github/workflows/link-check-deploy.yml
Due: none

Apply suggestions from code review
  content/docs/command-reference/add.md
Due: prettier --write

update add.md --to-remote description (#4035)
  content/docs/command-reference/add.md
Due: prettier --write

Revert to original setup with added conditionals
  .github/workflows/link-check-deploy.yml
Due: none

hotfix: dvc.yaml spec format
  content/docs/user-guide/project-structure/dvcyaml-files.md
Due: prettier --write

hotfix: dvc.yaml spec format (#4039)
  content/docs/user-guide/project-structure/dvcyaml-files.md
Due: prettier --write

cf plots diff: fix link
  content/docs/command-reference/plots/diff.md
Due: prettier --write

cr diff: fix the plots templates link and style
  content/docs/command-reference/plots/diff.md
Due: prettier --write

update list of supported dvc remote types
  content/docs/user-guide/data-management/managing-external-data.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
