Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix
  src/components/Documentation/RightPanel/index.tsx
Due: none

Update index.md
  content/docs/use-cases/index.md
Due: prettier --write

Change path to be sourced from Gatsby
  src/components/Documentation/Layout/index.tsx
  src/components/Page/index.tsx
Due: none

Update content/docs/command-reference/remote/rename.md
  content/docs/command-reference/remote/rename.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/remote/rename.md
Due: prettier --write

docs: API auto-mentioning in docs (#910) (#1305)
  .gitignore
  content/docs/api-reference/read.md
  content/docs/command-reference/list.md
  content/docs/install/index.md
  content/docs/use-cases/data-registries.md
  content/docs/user-guide/contributing/docs.md
  package.json
  plugins/gatsby-remark-dvc-linker/apiLinker.js
  plugins/gatsby-remark-dvc-linker/commandLinker.js
  plugins/gatsby-remark-dvc-linker/helpers.js
  plugins/gatsby-remark-dvc-linker/index.js
  plugins/gatsby-remark-dvc-linker/index.test.js
  yarn.lock
Due: eslint --fix, prettier --write

Update dir.md
  content/docs/command-reference/cache/dir.md
Due: prettier --write

Update shared-development-server.md
  content/docs/use-cases/shared-development-server.md
Due: prettier --write

Give docs home a special bullet
  content/docs/sidebar.json
  src/components/Documentation/Layout/SidebarMenu/house.svg
  src/components/Documentation/Layout/SidebarMenu/index.tsx
  src/components/Documentation/Layout/SidebarMenu/styles.module.css
  src/utils/shared/sidebar.js
Due: eslint --fix, prettier --write

Update the existing PR
  content/docs/command-reference/cache/dir.md
  content/docs/use-cases/shared-development-server.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/cache/dir.md
Due: prettier --write

Fix TS
  src/components/Documentation/Layout/SidebarMenu/index.tsx
Due: none

Give leaf items circle bullets by default
  src/components/Documentation/Layout/SidebarMenu/index.tsx
  src/components/Documentation/Layout/SidebarMenu/styles.module.css
  static/img/circle_dark.svg
Due: none

slight adjustment on leaf bullet positioning
  src/components/Documentation/Layout/SidebarMenu/styles.module.css
Due: none

Fix docs sidebar home highlight (#1312)
  src/components/Documentation/Layout/index.tsx
  src/components/Page/index.tsx
  src/utils/shared/sidebar.js
Due: eslint --fix

remove gitpod since main PR is not ready yet
  README.md
Due: prettier --write

Fix regression where items don't highlight at build time
  src/components/Documentation/Layout/index.tsx
  src/components/Page/index.tsx
Due: none

Fix TS
  src/components/Page/index.tsx
Due: none

Fix auto-merge issues
  src/components/Page/index.tsx
Due: none

Fix docs sidebar highlight regression (#1324)
  src/components/Documentation/Layout/index.tsx
  src/components/Page/index.tsx
Due: none

blog: add SEO idea to gsod post
  content/blog/2020-04-30-gsod-ideas-2020.md
Due: prettier --write

api: remove manual links to `dvc.api` per https://github.com/iterative/dvc.org/pull/1305#pullrequestreview-414652408
  content/docs/command-reference/list.md
  content/docs/use-cases/data-registries.md
Due: prettier --write

api: typo
  content/docs/api-reference/index.md
Due: prettier --write

user-guide: update docs contrib guide per #1314
  content/docs/user-guide/contributing/docs.md
Due: prettier --write

Update import-data.md
  content/docs/tutorials/get-started/import-data.md
Due: prettier --write

Update add-files.md
  content/docs/tutorials/get-started/add-files.md
Due: prettier --write

'Installing DVC without Git' link fixed
  content/docs/command-reference/init.md
Due: prettier --write

Update versioning.md
  content/docs/tutorials/versioning.md
Due: prettier --write

Update pipelines.md
  content/docs/tutorials/pipelines.md
Due: prettier --write

Update define-ml-pipeline.md
  content/docs/tutorials/deep/define-ml-pipeline.md
Due: prettier --write

Update data-registries.md
  content/docs/use-cases/data-registries.md
Due: prettier --write

cmd ref: updates to plot templates per https://github.com/iterative/dvc/pull/3830#pullrequestreview-415640978
  content/docs/command-reference/plots/index.md
  content/docs/command-reference/repro.md
Due: prettier --write

Update dvc-files-and-directories.md
  content/docs/user-guide/dvc-files-and-directories.md
Due: prettier --write

Update external-dependencies.md
  content/docs/user-guide/external-dependencies.md
Due: prettier --write

Update add.md
  content/docs/command-reference/add.md
Due: prettier --write

Change styling
  content/docs/sidebar.json
  src/components/Documentation/Layout/SidebarMenu/index.tsx
  src/components/Documentation/Layout/SidebarMenu/styles.module.css
  static/img/circle_dark.svg
Due: prettier --write

Switch rotation of default arrow bullets
  src/components/Documentation/Layout/SidebarMenu/styles.module.css
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
