Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

links: addresses #973 PR feedback per https://github.com/iterative/dvc.org/pull/973#pullrequestreview-353269240 through https://github.com/iterative/dvc.org/pull/973#pullrequestreview-353270157
  server.js
  src/utils/redirects.test.js
Due: eslint --fix

cmd-ref: document --rev option on update
  public/static/docs/command-reference/import.md
  public/static/docs/command-reference/update.md
Due: prettier --write

server: attempr to fix null query bug per https://github.com/iterative/dvc.org/pull/1009#issuecomment-588748865 ref https://github.com/zeit/next.js/issues/7303#issuecomment-511053550
  server.js
Due: eslint --fix

server: attempt to fix null query bug (2) per https://github.com/iterative/dvc.org/pull/1009#issuecomment-588748865 ref https://github.com/zeit/next.js/issues/7303#issuecomment-511053550
  server.js
Due: eslint --fix

server: attempt to fix null query bug (3) per https://github.com/iterative/dvc.org/pull/1009#issuecomment-588748865 ref https://github.com/zeit/next.js/issues/7303#issuecomment-511053550
  server.js
Due: eslint --fix

test: revert teapot eastern egg per https://github.com/iterative/dvc.org/pull/1009#discussion_r382127007
  src/utils/redirects.test.js
Due: eslint --fix

redirects: do not redirect to HTTPS on localhost
  scripts/exclude-links.txt
  src/utils/redirects.js
  src/utils/redirects.test.js
Due: eslint --fix

api: add list command
  public/static/docs/command-reference/list.md
  public/static/docs/sidebar.json
Due: prettier --write

redirects: do not redirect to HTTPS on localhost (#1010)
  scripts/exclude-links.txt
  src/utils/redirects.js
  src/utils/redirects.test.js
Due: eslint --fix

server: revert URL query parsing optimization per https://github.com/iterative/dvc.org/pull/1009#pullrequestreview-362204807
  server.js
Due: eslint --fix

server: foud better URL query optimization (and removed accidental debug output)
  server.js
Due: eslint --fix

Fix review issues
  public/static/docs/command-reference/remote/modify.md
Due: prettier --write

community: copy edits per https://github.com/iterative/dvc.org/issues/996#issuecomment-586495689 and https://github.com/iterative/dvc.org/issues/996#issuecomment-586544303
  src/components/Community/Contribute/index.js
  src/components/Community/data.json
Due: eslint --fix, prettier --write

cmd ref: typo
  public/static/docs/command-reference/gc.md
Due: prettier --write

user-guide: clarify that external cache for ext outs must be in same remote location
  public/static/docs/user-guide/managing-external-data.md
Due: prettier --write

Regular updates (Feb 20) (#1012)
  public/static/docs/command-reference/gc.md
  public/static/docs/user-guide/managing-external-data.md
  src/components/Community/Contribute/index.js
  src/components/Community/data.json
Due: eslint --fix, prettier --write

get/import: update argument desc pero core repo
  public/static/docs/command-reference/get.md
  public/static/docs/command-reference/import.md
Due: prettier --write

Update fetch.md
  public/static/docs/command-reference/fetch.md
Due: prettier --write

Update pull.md
  public/static/docs/command-reference/pull.md
Due: prettier --write

Update push.md
  public/static/docs/command-reference/push.md
Due: prettier --write

Update status.md
  public/static/docs/command-reference/status.md
Due: prettier --write

restore PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

address diff command review
  public/static/docs/command-reference/diff.md
Due: prettier --write

cmd ref: clarify what kind of workspace changes status displays per https://github.com/iterative/dvc.org/pull/953#pullrequestreview-363189334
  public/static/docs/command-reference/status.md
Due: prettier --write

minor change to diff descritption, address PR comment
  public/static/docs/command-reference/diff.md
Due: prettier --write

Fix for 'update' of null error in Sentry
  src/components/Documentation/SidebarMenu/index.js
Due: eslint --fix

Replace Array.fill with lodash to support IE11
  package.json
  src/components/Community/Events/index.js
  yarn.lock
Due: eslint --fix, prettier --write

fonts: prevent browser from changing font-size
  public/static/fonts/fonts.css
Due: none

Fix ie11 fill (#1018)
  package.json
  src/components/Community/Events/index.js
  src/components/Documentation/SidebarMenu/index.js
  yarn.lock
Due: eslint --fix, prettier --write

fonts: prevent browser from changing font-size (#1020)
  public/static/fonts/fonts.css
Due: none

diff: update docs according to the new patch (#953)
  public/static/docs/command-reference/diff.md
Due: prettier --write

Update diff.md
  public/static/docs/command-reference/diff.md
Due: prettier --write

Switch to clearTimeout
  src/components/Documentation/SidebarMenu/index.js
Due: eslint --fix

api: remove word "directly" fom exception lists per https://github.com/iterative/dvc.org/pull/908#pullrequestreview-362655336
  public/static/docs/api-reference/open.md
  public/static/docs/api-reference/read.md
Due: prettier --write

api: add basic usage sections per https://github.com/iterative/dvc.org/pull/908#issuecomment-588210816
  public/static/docs/api-reference/get_url.md
  public/static/docs/api-reference/open.md
  public/static/docs/api-reference/read.md
Due: prettier --write

api: improve model open() example
  public/static/docs/api-reference/open.md
Due: prettier --write

api: fix typos and remove lines between import stmts per https://github.com/iterative/dvc.org/pull/908#discussion_r382604346 and https://github.com/iterative/dvc.org/pull/908#discussion_r382605552
  public/static/docs/api-reference/open.md
Due: prettier --write

api: fix closing parentheses in example per https://github.com/iterative/dvc.org/pull/908#discussion_r382606552
  public/static/docs/api-reference/get_url.md
  public/static/docs/api-reference/read.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
