Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

guide: rewrite DM intro and
  content/docs/user-guide/data-management/index.md
Due: prettier --write

guide: add codification block in DV but
  content/docs/user-guide/data-versioning.md
Due: prettier --write

guide: use DM table instead of figure for now
  content/docs/user-guide/data-management/index.md
Due: prettier --write

guide: toggle for DM paradign samples
  content/docs/user-guide/data-management/index.md
Due: prettier --write

guide: add some text to DM toggles and cards
  content/docs/user-guide/data-management/index.md
Due: prettier --write

guide: add a file org tab to DM
  content/docs/user-guide/data-management/index.md
Due: prettier --write

test: replace set-output => GITHUB_OUTPUT
  .github/workflows/update.yaml
Due: none

Addressed PR review comments
  content/docs/studio/user-guide/projects-and-experiments/visualize-and-compare.md
Due: prettier --write

ref: document import-url --version-aware
  content/docs/command-reference/import-url.md
Due: prettier --write

ref: document `push` field for dvc files
  content/docs/user-guide/project-structure/dvc-files.md
  content/docs/user-guide/project-structure/dvcyaml-files.md
Due: prettier --write

update websites server package
  package.json
  yarn.lock
Due: prettier --write

add frameSrc
  src/server.js
Due: eslint --fix

Add missing Security Headers (#4143)
  package.json
  src/server.js
  yarn.lock
Due: eslint --fix, prettier --write

Re-add shadowed hamburger menu
  src/@dvcorg/gatsby-theme-iterative/components/HamburgerMenu/index.tsx
Due: none

Fix wording of copy-on-write notes for git-annex (#4127)
  content/docs/user-guide/overview.md
Due: prettier --write

guide: update COW link note
  content/docs/user-guide/data-management/large-dataset-optimization.md
Due: prettier --write

dvc/start: add flexible plots
  content/docs/start/data-management/metrics-parameters-plots.md
  static/img/plots_cm_get_started_show.svg
  static/img/plots_importance_get_started_diff.png
  static/img/plots_importance_get_started_show.png
  static/img/plots_prc_get_started_diff.svg
  static/img/plots_prc_get_started_show.svg
  static/img/plots_roc_get_started_diff.svg
  static/img/plots_roc_get_started_show.svg
Due: prettier --write

Install: clarifictions around Python library methods (#4136)
  content/docs/install/index.md
  content/docs/install/linux.md
  content/docs/install/macos.md
  content/docs/install/windows.md
Due: prettier --write

Use anchor links over JS scrolling in home, and fix scroll padding/margin
  src/components/Home/Diagram/index.tsx
  src/components/Home/LandingHero/index.tsx
  src/components/Home/LearnMore/index.tsx
  src/components/Home/UseCases/index.tsx
  src/components/Home/index.tsx
  src/components/Home/styles.module.css
  src/components/TwoRowsButton/link.tsx
Due: none

Replace mixins with tailwind utilities
  src/@dvcorg/gatsby-theme-iterative/components/LayoutHeader/Nav/LinkItems/styles.module.css
  src/components/Home/Diagram/styles.module.css
  src/components/Home/UseCases/Video/styles.module.css
  src/components/Home/WhatsNewModal/styles.module.css
  src/components/NotFound/styles.module.css
Due: none

Revert "Add GTO docs link to sidebar (#4131)"
  content/docs/sidebar.json
Due: prettier --write

Replace GTO links from repo to docs
  content/docs/studio/how-it-works.md
  content/docs/studio/index.md
  content/docs/studio/troubleshooting.md
  content/docs/studio/user-guide/model-registry/add-a-model.md
  content/docs/studio/user-guide/model-registry/assign-stage.md
  content/docs/studio/user-guide/model-registry/register-version.md
  content/docs/studio/user-guide/model-registry/view-models.md
  content/docs/studio/user-guide/model-registry/what-is-a-model-registry.md
  content/docs/studio/user-guide/prepare-your-repositories.md
  content/docs/use-cases/model-registry.md
Due: prettier --write

Update sidebar.json
  content/docs/sidebar.json
Due: prettier --write

Studio: Shortened the example for auto-hiding with [skip studio] (#4126)
  content/docs/studio/user-guide/projects-and-experiments/explore-ml-experiments.md
Due: prettier --write

update theme
  package.json
  yarn.lock
Due: prettier --write

Remove GTO docs from sidebar & update existing links (mainly Studio) (#4146)
  content/docs/sidebar.json
  content/docs/studio/how-it-works.md
  content/docs/studio/index.md
  content/docs/studio/troubleshooting.md
  content/docs/studio/user-guide/model-registry/add-a-model.md
  content/docs/studio/user-guide/model-registry/assign-stage.md
  content/docs/studio/user-guide/model-registry/register-version.md
  content/docs/studio/user-guide/model-registry/view-models.md
  content/docs/studio/user-guide/model-registry/what-is-a-model-registry.md
  content/docs/studio/user-guide/prepare-your-repositories.md
  content/docs/use-cases/model-registry.md
Due: prettier --write

install/completion: add tabs
  content/docs/install/completion.md
  redirects-list.json
Due: prettier --write

drop redirects
  redirects-list.json
Due: prettier --write

fix tab rendering
  content/docs/install/completion.md
Due: prettier --write

improve explanations
  content/docs/install/completion.md
Due: prettier --write

add tcsh
  content/docs/install/completion.md
Due: prettier --write

Add styles to community image links ensuring consistent size
  src/components/Community/Learn/index.tsx
Due: none

Apply shrink-0/grow-0 to all community line images
  src/components/Community/Learn/index.tsx
  src/components/Community/styles.module.css
Due: none

guide: rewrite Data Mgmt story
  content/docs/use-cases/versioning-data-and-models/index.md
  content/docs/user-guide/data-management/index.md
Due: prettier --write

guide: add draft figures to Data Mgmt
  content/docs/user-guide/data-management/index.md
  static/img/direct-storage-access.png
  static/img/dvc-data-access.png
Due: prettier --write

guide: simplify Data Mgmt story and benefits
  content/docs/user-guide/data-management/index.md
Due: prettier --write

guide: remove unused images (DM)
  static/img/before-after.png
  static/img/code-vs-data.png
Due: none

add test to fail ci
  tests/fails.test.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
