Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update content/blog/2022-07-05-serving-models-with-mlem.md
  content/blog/2022-07-05-serving-models-with-mlem.md
Due: prettier --write

Restyled by prettier
  content/blog/2022-07-05-serving-models-with-mlem.md
Due: prettier --write

minor updates
  content/blog/2022-07-05-serving-models-with-mlem.md
Due: prettier --write

Use CLI link check
  .github/workflows/link-check-deploy.yml
Due: none

Rename action and take it off deployment event
  .github/workflows/link-check-deploy.yml
Due: none

Fix malformed run item
  .github/workflows/link-check-deploy.yml
Due: none

Use expanded script with npx
  .github/workflows/link-check-deploy.yml
Due: none

Try using comment report
  .github/workflows/link-check-deploy.yml
Due: none

Fix use of build log
  .github/workflows/link-check-deploy.yml
Due: none

More GHA config tweaks
  .github/workflows/link-check-deploy.yml
Due: none

guide: Defining Data Pipelines
  content/docs/command-reference/plots/templates.md
  content/docs/sidebar.json
  content/docs/user-guide/data-pipelines/index.md
  content/docs/user-guide/experiment-management/running-experiments.md
  content/docs/user-guide/pipelines/index.md
  content/docs/user-guide/project-structure/pipelines-files.md
Due: prettier --write

guide: split up Data Pipelines section
  content/docs/sidebar.json
  content/docs/user-guide/data-pipelines/defining-pipelines.md
  content/docs/user-guide/data-pipelines/experimental-pipelines.md
  content/docs/user-guide/data-pipelines/index.md
  content/docs/user-guide/data-pipelines/reproducing-pipelines.md
Due: prettier --write

Remove setup-node
  .github/workflows/link-check-deploy.yml
Due: none

Remove static directory after heroku build
  scripts/heroku-deploy.sh
Due: none

guide: remove term "pipelines files" (stick to "dvc.yaml")
  content/docs/command-reference/config.md
  content/docs/command-reference/exp/init.md
  content/docs/command-reference/params/index.md
  content/docs/sidebar.json
  content/docs/start/experiments/visualization.md
  content/docs/use-cases/experiment-tracking.md
  content/docs/user-guide/experiment-management/index.md
  content/docs/user-guide/experiment-management/running-experiments.md
  content/docs/user-guide/project-structure/dvcyaml-files.md
  content/docs/user-guide/project-structure/index.md
  content/linked-terms.js
  redirects-list.json
Due: eslint --fix, prettier --write

upgraded to heroku stack 22
  app.json
Due: prettier --write

Remove static directory after heroku build (#3767)
  scripts/heroku-deploy.sh
Due: none

revisions
  content/blog/2022-06-17-june-22-heartbeat.md
  content/blog/2022-07-15-july-22-heartbeat.md
  static/uploads/images/2022-06-17/ travel-hack.jpg
  static/uploads/images/2022-07-15/alex-strick-van-linshoten.png
  static/uploads/images/2022-07-15/awesome.png
  static/uploads/images/2022-07-15/gema-course-notes.jpeg
  static/uploads/images/2022-07-15/hiring.jpeg
  static/uploads/images/2022-07-15/jessie-lamontagne.png
  static/uploads/images/2022-07-15/june-heartbeat-cover.png
  static/uploads/images/2022-07-15/mymlops.png
  static/uploads/images/2022-07-15/samson-zhang.png
  static/uploads/images/2022-07-15/team-toronto.jpg
Due: prettier --write

guide: remove term "pipelines files" (stick to "dvc.yaml") (#3768)
  content/docs/command-reference/config.md
  content/docs/command-reference/exp/init.md
  content/docs/command-reference/params/index.md
  content/docs/sidebar.json
  content/docs/start/experiments/visualization.md
  content/docs/use-cases/experiment-tracking.md
  content/docs/user-guide/experiment-management/index.md
  content/docs/user-guide/experiment-management/running-experiments.md
  content/docs/user-guide/project-structure/dvcyaml-files.md
  content/docs/user-guide/project-structure/index.md
  content/linked-terms.js
  redirects-list.json
Due: eslint --fix, prettier --write

tinify images
  static/uploads/images/2022-07-15/alex-strick-van-linshoten.png
  static/uploads/images/2022-07-15/awesome.png
  static/uploads/images/2022-07-15/hiring.jpeg
  static/uploads/images/2022-07-15/jessie-lamontagne.png
  static/uploads/images/2022-07-15/june-heartbeat-cover.png
  static/uploads/images/2022-07-15/mymlops.png
  static/uploads/images/2022-07-15/samson-zhang.png
  static/uploads/images/2022-07-15/team-toronto.jpg
Due: none

Description revisions
  content/blog/2022-07-15-july-22-heartbeat.md
Due: prettier --write

Upgrade heroku stack (#3769)
  app.json
Due: prettier --write

added links
  content/blog/2022-07-15-july-22-heartbeat.md
Due: prettier --write

revisions
  content/blog/2022-07-15-july-22-heartbeat.md
Due: prettier --write

Debug GitHub Action for PR comments
  .github/workflows/deployment-report.js
  .github/workflows/example-deployment-status.json
  .github/workflows/link-check-deploy.yml
Due: eslint --fix, prettier --write

Apply suggestions from code review
  content/docs/command-reference/exp/gc.md
  content/docs/command-reference/gc.md
Due: prettier --write

gc: Add `--time` flag to dvc gc and dvc exp gc (#3748)
  content/docs/command-reference/exp/gc.md
  content/docs/command-reference/gc.md
Due: prettier --write

Apply suggestions from code review
  content/docs/dvclive/dvclive-with-dvc.md
  content/docs/user-guide/experiment-management/checkpoints.md
Due: prettier --write

Apply suggestions from code review
  content/docs/user-guide/experiment-management/checkpoints.md
Due: prettier --write

Restyled by prettier
  content/docs/dvclive/dvclive-with-dvc.md
  content/docs/user-guide/experiment-management/checkpoints.md
Due: prettier --write

Update content/docs/user-guide/experiment-management/checkpoints.md
  content/docs/user-guide/experiment-management/checkpoints.md
Due: prettier --write

redirects: reinstate previous studio paths, fix others
  redirects-list.json
Due: prettier --write

redirects: make studio UG project links 302 due to https://github.com/iterative/dvc.org/pull/3621
  redirects-list.json
Due: prettier --write

final prep for merging
  content/blog/2022-07-19-serving-models-with-mlem.md
  static/uploads/images/2022-07-05/fastapi_docs.png
  static/uploads/images/2022-07-05/serve_mlem_models.png
  static/uploads/images/2022-07-19/fastapi_docs.png
  static/uploads/images/2022-07-19/serve_mlem_models.png
Due: prettier --write

Update content/docs/command-reference/gc.md
  content/docs/command-reference/gc.md
Due: prettier --write

updated preview link
  gatsby-config.js
Due: eslint --fix

change dates
  content/blog/2022-07-18-july-heartbeat.md
  static/uploads/images/2022-07-18/alex-strick-van-linshoten.png
  static/uploads/images/2022-07-18/awesome.png
  static/uploads/images/2022-07-18/gema-course-notes.jpeg
  static/uploads/images/2022-07-18/hiring.jpeg
  static/uploads/images/2022-07-18/jessie-lamontagne.png
  static/uploads/images/2022-07-18/june-heartbeat-cover.png
  static/uploads/images/2022-07-18/mymlops.png
  static/uploads/images/2022-07-18/samson-zhang.png
  static/uploads/images/2022-07-18/team-toronto.jpeg
Due: prettier --write

typo disucss link
  content/blog/2022-07-18-july-heartbeat.md
Due: prettier --write

changed name of cover image
  content/blog/2022-07-18-july-heartbeat.md
  static/uploads/images/2022-07-18/july-heartbeat-cover.png
Due: prettier --write

fix image bug
  content/blog/2022-07-18-july-heartbeat.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
