Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Check for unknown icons
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/Admonition/index.tsx
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/Admonition/styles.module.css
Due: none

Remove tests
  content/blog/2022-03-17-march-22-heartbeat.md
  content/docs/index.md
Due: prettier --write

Add admonitions feature to blog and docs (#3371)
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/Admonition/index.tsx
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/Admonition/styles.module.css
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/index.tsx
  src/components/Blog/Post/Markdown/index.tsx
Due: none

Remove DVC from blog post; separate to follow-up post
  content/blog/2022-03-31-training-and-saving-models-on-a-dedicated-runner.md
Due: prettier --write

dvclive: Use admonitions
  content/docs/dvclive/api-reference/live/index.md
  content/docs/dvclive/api-reference/live/log.md
  content/docs/dvclive/api-reference/live/log_image.md
  content/docs/dvclive/api-reference/live/log_plot.md
  content/docs/dvclive/dvclive-with-dvc.md
  content/docs/dvclive/get-started.md
  content/docs/dvclive/ml-frameworks/catalyst.md
  content/docs/dvclive/ml-frameworks/fastai.md
  content/docs/dvclive/ml-frameworks/huggingface.md
  content/docs/dvclive/ml-frameworks/keras.md
  content/docs/dvclive/ml-frameworks/lightgbm.md
  content/docs/dvclive/ml-frameworks/mmcv.md
  content/docs/dvclive/ml-frameworks/pytorch-lightning.md
  content/docs/dvclive/ml-frameworks/pytorch.md
  content/docs/dvclive/ml-frameworks/tensorflow.md
  content/docs/dvclive/ml-frameworks/xgboost.md
Due: prettier --write

Restyled by prettier
  content/blog/2022-03-31-training-and-saving-models-on-a-dedicated-runner.md
Due: prettier --write

fix the closing tag name for admon
  content/docs/dvclive/dvclive-with-dvc.md
Due: prettier --write

updated post with better experiments
  content/blog/2022-03-31-stale-models.md
  static/uploads/images/2022-03-31/stale-model-cover.png
  static/uploads/images/2022-03-31/stale_models_in_studio.png
Due: prettier --write

Textual changes
  content/blog/2022-03-31-training-and-saving-models-on-a-dedicated-runner.md
Due: prettier --write

Improve flow and incorporate admons
  content/blog/2022-03-31-training-and-saving-models-on-a-dedicated-runner.md
Due: prettier --write

Remove commented out sections
  content/blog/2022-03-31-training-and-saving-models-on-a-dedicated-runner.md
Due: prettier --write

Remove last commented out blocks
  content/blog/2022-03-31-training-and-saving-models-on-a-dedicated-runner.md
Due: prettier --write

allowed details title as props as well
  content/docs/command-reference/checkout.md
  content/docs/command-reference/commit.md
  content/docs/command-reference/diff.md
  content/docs/command-reference/exp/run.md
  content/docs/command-reference/fetch.md
  content/docs/command-reference/get-url.md
  content/docs/command-reference/import-url.md
  content/docs/command-reference/install.md
  content/docs/command-reference/plots/show.md
  content/docs/command-reference/pull.md
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/index.md
  content/docs/command-reference/remote/list.md
  content/docs/command-reference/remote/modify.md
  content/docs/command-reference/run.md
  content/docs/command-reference/stage/add.md
  content/docs/install/linux.md
  content/docs/install/macos.md
  content/docs/install/windows.md
  content/docs/start/data-and-model-access.md
  content/docs/start/data-and-model-versioning.md
  content/docs/start/data-pipelines.md
  content/docs/start/experiments.md
  content/docs/start/index.md
  content/docs/start/metrics-parameters-plots.md
  content/docs/use-cases/versioning-data-and-model-files/tutorial.md
  content/docs/user-guide/contributing/core.md
  content/docs/user-guide/experiment-management/checkpoints.md
  content/docs/user-guide/experiment-management/experiments-overview.md
  content/docs/user-guide/experiment-management/running-experiments.md
  content/docs/user-guide/external-dependencies.md
  content/docs/user-guide/managing-external-data.md
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/index.tsx
Due: prettier --write

trailing slash: never
  gatsby-config.js
Due: eslint --fix

Upgrade packages
  package.json
  yarn.lock
Due: prettier --write

Make admonitions title prop optional
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/Admonition/index.tsx
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/Admonition/styles.module.css
Due: none

Add admonitions test in doc
  content/docs/index.md
Due: prettier --write

blog/cml: fix tutorials
  content/blog/2020-07-16-devops-for-data-scientists.md
  content/blog/2021-02-22-cml-runner-prerelease.md
Due: prettier --write

blog/cml: update hyphenation/spacing
  content/blog/2020-07-07-cml-release.md
  content/blog/2020-07-16-devops-for-data-scientists.md
  content/blog/2020-08-07-cml-self-hosted-runners-on-demand-with-gpus.md
  content/blog/2020-08-27-august-20-community-gems.md
  content/blog/2020-10-26-october-20-community-gems.md
  content/blog/2020-12-30-december-20-community-gems.md
  content/blog/2021-02-22-cml-runner-prerelease.md
  content/blog/2021-02-26-february-21-community-gems.md
  content/blog/2021-03-03-dvc-2-0-release.md
  content/blog/2021-07-27-july-21-dvc-community-gems.md
  content/blog/2021-08-31-august-21-community-gems.md
Due: prettier --write

blog/cml: fix tutorials (#3390)
  content/blog/2020-07-07-cml-release.md
  content/blog/2020-07-16-devops-for-data-scientists.md
  content/blog/2020-08-07-cml-self-hosted-runners-on-demand-with-gpus.md
  content/blog/2020-08-27-august-20-community-gems.md
  content/blog/2020-10-26-october-20-community-gems.md
  content/blog/2020-12-30-december-20-community-gems.md
  content/blog/2021-02-22-cml-runner-prerelease.md
  content/blog/2021-02-26-february-21-community-gems.md
  content/blog/2021-03-03-dvc-2-0-release.md
  content/blog/2021-07-27-july-21-dvc-community-gems.md
  content/blog/2021-08-31-august-21-community-gems.md
Due: prettier --write

Add output option
  .github/workflows/link-check-all-lychee.yaml
Due: none

fix broken formatting
  .github/workflows/link-check-all-lychee.yaml
Due: none

Remove extra options
  .github/workflows/link-check-all-lychee.yaml
Due: none

first draft
  content/authors/alex_kim.md
  content/blog/2022-03-24-e2e-computer-vision.md
  static/img/git_dvc.png
  static/img/studio_dvc_live_metrics.png
  static/img/studio_view.png
  static/img/web_api_diagram.png
  static/uploads/avatars/alex_kim.jpg
Due: prettier --write

cleanup remote #id
  content/docs/command-reference/get-url.md
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/modify.md
  content/docs/user-guide/contributing/core.md
  content/docs/user-guide/external-dependencies.md
  content/docs/user-guide/managing-external-data.md
Due: prettier --write

Add getEditLink
  src/gatsby-theme-iterative-docs/getEditLink.ts
Due: none

Add -a flag
  .github/workflows/link-check-all-lychee.yaml
Due: none

Take off -a flag
  .github/workflows/link-check-all-lychee.yaml
Due: none

autoprefixer yarn.lock change
  yarn.lock
Due: none

added skip to content for docs
  package.json
  src/components/DocumentationLayout/index.tsx
  src/components/DocumentationLayout/styles.module.css
  src/components/LayoutHeader/alert.tsx
  yarn.lock
Due: prettier --write

fixed edge cases for id
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/index.tsx
Due: none

skip top nav on other pages as well
  src/components/DocumentationLayout/index.tsx
  src/components/DocumentationLayout/styles.module.css
  src/components/MainLayout/index.tsx
  src/components/MainLayout/styles.module.css
Due: none

updated cover image
  static/uploads/images/2022-03-31/stale-model-cover.png
Due: none

updated cover image
  content/blog/2022-03-29-march-22-community-gems.md
  static/uploads/images/2022-03-29/mar-comm-gems.png
Due: prettier --write

Insert broken links into test files
  README.md
  content/blog/2022-02-28-february-22-community-gems.md
  content/docs/dvclive/ml-frameworks/catalyst.md
Due: prettier --write

Add get-changed-files action
  .github/workflows/link-check-all-lychee.yaml
Due: none

Fix typo
  .github/workflows/link-check-all-lychee.yaml
Due: none
