Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

get-started: restore actual index.md file (pre bad recent merge)
  content/docs/tutorials/get-started/index.md
Due: prettier --write

Revert "[HOTFIX] get-started: restore index in nav (bad recent merge)"
  content/docs/sidebar.json
  content/docs/tutorials/get-started/index.md
Due: prettier --write

Revert "[HOTFIX] get-started: restore index in nav (bad recent merge)" (#1083)
  content/docs/sidebar.json
  content/docs/tutorials/get-started/index.md
Due: prettier --write

get-started: fix redirects!
  redirects-list.json
Due: prettier --write

get-started: fix redirects! (#1085)
  redirects-list.json
Due: prettier --write

[WIP] get-started: combine chapters into index + 3 pages
  content/docs/sidebar.json
  content/docs/tutorials/get-started/add-files.md
  content/docs/tutorials/get-started/compare-experiments.md
  content/docs/tutorials/get-started/connect-code-and-data.md
  content/docs/tutorials/get-started/data-pipelines.md
  content/docs/tutorials/get-started/experiment-management.md
  content/docs/tutorials/get-started/experiments.md
  content/docs/tutorials/get-started/import-data.md
  content/docs/tutorials/get-started/metrics.md
  content/docs/tutorials/get-started/older-versions.md
  content/docs/tutorials/get-started/pipeline.md
  content/docs/tutorials/get-started/reproduce.md
  content/docs/tutorials/get-started/retrieve-data.md
  content/docs/tutorials/get-started/store-data.md
  content/docs/tutorials/get-started/versioning-basics.md
  content/docs/tutorials/get-started/visualize.md
Due: prettier --write

Specify Sentry config to ignore ChunkLoadError and errors from browsers extensions
  gatsby-config.js
Due: eslint --fix

Update Gatsby.js to fix incorrect behaviour with missing js bundles
  package.json
  yarn.lock
Due: prettier --write

Optimize images load status checking
  src/utils/images.js
Due: eslint --fix

tutorials: finish get-started index page (part 0)
  content/docs/command-reference/cache/index.md
  content/docs/command-reference/init.md
  content/docs/command-reference/remote/index.md
  content/docs/command-reference/remote/list.md
  content/docs/index.md
  content/docs/tutorials/deep/preparation.md
  content/docs/tutorials/get-started/index.md
  content/docs/tutorials/pipelines.md
  content/docs/understanding-dvc/what-is-dvc.md
  content/docs/use-cases/versioning-data-and-model-files.md
Due: prettier --write

tutorials: a few more impovements to get-started index
  content/docs/tutorials/get-started/index.md
Due: prettier --write

Fix ChunkLoadError (#1086)
  gatsby-config.js
  package.json
  src/utils/images.js
  yarn.lock
Due: eslint --fix, prettier --write

push: added a note to dvc push, fixes #1087
  content/docs/command-reference/push.md
Due: prettier --write

Open footer social links in the new tab
  src/components/Footer/index.js
Due: eslint --fix

make changes for update --rev
  content/docs/command-reference/import.md
  content/docs/command-reference/update.md
Due: prettier --write

cmd-ref: document checkout summary flag
  content/docs/command-reference/checkout.md
Due: prettier --write

download: update to 0.90.2
  src/components/DownloadButton/index.js
Due: eslint --fix

Open footer social links in the new tab (#1089)
  src/components/Footer/index.js
Due: eslint --fix

Basic setup of TS, eslint for TS. Fix related linter errors
  .eslintrc.json
  .tmp-empty-package/index.d.ts
  .tmp-empty-package/package.json
  gatsby-config.js
  middleware/api/discourse.js
  middleware/redirects/index.js
  package.json
  src/components/Documentation/Markdown/lang/dvc.js
  src/components/Documentation/Markdown/lang/usage.js
  src/components/GithubLine/index.js
  src/components/LearnMore/styles.js
  src/components/Video/index.js
  src/typings.ts
  src/utils/redirects.js
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

tutorials: finish get-started/versioning-basics page (page 1/3)
  content/docs/command-reference/cache/index.md
  content/docs/command-reference/init.md
  content/docs/tutorials/deep/preparation.md
  content/docs/tutorials/get-started/index.md
  content/docs/tutorials/get-started/versioning-basics.md
  content/docs/tutorials/pipelines.md
  content/docs/tutorials/versioning.md
  content/docs/use-cases/versioning-data-and-model-files.md
Due: prettier --write

Update content/docs/command-reference/update.md
  content/docs/command-reference/update.md
Due: prettier --write

install: add " around special dvc pip paks
  content/docs/install/linux.md
  content/docs/install/macos.md
  content/docs/install/windows.md
Due: prettier --write

cmd ref: address pending review about pre-commit config in `install` see https://github.com/iterative/dvc.org/pull/1059#pullrequestreview-375723447
  content/docs/command-reference/install.md
Due: prettier --write

cmd ref: change header in `dvc install` per https://github.com/iterative/dvc.org/pull/1072#pullrequestreview-380864131
  content/docs/command-reference/install.md
Due: prettier --write

Change sentry release env variable to Heroku's SOURCE_VERSION
  gatsby-config.js
Due: eslint --fix

user-guide: reinstate Cmder rec for Windows terminal alts. and... update WSL into note + add WT link per https://github.com/iterative/dvc.org/pull/1072#issuecomment-603650701
  content/docs/user-guide/running-dvc-on-windows.md
Due: prettier --write

Refactor layouts. Add modifiers to layout and use it for DocLayout to make it wider
  postcss.config.js
  src/components/BlogLayout/index.tsx
  src/components/DocLayout/index.js
  src/components/Header/index.tsx
  src/components/LayoutFooter/index.tsx
  src/components/LayoutFooter/logo.svg
  src/components/LayoutFooter/styles.module.css
  src/components/LayoutHeader/index.tsx
  src/components/LayoutHeader/logo.svg
  src/components/LayoutHeader/styles.module.css
  src/components/MainLayout/index.tsx
  src/components/MainLayout/styles.module.css
  src/components/Page/base.css
  src/components/Page/fonts/Brandon_bld.otf
  src/components/Page/fonts/Brandon_bld.woff
  src/components/Page/fonts/Brandon_bld_it.otf
  src/components/Page/fonts/Brandon_blk.otf
  src/components/Page/fonts/Brandon_blk_it.otf
  src/components/Page/fonts/Brandon_light.otf
  src/components/Page/fonts/Brandon_light.woff
  src/components/Page/fonts/Brandon_light_it.otf
  src/components/Page/fonts/Brandon_med.otf
  src/components/Page/fonts/Brandon_med.woff
  src/components/Page/fonts/Brandon_med_it.otf
  src/components/Page/fonts/Brandon_reg.otf
  src/components/Page/fonts/Brandon_reg.woff
  src/components/Page/fonts/Brandon_reg_it.otf
  src/components/Page/fonts/Brandon_thin.otf
  src/components/Page/fonts/Brandon_thin_it.otf
  src/components/Page/fonts/fonts.css
  src/components/Page/index.tsx
  src/components/Page/styles.module.css
  src/components/PageWrapper/index.js
Due: eslint --fix

Fix Link component for link with custom target
  src/components/Link/index.tsx
Due: none

Change sentry release env variable to Heroku's SOURCE_VERSION (#1093)
  gatsby-config.js
Due: eslint --fix

Implement front redirects. Replace all html anchor usages to Link component
  src/components/BlogFeedMeta/index.tsx
  src/components/BlogPost/Share/index.tsx
  src/components/BlogPost/index.tsx
  src/components/Community/Learn/index.js
  src/components/LayoutFooter/index.tsx
  src/components/LayoutHeader/index.tsx
  src/components/Link/index.tsx
  src/components/Page/index.tsx
  src/utils/redirects.js
Due: eslint --fix

Remake blog api call to local static query
  gatsby-node.js
  middleware/api/blog.js
  middleware/api/index.js
  src/components/Community/Learn/index.js
  src/utils/api.js
Due: eslint --fix

Add common LayoutWidthContainer component
  src/components/LayoutFooter/index.tsx
  src/components/LayoutHeader/index.tsx
  src/components/LayoutHeader/styles.module.css
  src/components/LayoutWidthContainer/index.tsx
  src/components/LayoutWidthContainer/styles.module.css
  src/components/PageContent/styles.module.css
Due: none

Make header narrow for /doc. Fix sticky styles for sidebars in the /doc
  src/components/DocLayout/index.js
  src/components/Documentation/RightPanel/styles.js
  src/components/LayoutHeader/index.tsx
  src/components/LayoutHeader/styles.module.css
  src/components/MainLayout/index.tsx
  src/components/SearchForm/styles.js
Due: eslint --fix

user-guide: improve terminal recs for Windows users per https://github.com/iterative/dvc.org/pull/1072#pullrequestreview-381452760
  content/docs/install/windows.md
  content/docs/user-guide/running-dvc-on-windows.md
Due: prettier --write

user-guide: remove note about problems with Git on Win and Node on WSL per https://github.com/iterative/dvc.org/pull/1072#discussion_r398235756
  content/docs/user-guide/running-dvc-on-windows.md
Due: prettier --write

user-guide: update Node supported version per https://github.com/iterative/dvc.org/pull/1072#pullrequestreview-380865988
  content/docs/user-guide/contributing/docs.md
Due: prettier --write

user-guide: add links to major WSL problems per https://github.com/iterative/dvc.org/pull/1072#issuecomment-603892621
  content/docs/user-guide/running-dvc-on-windows.md
Due: prettier --write

Remove outdated TSLint comments
  config/postcss/media.js
  config/postcss/mixins.js
  config/prismjs/dvc.js
Due: eslint --fix
