Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix link line break in glossary yml
  content/docs/glossary.yml
Due: none

Changed output to as-is on terminal
  content/docs/command-reference/import.md
Due: prettier --write

Fix Community model
  src/gatsby/models/community/index.js
Due: eslint --fix

clean up after merge
  content/docs/use-cases/shared-development-server.md
Due: prettier --write

Change Glossary to be sourced from Markdown files.
  content/docs/glossary.yml
  content/docs/user-guide/basic-concepts/data-artifact.md
  content/docs/user-guide/basic-concepts/dependency.md
  content/docs/user-guide/basic-concepts/dvc-cache.md
  content/docs/user-guide/basic-concepts/external-dependency.md
  content/docs/user-guide/basic-concepts/import-stage.md
  content/docs/user-guide/basic-concepts/output.md
  content/docs/user-guide/basic-concepts/workspace.md
  package.json
  src/gatsby/models/docs/onCreateMarkdownContentNode.js
  src/gatsby/models/glossary/index.js
  src/utils/front/glossary.ts
  yarn.lock
Due: eslint --fix, prettier --write

Remove dead code caught by linter
  src/gatsby/models/glossary/index.js
  src/utils/front/glossary.ts
Due: eslint --fix

Revert more JSON+YAML data file logic to JSON only
  src/gatsby/models/community/index.js
  src/gatsby/models/json-files/index.js
Due: eslint --fix

Change from double to single quotes in basic concepts
  content/docs/user-guide/basic-concepts/data-artifact.md
  content/docs/user-guide/basic-concepts/dependency.md
  content/docs/user-guide/basic-concepts/dvc-cache.md
  content/docs/user-guide/basic-concepts/import-stage.md
  content/docs/user-guide/basic-concepts/output.md
Due: prettier --write

Remove remark-rehype
  package.json
  yarn.lock
Due: prettier --write

Re-use childNodeCreator in the other Models.
  src/gatsby/models/authors/onCreateMarkdownContentNode.js
  src/gatsby/models/blog/onCreateMarkdownContentNode.js
  src/gatsby/models/community/index.js
  src/gatsby/models/docs/onCreateMarkdownContentNode.js
  src/gatsby/models/glossary/index.js
  src/gatsby/models/json-files/index.js
  src/gatsby/models/markdown-content/index.js
  src/gatsby/utils/models/nodes.js
Due: eslint --fix

docs: added dots to card text in home
  content/docs/index.md
Due: prettier --write

blog: update new SEO project idea in GSoD post per https://github.com/iterative/dvc.org/pull/1283#pullrequestreview-414983349
  content/blog/2020-04-30-gsod-ideas-2020.md
Due: prettier --write

blog: link SEO idea in GSoD post to SEO issues in repo
  content/blog/2020-04-30-gsod-ideas-2020.md
Due: prettier --write

Add example for Azure to external depedencies docs
  content/docs/user-guide/external-dependencies.md
Due: prettier --write

Update content/docs/command-reference/import-url.md
  content/docs/command-reference/import-url.md
Due: prettier --write

Update problems in ml.md
  content/docs/user-guide/index/understanding the problem/problems in ml.md
Due: prettier --write

Update asking the right questions.md
  content/docs/user-guide/index/understanding the problem/asking the right questions.md
Due: prettier --write

Update related-technologies.md
  content/docs/user-guide/index/how dvc resolves the issue/related-technologies.md
Due: prettier --write

Update experimental management software.md
  content/docs/user-guide/index/how dvc resolves the issue/experimental management software.md
Due: prettier --write

Update core-features.md
  content/docs/user-guide/index/core-features.md
Due: prettier --write

checkout example
  content/docs/command-reference/checkout.md
Due: prettier --write

Add description for Azure url format (#1337)
  content/docs/command-reference/import-url.md
  content/docs/user-guide/external-dependencies.md
Due: prettier --write

Replace single-quotes with backticks (code quotes)
  content/docs/user-guide/basic-concepts/data-artifact.md
  content/docs/user-guide/basic-concepts/dependency.md
  content/docs/user-guide/basic-concepts/dvc-cache.md
  content/docs/user-guide/basic-concepts/import-stage.md
  content/docs/user-guide/basic-concepts/output.md
Due: prettier --write

Some decription of the rename command
  content/docs/command-reference/remote/rename.md
Due: prettier --write

Update content/docs/command-reference/remote/rename.md
  content/docs/command-reference/remote/rename.md
Due: prettier --write

Add optional link field to authors
  src/components/Blog/FeedMeta/index.tsx
  src/components/Blog/Post/index.tsx
  src/gatsby/models/authors/createSchemaCustomization.js
  src/gatsby/models/authors/onCreateMarkdownContentNode.js
  src/templates/blog-post.tsx
Due: eslint --fix

Add Dmitry's Twitter as his Author link
  content/authors/dmitry_petrov.md
Due: prettier --write

Fix typo in Author type def
  src/gatsby/models/authors/createSchemaCustomization.js
Due: eslint --fix

cmd ref: put remote rename in the nav and highligher, link from index
  config/prismjs/dvc-commands.js
  content/docs/command-reference/remote/index.md
  content/docs/sidebar.json
Due: eslint --fix, prettier --write

cmd ref: complete remote rename and link it from the other subcommands
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/default.md
  content/docs/command-reference/remote/index.md
  content/docs/command-reference/remote/list.md
  content/docs/command-reference/remote/modify.md
  content/docs/command-reference/remote/remove.md
  content/docs/command-reference/remote/rename.md
Due: prettier --write

Build time tooltips (#1334)
  content/docs/glossary.js
  content/docs/user-guide/basic-concepts/data-artifact.md
  content/docs/user-guide/basic-concepts/dependency.md
  content/docs/user-guide/basic-concepts/dvc-cache.md
  content/docs/user-guide/basic-concepts/external-dependency.md
  content/docs/user-guide/basic-concepts/import-stage.md
  content/docs/user-guide/basic-concepts/output.md
  content/docs/user-guide/basic-concepts/workspace.md
  gatsby-node.js
  package.json
  src/components/Documentation/Markdown/Tooltip/DesktopView/index.tsx
  src/components/Documentation/Markdown/Tooltip/MobileView/index.tsx
  src/components/Documentation/Markdown/Tooltip/index.tsx
  src/gatsby/models.js
  src/gatsby/models/authors/onCreateMarkdownContentNode.js
  src/gatsby/models/blog/onCreateMarkdownContentNode.js
  src/gatsby/models/community/index.js
  src/gatsby/models/docs/onCreateMarkdownContentNode.js
  src/gatsby/models/glossary/index.js
  src/gatsby/models/json-files/index.js
  src/gatsby/models/markdown-content/index.js
  src/gatsby/utils/models/nodes.js
  src/utils/front/glossary.ts
  yarn.lock
Due: eslint --fix, prettier --write

Add Author links for everyone
  content/authors/elle_obrien.md
  content/authors/george_vyshnya.md
  content/authors/jorge_orpinel.md
  content/authors/marcel_rd.md
  content/authors/marija_ilic.md
  content/authors/svetlana_grinchenko.md
Due: prettier --write

Fix typo in Jorge's entry
  content/authors/jorge_orpinel.md
Due: prettier --write

Make suggested link changes
  content/authors/jorge_orpinel.md
  content/authors/marija_ilic.md
Due: prettier --write

Add documentation for link feature
  content/docs/user-guide/contributing/blog.md
Due: prettier --write

Add optional link field to authors (#1341)
  content/authors/dmitry_petrov.md
  content/authors/elle_obrien.md
  content/authors/george_vyshnya.md
  content/authors/jorge_orpinel.md
  content/authors/marcel_rd.md
  content/authors/marija_ilic.md
  content/authors/svetlana_grinchenko.md
  content/docs/user-guide/contributing/blog.md
  src/components/Blog/FeedMeta/index.tsx
  src/components/Blog/Post/index.tsx
  src/gatsby/models/authors/createSchemaCustomization.js
  src/gatsby/models/authors/onCreateMarkdownContentNode.js
  src/templates/blog-post.tsx
Due: eslint --fix, prettier --write

install: linux: snap: add `--beta`
  content/docs/install/linux.md
Due: prettier --write

Restyled by prettier
  content/docs/install/linux.md
Due: prettier --write

Added reference to .dvcignore
  content/docs/command-reference/add.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
