Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

send error to sentry if no hubspot form is created (#5436)
  src/components/SubscribeSection/Form/index.tsx
Due: none

Revert "send error to sentry if no hubspot form is created (#5436)"
  src/components/SubscribeSection/Form/index.tsx
Due: none

Revert "send error to sentry if no hubspot form is created (#5436)" (#5437)
  src/components/SubscribeSection/Form/index.tsx
Due: none

Update content/docs/command-reference/exp/show.md
  content/docs/command-reference/exp/show.md
Due: prettier --write

docs: document new --hide-workspace flag (#5427)
  content/docs/command-reference/exp/show.md
Due: prettier --write

fix(css): add alpha on selection background color
  packages/gatsby-theme/src/components/Documentation/Markdown/Main/theme.module.css
Due: none

use rgba
  packages/gatsby-theme/src/components/Documentation/Markdown/Main/theme.module.css
Due: none

fix `dvc exp show` docs
  content/docs/command-reference/exp/show.md
Due: prettier --write

lint
  content/docs/command-reference/exp/show.md
Due: prettier --write

fix `dvc exp show` docs (#5440)
  content/docs/command-reference/exp/show.md
Due: prettier --write

fix(css): add alpha on selection background color (#5439)
  packages/gatsby-theme/src/components/Documentation/Markdown/Main/theme.module.css
Due: none

dvc 3.62.0
  src/components/DownloadButton/index.tsx
Due: none

Update the docs for scopes
  content/docs/studio/user-guide/account-management/index.md
Due: prettier --write

Update the docs for scopes (#5442)
  content/docs/studio/user-guide/account-management/index.md
Due: prettier --write

doc: sync with 3.63.0 updates
  content/docs/command-reference/data/status.md
  content/docs/command-reference/init.md
Due: prettier --write

doc: sync with 3.63.0 updates (#5443)
  content/docs/command-reference/data/status.md
  content/docs/command-reference/init.md
Due: prettier --write

dvc 3.63.0
  src/components/DownloadButton/index.tsx
Due: none

disable scripts
  .yarnrc.yml
Due: none

disable scripts (#5447)
  .yarnrc.yml
Due: none

fix links
  content/authors/daniel_kharitonov.md
  content/blogs/2021-06-02-introducing-dvc-studio.md
  content/blogs/2024-03-12-dvc-ray.md
  content/blogs/2024-03-13-dvc-ray-part-2.md
  src/@dvcorg/gatsby-theme/components/HamburgerMenu/index.tsx
  src/templates/blog-post.tsx
Due: prettier --write

fix gto links in docs/blogs
  content/blogs/2022-12-07-gto-model-registry.md
  content/docs/start/model-registry/manage-models.md
  content/docs/start/model-registry/model-cicd.md
  content/docs/use-cases/data-registry/tutorial.md
  content/docs/user-guide/data-management/discovering-and-accessing-data.md
  packages/gatsby-theme/config/prismjs/cml-commands.js
  packages/gatsby-theme/config/prismjs/dvc.js
  packages/gatsby-theme/config/prismjs/get-commands.js
  packages/gatsby-theme/config/prismjs/gto-commands.js
  packages/gatsby-theme/config/prismjs/mlem-commands.js
  packages/gatsby-theme/config/prismjs/usage.js
  packages/gatsby-theme/consts/index.js
  packages/gatsby-theme/plugins/gatsby-remark-dvc-linker/commandLinker.js
  packages/gatsby-theme/src/components/Documentation/Markdown/Main/theme.module.css
  redirects-list.json
Due: eslint --fix, prettier --write

fix Studio links in docs/blogs
  content/basic-concepts/artifact.md
  content/blogs/2021-06-02-introducing-dvc-studio.md
  content/blogs/2022-06-29-june-22-community-gems.md
  content/blogs/2022-07-26-iterative-studio-model-registry.md
  content/blogs/2022-08-16-august-22-heartbeat.md
  content/blogs/2022-11-18-november-2022-heartbeat.md
  content/blogs/2022-12-07-gto-model-registry.md
  content/blogs/2023-02-13-dvclive-metrics-studio.md
  content/blogs/2023-06-14-dvc-3.0-ml-experiments-data-versioning.md
  content/blogs/2023-08-22-sagemaker-model-deployment.md
  content/blogs/2023-09-08-finetune-llm-pipeline-dvc-skypilot.md
  content/blogs/2024-03-12-dvc-ray.md
  content/blogs/2024-03-13-dvc-ray-part-2.md
  content/docs/api-reference/artifacts_show.md
  content/docs/command-reference/artifacts/get.md
  content/docs/command-reference/exp/push.md
  content/docs/command-reference/plots/templates.md
  content/docs/command-reference/studio/index.md
  content/docs/command-reference/studio/login.md
  content/docs/dvclive/live/log_plot.md
  content/docs/dvclive/live/monitor_system.md
  content/docs/dvclive/ml-frameworks/yolo.md
  content/docs/start/experiments/experiment-tracking.md
  content/docs/start/model-registry/add-model.md
  content/docs/start/model-registry/manage-models.md
  content/docs/start/model-registry/model-cicd.md
  content/docs/use-cases/data-registry/tutorial.md
  content/docs/use-cases/experiment-tracking.md
  content/docs/user-guide/env.md
  content/docs/user-guide/experiment-management/comparing-experiments.md
  content/docs/user-guide/experiment-management/index.md
  content/docs/user-guide/experiment-management/sharing-experiments.md
  content/docs/user-guide/experiment-management/visualizing-plots.md
  content/docs/user-guide/index.md
  content/docs/user-guide/integrations/databricks.md
  content/docs/user-guide/integrations/sagemaker.md
  content/docs/user-guide/project-structure/configuration.md
  redirects-list.json
Due: prettier --write

Revert "disable scripts"
  .yarnrc.yml
Due: none

Revert "build(deps): bump axios from 1.8.4 to 1.12.1 (#5445)"
  yarn.lock
Due: none

Revert "build(deps): bump axios from 1.8.4 to 1.12.1 (#5445)" (#5455)
  yarn.lock
Due: none

Revert "Revert "build(deps): bump axios from 1.8.4 to 1.12.1 (#5445)" (#5455)"
  yarn.lock
Due: none

Revert "Revert "build(deps): bump axios from 1.8.4 to 1.12.1 (#5445)" (#5455)" (#5456)
  yarn.lock
Due: none

removing studio references and videos
  content/blogs/2023-06-14-dvc-3.0-ml-experiments-data-versioning.md
Due: prettier --write

update with newsletter links
  content/blogs/2023-04-17-managing-openfoam-physical-simulations-with-dvc-cml-studio-part-1.md
  content/blogs/2023-04-20-testing-external-contributions-using-github-actions-secrets.md
  content/blogs/2023-05-10-managing-openfoam-physical-simulations-with-dvc-cml-studio-part-2.md
  content/blogs/2023-08-22-sagemaker-model-deployment.md
  content/blogs/2023-09-08-finetune-llm-pipeline-dvc-skypilot.md
  content/blogs/2023-09-25-leveraging-llms-in-chatbots-the-dvc-approach.md
  content/blogs/2023-11-16-turn-vs-code-into-ml-platform.md
  content/blogs/2023-12-11-dvc-git-lfs.md
  content/blogs/2024-01-19-automate-data-validation-and-model-monitoring-with-evidently-and-dvc.md
  content/blogs/2024-03-11-dvc-slurm-cluster-exscientia.md
  content/blogs/2024-03-12-dvc-ray.md
  content/blogs/2024-03-13-dvc-ray-part-2.md
Due: prettier --write

formatted maybe
  content/blogs/2023-04-20-testing-external-contributions-using-github-actions-secrets.md
  content/blogs/2023-05-10-managing-openfoam-physical-simulations-with-dvc-cml-studio-part-2.md
  content/blogs/2023-06-14-dvc-3.0-ml-experiments-data-versioning.md
  content/blogs/2023-08-22-sagemaker-model-deployment.md
  content/blogs/2023-09-08-finetune-llm-pipeline-dvc-skypilot.md
  content/blogs/2023-09-25-leveraging-llms-in-chatbots-the-dvc-approach.md
  content/blogs/2023-11-16-turn-vs-code-into-ml-platform.md
  content/blogs/2023-12-11-dvc-git-lfs.md
  content/blogs/2024-01-19-automate-data-validation-and-model-monitoring-with-evidently-and-dvc.md
  content/blogs/2024-03-11-dvc-slurm-cluster-exscientia.md
  content/blogs/2024-03-12-dvc-ray.md
  content/blogs/2024-03-13-dvc-ray-part-2.md
Due: prettier --write

one more
  content/blogs/2023-04-17-managing-openfoam-physical-simulations-with-dvc-cml-studio-part-1.md
Due: prettier --write

back to july 19
  content/blogs/2022-07-26-iterative-studio-model-registry.md
  content/blogs/2022-07-26-july-22-community-gems.md
  content/blogs/2022-08-16-august-22-heartbeat.md
  content/blogs/2022-08-30-august-22-community-gems.md
  content/blogs/2022-09-06-bitbucket-cml-runners.md
  content/blogs/2022-09-19-september-22-heartbeat.md
  content/blogs/2022-10-04-dvc-hydra-integration.md
  content/blogs/2022-10-11-iterative-x-hacktoberfest-2022.md
  content/blogs/2022-10-20-october-heartbeat.md
  content/blogs/2022-10-24-jupyter-notebook-dvc-pipeline.md
  content/blogs/2022-10-31-mlem-k8s-sagemaker.md
  content/blogs/2022-11-18-november-2022-heartbeat.md
  content/blogs/2022-12-07-gto-model-registry.md
  content/blogs/2022-12-15-exp-tracking-dvc-python.md
  content/blogs/2022-12-16-december-2022-heartbeat.md
  content/blogs/2023-01-17-january-2023-heartbeat.md
  content/blogs/2023-01-19-mlem-cv-model-deployment.md
  content/blogs/2023-02-08-mlem-nanogpt-modal-flyio.md
  content/blogs/2023-02-13-dvclive-metrics-studio.md
  content/blogs/2023-02-16-cloud-versioning.md
  content/blogs/2023-03-20-automate-your-ml-pipeline-combining-airflow-dvc-and-cml-for-a-seamless-batch-scoring-experience.md
Due: prettier --write

next batch
  content/blogs/2022-01-31-january-22-community-gems.md
  content/blogs/2022-02-28-february-22-community-gems.md
  content/blogs/2022-03-17-march-22-heartbeat.md
  content/blogs/2022-03-30-march-22-community-gems.md
  content/blogs/2022-03-31-stale-models.md
  content/blogs/2022-04-15-april-22-heartbeat.md
  content/blogs/2022-04-26-CML-runners-saving-models-1.md
  content/blogs/2022-04-27-terraform-provider.md
  content/blogs/2022-04-28-april-22-community-gems.md
  content/blogs/2022-05-03-end-to-end-computer-vision-api-part-1-data-versioning-and-ml-pipelines.md
  content/blogs/2022-05-05-end-to-end-computer-vision-api-part-2-local-experiments.md
  content/blogs/2022-05-06-CML-runners-saving-models-2.md
  content/blogs/2022-05-09-end-to-end-computer-vision-api-part-3-remote-exp-ci-cd.md
  content/blogs/2022-05-12-local-experiments-to-cloud-with-tpi.md
  content/blogs/2022-05-16-may-22-heartbeat.md
  content/blogs/2022-05-24-MLEM-release.md
  content/blogs/2022-05-24-local-experiments-to-cloud-with-tpi-docker.md
  content/blogs/2022-05-26-may-22-community-gems.md
  content/blogs/2022-05-31-aws-remotes-in-dvc.md
  content/blogs/2022-06-13-azure-remotes-in-dvc.md
  content/blogs/2022-06-14-DVC-VS-Code-extension.md
  content/blogs/2022-06-29-june-22-community-gems.md
  content/blogs/2022-07-06-using-gcp-remotes-in-dvc.md
  content/blogs/2022-07-18-july-heartbeat.md
  content/blogs/2022-07-19-serving-models-with-mlem.md
  content/blogs/2022-1-18-January-22-heartbeat.md
  content/blogs/2022-2-17-february-22-heartbeat.md
Due: prettier --write

start of blog from Akash Mane
  content/blogs/2025-10-03-how-to-label-and-rotate-training-and-feedback-datasets-cleanly.md
Due: prettier --write

adding code for images, adjust dates
  content/blogs/2025-10-03-how-to-label-and-rotate-training-and-feedback-datasets-cleanly.md
Due: prettier --write

updates
  content/authors/akash_mane.md
  content/blogs/2025-10-07-how-to-label-and-rotate-training-and-feedback-datasets-cleanly.md
Due: prettier --write

done
  content/blogs/2025-10-07-how-to-label-and-rotate-training-and-feedback-datasets-cleanly.md
Due: prettier --write

feat: add empty purge page
  content/docs/command-reference/purge.md
Due: prettier --write
