Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fixed command blocks. deleted a screenshot. added "notify us of your results" at the end.
  content/docs/start/experiments.md
  static/img/doc/start/exp-ss-90252.png
Due: prettier --write

cases: higher level solution intro per https://github.com/iterative/dvc.org/pull/2482#pullrequestreview-667404970
  content/docs/use-cases/sharing-resources-efficiently.md
Due: prettier --write

cases: remove md comment... oops
  content/docs/use-cases/sharing-resources-efficiently.md
Due: prettier --write

cases: rewrite part about efficient processing per https://github.com/iterative/dvc.org/pull/2482#pullrequestreview-667407455
  content/docs/use-cases/sharing-resources-efficiently.md
  static/img/remote-execution.png
Due: prettier --write

minor fixes
  content/docs/user-guide/experiment-management/checkpoints.md
Due: prettier --write

Added a separate page for view settings
  content/docs/sidebar.json
  content/docs/studio/create-view.md
  content/docs/studio/get-started.md
  content/docs/studio/teams.md
  content/docs/studio/view-settings.md
Due: prettier --write

Clarified that DVC or non-DVC repos can be used with Studio
  content/docs/studio/get-started.md
Due: prettier --write

Added links to Studio in the DVC docs and banner
  content/docs/start/index.md
  src/components/LayoutHeader/alert.tsx
Due: prettier --write

Added Studio icon in the banner
  src/components/LayoutHeader/alert.tsx
Due: none

right panel scroll bar improvements
  src/components/Documentation/RightPanel/index.tsx
  src/components/Documentation/RightPanel/styles.module.css
Due: none

Created blog post for DVC Studio release
  content/authors/tapa_dipti_sitaula.md
  content/blog/2021-06-02-introducing-dvc-studio.md
  static/uploads/avatars/tapa_dipti_sitaula.png
  static/uploads/images/2021-06-02/dvc-studio-release.png
  static/uploads/images/2021-06-02/dvc-studio-view.png
Due: prettier --write

Restyled by prettier
  content/blog/2021-06-02-introducing-dvc-studio.md
Due: prettier --write

Apply suggestions from code review
  content/docs/studio/create-view.md
  content/docs/studio/run-experiments.md
  content/docs/studio/view-settings.md
Due: prettier --write

Restyled by prettier
  content/docs/studio/create-view.md
  content/docs/studio/run-experiments.md
  content/docs/studio/view-settings.md
Due: prettier --write

Added videos
  content/docs/studio/get-started.md
  content/docs/studio/run-experiments.md
  content/docs/studio/view-settings.md
Due: prettier --write

Fixed image filename and GitHub link
  content/blog/2021-06-02-introducing-dvc-studio.md
Due: prettier --write

Incorporated PR comment from Jeny
  content/blog/2021-06-02-introducing-dvc-studio.md
Due: prettier --write

Revised as per Jeny's comment in the PR
  content/blog/2021-06-02-introducing-dvc-studio.md
Due: prettier --write

Add quality of 90 to blog-post picture query
  src/templates/blog-post.tsx
Due: none

Add quality of 90 to blog-post picture query (#2523)
  src/templates/blog-post.tsx
Due: none

Update nav font styling * increase popup font sizes * take off letter-spacing in all elements
  src/components/HamburgerMenu/styles.module.css
  src/components/LayoutHeader/Nav/Popup/styles.module.css
  src/components/LayoutHeader/Nav/styles.module.css
  src/components/LayoutHeader/styles.module.css
Due: none

change behavior to auto to avoid the commit check error
  src/components/Documentation/RightPanel/index.tsx
Due: none

Add a quality to gatsby-remark-images options
  gatsby-config.js
Due: eslint --fix

Changed the intro of Studio docs as per Ivan's comment in the PR
  content/docs/studio/index.md
Due: prettier --write

simplify, deduplicate, forma, emphsize videos
  content/blog/2021-06-02-introducing-dvc-studio.md
Due: prettier --write

Resized and optimized images
  static/uploads/images/2021-06-02/dvc-studio-release.png
  static/uploads/images/2021-06-02/dvc-studio-view.png
Due: none

Added DVC benefits, data remotes access details + some other changes
  content/docs/studio/get-started.md
  content/docs/studio/view-settings.md
Due: prettier --write

Small changes as per PR comments
  content/docs/studio/get-started.md
  content/docs/studio/index.md
Due: prettier --write

studio: further enhancements (#2510)
  content/docs/sidebar.json
  content/docs/start/index.md
  content/docs/studio/create-view.md
  content/docs/studio/get-started.md
  content/docs/studio/index.md
  content/docs/studio/run-experiments.md
  content/docs/studio/teams.md
  content/docs/studio/view-settings.md
  content/docs/studio/visualize-experiments.md
  src/components/LayoutHeader/alert.tsx
Due: prettier --write

Apply suggestions from code review
  content/docs/command-reference/remote/modify.md
Due: prettier --write

Updated S3 ssl_verify documentation (#2483)
  content/docs/command-reference/remote/modify.md
Due: prettier --write

Update content/docs/command-reference/remote/modify.md
  content/docs/command-reference/remote/modify.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/remote/modify.md
Due: prettier --write

start: typo per https://github.com/iterative/dvc.org/pull/2507#discussion_r641972518
  content/docs/start/data-and-model-versioning.md
Due: prettier --write

Added trends chart and revised content
  content/blog/2021-06-02-introducing-dvc-studio.md
  static/uploads/images/2021-06-02/trends-chart.png
Due: prettier --write

added the first draft without command outputs
  content/docs/start/checkpoints.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
