Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Details for S3 API
  static/docs/user-guide/external-data/s3.md
Due: prettier --write

Details for azure
  static/docs/user-guide/external-data/azure.md
Due: prettier --write

Details for GS
  static/docs/user-guide/external-data/gs.md
Due: prettier --write

Details for HDFS
  static/docs/user-guide/external-data/hdfs.md
Due: prettier --write

Small changes
  static/docs/user-guide/external-data/amazon.md
  static/docs/user-guide/external-data/s3.md
  static/docs/user-guide/external-data/ssh.md
Due: prettier --write

Details for HTTP
  src/Documentation/sidebar.json
  static/docs/user-guide/external-data/http.md
Due: prettier --write

Installation details for storage types
  static/docs/user-guide/external-data/index.md
Due: prettier --write

Details for Aliyun OSS
  static/docs/user-guide/external-data/oss.md
Due: prettier --write

Small changes
  static/docs/user-guide/external-data/amazon.md
  static/docs/user-guide/external-data/azure.md
  static/docs/user-guide/external-data/gs.md
  static/docs/user-guide/external-data/s3.md
Due: prettier --write

Add import-url examples to external dependencies
  static/docs/user-guide/external-data/amazon.md
  static/docs/user-guide/external-data/gs.md
  static/docs/user-guide/external-data/hdfs.md
  static/docs/user-guide/external-data/ssh.md
Due: prettier --write

Make remote subheaders uniform
  static/docs/user-guide/external-data/amazon.md
  static/docs/user-guide/external-data/azure.md
  static/docs/user-guide/external-data/gs.md
  static/docs/user-guide/external-data/hdfs.md
  static/docs/user-guide/external-data/http.md
  static/docs/user-guide/external-data/oss.md
  static/docs/user-guide/external-data/s3.md
  static/docs/user-guide/external-data/ssh.md
Due: prettier --write

Reorganize the sections of external data and outputs
  static/docs/user-guide/external-data/amazon.md
  static/docs/user-guide/external-data/gs.md
  static/docs/user-guide/external-data/hdfs.md
  static/docs/user-guide/external-data/ssh.md
Due: prettier --write

Replace "S3 API" with "S3 Compatible"
  static/docs/user-guide/external-data/index.md
Due: prettier --write

Rename "S3 API" to "S3 Compatible"
  src/Documentation/sidebar.json
Due: prettier --write

Move the section of "DVC Storage" as a collapsed section under "Remotes"
  static/docs/user-guide/external-data/amazon.md
  static/docs/user-guide/external-data/azure.md
  static/docs/user-guide/external-data/gs.md
  static/docs/user-guide/external-data/hdfs.md
  static/docs/user-guide/external-data/http.md
  static/docs/user-guide/external-data/oss.md
  static/docs/user-guide/external-data/s3.md
  static/docs/user-guide/external-data/ssh.md
Due: prettier --write

Split remotes and external-data in separate sections
  src/Documentation/sidebar.json
  static/docs/user-guide/external-data/amazon.md
  static/docs/user-guide/external-data/gs.md
  static/docs/user-guide/external-data/hdfs.md
  static/docs/user-guide/external-data/http.md
  static/docs/user-guide/external-data/index.md
  static/docs/user-guide/external-data/local.md
  static/docs/user-guide/external-data/ssh.md
  static/docs/user-guide/remotes/amazon.md
  static/docs/user-guide/remotes/azure.md
  static/docs/user-guide/remotes/gs.md
  static/docs/user-guide/remotes/hdfs.md
  static/docs/user-guide/remotes/http.md
  static/docs/user-guide/remotes/index.md
  static/docs/user-guide/remotes/local.md
  static/docs/user-guide/remotes/oss.md
  static/docs/user-guide/remotes/s3.md
  static/docs/user-guide/remotes/ssh.md
Due: prettier --write

Remove remote sections about DVC storage
  static/docs/user-guide/remotes/amazon.md
  static/docs/user-guide/remotes/azure.md
  static/docs/user-guide/remotes/gs.md
  static/docs/user-guide/remotes/hdfs.md
  static/docs/user-guide/remotes/oss.md
  static/docs/user-guide/remotes/s3.md
  static/docs/user-guide/remotes/ssh.md
Due: prettier --write

Remove old sections from the sidebar
  src/Documentation/glossary.js
  src/Documentation/sidebar.json
  static/docs/command-reference/add.md
  static/docs/command-reference/config.md
  static/docs/command-reference/import-url.md
  static/docs/command-reference/metrics/add.md
  static/docs/command-reference/remote/add.md
  static/docs/command-reference/run.md
  static/docs/get-started/import-data.md
  static/docs/install/linux.md
  static/docs/install/macos.md
  static/docs/install/windows.md
  static/docs/user-guide/dvc-file-format.md
  static/docs/user-guide/external-dependencies.md
  static/docs/user-guide/index.md
  static/docs/user-guide/managing-external-data.md
Due: eslint --fix, prettier --write

Redirect old pages to the new ones
  server.js
Due: eslint --fix

Remove warning notes and descriptions of the storage services
  static/docs/user-guide/external-data/amazon.md
  static/docs/user-guide/external-data/gs.md
  static/docs/user-guide/external-data/hdfs.md
  static/docs/user-guide/external-data/ssh.md
  static/docs/user-guide/remotes/amazon.md
  static/docs/user-guide/remotes/hdfs.md
  static/docs/user-guide/remotes/oss.md
Due: prettier --write

Some corrections and improvements
  static/docs/user-guide/external-data/amazon.md
  static/docs/user-guide/external-data/gs.md
  static/docs/user-guide/external-data/hdfs.md
  static/docs/user-guide/external-data/http.md
  static/docs/user-guide/external-data/index.md
  static/docs/user-guide/external-data/local.md
  static/docs/user-guide/external-data/ssh.md
Due: prettier --write

HDFS cannot be used for external data, remove its page
  src/Documentation/sidebar.json
  static/docs/user-guide/external-data/hdfs.md
Due: prettier --write

Remove remote details from the command reference
  static/docs/command-reference/remote/add.md
  static/docs/command-reference/remote/modify.md
Due: prettier --write

Unhide the sections of remote options
  static/docs/user-guide/remotes/amazon.md
  static/docs/user-guide/remotes/gs.md
  static/docs/user-guide/remotes/hdfs.md
  static/docs/user-guide/remotes/http.md
  static/docs/user-guide/remotes/oss.md
  static/docs/user-guide/remotes/ssh.md
Due: prettier --write

Move the section of Local DVC Storage to remotes
  static/docs/user-guide/external-data/local.md
  static/docs/user-guide/remotes/local.md
Due: prettier --write

use-cases: more updates to data registry per private discussion
  static/docs/use-cases/data-registry.md
Due: prettier --write

Update expternal link icon
  src/Documentation/Markdown/Markdown.js
  static/img/external-link.svg
Due: eslint --fix

Update safe deps
  package.json
  yarn.lock
Due: prettier --write

Add docs about pager in the pipeline command
  static/docs/command-reference/pipeline/show.md
Due: prettier --write

use-cases: draft of new Usage section in data registry
  static/docs/use-cases/data-registry.md
Due: prettier --write

Index page and Tags
  static/docs/user-guide/experiments/index.md
  static/docs/user-guide/experiments/tags.md
Due: prettier --write

Update sidebar structure to allow tutorial links
  src/Documentation/SidebarMenu/helper.js
  src/Documentation/SidebarMenu/helper.test.js
Due: eslint --fix

Add basic display for tutorials
  package.json
  pages/doc.js
  src/Documentation/RightPanel/RightPanel.js
  yarn.lock
Due: eslint --fix, prettier --write

Add tutorial example
  src/Documentation/sidebar.json
Due: prettier --write

Add icons to known platforms
  src/Documentation/RightPanel/RightPanel.js
  static/tutorial-icons/katacoda.png
Due: eslint --fix

Update sidebar.json with actual tutorials
  src/Documentation/sidebar.json
Due: prettier --write

Open tutorials link in new window
  src/Documentation/RightPanel/RightPanel.js
Due: eslint --fix

Update tutorials styles
  src/Documentation/RightPanel/RightPanel.js
Due: eslint --fix

Update emoji and text for tutorials
  src/Documentation/RightPanel/RightPanel.js
Due: eslint --fix

Add mobile styles for tutorials
  pages/doc.js
  src/Documentation/Markdown/Markdown.js
  src/Documentation/RightPanel/RightPanel.js
  src/Documentation/Tutorials.js
Due: eslint --fix
