Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Remove unused images
  static/img/community/events/WiDS_logo.jpg
  static/img/community/events/toronto_ml.jpg
Due: none

Adding missing backslash in `dvc run` commands
  content/docs/user-guide/external-dependencies.md
Due: prettier --write

cmd: update notes about default remotes per https://github.com/iterative/dvc.org/pull/1728#pullrequestreview-477169742
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/default.md
  content/docs/command-reference/remote/index.md
Due: prettier --write

Adding missing backslash in `dvc run` commands (#1734)
  content/docs/user-guide/external-dependencies.md
Due: prettier --write

Squash a few warnings and errors (#1729)
  content/community.json
  gatsby-config.js
  src/gatsby/models/community/index.js
  static/img/community/events/WiDS_logo.jpg
  static/img/community/events/toronto_ml.jpg
Due: eslint --fix, prettier --write

fix
  content/docs/use-cases/versioning-data-and-model-files/index.md
Due: prettier --write

diff: sort example
  content/docs/command-reference/diff.md
Due: prettier --write

guide: update x data guide for 1.x and other impros, as as well as a note about not supporting x metrics/plots per https://discord.com/channels/485586884165107732/485596304961962003/748857709830340698
  content/docs/user-guide/managing-external-data.md
Due: prettier --write

docs: udpates to matcch x data guide update (see prev commit)
  content/docs/command-reference/config.md
  content/docs/command-reference/run.md
  content/docs/user-guide/external-dependencies.md
Due: prettier --write

guide: more updates for x deps/outs pages per 1.x et al.
  content/docs/user-guide/external-dependencies.md
  content/docs/user-guide/managing-external-data.md
Due: prettier --write

guide: more fixes for x data pages
  content/docs/user-guide/external-dependencies.md
  content/docs/user-guide/managing-external-data.md
Due: prettier --write

Disable `simpleLinker` in headings and fix complex `details` triggers
  plugins/gatsby-remark-dvc-linker/simpleLinker.js
  src/components/Documentation/Markdown/index.tsx
Due: eslint --fix

Remove unused util import and unncessesary null assertion
  src/components/Documentation/Markdown/index.tsx
Due: none

cases: shorten the more instructional part of Versioning per https://github.com/iterative/dvc.org/pull/1716#issuecomment-681229160
  content/docs/use-cases/versioning-data-and-model-files/index.md
Due: prettier --write

cases: update and shorten Data Registries
  content/docs/use-cases/data-registries.md
Due: prettier --write

cmd: &->and in add per https://github.com/iterative/dvc.org/pull/1716#pullrequestreview-478151254
  content/docs/command-reference/add.md
Due: prettier --write

updates
  content/docs/user-guide/how-to/best-practices.md
  content/docs/user-guide/tips-and-tricks.md
Due: prettier --write

Update best-practices.md
  content/docs/user-guide/how-to/best-practices.md
Due: prettier --write

cases: further simplify technical sections of Versioning per https://github.com/iterative/dvc.org/pull/1716#pullrequestreview-478151716
  content/docs/use-cases/versioning-data-and-model-files/index.md
Due: prettier --write

cases: further shorten technical sections of Data Registries rel=https://github.com/iterative/dvc.org/pull/1716#issuecomment-683335888
  content/docs/use-cases/data-registries.md
Due: prettier --write

cases: remove ... from code block in Versioning
  content/docs/use-cases/versioning-data-and-model-files/index.md
Due: prettier --write

rename pipeline output
  content/docs/command-reference/move.md
Due: prettier --write

use commit instead of repro
  content/docs/command-reference/move.md
Due: prettier --write

guide: roll back accidental removal of HTTP x dep and and reorder cache.{type} options to match std. remote order per https://github.com/iterative/dvc.org/pull/1735#pullrequestreview-478062572 et al.
  content/docs/command-reference/config.md
  content/docs/user-guide/external-dependencies.md
Due: prettier --write

guide: std intro to both x docs and improve x outs desc and examples, inc including adding Azure example
  content/docs/user-guide/external-dependencies.md
  content/docs/user-guide/managing-external-data.md
Due: prettier --write

cmd: missing state
  content/docs/command-reference/status.md
Due: prettier --write

Update content/docs/command-reference/status.md
  content/docs/command-reference/status.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/status.md
Due: prettier --write

prettified
  content/blog/2020-08-27-august-20-community-gems.md
Due: prettier --write

Change TS cast for triggerChildren to reflect that it's a ReactNode
  src/components/Documentation/Markdown/index.tsx
Due: none

Remove dead code from GitHub Model
  src/gatsby/models/github/index.js
Due: eslint --fix

Simplify how details triggers/headings are handled
  src/components/Documentation/Markdown/index.tsx
Due: none

Change details DVC-file to `.dvc` file
  content/docs/user-guide/external-dependencies.md
Due: prettier --write

Initial version of use case of CI for ML
  content/docs/sidebar.json
  content/docs/use-cases/ci-and-ml.md
  static/img/ci_for_ml_evaluate_models.jpg
  static/img/ci_for_ml_long_report.png
  static/img/ci_for_ml_retrain_model.jpg
Due: prettier --write

Minor improvements
  content/docs/use-cases/ci-and-ml.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
