Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Typo correction to Jupyter to dvc (#5479)
  content/blogs/2025-10-31-jupyter-notebook-to-dvc-pipeline.md
Due: prettier --write

docs(build): add setuptools to initial dev install dependencies
  content/docs/contributing/core.md
Due: prettier --write

support preventing crawling if needed
  src/html.tsx
Due: none

dvc 3.64.0
  src/components/DownloadButton/index.tsx
Due: none

deploy at docs.dvc.org
  content/docs/dvclive/how-it-works.md
  content/docs/index.md
  packages/gatsby-theme/consts/index.js
  packages/gatsby-theme/createPages.js
  packages/gatsby-theme/gatsby-node.js
  packages/gatsby-theme/src/components/HamburgerMenu/index.tsx
  packages/gatsby-theme/src/components/LayoutFooter/index.tsx
  packages/gatsby-theme/src/components/LayoutHeader/HeaderBranding/index.tsx
  packages/gatsby-theme/src/components/LayoutHeader/Nav/index.tsx
  packages/gatsby-theme/src/components/Link/index.tsx
  packages/gatsby-theme/src/utils/shared/sidebar.js
  redirects-list.json
  src/@dvcorg/gatsby-theme/components/HamburgerMenu/index.tsx
  src/@dvcorg/gatsby-theme/components/LayoutFooter/index.tsx
  src/@dvcorg/gatsby-theme/components/LayoutHeader/Nav/index.tsx
  src/@dvcorg/gatsby-theme/data/menu.tsx
  src/components/Home/Hero/GetStarted/GetStartedWithDvc.tsx
  src/components/Home/LandingHero/index.tsx
  src/components/Support/index.tsx
  src/constants/internalLinks.ts
  src/gatsby/common.js
  src/pages/community.tsx
  src/pages/enterprise.tsx
  src/pages/index.tsx
  src/pages/subscriber-thank-you.tsx
  src/pages/support.tsx
Due: eslint --fix, prettier --write

fix dvclive
  content/docs/command-reference/metrics/index.md
  content/docs/dvclive/how-it-works.md
  content/docs/dvclive/index.md
  content/docs/dvclive/live/end.md
  content/docs/dvclive/live/index.md
  content/docs/dvclive/live/log_artifact.md
  content/docs/dvclive/live/log_image.md
  content/docs/dvclive/live/make_dvcyaml.md
  content/docs/dvclive/live/make_report.md
  content/docs/dvclive/live/make_summary.md
  content/docs/dvclive/ml-frameworks/accelerate.md
  content/docs/dvclive/ml-frameworks/fabric.md
  content/docs/dvclive/ml-frameworks/fastai.md
  content/docs/dvclive/ml-frameworks/huggingface.md
  content/docs/dvclive/ml-frameworks/index.md
  content/docs/dvclive/ml-frameworks/keras.md
  content/docs/dvclive/ml-frameworks/lightgbm.md
  content/docs/dvclive/ml-frameworks/mmcv.md
  content/docs/dvclive/ml-frameworks/optuna.md
  content/docs/dvclive/ml-frameworks/pytorch-lightning.md
  content/docs/dvclive/ml-frameworks/pytorch.md
  content/docs/dvclive/ml-frameworks/tensorflow.md
  content/docs/dvclive/ml-frameworks/xgboost.md
  content/docs/start/experiments/experiment-tracking.md
  content/docs/user-guide/data-management/discovering-and-accessing-data.md
  content/docs/user-guide/env.md
  content/docs/user-guide/integrations/ml-frameworks.md
  src/gatsby/models/github/index.js
Due: eslint --fix, prettier --write

remove not-existing imports
  src/gatsby/models.js
Due: eslint --fix

remove link to /use-cases/model-registry
  content/basic-concepts/model_registry.md
Due: prettier --write

fix links
  content/docs/user-guide/index.md
Due: prettier --write

remove not existing links
  content/docs/start/index.md
  content/docs/use-cases/data-registry/index.md
  content/docs/user-guide/integrations/sagemaker.md
Due: prettier --write

remove requirements.txt
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

add .python-version
  .python-version
Due: none

Fix siteurl
  gatsby-config.js
  src/server/index.js
Due: eslint --fix

use 3.14
  .python-version
Due: none

send referrer on youtube embeds
  packages/gatsby-theme/config/gatsby-remark-embedder/custom-yt-embedder.js
Due: eslint --fix

fix iframe
  packages/gatsby-theme/config/gatsby-remark-embedder/custom-yt-embedder.js
Due: eslint --fix

remove dvc
  .dvc/.gitignore
  .dvc/config
  .dvcignore
  .husky/post-checkout
  .husky/pre-push
  .python-version
  app.json
  content/uploads.dvc
  gatsby-config.js
  package.json
  pyproject.toml
  scripts/heroku-deploy.sh
  uv.lock
Due: eslint --fix, prettier --write

fix glossary
  src/components/SEO/index.tsx
  src/pages/user-guide/glossary.tsx
Due: none

setup algolia
  src/html.tsx
Due: none

use a separate index for search
  src/@dvcorg/gatsby-theme/components/Documentation/Layout/SearchForm/index.tsx
Due: none

change logo
  packages/gatsby-theme/src/components/Documentation/Layout/SidebarMenu/Item/index.tsx
  packages/gatsby-theme/src/components/HamburgerMenu/index.tsx
  packages/gatsby-theme/src/components/HamburgerMenu/styles.module.css
  packages/gatsby-theme/src/components/LayoutFooter/index.tsx
  packages/gatsby-theme/src/components/LayoutFooter/styles.module.css
  packages/gatsby-theme/src/components/LayoutHeader/HeaderBranding/index.tsx
  packages/gatsby-theme/src/components/LayoutHeader/HeaderBranding/styles.module.css
  packages/gatsby-theme/src/components/SEO/index.tsx
  packages/gatsby-theme/src/images/dvc_by_lakefs.svg
  packages/gatsby-theme/src/images/dvc_by_lakefs_white.svg
  src/@dvcorg/gatsby-theme/components/HamburgerMenu/index.tsx
  src/@dvcorg/gatsby-theme/components/LayoutFooter/index.tsx
  src/components/Paginator/index.tsx
  static/img/dvc_by_lakefs.svg
  static/img/dvc_by_lakefs_white.svg
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
