Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

updated theme version
  package.json
  yarn.lock
Due: prettier --write

added await to makeFeed
  gatsby-config.js
Due: eslint --fix

minor refactoring
  src/@dvcorg/gatsby-theme-iterative/components/HamburgerMenu/index.tsx
  src/@dvcorg/gatsby-theme-iterative/components/LayoutHeader/Nav/LinkItems/index.tsx
  src/@dvcorg/gatsby-theme-iterative/components/LayoutHeader/Nav/Popup/index.tsx
  src/@dvcorg/gatsby-theme-iterative/components/data/menu.ts
  src/@dvcorg/gatsby-theme-iterative/components/data/styles.module.css
Due: none

some tweaks
  content/docs/user-guide/troubleshooting.md
Due: prettier --write

Restyled by prettier
  content/docs/user-guide/troubleshooting.md
Due: prettier --write

Implement minor textual feedback
  content/blog/2022-06-01-Jupyter-in-cloud-with-TPI.md
Due: prettier --write

Test link checker * add broken link inside page
  content/blog/2022-05-31-aws-remotes-in-dvc.md
Due: prettier --write

finished azure auth and roles setup steps
  content/blog/2022-06-22-azure-remotes-in-dvc.md
  static/uploads/images/2022-06-22/data_in_azure.png
  static/uploads/images/2022-06-22/storage_account_iam.png
  static/uploads/images/2022-06-22/storage_account_member.png
  static/uploads/images/2022-06-22/storage_account_role.png
Due: prettier --write

Delete heroku deployment github action
  .github/workflows/deploy-master.yaml
Due: none

Add broken links
  content/blog/2022-05-31-aws-remotes-in-dvc.md
  content/docs/index.md
Due: prettier --write

updated text
  content/blog/2022-06-22-azure-remotes-in-dvc.md
Due: prettier --write

updated text and images
  content/blog/2022-06-22-azure-remotes-in-dvc.md
  static/uploads/images/2022-06-22/bikedata_container.png
  static/uploads/images/2022-06-22/storage_account_role.png
Due: prettier --write

Delete heroku deployment github action (#3616)
  .github/workflows/deploy-master.yaml
Due: none

Change description
  content/blog/2022-06-14-DVC-VS-Code-extension.md
Due: prettier --write

Remove VSCode plug from descriptionLong
  content/blog/2022-06-14-DVC-VS-Code-extension.md
Due: prettier --write

Focus on experiments in goals
  content/blog/2022-06-14-DVC-VS-Code-extension.md
Due: prettier --write

Remove Why VSCode section
  content/blog/2022-06-14-DVC-VS-Code-extension.md
Due: prettier --write

Dive straight into features
  content/blog/2022-06-14-DVC-VS-Code-extension.md
Due: prettier --write

Mention params in DVC view
  content/blog/2022-06-14-DVC-VS-Code-extension.md
Due: prettier --write

Remove reference to v1.0
  content/blog/2022-06-14-DVC-VS-Code-extension.md
Due: prettier --write

Fix divergence
  content/blog/2022-06-14-DVC-VS-Code-extension.md
Due: prettier --write

Restyled by prettier
  content/blog/2022-06-14-DVC-VS-Code-extension.md
Due: prettier --write

Add DVC tracked explorer back to benefits
  content/blog/2022-06-14-DVC-VS-Code-extension.md
Due: prettier --write

fix a link error
  content/docs/user-guide/experiment-management/comparing-experiments.md
Due: prettier --write

Resize plots image for testing
  static/uploads/images/2022-06-14/dvc-view-plots.png
Due: none

guide on badges
  content/docs/command-reference/metrics/index.md
  content/docs/start/data-management/metrics-parameters-plots.md
Due: prettier --write

nav: clean up and rename files + remove UG index
  content/docs/sidebar.json
  content/docs/studio/how-it-works.md
  content/docs/studio/user-guide/index.md
  content/docs/studio/user-guide/prepare-your-repositories.md
  content/docs/studio/user-guide/views-and-experiments/configure-a-view.md
  content/docs/studio/user-guide/views-and-experiments/create-view.md
  content/docs/studio/user-guide/views-and-experiments/explore-ml-experiments.md
  content/docs/studio/user-guide/views-and-experiments/run-experiments.md
  content/docs/studio/user-guide/views-and-experiments/share-a-view.md
  content/docs/studio/user-guide/views-and-experiments/visualize-experiments.md
  content/docs/studio/user-guide/views-and-experiments/what-is-a-view.md
Due: prettier --write

studio: misc. edits
  content/docs/studio/index.md
  content/docs/studio/user-guide/install-github-app.md
Due: prettier --write

studio: redirects per sidebar changes
  content/docs/sidebar.json
  content/docs/studio/user-guide/views-and-experiments/create-a-view.md
  redirects-list.json
Due: prettier --write

nav: viz exps (Studio UG)
  content/docs/sidebar.json
  content/docs/studio/user-guide/views-and-experiments/visualize-and-compare.md
  redirects-list.json
Due: prettier --write

links: changes studio URLs
  content/docs/studio/get-started.md
  content/docs/studio/how-it-works.md
  content/docs/studio/index.md
  content/docs/studio/troubleshooting.md
  content/docs/studio/user-guide/prepare-your-repositories.md
  content/docs/studio/user-guide/teams.md
  content/docs/studio/user-guide/views-and-experiments/configure-a-view.md
  content/docs/studio/user-guide/views-and-experiments/create-a-view.md
Due: prettier --write

studio/nav: merge How it Works into docs home
  content/docs/sidebar.json
  content/docs/studio/how-it-works.md
  content/docs/studio/index.md
  redirects-list.json
Due: prettier --write

studio: remove how-it-works info from overview
  content/docs/studio/index.md
Due: prettier --write

studio/guide: summarize Prep Repos page
  content/docs/studio/index.md
  content/docs/studio/user-guide/prepare-your-repositories.md
Due: prettier --write

studio/guide: merge all View pages into one, and and shorten the intro (fmly. "What is a View")
  content/docs/dvclive/dvclive-with-dvc.md
  content/docs/sidebar.json
  content/docs/studio/get-started.md
  content/docs/studio/index.md
  content/docs/studio/user-guide/ml-experiments/explore-ml-experiments.md
  content/docs/studio/user-guide/ml-experiments/run-experiments.md
  content/docs/studio/user-guide/ml-experiments/visualize-and-compare.md
  content/docs/studio/user-guide/studio-views.md
  content/docs/studio/user-guide/views-and-experiments/configure-a-view.md
  content/docs/studio/user-guide/views-and-experiments/create-a-view.md
  content/docs/studio/user-guide/views-and-experiments/share-a-view.md
  content/docs/studio/user-guide/views-and-experiments/what-is-a-view.md
  redirects-list.json
Due: prettier --write

fix image links
  content/blog/2021-10-05-adding-data-to-build-a-more-generic-model.md
Due: prettier --write

add DVC logo & <a> links
  content/docs/command-reference/metrics/index.md
  content/docs/start/data-management/metrics-parameters-plots.md
Due: prettier --write

Use link check from the CLI instead of an action
  .github/workflows/link-check-deploy.yml
Due: none

Remove deployment trigger
  .github/workflows/link-check-deploy.yml
Due: none

Use deployment URL
  .github/workflows/link-check-deploy.yml
Due: none
