Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix paths list for 'lint-check' package script
  package.json
Due: prettier --write

Add missing api-reference docs
  content/docs/api-reference/get_url.md
  content/docs/api-reference/index.md
  content/docs/api-reference/open.md
  content/docs/api-reference/read.md
Due: prettier --write

mention about -w as scope specifier for garbage collection
  public/static/docs/command-reference/gc.md
Due: prettier --write

Make two layouts: one main and one for docs. Use these layouts in Gatsby's API to not make full rerender of page on navigation. It fixes transition in doc's sidebar
  gatsby-browser.js
  gatsby-ssr.js
  src/components/404/index.js
  src/components/Community/index.js
  src/components/DocLayout/SidebarMenu/index.js
  src/components/DocLayout/SidebarMenu/styles.js
  src/components/DocLayout/index.js
  src/components/DocLayout/styles.js
  src/components/Documentation/index.js
  src/components/Documentation/styles.js
  src/components/Features/index.js
  src/components/Home/index.js
  src/components/Layout/index.js
  src/components/MainLayout/index.js
  src/components/MainLayout/styles.js
  src/components/Page/index.js
  src/components/PageWrapper/index.js
  src/components/Support/index.js
Due: eslint --fix

Handle trailing slash in the doc's sidebar menu
  src/components/DocLayout/SidebarMenu/index.js
Due: eslint --fix

Fix incorrect layout for 404 page
  gatsby-node.js
  src/components/Layout/index.js
Due: eslint --fix

user-guide: large dataset: remove `protected` mention
  public/static/docs/user-guide/large-dataset-optimization.md
Due: prettier --write

Update public/static/docs/user-guide/large-dataset-optimization.md
  public/static/docs/command-reference/config.md
  public/static/docs/user-guide/large-dataset-optimization.md
Due: prettier --write

Update public/static/docs/user-guide/large-dataset-optimization.md
  public/static/docs/user-guide/large-dataset-optimization.md
Due: prettier --write

fix formatting
  public/static/docs/user-guide/large-dataset-optimization.md
Due: prettier --write

updated `dvc pipeline show --ascii train.dvc --outs` output
  public/static/docs/get-started/visualize.md
Due: prettier --write

update exclude links list
  scripts/exclude-links.txt
Due: none

fix list after merge
  public/static/docs/command-reference/list.md
Due: prettier --write

fix list after merge
  content/docs/command-reference/list.md
Due: prettier --write

fix edit on Github button
  scripts/exclude-links.txt
  src/components/Documentation/index.js
Due: eslint --fix

don't use bold for the whole line, only dvc token
  src/components/Documentation/Markdown/styles.js
Due: eslint --fix

tests: links: run from any dir
  scripts/link-check-git-all.sh
Due: none

tests: links: support Mac's `sed`
  scripts/link-check.sh
Due: none

make line color lighter
  src/components/Documentation/Markdown/styles.js
Due: eslint --fix

tests: links: exclude: remove unneeded
  scripts/exclude-links.txt
Due: none

tests: links: print paths on diff checks
  scripts/link-check-git-diff.sh
Due: none

links: checks: support spaces in paths
  scripts/link-check-git-diff.sh
Due: none

tests: links: minor lint
  scripts/link-check-git-diff.sh
Due: none

apply some corrections to the latest gc doc
  content/docs/command-reference/gc.md
Due: prettier --write

tests: links: misc fixes (#1067)
  scripts/exclude-links.txt
  scripts/link-check-git-all.sh
  scripts/link-check-git-diff.sh
  scripts/link-check.sh
Due: none

add a missing word
  content/docs/user-guide/external-dependencies.md
Due: prettier --write

add a missing word (#1069)
  content/docs/user-guide/external-dependencies.md
Due: prettier --write

small docs index impro
  public/static/docs/index.md
Due: prettier --write

tutorials: fix wrong /learn paths back to /doc/tutorials
  public/static/docs/command-reference/checkout.md
  public/static/docs/command-reference/commit.md
  public/static/docs/command-reference/diff.md
  public/static/docs/command-reference/fetch.md
  public/static/docs/command-reference/get.md
Due: prettier --write

tutorials: remove term "Learn" from headers
  public/static/docs/tutorials/index.md
  src/components/Community/data.json
Due: prettier --write

update yarn.lock and docs contrig guide
  content/docs/user-guide/contributing/docs.md
  yarn.lock
Due: prettier --write

Update content/docs/command-reference/gc.md
  content/docs/command-reference/gc.md
Due: prettier --write

address reviews feedback, always use need, mention use case for all-commits
  content/docs/command-reference/gc.md
Due: prettier --write

tests: links: treat 429 as success
  scripts/link-check.sh
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
