Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Move ToggleProvider to theme
  plugins/gatsby-theme-iterative-docs/src/components/ToggleProvider/index.tsx
  src/components/Documentation/Markdown/index.tsx
Due: none

Apply suggestions from code review
  content/docs/command-reference/exp/show.md
  content/docs/user-guide/experiment-management/comparing-experiments.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/exp/show.md
  content/docs/user-guide/experiment-management/comparing-experiments.md
Due: prettier --write

Add links
  content/docs/command-reference/exp/show.md
  content/docs/user-guide/experiment-management/comparing-experiments.md
Due: prettier --write

Update description
  content/docs/command-reference/exp/show.md
Due: prettier --write

added args linker plugin to add ids to options
  gatsby-config.js
  plugins/gatsby-remark-args-linker/index.js
  plugins/gatsby-remark-args-linker/package.json
  src/components/Code/index.tsx
Due: eslint --fix, prettier --write

removed hover css
  src/components/Documentation/Markdown/Main/styles.module.css
Due: none

fixed selection logic
  plugins/gatsby-remark-args-linker/index.js
Due: eslint --fix

removed html to react dependency
  package.json
  src/components/Code/index.tsx
  src/typings.ts
  src/utils/index.ts
  yarn.lock
Due: prettier --write

updated gpu example
  content/blog/2022-01-15-moving-local-experiments-to-the-cloud-with-iterative-terraform-provider.md
  static/uploads/images/2022-01-15/AMI_catalog.png
Due: prettier --write

Apply suggestions from code review
  content/blog/2022-01-15-moving-local-experiments-to-the-cloud-with-iterative-terraform-provider.md
Due: prettier --write

updated link to the example repo
  content/blog/2022-01-15-moving-local-experiments-to-the-cloud-with-iterative-terraform-provider.md
Due: prettier --write

added anchor icon in front of list items
  plugins/gatsby-remark-args-linker/index.js
Due: eslint --fix

Update remove.md
  content/docs/command-reference/exp/remove.md
Due: prettier --write

Update remove.md (#3146)
  content/docs/command-reference/exp/remove.md
Due: prettier --write

update to fix only use args from square brackets
  src/components/Code/index.tsx
Due: none

Update content/docs/command-reference/config.md
  content/docs/command-reference/config.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/config.md
Due: prettier --write

config: reorder and summarize sections (in ref.) (#3098)
  content/docs/command-reference/config.md
Due: prettier --write

show anchor icon on list hover
  src/components/Documentation/Markdown/Main/styles.module.css
Due: none

added outline
  src/components/Documentation/Markdown/Main/styles.module.css
Due: none

Fix broken tab order on docs sidebar menu * take off event listeners and tab index off of bullet icons
  src/components/Documentation/Layout/SidebarMenu/index.tsx
Due: none

Add back dropdown feature
  src/components/Documentation/Layout/SidebarMenu/index.tsx
  src/components/Documentation/Layout/SidebarMenu/styles.module.css
Due: none

Fix typo
  src/components/Documentation/Layout/SidebarMenu/index.tsx
Due: none

linkified whole arguments with parameters
  src/components/Code/index.tsx
Due: none

allowed two level of square brackets nestings
  src/components/Code/index.tsx
Due: none

made link icon visible on focus
  src/components/Documentation/Markdown/Main/styles.module.css
Due: none

updated repo link
  content/blog/2022-01-15-moving-local-experiments-to-the-cloud-with-iterative-terraform-provider.md
Due: prettier --write

removed the note, added link to AMIs docs
  content/blog/2022-01-15-moving-local-experiments-to-the-cloud-with-iterative-terraform-provider.md
Due: prettier --write

updated command linker to add hash links for args
  plugins/gatsby-remark-dvc-linker/commandLinker.js
Due: eslint --fix

fix codeclimate
  plugins/gatsby-remark-dvc-linker/commandLinker.js
Due: eslint --fix

Update bullet outline-offset
  src/components/Documentation/Layout/SidebarMenu/styles.module.css
Due: none

added id attribute to respective inline code block
  plugins/gatsby-remark-args-linker/index.js
Due: eslint --fix

added id to list and paragraph instead
  plugins/gatsby-remark-args-linker/index.js
Due: eslint --fix

Take off bullet outline offset
  src/components/Documentation/Layout/SidebarMenu/styles.module.css
Due: none

updated misclassification image
  static/img/start_visualization_confusion2.png
Due: none

Use youtube-nocookie domain in Video component
  src/components/Home/UseCases/Video/index.tsx
Due: none

added intro
  content/blog/2022-01-20-stale-models.md
Due: prettier --write

Use youtube-nocookie domain in Video component (#3152)
  src/components/Home/UseCases/Video/index.tsx
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
