Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

added a dvc exp diff --md example with sed
  content/docs/user-guide/experiment-management/comparing-experiments.md
Due: prettier --write

start: Data Management Trail Fixes #2856
  content/docs/sidebar.json
  content/docs/start/data-management.md
Due: prettier --write

Update DVC Download Link Check issue labels (#2892)
  .github/workflows/download-link-check-schedule.yml
Due: none

blog: cats and dogs data post (#2759)
  content/blog/2021-08-24-transfer-learning-experiments.md
  content/blog/2021-10-05-adding-data-to-build-a-more-generic-model.md
  static/uploads/images/2021-10-05/cats-and-dogs.png
  static/uploads/images/2021-10-05/with-cats-and-dogs-data.png
  static/uploads/images/2021-10-05/with-cats-data.png
Due: prettier --write

correcting cropped image
  static/img/cicd4ml-1.png
Due: none

adding transfer learning video
  content/blog/2021-08-24-transfer-learning-experiments.md
Due: prettier --write

adding transfer learning video (#2896)
  content/blog/2021-08-24-transfer-learning-experiments.md
Due: prettier --write

Add USE_PRODUCTION_CACHE to deploy script for debugging
  scripts/deploy-with-s3.js
Due: eslint --fix

correcting cropped image (#2895)
  static/img/cicd4ml-1.png
Due: none

Revert style import change and undo malformed comment
  content/docs/user-guide/contributing/blog.md
  src/components/LayoutHeader/index.tsx
Due: prettier --write

Allow LayoutAlert to be false in typedef
  src/components/LayoutHeader/alert.tsx
Due: none

Remove nonstandard space and use width for spacing for lint-css
  src/components/Blog/FeedMeta/styles.module.css
Due: none

Remove commented-out classnames
  src/components/Community/Meet/index.tsx
  src/components/DownloadButton/index.tsx
  src/components/LayoutFooter/index.tsx
Due: none

Upgrade gatsby and some other minor/patch upgrades
  package.json
  yarn.lock
Due: prettier --write

Backport script to fix heroku caching
  package.json
  scripts/deploy-with-s3.js
  scripts/heroku-deploy.sh
Due: eslint --fix, prettier --write

minor: fix the expandable section title
  content/docs/user-guide/experiment-management/checkpoints.md
Due: prettier --write

cases: first figure idea (Bkpn Exps)
  content/docs/use-cases/experiment-bookkeeping.md
  static/img/lose-experimentation.png
Due: prettier --write

cases: second figure idea (Bkpn Exps) and typo fix
  content/docs/use-cases/experiment-bookkeeping.md
  static/img/labeled-samples.jpg
Due: prettier --write

exp: fix links to old guides
  content/docs/api-reference/make_checkpoint.md
  content/docs/command-reference/exp/apply.md
  content/docs/command-reference/exp/branch.md
  content/docs/command-reference/exp/run.md
  content/docs/user-guide/experiment-management/dvc-experiments.md
  content/docs/user-guide/experiment-management/index.md
  content/docs/user-guide/experiment-management/running-experiments.md
  content/docs/user-guide/project-structure/pipelines-files.md
Due: prettier --write

guide: review links to Persistent Exps and Checkpoints info
  content/docs/user-guide/experiment-management/checkpoints.md
  content/docs/user-guide/experiment-management/cleaning-experiments.md
  content/docs/user-guide/experiment-management/dvc-experiments.md
  content/docs/user-guide/experiment-management/index.md
  content/docs/user-guide/experiment-management/running-experiments.md
Due: prettier --write

6651: Added alias reference 'ls' for list command (#2853)
  content/docs/command-reference/list.md
Due: prettier --write

Apply suggestions from code review
  content/docs/user-guide/contributing/docs.md
Due: prettier --write

Updated with Live info
  content/docs/dvclive/api-reference/get_step.md
  content/docs/dvclive/api-reference/live.md
  content/docs/dvclive/api-reference/next_step.md
  content/docs/dvclive/api-reference/set_step.md
  content/docs/dvclive/dvclive-with-dvc.md
  content/docs/dvclive/get-started.md
  content/docs/dvclive/ml-frameworks/catalyst.md
  content/docs/dvclive/ml-frameworks/fastai.md
  content/docs/dvclive/ml-frameworks/huggingface.md
  content/docs/dvclive/ml-frameworks/keras.md
  content/docs/dvclive/ml-frameworks/lightgbm.md
  content/docs/dvclive/ml-frameworks/mmcv.md
  content/docs/dvclive/ml-frameworks/pytorch-lightning.md
  content/docs/dvclive/ml-frameworks/xgboost.md
Due: prettier --write

Updated checkpoints guide
  content/docs/user-guide/experiment-management/checkpoints.md
Due: prettier --write

comma
  content/docs/user-guide/contributing/docs.md
Due: prettier --write

added a brief `dvc exp show` after the first run.
  content/docs/start/experiments.md
Due: prettier --write

added emoji to detail headers
  content/docs/start/experiments.md
Due: prettier --write

added an initial text
  content/docs/start/experiments.md
Due: prettier --write

dvclive: Added link to main object for each integration (#2889)
  content/docs/dvclive/ml-frameworks/catalyst.md
  content/docs/dvclive/ml-frameworks/fastai.md
  content/docs/dvclive/ml-frameworks/huggingface.md
  content/docs/dvclive/ml-frameworks/keras.md
  content/docs/dvclive/ml-frameworks/pytorch-lightning.md
Due: prettier --write

renamed the file and added content from the current GS
  content/docs/start/data-and-model-management.md
  content/docs/start/data-management.md
Due: prettier --write

finished the draft except "remove" and renamed sidebar link
  content/docs/sidebar.json
  content/docs/start/data-and-model-management.md
Due: prettier --write

Update LICENSE (#2875)
  LICENSE
Due: none

Add aptfile
  Aptfile
Due: none

Revert "Remove commented-out classnames"
  src/components/Community/Meet/index.tsx
  src/components/DownloadButton/index.tsx
  src/components/LayoutFooter/index.tsx
Due: none

added 2 more QAs
  content/blog/2021-10-26-october-21-community-gems.md
Due: prettier --write

Gatsby 4 again
  package.json
  scripts/deploy-with-s3.js
  yarn.lock
Due: eslint --fix, prettier --write

Remove explicit typescript plugin and upgrade some packages
  gatsby-config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

Remove unused wrapper class
  src/components/LayoutHeader/index.tsx
Due: none

Upgrade a bunch of packages
  package.json
  yarn.lock
Due: prettier --write

upgrade plugin-feed, downgrade transformer-remark
  package.json
  yarn.lock
Due: prettier --write
