Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

deleted the older file
  content/docs/start/metrics-parameters-plots.md
Due: prettier --write

title and restyle fixes
  content/docs/user-guide/pipelines/index.md
Due: prettier --write

updated route
  src/server/middleware/api/index.js
  src/server/middleware/api/plausible.js
Due: eslint --fix

Use `cml runner` instead of `cml` alone (#3409)
  content/blog/2020-08-07-cml-self-hosted-runners-on-demand-with-gpus.md
  content/blog/2020-11-25-november-20-community-gems.md
Due: prettier --write

Update content/blog/2022-04-18-terraform-provider.md
  content/blog/2022-04-18-terraform-provider.md
Due: prettier --write

updated response
  src/server/middleware/api/plausible.js
Due: eslint --fix

Include new workdir implementation
  content/blog/2022-04-26-moving-local-experiments-to-the-cloud-with-iterative-terraform-provider.md
Due: prettier --write

Rename output directory in line with train.py
  content/blog/2022-04-26-moving-local-experiments-to-the-cloud-with-iterative-terraform-provider.md
Due: prettier --write

Apply suggestions from code review
  content/docs/start/visualization.md
Due: prettier --write

April Heartbeat
  content/blog/2022-04-14-april-22-heartbeat.md
  static/uploads/images/2022-04-14/Machine-Learning-Operations.jpeg
  static/uploads/images/2022-04-14/ahmed-abdullah.png
  static/uploads/images/2022-04-14/april-heartbeat-cover.png
  static/uploads/images/2022-04-14/chip-huyen.png
  static/uploads/images/2022-04-14/clayton-christensen.png
  static/uploads/images/2022-04-14/cml-workflow.jpeg
  static/uploads/images/2022-04-14/kaushik-shakkari.png
  static/uploads/images/2022-04-14/stale-model-cover.png
  static/uploads/images/2022-04-14/yashaswi-nayak.png
  static/uploads/images/2022-04-14/zoumana-keita.png
Due: prettier --write

tinified images
  static/uploads/images/2022-04-14/Machine-Learning-Operations.jpeg
  static/uploads/images/2022-04-14/ahmed-abdullah.png
  static/uploads/images/2022-04-14/april-heartbeat-cover.png
  static/uploads/images/2022-04-14/chip-huyen.png
  static/uploads/images/2022-04-14/clayton-christensen.png
  static/uploads/images/2022-04-14/cml-workflow.jpeg
  static/uploads/images/2022-04-14/kaushik-shakkari.png
  static/uploads/images/2022-04-14/yashaswi-nayak.png
  static/uploads/images/2022-04-14/zoumana-keita.png
Due: none

cases: updates to Data Registry
  content/docs/sidebar.json
  content/docs/use-cases/data-registries.md
  redirects-list.json
Due: prettier --write

cases: revert changes to Data Reg in favor of https://github.com/iterative/dvc.org/pull/3447
  content/docs/use-cases/data-registries.md
Due: prettier --write

Update content/docs/use-cases/data-registries.md
  content/docs/use-cases/data-registries.md
Due: prettier --write

Restyled by prettier
  content/docs/use-cases/data-registries.md
Due: prettier --write

cases: link from Data Reg to Model Reg
  content/docs/use-cases/data-registries.md
Due: prettier --write

removed unnecessary colons
  content/blog/2022-04-14-april-22-heartbeat.md
Due: prettier --write

cases: rename Data Reg file and update links
  content/docs/command-reference/import.md
  content/docs/command-reference/list.md
  content/docs/studio/user-guide/prepare-repositories.md
  content/docs/use-cases/ci-cd-for-machine-learning.md
  content/docs/use-cases/data-registry.md
  content/docs/use-cases/versioning-data-and-model-files/index.md
  content/docs/use-cases/versioning-data-and-model-files/tutorial.md
Due: prettier --write

adding repo and slides from Antoine
  content/blog/2022-04-14-april-22-heartbeat.md
Due: prettier --write

edits from Milecia
  content/blog/2022-04-14-april-22-heartbeat.md
Due: prettier --write

fixed broken tds links
  content/blog/2022-04-14-april-22-heartbeat.md
Due: prettier --write

Update link-check
  package.json
  yarn.lock
Due: prettier --write

Upgrade GHA workflow
  .github/workflows/link-check-deploy.yml
Due: none

use diff option in GHA
  .github/workflows/link-check-deploy.yml
Due: none

Update link-check (#3449)
  .github/workflows/link-check-deploy.yml
  package.json
  yarn.lock
Due: prettier --write

edits from Ivan
  content/blog/2022-04-14-april-22-heartbeat.md
Due: prettier --write

check response
  src/server/middleware/api/plausible.js
Due: eslint --fix

accepting plain text
  src/server/index.js
  src/server/middleware/api/plausible.js
Due: eslint --fix

using node cache and minor refactor
  src/components/Page/DefaultSEO/index.tsx
  src/server/middleware/api/plausible.js
Due: eslint --fix

added dag section
  content/docs/user-guide/pipelines/index.md
Due: prettier --write

depend to -> depend on
  content/docs/user-guide/pipelines/index.md
Due: prettier --write

start: consistent title for Exps page (#3438)
  content/docs/start/experiments.md
Due: prettier --write

initial commit
  content/authors/alex_kim.md
  content/blog/2022-04-27-e2e-cv-pt1.md
  static/uploads/avatars/alex_kim.jpeg
  static/uploads/images/2022-04-27/dataset_sample.png
  static/uploads/images/2022-04-27/web_api_diagram.png
Due: prettier --write

cases: rephrase Model Reg intro again per https://github.com/iterative/dvc.org/pull/3333#discussion_r846890900
  content/docs/use-cases/model-registry.md
Due: prettier --write

fix formatting and grammar
  content/blog/2022-04-27-e2e-cv-pt1.md
Due: prettier --write

run images through tinypng
  static/uploads/images/2022-04-27/dataset_sample.png
  static/uploads/images/2022-04-27/web_api_diagram.png
Due: none

change date to 2022-04-26
  content/blog/2022-04-26-e2e-cv-pt1.md
  static/uploads/images/2022-04-26/dataset_sample.png
  static/uploads/images/2022-04-26/web_api_diagram.png
Due: prettier --write

added correct cover and one tag, changed dates
  content/blog/2022-04-15-april-22-heartbeat.md
  static/uploads/images/2022-04-14/april-heartbeat-cover.png
  static/uploads/images/2022-04-15/Machine-Learning-Operations.jpeg
  static/uploads/images/2022-04-15/ahmed-abdullah.png
  static/uploads/images/2022-04-15/april-heartbeat-cover.png
  static/uploads/images/2022-04-15/chip-huyen.png
  static/uploads/images/2022-04-15/clayton-christensen.png
  static/uploads/images/2022-04-15/cml-workflow.jpeg
  static/uploads/images/2022-04-15/kaushik-shakkari.png
  static/uploads/images/2022-04-15/stale-model-cover.png
  static/uploads/images/2022-04-15/yashaswi-nayak.png
  static/uploads/images/2022-04-15/zoumana-keita.png
Due: prettier --write

blog: April Heartbeat (#3446)
  content/blog/2022-04-15-april-22-heartbeat.md
  static/uploads/images/2022-04-15/Machine-Learning-Operations.jpeg
  static/uploads/images/2022-04-15/ahmed-abdullah.png
  static/uploads/images/2022-04-15/april-heartbeat-cover.png
  static/uploads/images/2022-04-15/chip-huyen.png
  static/uploads/images/2022-04-15/clayton-christensen.png
  static/uploads/images/2022-04-15/cml-workflow.jpeg
  static/uploads/images/2022-04-15/kaushik-shakkari.png
  static/uploads/images/2022-04-15/stale-model-cover.png
  static/uploads/images/2022-04-15/yashaswi-nayak.png
  static/uploads/images/2022-04-15/zoumana-keita.png
Due: prettier --write
