Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Move API calls on community page to client side
  pages/community.js
  src/components/Community/Learn/index.js
  src/components/Community/Meet/index.js
  src/components/Community/index.js
  src/utils/api.js
Due: eslint --fix

Reduce animation delay for side menu (#994)
  src/components/Documentation/SidebarMenu/styles.js
Due: eslint --fix

Replace API functions with hooks
  src/components/Community/Learn/index.js
  src/components/Community/Meet/index.js
  src/utils/api.js
Due: eslint --fix

cmd ref: update import -o behaviod explantation per iterative/dvc/pull/3312
  public/static/docs/command-reference/import.md
Due: prettier --write

test: links: fix and sort exclude-links.txt
  scripts/exclude-links.txt
Due: none

links: remove dead source link
  src/components/Documentation/Markdown/styles.js
Due: eslint --fix

Regular updates (Feb 13) (#993)
  public/static/docs/changelog/0.35.md
  public/static/docs/command-reference/add.md
  public/static/docs/command-reference/checkout.md
  public/static/docs/command-reference/config.md
  public/static/docs/command-reference/diff.md
  public/static/docs/command-reference/fetch.md
  public/static/docs/command-reference/import.md
  public/static/docs/command-reference/init.md
  public/static/docs/command-reference/install.md
  public/static/docs/command-reference/push.md
  public/static/docs/command-reference/remote/add.md
  public/static/docs/command-reference/remove.md
  public/static/docs/command-reference/run.md
  public/static/docs/command-reference/unprotect.md
  public/static/docs/get-started/add-files.md
  public/static/docs/get-started/connect-code-and-data.md
  public/static/docs/get-started/initialize.md
  public/static/docs/get-started/older-versions.md
  public/static/docs/tutorials/deep/define-ml-pipeline.md
  public/static/docs/tutorials/deep/preparation.md
  public/static/docs/tutorials/pipelines.md
  public/static/docs/tutorials/versioning.md
  public/static/docs/user-guide/dvcignore.md
  public/static/docs/user-guide/large-dataset-optimization.md
  public/static/docs/user-guide/updating-tracked-files.md
Due: prettier --write

test: links: fix failures (#997)
  scripts/exclude-links.txt
  src/components/Documentation/Markdown/styles.js
Due: eslint --fix

Update src/components/Community/Learn/index.js
  src/components/Community/Learn/index.js
Due: eslint --fix

Update src/components/Community/Meet/index.js
  src/components/Community/Meet/index.js
Due: eslint --fix

Update src/utils/api.js
  src/utils/api.js
Due: eslint --fix

Restyled by prettier
  src/components/Community/Learn/index.js
Due: eslint --fix

Move API calls on community page to client side (#995)
  pages/community.js
  src/components/Community/Learn/index.js
  src/components/Community/Meet/index.js
  src/components/Community/index.js
  src/utils/api.js
Due: eslint --fix

api: add link to dvcx repo
  public/static/docs/api-reference/index.md
Due: prettier --write

api: open() and read() support Git-tracked files per https://github.com/iterative/dvc.org/pull/908#pullrequestreview-356420324
  public/static/docs/api-reference/index.md
  public/static/docs/api-reference/open.md
  public/static/docs/api-reference/read.md
  public/static/docs/glossary.js
Due: eslint --fix, prettier --write

links: fix link-check for api docs
  public/static/docs/api-reference/open.md
  public/static/docs/api-reference/read.md
  scripts/exclude-links.txt
Due: prettier --write

Update define-ml-pipeline.md
  public/static/docs/tutorials/deep/define-ml-pipeline.md
Due: prettier --write

Update define-ml-pipeline.md (#1003)
  public/static/docs/tutorials/deep/define-ml-pipeline.md
Due: prettier --write

hosting: configure zeit now
  now.json
  package.json
  pages/api/blog.js
  pages/api/comments.js
  pages/api/discourse.js
  pages/api/github.js
  pages/api/utils/cache.js
  yarn.lock
Due: eslint --fix, prettier --write

api: typo
  public/static/docs/api-reference/get_url.md
Due: prettier --write

handle docs
  now.json
  package.json
  pages/doc.js
  server.js
Due: eslint --fix, prettier --write

set cache headers, status
  pages/doc.js
Due: eslint --fix

term: to Git -> with Git, et al. per https://github.com/iterative/dvc.org/pull/1003#pullrequestreview-359980907
  public/static/docs/command-reference/init.md
  public/static/docs/command-reference/remote/add.md
  public/static/docs/command-reference/run.md
  public/static/docs/get-started/add-files.md
  public/static/docs/tutorials/deep/define-ml-pipeline.md
  public/static/docs/tutorials/pipelines.md
  public/static/docs/tutorials/versioning.md
  public/static/docs/understanding-dvc/how-it-works.md
  public/static/docs/understanding-dvc/related-technologies.md
  public/static/docs/use-cases/versioning-data-and-model-files.md
Due: prettier --write

api: term artifact -> data since open() and read() don't support dirs per https://github.com/iterative/dvc.org/pull/908#pullrequestreview-356423029
  public/static/docs/api-reference/get_url.md
  public/static/docs/api-reference/open.md
  public/static/docs/api-reference/read.md
Due: prettier --write

remote: Document HTTP remote push changes
  public/static/docs/command-reference/remote/add.md
  public/static/docs/command-reference/remote/modify.md
Due: prettier --write

api: typo
  public/static/docs/api-reference/open.md
Due: prettier --write

api: improvements to fn params per https://github.com/iterative/dvc.org/pull/908#pullrequestreview-356423326 through https://github.com/iterative/dvc.org/pull/908#pullrequestreview-356424872
  public/static/docs/api-reference/get_url.md
  public/static/docs/api-reference/open.md
  public/static/docs/api-reference/read.md
Due: prettier --write

api: updates to repo param per https://github.com/iterative/dvc.org/pull/908#pullrequestreview-356424954 and https://github.com/iterative/dvc.org/pull/908#pullrequestreview-356425126
  public/static/docs/api-reference/get_url.md
  public/static/docs/api-reference/open.md
  public/static/docs/api-reference/read.md
Due: prettier --write

install: reword link to api ref per https://github.com/iterative/dvc.org/pull/908#pullrequestreview-356425770
  public/static/docs/install/linux.md
  public/static/docs/install/macos.md
  public/static/docs/install/windows.md
Due: prettier --write

term: GitHub URLs -> hosted on GitHub per https://github.com/iterative/dvc.org/pull/908#pullrequestreview-356426254
  public/static/docs/command-reference/get-url.md
  public/static/docs/command-reference/import-url.md
Due: prettier --write

api: add link to read() from open() desc. per https://github.com/iterative/dvc.org/pull/908#pullrequestreview-356426389
  public/static/docs/api-reference/open.md
Due: prettier --write

Fix review/lint issues
  public/static/docs/command-reference/remote/modify.md
Due: prettier --write

Document supported auth choices and custom_header
  public/static/docs/command-reference/remote/modify.md
Due: prettier --write

s/custom_header/custom_auth_header/
  public/static/docs/command-reference/remote/modify.md
Due: prettier --write

links: addresses #973 PR feedback per https://github.com/iterative/dvc.org/pull/973#pullrequestreview-353269240 through https://github.com/iterative/dvc.org/pull/973#pullrequestreview-353270157
  server.js
  src/utils/redirects.test.js
Due: eslint --fix

server: reformat/refactor around redirects (#973)
  server.js
  src/utils/redirects.js
  src/utils/redirects.test.js
Due: eslint --fix

Revert "server: reformat/refactor around redirects (#973)"
  server.js
  src/utils/redirects.js
  src/utils/redirects.test.js
Due: eslint --fix

Update link checker excludes
  scripts/exclude-links.txt
Due: none

server: reformat/refactor code and comments around new redirects as mentioned in https://github.com/iterative/dvc.org/pull/970#pullrequestreview-353200254
  server.js
  src/utils/redirects.js
  src/utils/redirects.test.js
Due: eslint --fix
