Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: rename `dvc lock` -> `dvc freeze`
  config/prismjs/dvc-commands.js
  content/docs/command-reference/freeze.md
  content/docs/command-reference/pipeline/show.md
  content/docs/command-reference/unfreeze.md
  content/docs/command-reference/update.md
  content/docs/sidebar.json
  redirects-list.json
Due: eslint --fix, prettier --write

Combine link parser into one file
  src/gatsby/models/authors/parse-link.js
  src/gatsby/models/authors/string-link-processor-utils.js
  src/gatsby/models/authors/string-link-processor.js
Due: eslint --fix

Embed processStringLink and move WrongTypeError closer to where it's used.
  src/gatsby/models/authors/parse-link.js
Due: eslint --fix

Improve LinkedIn handling
  src/gatsby/models/authors/parse-link.js
Due: eslint --fix

Embed and simplify trimSlashes and fix LinkedIn test
  src/gatsby/models/authors/parse-link.js
  src/gatsby/models/authors/parse-link.test.js
Due: eslint --fix

social icons and better author links (#1375)
  content/authors/dmitry_petrov.md
  content/authors/elle_obrien.md
  content/authors/george_vyshnya.md
  content/authors/jorge_orpinel.md
  content/authors/marcel_rd.md
  content/authors/marija_ilic.md
  content/authors/svetlana_grinchenko.md
  gatsby-config.js
  src/components/Blog/Feed/Item/index.tsx
  src/components/Blog/FeedMeta/index.tsx
  src/components/Blog/FeedMeta/styles.module.css
  src/components/Blog/Post/index.tsx
  src/components/HamburgerMenu/index.tsx
  src/components/HamburgerMenu/styles.module.css
  src/components/SocialIcon/github.svg
  src/components/SocialIcon/index.tsx
  src/components/SocialIcon/linkedin.svg
  src/components/SocialIcon/twitter.svg
  src/gatsby/models/authors/createSchemaCustomization.js
  src/gatsby/models/authors/onCreateMarkdownContentNode.js
  src/gatsby/models/authors/parse-link.js
  src/gatsby/models/authors/parse-link.test.js
  src/templates/blog-post.tsx
  static/img/community/icon-twitter.svg
Due: eslint --fix, prettier --write

Paginate Author pages
  package.json
  src/components/Blog/Author/index.tsx
  src/gatsby/models/authors/createPages.js
  src/templates/blog-author.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Fix TS issues
  src/components/Blog/Author/index.tsx
  src/templates/blog-author.tsx
Due: none

Make first Author post only big on page 1
  src/components/Blog/Author/index.tsx
Due: none

Port blog pagination to new method
  src/components/Blog/Home/index.tsx
  src/components/Paginator/index.tsx
  src/gatsby/models/blog/createPages.js
  src/templates/blog-author.tsx
  src/templates/blog-home.tsx
Due: eslint --fix

Fix Tag pages and TS, plus overall improvements
  src/components/Blog/Author/index.tsx
  src/components/Blog/Tags/index.tsx
  src/gatsby/models/authors/createPages.js
  src/gatsby/models/blog/createPages.js
  src/templates/blog-tags.tsx
Due: eslint --fix

Update content/docs/command-reference/commit.md
  content/docs/command-reference/commit.md
Due: prettier --write

Update content/docs/command-reference/add.md
  content/docs/command-reference/add.md
Due: prettier --write

Updated add.md
  content/docs/command-reference/add.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/add.md
Due: prettier --write

cmd ref: add note that move creates dirs
  content/docs/command-reference/move.md
Due: prettier --write

cmd ref: improve structure of add ref desc.
  content/docs/command-reference/add.md
Due: prettier --write

grammar: add some commas
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/modify.md
  content/docs/user-guide/large-dataset-optimization.md
Due: prettier --write

term: checksum -> hash value in dvcignore guide
  content/docs/user-guide/dvcignore.md
Due: prettier --write

Update content/docs/command-reference/pull.md
  content/docs/command-reference/pull.md
Due: prettier --write

docs: replace `dvc pipeline` with `dvc dag`
  config/prismjs/dvc-commands.js
  content/docs/command-reference/dag.md
  content/docs/command-reference/pipeline/index.md
  content/docs/command-reference/pipeline/list.md
  content/docs/sidebar.json
  content/docs/user-guide/running-dvc-on-windows.md
  redirects-list.json
Due: eslint --fix, prettier --write

docs: document target granularity for push/pull/etc
  content/docs/command-reference/checkout.md
  content/docs/command-reference/fetch.md
  content/docs/command-reference/pull.md
  content/docs/command-reference/push.md
  content/docs/command-reference/status.md
Due: prettier --write

Modified Example for Dvcignore
  content/docs/command-reference/add.md
Due: prettier --write

Modified Description and Example Dvcignore.
  content/docs/command-reference/add.md
Due: prettier --write

Modified Description and Example for Dvcignore
  content/docs/command-reference/add.md
Due: prettier --write

cmd ref: lower case bullets text
  content/docs/command-reference/metrics/diff.md
  content/docs/command-reference/plots/index.md
  content/docs/command-reference/remote/modify.md
Due: prettier --write

style: lower case bullet text
  content/docs/user-guide/contributing/blog.md
Due: prettier --write

cmd ref: put types of metrics/plots before description, and avoid terms "scalar" and "continuous"
  content/docs/command-reference/metrics/diff.md
  content/docs/command-reference/metrics/index.md
  content/docs/command-reference/metrics/show.md
  content/docs/command-reference/plots/diff.md
  content/docs/command-reference/plots/index.md
  content/docs/command-reference/plots/show.md
Due: prettier --write

cmd ref: update metrics scmds per iterative/dvc/issues/3924
  content/docs/command-reference/metrics/diff.md
  content/docs/command-reference/metrics/index.md
  content/docs/command-reference/metrics/show.md
Due: prettier --write

metrics: 1.0 update (#1360)
  config/prismjs/dvc-commands.js
  content/docs/command-reference/metrics/add.md
  content/docs/command-reference/metrics/diff.md
  content/docs/command-reference/metrics/index.md
  content/docs/command-reference/metrics/modify.md
  content/docs/command-reference/metrics/remove.md
  content/docs/command-reference/metrics/show.md
  content/docs/command-reference/params/index.md
  content/docs/command-reference/plots/diff.md
  content/docs/command-reference/plots/index.md
  content/docs/command-reference/plots/show.md
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/default.md
  content/docs/command-reference/remote/list.md
  content/docs/command-reference/remote/modify.md
  content/docs/command-reference/remote/remove.md
  content/docs/command-reference/remote/rename.md
  content/docs/sidebar.json
  static/img/plots_diff_workspace.svg
Due: eslint --fix, prettier --write

Change site_name to siteName and included siteName ISEO props.
  src/components/SEO/index.tsx
Due: none

cmd ref: remove some redundancy in metrics index
  content/docs/command-reference/metrics/index.md
Due: prettier --write

cmd ref: update plots refs synopsis and descriptions per iterative/dvc/issues/3924 et al.
  content/docs/command-reference/plots/diff.md
  content/docs/command-reference/plots/index.md
  content/docs/command-reference/plots/show.md
Due: prettier --write

addressing issue #1119
  src/components/Page/DefaultSEO/index.tsx
Due: none

Update content/docs/command-reference/dag.md
  content/docs/command-reference/dag.md
Due: prettier --write

Update agenda.md
  content/docs/tutorials/get-started/agenda.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
