Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

cmd: update specific target example titles
  content/docs/command-reference/fetch.md
  content/docs/command-reference/status.md
Due: prettier --write

cmd: improve targets explanation in fetch per https://github.com/iterative/dvc.org/pull/1384#discussion_r453972286
  content/docs/command-reference/fetch.md
Due: prettier --write

changes
  content/docs/command-reference/metrics/diff.md
Due: prettier --write

changes
  content/docs/command-reference/metrics/diff.md
  content/docs/command-reference/plots/diff.md
Due: prettier --write

Replace explicit `dvc.yaml` links with auto-replaced instances
  content/docs/api-reference/get_url.md
  content/docs/command-reference/add.md
  content/docs/command-reference/dag.md
  content/docs/command-reference/fetch.md
  content/docs/command-reference/get.md
  content/docs/command-reference/import-url.md
  content/docs/command-reference/import.md
  content/docs/command-reference/init.md
  content/docs/command-reference/list.md
  content/docs/command-reference/metrics/diff.md
  content/docs/command-reference/metrics/index.md
  content/docs/command-reference/params/index.md
  content/docs/command-reference/plots/diff.md
  content/docs/command-reference/plots/modify.md
  content/docs/command-reference/plots/show.md
  content/docs/command-reference/pull.md
  content/docs/command-reference/push.md
  content/docs/command-reference/remove.md
  content/docs/command-reference/run.md
  content/docs/command-reference/status.md
  content/docs/install/plugins.md
  content/docs/start/data-pipelines.md
  content/docs/use-cases/versioning-data-and-model-files/tutorial.md
  content/docs/user-guide/basic-concepts/dependency.md
  content/docs/user-guide/basic-concepts/dvc-project.md
  content/docs/user-guide/basic-concepts/external-dependency.md
  content/docs/user-guide/basic-concepts/output.md
Due: prettier --write

cmd: simplify granularity example note in checkout per https://github.com/iterative/dvc.org/pull/1384#pullrequestreview-447581924
  content/docs/command-reference/checkout.md
Due: prettier --write

cmd: further simplify notes about granularity per https://github.com/iterative/dvc.org/pull/1384#pullrequestreview-447581924
  content/docs/command-reference/checkout.md
  content/docs/command-reference/fetch.md
  content/docs/command-reference/pull.md
  content/docs/command-reference/push.md
  content/docs/command-reference/status.md
Due: prettier --write

cmd: fix typo in fetch per https://github.com/iterative/dvc.org/pull/1384
  content/docs/command-reference/fetch.md
Due: prettier --write

Add entries for .dvc and dvc.lock
  content/linked-terms.js
Due: eslint --fix

Replace explicit `.dvc` links with auto-links
  content/docs/api-reference/get_url.md
  content/docs/command-reference/add.md
  content/docs/command-reference/fetch.md
  content/docs/command-reference/get.md
  content/docs/command-reference/import-url.md
  content/docs/command-reference/import.md
  content/docs/command-reference/init.md
  content/docs/command-reference/list.md
  content/docs/command-reference/metrics/diff.md
  content/docs/command-reference/move.md
  content/docs/command-reference/pull.md
  content/docs/command-reference/push.md
  content/docs/command-reference/remove.md
  content/docs/command-reference/status.md
  content/docs/command-reference/update.md
  content/docs/install/plugins.md
  content/docs/start/data-access.md
  content/docs/start/data-versioning.md
  content/docs/use-cases/versioning-data-and-model-files/index.md
  content/docs/user-guide/basic-concepts/dependency.md
  content/docs/user-guide/basic-concepts/dvc-project.md
  content/docs/user-guide/basic-concepts/import-stage.md
  content/docs/user-guide/basic-concepts/output.md
Due: prettier --write

Replace explicit `dvc.lock` links
  content/docs/command-reference/status.md
  content/docs/user-guide/dvc-files-and-directories.md
Due: prettier --write

Update content/docs/command-reference/move.md
  content/docs/command-reference/move.md
Due: prettier --write

Add functionality to link arbitrary strings in code blocks (#1576)
  content/docs/api-reference/get_url.md
  content/docs/command-reference/add.md
  content/docs/command-reference/dag.md
  content/docs/command-reference/fetch.md
  content/docs/command-reference/get.md
  content/docs/command-reference/import-url.md
  content/docs/command-reference/import.md
  content/docs/command-reference/init.md
  content/docs/command-reference/list.md
  content/docs/command-reference/metrics/diff.md
  content/docs/command-reference/metrics/index.md
  content/docs/command-reference/move.md
  content/docs/command-reference/params/index.md
  content/docs/command-reference/plots/diff.md
  content/docs/command-reference/plots/modify.md
  content/docs/command-reference/plots/show.md
  content/docs/command-reference/pull.md
  content/docs/command-reference/push.md
  content/docs/command-reference/remove.md
  content/docs/command-reference/run.md
  content/docs/command-reference/status.md
  content/docs/command-reference/update.md
  content/docs/install/plugins.md
  content/docs/start/data-access.md
  content/docs/start/data-pipelines.md
  content/docs/start/data-versioning.md
  content/docs/use-cases/versioning-data-and-model-files/index.md
  content/docs/use-cases/versioning-data-and-model-files/tutorial.md
  content/docs/user-guide/basic-concepts/dependency.md
  content/docs/user-guide/basic-concepts/dvc-project.md
  content/docs/user-guide/basic-concepts/external-dependency.md
  content/docs/user-guide/basic-concepts/import-stage.md
  content/docs/user-guide/basic-concepts/output.md
  content/docs/user-guide/dvc-files-and-directories.md
  content/linked-terms.js
  plugins/gatsby-remark-dvc-linker/index.js
  plugins/gatsby-remark-dvc-linker/simpleLinker.js
Due: eslint --fix, prettier --write

guide: What is DVC? -> into UG index
  content/docs/sidebar.json
  content/docs/user-guide/index.md
  content/docs/user-guide/what-is-dvc/collaboration-issues.md
  content/docs/user-guide/what-is-dvc/questions.md
Due: prettier --write

how-to: create section with questions from WID / Collab Issues per https://github.com/iterative/dvc.org/issues/72#issuecomment-659042420
  content/docs/how-to/best-practices.md
  content/docs/sidebar.json
  content/docs/user-guide/index.md
Due: prettier --write

dvc-run stage entry added
  content/docs/command-reference/add.md
  content/docs/user-guide/basic-concepts/dvc-run.md
  content/docs/user-guide/what-is-dvc/collaboration-issues.md
Due: prettier --write

Update content/docs/command-reference/metrics/diff.md
  content/docs/command-reference/metrics/diff.md
Due: prettier --write

blog draft
  content/blog/2020-07-16-devops-for-data-scientists.md
  static/uploads/images/2020-07-16/basic_ci_system.png
  static/uploads/images/2020-07-16/ci_for_data_system.png
  static/uploads/images/2020-07-16/cloud_report.png
  static/uploads/images/2020-07-16/cml_basic_report.png
  static/uploads/images/2020-07-16/github_actions_log.png
  static/uploads/images/2020-07-16/run_notification.png
  static/uploads/images/2020-07-16/unicorn_floatie.jpg
Due: prettier --write

prettified
  content/blog/2020-07-16-devops-for-data-scientists.md
Due: prettier --write

exclude links & wrap text
  content/blog/2020-07-16-devops-for-data-scientists.md
  scripts/exclude-links.txt
Due: prettier --write

Devops for data blog (#1583)
  content/blog/2020-07-16-devops-for-data-scientists.md
  scripts/exclude-links.txt
  static/uploads/images/2020-07-16/basic_ci_system.png
  static/uploads/images/2020-07-16/ci_for_data_system.png
  static/uploads/images/2020-07-16/cloud_report.png
  static/uploads/images/2020-07-16/cml_basic_report.png
  static/uploads/images/2020-07-16/github_actions_log.png
  static/uploads/images/2020-07-16/run_notification.png
  static/uploads/images/2020-07-16/unicorn_floatie.jpg
Due: prettier --write

broken link fix
  content/docs/command-reference/add.md
Due: prettier --write

Update content/docs/command-reference/repro.md
  content/docs/command-reference/repro.md
Due: prettier --write

pipeline links changed
  content/docs/command-reference/commit.md
  content/docs/command-reference/fetch.md
  content/docs/command-reference/freeze.md
  content/docs/command-reference/import-url.md
  content/docs/command-reference/index.md
  content/docs/command-reference/install.md
  content/docs/command-reference/pull.md
  content/docs/command-reference/push.md
  content/docs/command-reference/repro.md
  content/docs/command-reference/run.md
  content/docs/command-reference/status.md
Due: prettier --write

Updated Description for repro.md
  content/docs/command-reference/repro.md
Due: prettier --write

Get CloudFlare cache clean response as JSON and log it
  scripts/clear-cloudflare-cache.js
Due: eslint --fix

Implement better error logging into CloudFlare cache clearer
  scripts/clear-cloudflare-cache.js
Due: eslint --fix

removed wrong links
  content/docs/command-reference/fetch.md
  content/docs/command-reference/pull.md
  content/docs/command-reference/repro.md
Due: prettier --write

Move CloudFlare cache to post-build
  package.json
  scripts/clear-cloudflare-cache.js
  scripts/deploy-with-s3.js
Due: eslint --fix, prettier --write

removed unwanted pipeline links
  content/docs/command-reference/fetch.md
  content/docs/command-reference/pull.md
Due: prettier --write

Fix import and rename to clearCloudflareCache for consistency
  scripts/clear-cloudflare-cache.js
  scripts/deploy-with-s3.js
Due: eslint --fix

add links to exclusion list
  scripts/exclude-links.txt
Due: none

Make static GitHub Stars more tolerant of cache issues
  gatsby-node.js
  src/gatsby/models/github/index.js
Due: eslint --fix

S3 access_key_id & secret_access_key args
  content/docs/command-reference/remote/modify.md
Due: prettier --write

Update content/docs/command-reference/remote/modify.md
  content/docs/command-reference/remote/modify.md
Due: prettier --write

removed Dvcfile
  content/docs/command-reference/push.md
Due: prettier --write

minor: update cheksums in data pipelines example
  content/docs/start/data-pipelines.md
Due: prettier --write
