Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Add pipelines pages to experimens start guide (#4420)
  content/basic-concepts/pipeline.md
  content/docs/dvclive/how-it-works.md
  content/docs/sidebar.json
  content/docs/start/experiments/building-pipelines.md
  content/docs/start/experiments/experiment-iterations.md
  content/docs/start/experiments/experiment-management.md
  content/docs/start/experiments/experiment-versioning.md
  content/docs/start/index.md
Due: prettier --write

exp branch: Document `branch` as optional. (#4426)
  content/docs/command-reference/exp/branch.md
  content/docs/start/experiments/experiment-management.md
  content/docs/user-guide/experiment-management/persisting-experiments.md
  content/docs/user-guide/experiment-management/sharing-experiments.md
Due: prettier --write

Studio Helm chart: mention system requirements
  content/docs/studio/self-hosting/installation/k8s-helm.md
Due: prettier --write

Add disk space to minimum resource requirements
  content/docs/studio/self-hosting/installation/k8s-helm.md
Due: prettier --write

Add some links to the public model registry in some Studio doc pages
  content/docs/studio/user-guide/model-registry/view-models.md
  content/docs/studio/user-guide/model-registry/what-is-a-model-registry.md
Due: prettier --write

Update content/docs/studio/user-guide/model-registry/view-models.md
  content/docs/studio/user-guide/model-registry/view-models.md
Due: prettier --write

Update content/docs/studio/user-guide/model-registry/what-is-a-model-registry.md
  content/docs/studio/user-guide/model-registry/what-is-a-model-registry.md
Due: prettier --write

Restyled by prettier
  content/docs/studio/user-guide/model-registry/view-models.md
  content/docs/studio/user-guide/model-registry/what-is-a-model-registry.md
Due: prettier --write

exp: drop `gc`.
  content/docs/command-reference/exp/gc.md
  content/docs/command-reference/exp/run.md
  content/docs/command-reference/gc.md
  content/docs/sidebar.json
  content/docs/user-guide/experiment-management/checkpoints.md
  content/docs/user-guide/experiment-management/cleaning-experiments.md
  content/docs/user-guide/experiment-management/running-experiments.md
Due: prettier --write

exp: Drop `checkpoints`.
  content/docs/api-reference/make_checkpoint.md
  content/docs/command-reference/exp/apply.md
  content/docs/command-reference/exp/branch.md
  content/docs/command-reference/exp/list.md
  content/docs/command-reference/exp/remove.md
  content/docs/command-reference/exp/run.md
  content/docs/command-reference/gc.md
  content/docs/command-reference/stage/add.md
  content/docs/sidebar.json
  content/docs/use-cases/experiment-tracking.md
  content/docs/user-guide/experiment-management/checkpoints.md
  content/docs/user-guide/experiment-management/running-experiments.md
  content/docs/user-guide/project-structure/dvcyaml-files.md
  redirects-list.json
Due: prettier --write

exp show: Drop `--pcp`.
  content/docs/command-reference/exp/show.md
  content/docs/user-guide/experiment-management/comparing-experiments.md
  content/docs/user-guide/experiment-management/visualizing-plots.md
  static/img/pcp_interaction.gif
Due: prettier --write

docs: update data status (#4343)
  content/docs/command-reference/data/status.md
Due: prettier --write

Add some links to the public model registry in some Studio doc pages (#4438)
  content/docs/studio/user-guide/model-registry/view-models.md
  content/docs/studio/user-guide/model-registry/what-is-a-model-registry.md
Due: prettier --write

docs: config: add core.site_cache_dir
  content/docs/user-guide/project-structure/configuration.md
Due: prettier --write

docs: config: obsolete state and index sections
  content/docs/user-guide/project-structure/configuration.md
Due: prettier --write

optuna: Show how to include trial.params in the experiment.
  content/docs/dvclive/ml-frameworks/optuna.md
Due: prettier --write

optuna: Show how to include trial.params in the experiment. (#4449)
  content/docs/dvclive/ml-frameworks/optuna.md
Due: prettier --write

user-guide: add SSH jobs troubleshooting note
  content/docs/user-guide/data-management/remote-storage/ssh.md
Due: prettier --write

chore(renovate.json): update renovate configuration to include new package rules and groups
  renovate.json
Due: prettier --write

fix typo
  renovate.json
Due: prettier --write

Be more precise in how we select the metrics to be displayed
  content/docs/studio/get-started.md
Due: prettier --write

Be more precise in how we select the metrics to be displayed (#4452)
  content/docs/studio/get-started.md
Due: prettier --write

user-guide: add SSH jobs troubleshooting note (#4450)
  content/docs/user-guide/data-management/remote-storage/ssh.md
Due: prettier --write

Update troubleshooting.md
  content/docs/user-guide/troubleshooting.md
Due: prettier --write

remote-storage: document max_sessions for ssh
  content/docs/user-guide/data-management/remote-storage/ssh.md
Due: prettier --write

add company logos slider
  src/components/Home/LogosSlider/CompanyLogos.tsx
  src/components/Home/LogosSlider/index.tsx
  src/components/Home/LogosSlider/logos/aicon.svg
  src/components/Home/LogosSlider/logos/cyclica.png
  src/components/Home/LogosSlider/logos/degould.png
  src/components/Home/LogosSlider/logos/huggingface.svg
  src/components/Home/LogosSlider/logos/inlab-digital.svg
  src/components/Home/LogosSlider/logos/mantis.svg
  src/components/Home/LogosSlider/logos/papercup.png
  src/components/Home/LogosSlider/logos/pieces.png
  src/components/Home/LogosSlider/logos/plasmasolve.png
  src/components/Home/LogosSlider/logos/sicara.png
  src/components/Home/LogosSlider/logos/ubs.png
  src/components/Home/LogosSlider/logos/ukho.png
  src/components/Home/LogosSlider/logos/xp-inc-new.webp
  src/components/Home/LogosSlider/styles.module.css
  src/components/Home/index.tsx
  tailwind.config.js
Due: eslint --fix

add billie logo
  src/components/Home/LogosSlider/CompanyLogos.tsx
  src/components/Home/LogosSlider/logos/billie.svg
Due: none

remote-storage: document max_sessions for ssh (#4455)
  content/docs/user-guide/data-management/remote-storage/ssh.md
Due: prettier --write

move to static and compressed logos
  src/components/Home/LogosSlider/logos/cyclica.png
  src/components/Home/LogosSlider/logos/degould.png
  src/components/Home/LogosSlider/logos/papercup.png
  src/components/Home/LogosSlider/logos/pieces.png
  src/components/Home/LogosSlider/logos/sicara.png
  src/components/Home/LogosSlider/logos/ubs.png
  src/components/Home/LogosSlider/logos/ukho.png
  src/components/Home/LogosSlider/logos/xp-inc-new.webp
  static/logos/aicon.svg
  static/logos/billie.svg
  static/logos/cyclica.png
  static/logos/degould.png
  static/logos/huggingface.svg
  static/logos/inlab-digital.svg
  static/logos/mantis.svg
  static/logos/papercup.png
  static/logos/pieces.png
  static/logos/plasmasolve.png
  static/logos/sicara.png
  static/logos/ubs.png
  static/logos/ukho.png
  static/logos/xp-inc-new.webp
Due: none

reorganize logic and images
  src/components/Home/LogosSlider/CompanyLogos.tsx
  src/components/Home/LogosSlider/index.tsx
  src/components/Home/LogosSlider/styles.module.css
Due: none

update to suggested title
  src/components/Home/LogosSlider/index.tsx
Due: none

fix slight glitch on slide
  tailwind.config.js
Due: eslint --fix

move slider to hero section
  src/components/Home/index.tsx
Due: none

Update renovate config (#4451)
  renovate.json
Due: prettier --write

initial
  content/docs/sidebar.json
  content/docs/start/data-management/discovering-and-accessing-data.md
  content/docs/start/index.md
  content/docs/use-cases/data-registry/index.md
  content/docs/use-cases/model-registry.md
  content/docs/use-cases/versioning-data-and-models/index.md
  redirects-list.json
Due: prettier --write

dup subscribe section and update required changes
  src/components/Home/WhatsNewModal/styles.module.css
  src/components/Home/index.tsx
  src/components/SubscribeSection/glyph-1.svg
  src/components/SubscribeSection/glyph-2.svg
Due: none

update hover color
  src/components/Home/WhatsNewModal/styles.module.css
Due: none

3 by 3
  content/docs/sidebar.json
  content/docs/start/data-management/data-versioning.md
  content/docs/start/data-management/metrics-parameters-plots.md
  content/docs/start/experiments/experiment-collaboration.md
  content/docs/start/experiments/experiment-iterations.md
  content/docs/start/experiments/experiment-live-tracking.md
  content/docs/start/experiments/experiment-pipelines.md
  content/docs/start/index.md
  content/docs/use-cases/data-registry/index.md
  content/docs/use-cases/model-registry.md
  content/docs/use-cases/versioning-data-and-models/index.md
  content/docs/use-cases/versioning-data-and-models/tutorial.md
  content/docs/user-guide/how-to/discovering-and-accessing-data.md
  redirects-list.json
Due: prettier --write
