Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

node 24
  app.json
  content/docs/command-reference/index.md
  content/docs/command-reference/plots/templates.md
  content/docs/index.md
  content/docs/install/ide-plugins.md
  content/docs/use-cases/experiment-tracking.md
  content/docs/user-guide/experiment-management/index.md
  content/docs/user-guide/index.md
  content/docs/user-guide/integrations/sagemaker.md
  package.json
  yarn.lock
Due: prettier --write

fix homepage
  packages/gatsby-theme/src/components/Documentation/Markdown/styles.module.css
Due: none

fix glossary
  src/components/SEO/index.tsx
  src/pages/user-guide/glossary.tsx
Due: none

small update
  .github/workflows/download-link-check-deploy.yml
  .github/workflows/download-link-check-issue.yml
  .github/workflows/lint-and-test.yml
  .github/workflows/update.yaml
  package.json
  redirects-list.json
  scripts/deploy-with-s3.js
  scripts/heroku-deploy.sh
Due: eslint --fix, prettier --write

fix deploy script
  scripts/deploy-with-s3.js
  scripts/s3-utils.js
Due: eslint --fix

simplify
  scripts/deploy-with-s3.js
  scripts/s3-utils.js
  src/server/index.js
Due: eslint --fix

simplify
  scripts/deploy-with-s3.js
Due: eslint --fix

fix deploy script
  scripts/deploy-with-s3.js
Due: eslint --fix

fix github workflow
  .github/workflows/download-link-check-schedule.yml
Due: none

set env
  .github/workflows/download-link-check-schedule.yml
Due: none

setup link-checkers
  .github/workflows/download-link-check-schedule.yml
  .github/workflows/link-check-all.yml
  .github/workflows/link-check-deploy.yml
Due: none

fix ci
  .github/workflows/link-check-all.yml
Due: none

.github: fix ci
  .github/workflows/link-check-all.yml
Due: none

fix link checker
  .github/workflows/link-check-all.yml
  .gitignore
  .lycheeignore
  config/link-check/config.yml
  config/link-check/excluded-files.yml
  config/link-check/excluded-links.yml
  content/community.json
  content/docs/api-reference/dvcfilesystem.md
  content/docs/command-reference/commit.md
  content/docs/command-reference/config.md
  content/docs/command-reference/exp/list.md
  content/docs/command-reference/exp/run.md
  content/docs/command-reference/import-url.md
  content/docs/command-reference/install.md
  content/docs/command-reference/remote/index.md
  content/docs/contributing/core.md
  content/docs/dvclive/install.md
  content/docs/dvclive/live/monitor_system.md
  content/docs/dvclive/ml-frameworks/yolo.md
  content/docs/install/linux.md
  content/docs/install/macos.md
  content/docs/install/pre-release.md
  content/docs/install/windows.md
  content/docs/start/data-pipelines/data-pipelines.md
  content/docs/use-cases/data-registry/tutorial.md
  content/docs/use-cases/versioning-data-and-models/tutorial.md
  content/docs/user-guide/data-management/remote-storage/amazon-s3.md
  content/docs/user-guide/experiment-management/index.md
  content/docs/user-guide/experiment-management/sharing-experiments.md
  content/docs/user-guide/how-to/run-dvc-on-windows.md
  content/docs/user-guide/integrations/huggingface.md
  content/docs/user-guide/integrations/sagemaker.md
  content/docs/user-guide/project-structure/configuration.md
  content/docs/user-guide/project-structure/dvcyaml-files.md
  content/docs/user-guide/troubleshooting.md
  lychee.toml
Due: prettier --write

ci: do not build
  .github/workflows/link-check-all.yml
Due: none

ci: build site in ci
  .github/workflows/lint-and-test.yml
Due: none

ci(lychee): fix path args
  .github/workflows/link-check-all.yml
Due: none

ci(link check): do not check fragments
  .github/workflows/link-check-all.yml
Due: none

ci(link check): remove key
  .github/workflows/link-check-all.yml
Due: none

remove unused code/packages
  .github/workflows/lint-and-test.yml
  package.json
  packages/gatsby-theme/package.json
  packages/gatsby-theme/src/components/AlertLandingLayout/index.tsx
  packages/gatsby-theme/src/components/LogoGradient/index.tsx
  packages/gatsby-theme/src/components/LogoGradient/styles.module.css
  packages/gatsby-theme/src/utils/shared/redirects.test.js
  src/utils/shared/expiration.js
  src/utils/shared/expiration.test.js
  yarn.lock
Due: eslint --fix, prettier --write

fix yarn.lock
  yarn.lock
Due: none

move all components to gatsby-theme package
  packages/gatsby-theme/src/components/NotFound/index.tsx
  packages/gatsby-theme/src/components/NotFound/styles.module.css
  src/pages/404.tsx
Due: none

do not delete content dir
  scripts/heroku-deploy.sh
  src/constants/internalLinks.ts
Due: none

use relative import
  packages/gatsby-theme/src/components/Documentation/Layout/SearchForm/index.tsx
  packages/gatsby-theme/src/components/HamburgerMenu/index.tsx
  packages/gatsby-theme/src/components/LayoutFooter/index.tsx
  packages/gatsby-theme/src/components/LayoutHeader/Nav/LinkItems/index.tsx
  packages/gatsby-theme/src/components/LayoutHeader/Nav/Popup/index.tsx
  packages/gatsby-theme/src/components/LayoutHeader/Nav/SocialIcons/index.tsx
  packages/gatsby-theme/src/components/LayoutHeader/Nav/index.tsx
  packages/gatsby-theme/src/components/PseudoButton/index.tsx
Due: none

fix warnings, remove unused code
  packages/gatsby-theme/gatsby-node.js
  packages/gatsby-theme/src/components/Documentation/RightPanel/index.tsx
  packages/gatsby-theme/src/components/HamburgerMenu/index.tsx
  packages/gatsby-theme/src/components/LayoutHeader/index.tsx
  packages/gatsby-theme/src/data/headerNav.ts
  src/config/index.ts
  src/gatsby/models/prune-cache/index.js
  src/html.tsx
  src/utils/algolia-queries.js
  src/utils/format.ts
  src/utils/front/useUserOS.ts
  src/utils/index.ts
  src/utils/onSelectKey.ts
  src/utils/shared/crawlPageData.js
  src/utils/urls.ts
Due: eslint --fix

test: do not delete publicDir
  scripts/deploy-with-s3.js
Due: eslint --fix

simplify deploy scripts
  scripts/clear-cloudfront-cache.js
  scripts/deploy-with-s3.js
  scripts/heroku-deploy.sh
  scripts/s3-utils.js
Due: eslint --fix

deploy using local files
  packages/gatsby-theme/src/components/LayoutHeader/index.tsx
  scripts/heroku-deploy.sh
  src/server/middleware/serve/index.js
  src/server/middleware/serve/local.js
Due: eslint --fix

further simplify server and do not proxy from s3
  .env.example
  gatsby-config.js
  lychee.toml
  nodemon.json
  package.json
  scripts/deploy-with-s3.js
  scripts/heroku-deploy.sh
  scripts/s3-utils.js
  server/index.js
  server/instrument.js
  server/redirect.js
  src/server/config.js
  src/server/middleware/serve/index.js
  src/server/middleware/serve/local.js
  src/server/middleware/serve/s3.js
  src/server/utils.js
  yarn.lock
Due: eslint --fix, prettier --write

use proper cache header
  packages/gatsby-theme/src/components/HamburgerMenu/index.tsx
  scripts/heroku-deploy.sh
  server/index.js
Due: eslint --fix

feat: add empty purge page
  content/docs/command-reference/purge.md
Due: prettier --write

docs: add `--wait-for-lock` flag to docs
  content/docs/user-guide/troubleshooting.md
Due: prettier --write

chore: delete cloudfront cache clearing script
  scripts/clear-cloudfront-cache.js
  scripts/heroku-deploy.sh
Due: eslint --fix

fix README
  README.md
Due: prettier --write

reduce load on origin doc server
  server/index.js
Due: eslint --fix

add usercentrics cookie consent script
  gatsby-shared.tsx
Due: none
