Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Update test
  plugins/gatsby-remark-dvc-linker/index.test.js
Due: eslint --fix

Update logo svgs (updated cml logo and optimzed)
  src/components/HamburgerMenu/index.tsx
  src/components/LayoutFooter/index.tsx
  src/components/LayoutFooter/styles.module.css
  src/components/LayoutHeader/Nav/Popup/styles.module.css
  src/components/LayoutHeader/index.tsx
  static/img/cml-icon.svg
  static/img/cml_icon-color--square_vector.svg
  static/img/dvc_icon-color--square_vector.svg
  static/img/iterative-icon.svg
  static/img/iterative_icon-color--square_vector.svg
  static/img/logo.svg
  static/img/studio-icon.svg
  static/img/studio_icon-color--square_vector.svg
Due: none

yarn format-all
  .github/workflows/update.yaml
Due: none

ref: deprecated->removed (http `digest` option)
  content/docs/command-reference/remote/modify.md
Due: prettier --write

ref: deprecate `digest` option from HTTP remote (#2802)
  content/docs/command-reference/remote/modify.md
Due: prettier --write

yarn format-all (#2890)
  .github/workflows/update.yaml
Due: none

Add bug mitigation
  scripts/deploy-with-s3.js
Due: eslint --fix

Disable PQR and bug mitigation
  gatsby-config.js
  scripts/deploy-with-s3.js
Due: eslint --fix

Restyled by prettier
  content/docs/command-reference/config.md
Due: prettier --write

config.index: yarm format
  content/docs/command-reference/config.md
  content/docs/user-guide/project-structure/internal-files.md
Due: prettier --write

config: corrections on index.dir and state.dir
  content/docs/command-reference/config.md
  content/docs/user-guide/project-structure/internal-files.md
Due: prettier --write

Add note regarding default behavior of sqlite dirs (#2826)
  content/docs/command-reference/config.md
  content/docs/user-guide/project-structure/internal-files.md
Due: prettier --write

cases: why DVC for exp bkpn - auto-versioning
  content/docs/use-cases/experiment-bookkeeping.md
Due: prettier --write

cases: why DVC for exp bkpn - no infrastructure
  content/docs/use-cases/experiment-bookkeeping.md
Due: prettier --write

cases: why DVC exp bkpn - lang. agnostic
  content/docs/use-cases/experiment-bookkeeping.md
Due: prettier --write

cases: clean up some benefits of Exp Bkpn
  content/docs/use-cases/experiment-bookkeeping.md
Due: prettier --write

cases: link from Exp Bkpn to GS:Exps
  content/docs/use-cases/experiment-bookkeeping.md
Due: prettier --write

Removed <br> tags
  content/docs/studio/troubleshooting.md
Due: prettier --write

renamed --show-json -> --json, --show-csv -> --csv, --show-md -> --md per #2877
  content/docs/user-guide/experiment-management/comparing-experiments.md
Due: prettier --write

added Python 3.6+
  content/docs/user-guide/contributing/docs.md
Due: prettier --write

Update DVC Download Link Check issue labels * rename `automated issue` to `link-checker`
  .github/workflows/download-link-check-schedule.yml
Due: none

Update content/docs/studio/troubleshooting.md
  content/docs/studio/troubleshooting.md
Due: prettier --write

Incorporated PR comments from Laurens
  content/docs/studio/troubleshooting.md
  content/docs/studio/user-guide/explore-experiments.md
  content/docs/studio/user-guide/views/view-settings.md
Due: prettier --write

Update logos (#2831)
  src/components/HamburgerMenu/index.tsx
  src/components/LayoutFooter/index.tsx
  src/components/LayoutFooter/styles.module.css
  src/components/LayoutHeader/Nav/Popup/styles.module.css
  src/components/LayoutHeader/index.tsx
  src/components/LayoutHeader/styles.module.css
  static/img/cml-icon.svg
  static/img/cml_icon-color--square_vector.svg
  static/img/dvc_icon-color--square_vector.svg
  static/img/iterative-icon.svg
  static/img/iterative_icon-color--square_vector.svg
  static/img/logo.svg
  static/img/studio-icon.svg
  static/img/studio_icon-color--square_vector.svg
Due: none

Minor content changes
  content/docs/studio/troubleshooting.md
Due: prettier --write

put the video
  content/docs/start/experiments-trail/experiments.md
Due: prettier --write

replaced older gs:experiments with the trail doc
  content/docs/sidebar.json
  content/docs/start/experiments-trail/experiments.md
  content/docs/start/experiments.md
Due: prettier --write

Removed emoji and moved persisting to details section
  content/docs/start/experiments.md
Due: prettier --write

added a sentence for data management
  content/docs/start/experiments.md
Due: prettier --write

added link to sidebar
  content/docs/sidebar.json
Due: prettier --write

minor edits
  content/docs/user-guide/experiment-management/comparing-experiments.md
Due: prettier --write

added 2 qas
  content/blog/2021-10-26-october-21-community-gems.md
Due: prettier --write

rephrasing
  content/docs/user-guide/experiment-management/comparing-experiments.md
Due: prettier --write

minor edit
  content/docs/user-guide/experiment-management/comparing-experiments.md
Due: prettier --write

table fix
  content/docs/user-guide/experiment-management/comparing-experiments.md
Due: prettier --write
