Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Create some example content with the new custom card components
  content/docs/index.md
  static/img/home_placeholder.svg
Due: prettier --write

Resolve TS issues in example
  src/components/Documentation/Markdown/index.tsx
Due: none

Mentioned issue in repro, #233
  content/docs/command-reference/repro.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/repro.md
Due: prettier --write

update available output in dvc status
  content/docs/command-reference/status.md
Due: prettier --write

Update repro.md
  content/docs/command-reference/repro.md
Due: prettier --write

example
  content/docs/command-reference/status.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/status.md
Due: prettier --write

Update content/docs/command-reference/status.md
  content/docs/command-reference/status.md
Due: prettier --write

Final edits
  content/docs/command-reference/status.md
Due: prettier --write

docs: api markdown code linker
  .gitignore
  package.json
  plugins/gatsby-remark-dvc-linker/apiLinker.js
  plugins/gatsby-remark-dvc-linker/commandLinker.js
  plugins/gatsby-remark-dvc-linker/index.js
  yarn.lock
Due: eslint --fix, prettier --write

docs: api and command markdown code tests
  plugins/gatsby-remark-dvc-linker/index.test.js
Due: eslint --fix

docs: manual links to api method pages removed
  content/docs/api-reference/read.md
  content/docs/command-reference/list.md
  content/docs/use-cases/data-registries.md
  content/docs/user-guide/contributing/docs.md
Due: prettier --write

docs: codeclimate fixes
  plugins/gatsby-remark-dvc-linker/apiLinker.js
  plugins/gatsby-remark-dvc-linker/commandLinker.js
  plugins/gatsby-remark-dvc-linker/helpers.js
Due: eslint --fix

docs: test fixes
  plugins/gatsby-remark-dvc-linker/helpers.js
Due: eslint --fix

refactored some names in RightPanel
  src/components/Documentation/RightPanel/index.tsx
Due: none

scroll to active heading
  src/components/Documentation/RightPanel/index.tsx
Due: none

revised
  content/blog/2020-05-14-may-20-dvc-heartbeat.md
Due: prettier --write

add plurality redirect to plot documentation
  redirects-list.json
Due: prettier --write

fix url, text wrapping
  content/blog/2020-05-14-may-20-dvc-heartbeat.md
Due: prettier --write

add "why become an ambassador" section
  content/blog/2020-05-08-dvc-ambassador-program-announcement.md
Due: prettier --write

Restyled by prettier
  content/blog/2020-05-08-dvc-ambassador-program-announcement.md
Due: prettier --write

add plurality redirect to plot documentation (#1307)
  redirects-list.json
Due: prettier --write

add "why become an ambassador" section (#1309)
  content/blog/2020-05-08-dvc-ambassador-program-announcement.md
Due: prettier --write

Properly detect when on docs home
  src/components/Documentation/Layout/index.tsx
  src/utils/shared/sidebar.js
Due: eslint --fix

Fix TS issues
  src/components/Documentation/Layout/index.tsx
Due: none

Fix variable rename typo from ts fix
  src/components/Documentation/Layout/index.tsx
Due: none

Minor grammatical update in PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

fix scrolling when no scroll in block
  src/components/Documentation/RightPanel/index.tsx
Due: none

docs-910: helpers refactoring
  plugins/gatsby-remark-dvc-linker/apiLinker.js
  plugins/gatsby-remark-dvc-linker/commandLinker.js
  plugins/gatsby-remark-dvc-linker/helpers.js
  plugins/gatsby-remark-dvc-linker/index.test.js
Due: eslint --fix

docs-910: bringing back formatting
  content/docs/api-reference/read.md
  content/docs/use-cases/data-registries.md
Due: prettier --write

docs-910: indent fix and redundant url removal
  content/docs/install/index.md
  content/docs/use-cases/data-registries.md
Due: prettier --write

Added a reference to dvc cache dir in shared-development-server page and updated dvc cache dir docs
  content/docs/command-reference/cache/dir.md
  content/docs/use-cases/shared-development-server.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/cache/dir.md
  content/docs/use-cases/shared-development-server.md
Due: prettier --write

Update the existing PR
  content/docs/command-reference/cache/dir.md
  content/docs/use-cases/shared-development-server.md
Due: prettier --write

Some decription of the rename command
  content/docs/command-reference/remote/rename.md
Due: prettier --write

Absorbing Understanding DVC
  content/docs/understanding-dvc/collaboration-issues.md
  content/docs/understanding-dvc/core-features.md
  content/docs/understanding-dvc/existing-tools.md
  content/docs/understanding-dvc/related-technologies.md
  content/docs/understanding-dvc/what-is-dvc.md
  content/docs/use-cases/index.md
  content/docs/user-guide/how-it-works.md
  content/docs/user-guide/index.md
  content/docs/user-guide/resources.md
Due: prettier --write

user-guide: add full stop per https://github.com/iterative/dvc.org/pull/1288 by @chaytanyasinha
  content/docs/user-guide/privacy.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
