Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

In-progress docs page migration
  gatsby-config.js
  gatsby-node.js
  package.json
  pages/doc.js
  src/components/Community/Learn/index.js
  src/components/Documentation/Markdown/index.js
  src/components/Documentation/NewMarkdown/index.js
  src/components/Documentation/NewMarkdown/styles.js
  src/components/Documentation/RightPanel/index.js
  src/components/Documentation/index.js
  src/components/Footer/index.js
  src/components/HamburgerMenu/index.js
  src/components/Nav/index.js
  src/components/Tooltip/index.js
  src/html.js
  src/templates/doc.js
  src/utils/sidebar.js
  src/utils/sidebar.test.js
  yarn.lock
Due: eslint --fix, prettier --write

Add syntax highlingting and dvc-syntax
  config/prismjs/dvc-hook.js
  config/prismjs/dvc.js
  gatsby-config.js
  src/components/Documentation/NewMarkdown/styles.js
Due: eslint --fix

Add external link marker
  gatsby-config.js
  package.json
  src/components/Documentation/NewMarkdown/styles.js
  yarn.lock
Due: eslint --fix, prettier --write

Rewrite LocalLink without deprecated methods
  src/components/LocalLink/index.js
Due: eslint --fix

Fix non-working links in sidebar
  src/components/Documentation/SidebarMenu/index.js
Due: eslint --fix

Move remark-linker to backend
  config/prismjs/dvc-hook.js
  config/prismjs/dvc.js
  gatsby-config.js
  plugins/gatsby-remark-dvc-linker/index.js
  plugins/gatsby-remark-dvc-linker/package.json
  src/components/Documentation/Markdown/utils/remark-linker.js
  src/components/Documentation/SidebarMenu/index.js
Due: eslint --fix, prettier --write

Make syntax highlight work
  config/prismjs/dvc-commands.js
  config/prismjs/dvc.js
  config/prismjs/usage.js
  content/docs/install/completion.md
  content/docs/tutorials/versioning.md
  gatsby-config.js
  src/components/Documentation/NewMarkdown/styles.js
Due: eslint --fix, prettier --write

Ignore testes in .cache in jest
  jest.config.js
Due: eslint --fix

Fix lint errors
  src/components/Documentation/Markdown/index.js
  src/components/Documentation/index.js
Due: eslint --fix

Make custom react ccomponents work in markdown
  package.json
  src/components/Documentation/NewMarkdown/index.js
  src/components/Documentation/index.js
  src/components/Tooltip/index.js
  src/html.js
  src/templates/doc.js
  yarn.lock
Due: eslint --fix, prettier --write

Remove old markdown component
  src/components/Documentation/Markdown/index.js
  src/components/Documentation/Markdown/styles.js
  src/components/Documentation/NewMarkdown/index.js
  src/components/Documentation/NewMarkdown/styles.js
  src/components/Documentation/index.js
Due: eslint --fix

Fix button colors
  src/components/Community/styles.js
Due: eslint --fix

Fix paths in learn block
  src/components/Community/Learn/index.js
Due: eslint --fix

Add middleware for API
  gatsby-config.js
  middlewares/api/blog.js
  middlewares/api/comments.js
  middlewares/api/discourse.js
  middlewares/api/github.js
  middlewares/api/index.js
  package.json
  src/consts.js
Due: eslint --fix, prettier --write

Add middleware for redirects
  gatsby-config.js
  middlewares/redirects/index.js
Due: eslint --fix

Add simple Express server with middlewares
  server.js
Due: eslint --fix

Update path to docs in edit link
  src/components/Documentation/index.js
Due: eslint --fix

Add title to the doc pages
  src/templates/doc.js
Due: eslint --fix

Rename middleware folder
  gatsby-config.js
  middleware/api/blog.js
  middleware/api/comments.js
  middleware/api/discourse.js
  middleware/api/github.js
  middleware/api/index.js
  middleware/redirects/index.js
  server.js
Due: eslint --fix

Remove unneeded comment
  src/components/Documentation/index.js
Due: eslint --fix

Removed unneded prop
  src/components/Documentation/Markdown/index.js
Due: eslint --fix

Add public for jest ignore path
  jest.config.js
Due: eslint --fix

Add res.end to redirects
  middleware/redirects/index.js
Due: eslint --fix

Add env to jest config
  jest.config.js
Due: eslint --fix

Uncomment manifest and favicons generation
  gatsby-config.js
  static/favicon-512x512.png
Due: eslint --fix

Add redirects for non-existent pages
  redirects-list.json
Due: prettier --write

Remove react-syntax-highlighter from package.json
  package.json
  yarn.lock
Due: prettier --write

Fix typo
  gatsby-node.js
Due: eslint --fix

Add new commants to dvc commands list
  config/prismjs/dvc-commands.js
Due: eslint --fix

Add newline to .gitignore
  .gitignore
Due: none

Add return to redirects middware to prevent calling next()
  middleware/redirects/index.js
Due: eslint --fix

Fix next links
  src/components/Documentation/Markdown/index.js
  src/components/Documentation/SidebarMenu/index.js
  src/utils/sidebar.js
Due: eslint --fix

Add 307 status for docs’ redirects
  redirects-list.json
Due: prettier --write

Add dvc highlingter to snippet
  content/docs/get-started/experiments.md
Due: prettier --write

Add 404 page
  middleware/notFound/index.js
  server.js
  src/components/404/index.js
  src/components/404/styles.js
  src/pages/404.js
Due: eslint --fix

Fix visibility calculation for community's sections on mobiles
  src/components/Community/Section/index.js
Due: eslint --fix

Add handler for anchor navigation
  src/components/Page/index.js
Due: eslint --fix

Fix hover issues for community dropdown in the main navigation
  src/components/Nav/index.js
  src/components/Nav/styles.js
Due: eslint --fix

Fix path for SEO component in the 404 page
  src/pages/404.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
