Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

start: use `exp init` instead of `stage add` (#3196)
  content/docs/start/experiments.md
Due: prettier --write

Add course link and "..." dropdown to nav bar (#3263)
  src/components/HamburgerMenu/index.tsx
  src/components/LayoutHeader/Nav/LinkItems/index.tsx
  src/components/LayoutHeader/Nav/LinkItems/styles.module.css
  src/components/LayoutHeader/Nav/Popup/index.tsx
  src/components/LayoutHeader/Nav/Popup/styles.module.css
  src/gatsby/hooks/usePopup.tsx
Due: none

Blog: February Heartbeat (#3293)
  content/blog/2022-2-15-february-22-heartbeat.md
  static/uploads/images/2022-02-17/alex-serban.png
  static/uploads/images/2022-02-17/arjun-kumbakkara-architecture.png
  static/uploads/images/2022-02-17/battery-dev.png
  static/uploads/images/2022-02-17/heartbeat-february.png
  static/uploads/images/2022-02-17/office-hours-meetup.png
  static/uploads/images/2022-02-17/roles-in-ai.png
  static/uploads/images/2022-02-17/scientometric.png
  static/uploads/images/2022-02-17/twine.png
Due: prettier --write

Dvc exp show deps (#3220)
  content/docs/command-reference/exp/show.md
  content/docs/start/experiments.md
  content/docs/user-guide/experiment-management/comparing-experiments.md
Due: prettier --write

status: misc updates (#3287)
  content/docs/command-reference/commit.md
  content/docs/command-reference/diff.md
  content/docs/command-reference/repro.md
  content/docs/command-reference/run.md
  content/docs/command-reference/stage/add.md
  content/docs/command-reference/status.md
  content/docs/user-guide/project-structure/pipelines-files.md
Due: prettier --write

start: use tabs for a Windows command (#3215)
  content/docs/start/data-and-model-versioning.md
Due: prettier --write

added height props to toggle (#3257)
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/index.tsx
Due: none

ref: clarifications around `add` and `import-url` for external targets (#3210)
  content/docs/command-reference/add.md
  content/docs/command-reference/import-url.md
  content/docs/command-reference/import.md
  content/docs/command-reference/update.md
  content/docs/user-guide/managing-external-data.md
Due: prettier --write

Make YouTube Embeds GDPR compliant (#3253)
  config/gatsby-remark-embedder/custom-yt-embedder.js
  gatsby-config.js
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/Main/index.tsx
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/Main/styles.module.css
  plugins/gatsby-theme-iterative-docs/src/utils/front/useCustomYtEmbeds.ts
  src/components/Blog/Post/Markdown/styles.module.css
  src/components/Blog/Post/index.tsx
  src/components/Home/UseCases/Video/index.tsx
  src/components/Home/UseCases/Video/styles.module.css
Due: eslint --fix

Search blogs (#3198)
  .env.example
  .github/workflows/blogs-indexing.yaml
  gatsby-config.js
  package.json
  src/components/Blog/Home/index.tsx
  src/components/Blog/Search/SearchBox/index.tsx
  src/components/Blog/Search/SearchBox/styles.module.css
  src/components/Blog/Search/SearchResult/index.tsx
  src/components/Blog/Search/SearchResult/styles.module.css
  src/components/Blog/Search/index.tsx
  src/components/Blog/Search/styles.module.css
  src/config/index.ts
  src/gatsby/hooks/useClickOutside.tsx
  src/gatsby/models/blog/onCreateMarkdownContentNode.js
  src/utils/algolia-queries.js
  yarn.lock
Due: eslint --fix, prettier --write

term: "metricS history" (file), et al. [DVCLive] (#3304)
  content/docs/dvclive/api-reference/live/log.md
  content/docs/dvclive/api-reference/live/log_image.md
  content/docs/dvclive/api-reference/live/log_plot.md
Due: prettier --write

redirect: from removed UC to GS section (#3327)
  content/docs/command-reference/exp/branch.md
  content/docs/command-reference/pull.md
  content/docs/command-reference/push.md
  content/docs/command-reference/remote/index.md
  content/docs/command-reference/status.md
  content/docs/start/data-and-model-versioning.md
  content/docs/studio/user-guide/prepare-repositories.md
  content/docs/use-cases/ci-cd-for-machine-learning.md
  content/docs/use-cases/data-registries.md
  content/docs/use-cases/fast-data-caching-hub.md
  content/docs/use-cases/versioning-data-and-model-files/index.md
  content/docs/user-guide/experiment-management/sharing-experiments.md
  redirects-list.json
Due: prettier --write

Improve/Reusable components for dropdown (#3317)
  src/components/Blog/Search/index.tsx
  src/components/LayoutHeader/Nav/LinkItems/index.tsx
  src/components/LayoutHeader/Nav/LinkItems/styles.module.css
  src/components/LayoutHeader/Nav/Popup/styles.module.css
  src/gatsby/hooks/useOnClickOutside.tsx
  src/gatsby/hooks/useOnEscape.tsx
  src/gatsby/hooks/usePopup.tsx
  static/img/ellipsis.svg
Due: none

fix links plus a couple other things (#3307)
  content/blog/2022-2-17-february-22-heartbeat.md
Due: prettier --write

live: remove summary (#3325)
  content/docs/command-reference/run.md
  content/docs/command-reference/stage/add.md
  content/docs/dvclive/api-reference/live/index.md
  content/docs/dvclive/api-reference/live/log.md
  content/docs/dvclive/dvclive-with-dvc.md
  content/docs/dvclive/get-started.md
  content/docs/dvclive/ml-frameworks/catalyst.md
  content/docs/dvclive/ml-frameworks/fastai.md
  content/docs/dvclive/ml-frameworks/huggingface.md
  content/docs/dvclive/ml-frameworks/keras.md
  content/docs/dvclive/ml-frameworks/lightgbm.md
  content/docs/dvclive/ml-frameworks/mmcv.md
  content/docs/dvclive/ml-frameworks/pytorch-lightning.md
  content/docs/dvclive/ml-frameworks/xgboost.md
Due: prettier --write

cases: run->add (#3266)
  content/docs/use-cases/sharing-data-and-model-files.md
Due: prettier --write

correcting bad links (#3301)
  content/blog/2022-2-17-february-22-heartbeat.md
Due: prettier --write

Fix broken merge-schedule gh action (#3346)
  .github/workflows/merge-schedule.yaml
Due: none

exp run: Note unsupported dvc repro options (#3338)
  content/docs/command-reference/exp/run.md
Due: prettier --write

start: about .dvc file tracking (#3289)
  content/docs/start/data-and-model-versioning.md
Due: prettier --write

Remove "html" from blog post page query (#3368)
  src/templates/blog-post.tsx
Due: none

`exp list`: add `--num` option, rename `--all` to `--all-commits` (#3191)
  content/docs/command-reference/exp/list.md
Due: prettier --write

`ref`: Duplicated paging info to `exp show` (#3310)
  content/docs/command-reference/exp/show.md
Due: prettier --write

Use `rehype-react` to render blog post content (#3365)
  src/components/Blog/Post/Markdown/index.tsx
  src/components/Blog/Post/index.tsx
  src/templates/blog-post.tsx
Due: none

better GCP service account links (#3322)
  content/docs/command-reference/remote/modify.md
Due: prettier --write

Update admonitions, making `title` optional (#3389)
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/Admonition/index.tsx
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/Admonition/styles.module.css
Due: none

Add `safeLocalStorage` util (#3369)
  plugins/gatsby-theme-iterative-docs/src/utils/front/safeLocalStorage.ts
  plugins/gatsby-theme-iterative-docs/src/utils/front/useCustomYtEmbeds.ts
  src/components/Home/UseCases/Video/index.tsx
Due: none

ref: mention config reads from all config files combined (#3359)
  content/docs/command-reference/config.md
Due: prettier --write

Fix for edge cases for `id` (#3393)
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/index.tsx
Due: none

Fix typo in data-registries.md (#3378)
  content/docs/use-cases/data-registries.md
Due: prettier --write

blog: March '22 Heartbeat (#3366)
  content/blog/2022-03-17-march-22-heartbeat.md
  static/uploads/images/2022-03-17/community.jpeg
  static/uploads/images/2022-03-17/das.jpeg
  static/uploads/images/2022-03-17/heartbeat-march.png
  static/uploads/images/2022-03-17/hype-cycle-mihail-eric.png
  static/uploads/images/2022-03-17/jagreet-kaur.png
  static/uploads/images/2022-03-17/kevin.png
  static/uploads/images/2022-03-17/office-hours-meetup.png
  static/uploads/images/2022-03-17/panyapiang.jpeg
  static/uploads/images/2022-03-17/upson.png
  static/uploads/images/2022-03-17/yuqi-li.jpeg
Due: prettier --write

guide: update info. around dvc process locking (#3251)
  content/docs/command-reference/exp/show.md
  content/docs/command-reference/init.md
  content/docs/use-cases/experiment-tracking.md
  content/docs/user-guide/project-structure/internal-files.md
Due: prettier --write

Minor fixes (#3422)
  content/docs/command-reference/import.md
Due: prettier --write

hotfix: content/docs/... broken links (#3355)
  content/docs/command-reference/config.md
  content/docs/command-reference/status.md
  content/docs/dvclive/dvclive-with-dvc.md
  content/docs/dvclive/ml-frameworks/pytorch-lightning.md
Due: prettier --write

Typo corrections and some other small fixes (#3362)
  content/docs/command-reference/add.md
  content/docs/command-reference/dag.md
  content/docs/command-reference/import-url.md
  content/docs/command-reference/move.md
  content/docs/user-guide/experiment-management/index.md
  content/docs/user-guide/project-structure/dvcignore-files.md
  content/docs/user-guide/project-structure/internal-files.md
  content/docs/user-guide/project-structure/pipelines-files.md
Due: prettier --write

Adding Maria Khalusova avatar (#3398)
  content/authors/maria_khalusova.md
  static/uploads/avatars/maria_khalusova.jpeg
Due: prettier --write

fix: unrecognized argument in plots example (#3425) (#3426)
  content/docs/command-reference/plots/index.md
Due: prettier --write

Update stale CML container images (#3375)
  content/blog/2020-07-07-cml-release.md
  content/blog/2020-07-16-devops-for-data-scientists.md
  content/blog/2020-08-07-cml-self-hosted-runners-on-demand-with-gpus.md
  content/blog/2020-11-25-november-20-community-gems.md
  content/blog/2021-03-03-dvc-2-0-release.md
Due: prettier --write

Remove deleted tweet (#3353)
  content/blog/2022-1-18-January-22-heartbeat.md
Due: prettier --write

blog/cml: fix tutorials (#3390)
  content/blog/2020-07-07-cml-release.md
  content/blog/2020-07-16-devops-for-data-scientists.md
  content/blog/2020-08-07-cml-self-hosted-runners-on-demand-with-gpus.md
  content/blog/2020-08-27-august-20-community-gems.md
  content/blog/2020-10-26-october-20-community-gems.md
  content/blog/2020-12-30-december-20-community-gems.md
  content/blog/2021-02-22-cml-runner-prerelease.md
  content/blog/2021-02-26-february-21-community-gems.md
  content/blog/2021-03-03-dvc-2-0-release.md
  content/blog/2021-07-27-july-21-dvc-community-gems.md
  content/blog/2021-08-31-august-21-community-gems.md
Due: prettier --write
