Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

cases: more realistic text in Exp Tracking image
  static/img/natural-experimentation.png
Due: none

Restyled by prettier
  content/docs/use-cases/experiment-tracking.md
Due: prettier --write

cases: intro edit and table format
  content/docs/use-cases/experiment-tracking.md
Due: prettier --write

cases: clarify Exp Tracking general benefits and exp table
  content/docs/use-cases/experiment-tracking.md
Due: prettier --write

cases: review Exp Tracking benefits list
  content/docs/use-cases/experiment-tracking.md
Due: prettier --write

cases: improve text around comparison table
  content/docs/use-cases/experiment-tracking.md
Due: prettier --write

exp versioning blog post: move away from tutorial
  content/blog/2021-11-30-ml-experiment-versioning.md
  content/blog/2021-12-07-ml-experiment-versioning.md
Due: prettier --write

updates to community page (#3038)
  content/community.json
  src/components/Support/index.tsx
  static/img/community/events/data-day-texas.png
  static/img/community/events/py-barcelona.png
  static/img/community/ugc/baena.jpeg
  static/img/community/ugc/shanaka-square.png
Due: prettier --write

update yaml multine string symbol
  content/blog/2021-10-28-october-21-community-gems.md
Due: prettier --write

Fix typos in /content/community.json
  content/community.json
Due: prettier --write

Fix typos in /content/community.json (#3045)
  content/community.json
Due: prettier --write

Removed entire pipeline phrase
  content/docs/command-reference/commit.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/commit.md
Due: prettier --write

updated minor fixes
  content/blog/2021-11-30-november-21-community-gems.md
Due: prettier --write

Upgrade packages and configure SVGR/SVGO with external file
  gatsby-config.js
  package.json
  svgo.config.js
  yarn.lock
Due: eslint --fix, prettier --write

Update model and button designs
  src/components/Home/WhatsNewModal/styles.module.css
Due: none

Fix docs index cards styles to properly collapse
  src/components/Documentation/Markdown/styles.module.css
Due: none

stylelint --fix
  src/components/Documentation/Markdown/styles.module.css
Due: none

eslint --fix
  src/components/DownloadButton/index.tsx
Due: none

Restyled by prettier
  src/components/DownloadButton/index.tsx
Due: none

minor code snippet updates
  content/blog/2021-12-02-collaborative-experiments.md
Due: prettier --write

minor updates
  content/blog/2021-11-30-november-21-community-gems.md
Due: prettier --write

Update content/docs/command-reference/exp/index.md
  content/docs/command-reference/exp/index.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/exp/index.md
Due: prettier --write

ref: copy edit Kerberos info in `remote add` (WebHDFS) (#3019)
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/modify.md
Due: prettier --write

exp versioning blog post: next draft
  content/blog/2021-12-07-ml-experiment-versioning.md
Due: prettier --write

exp versioning blog post: dvc code tags
  content/blog/2021-12-07-ml-experiment-versioning.md
Due: prettier --write

exp versioning blog post: minor edits
  content/blog/2021-12-07-ml-experiment-versioning.md
Due: prettier --write

ref: clarify add/import/get -o and --to-remote
  content/docs/command-reference/add.md
  content/docs/command-reference/get.md
  content/docs/command-reference/import.md
Due: prettier --write

guide: emphasize dvc exps are not part of Git tree in overview rel https://github.com/iterative/dvc.org/pull/2909#pullrequestreview-812064701
  content/docs/user-guide/experiment-management/experiments-overview.md
Due: prettier --write

guide: ID->name in dvc exps overview per https://github.com/iterative/dvc.org/pull/2909#pullrequestreview-812312391
  content/docs/user-guide/experiment-management/experiments-overview.md
Due: prettier --write

guide: ID->name in other exp guides rel https://github.com/iterative/dvc.org/pull/2909#pullrequestreview-812312391
  content/docs/user-guide/experiment-management/comparing-experiments.md
  content/docs/user-guide/experiment-management/persisting-experiments.md
Due: prettier --write

guide: Visualize->Review in exp/overview/basic-workflow per https://github.com/iterative/dvc.org/pull/2909#pullrequestreview-812317806
  content/docs/user-guide/experiment-management/experiments-overview.md
Due: prettier --write

guide: don't say "cleans the slate" in exp/overview/basic-workflow per https://github.com/iterative/dvc.org/pull/2909#pullrequestreview-812319814
  content/docs/user-guide/experiment-management/experiments-overview.md
Due: prettier --write

giude: soften params description in exps index per https://github.com/iterative/dvc.org/pull/2909#pullrequestreview-812322659
  content/docs/user-guide/experiment-management/index.md
Due: prettier --write

guide: generalize dvc exps basic workflow
  content/docs/user-guide/experiment-management/experiments-overview.md
Due: prettier --write

guide: Properties section in DVC Exps overview page
  content/docs/user-guide/experiment-management/experiments-overview.md
Due: prettier --write

guide: exp init section in Exp Overview page
  content/docs/user-guide/experiment-management/experiments-overview.md
Due: prettier --write

added image
  static/uploads/images/2021-11-30/nov-community-gems.png
Due: none

Added initial paragraphs
  content/docs/start/visualization.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
