Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

install: upgade pre-release isntructions for 1.0 per https://github.com/iterative/dvc.org/pull/1195#pullrequestreview-406281745
  content/docs/install/pre-release.md
Due: prettier --write

Fix images in the RSS feed (#1245)
  gatsby-config.js
  plugins/utils/makeFeedHtml.js
Due: eslint --fix

install: revert pre-release instructions change per https://github.com/iterative/dvc.org/pull/1195#pullrequestreview-407014113
  content/blog/2020-05-04-dvc-3-years-and-1-0-release.md
  content/docs/install/pre-release.md
Due: prettier --write

Move /doc/home to /doc
  content/docs/sidebar.json
  redirects-list.json
  src/components/Link/index.tsx
  src/gatsby/models/docs/onCreateMarkdownContentNode.js
  src/utils/shared/sidebar.js
Due: eslint --fix, prettier --write

Re-add 307 code to swapped redirect
  redirects-list.json
Due: prettier --write

remove unnecessary falsy checks
  src/components/Link/index.tsx
Due: none

blog: fix one broken link
  content/blog/2019-05-21-may-19-dvc-heartbeat.md
  scripts/link-check-git-all.sh
Due: prettier --write

Add --local option
  content/docs/command-reference/remote/add.md
Due: prettier --write

remove old comment
  src/gatsby/models/docs/onCreateMarkdownContentNode.js
Due: eslint --fix

docs: update GSoD blog post and remote add cmd ref
  content/blog/2020-04-30-gsod-ideas-2020.md
  content/docs/command-reference/remote/add.md
Due: prettier --write

Update content/docs/command-reference/plot/show.md
  content/docs/command-reference/plot/show.md
Due: prettier --write

Update content/docs/command-reference/plot/index.md
  content/docs/command-reference/plot/index.md
Due: prettier --write

Don't use '/' in doc home path creation
  src/gatsby/models/docs/onCreateMarkdownContentNode.js
Due: eslint --fix

Change up redirects so new docs home never has a trailing slash
  redirects-list.json
Due: prettier --write

Remove old reversed redirect
  redirects-list.json
Due: prettier --write

Change instance of /doc/home to /doc
  content/blog/2020-04-30-gsod-ideas-2020.md
Due: prettier --write

Fix slightly messed up redirects list
  redirects-list.json
Due: prettier --write

download: update to 0.94.0
  src/components/DownloadButton/index.tsx
Due: none

Change how relative fragments are handled.
  src/components/Link/index.tsx
Due: none

Change "docs/home" to "docs" (#1257)
  content/blog/2020-04-30-gsod-ideas-2020.md
  content/docs/sidebar.json
  redirects-list.json
  src/gatsby/models/docs/onCreateMarkdownContentNode.js
  src/utils/shared/sidebar.js
Due: eslint --fix, prettier --write

Change tag page paths to be under /blog
  content/blog/2020-04-06-april-20-dvc-heartbeat.md
  src/components/Blog/Post/index.tsx
  src/gatsby/models/blog/createPages.js
Due: eslint --fix, prettier --write

Revert "gitpod: remove from docs contrib guide for now"
  content/docs/user-guide/contributing/docs.md
Due: prettier --write

[docs] add documentation on how to make a Pr with Gitpod.
  content/docs/user-guide/contributing/docs.md
Due: prettier --write

Change tag page paths to be under /blog (#1261)
  content/blog/2020-04-06-april-20-dvc-heartbeat.md
  src/components/Blog/Post/index.tsx
  src/gatsby/models/blog/createPages.js
Due: eslint --fix, prettier --write

Change how relative fragments are handled. (#1260)
  src/components/Link/index.tsx
Due: none

Add templates to doc pages and give docs home one
  content/docs/index.md
  src/gatsby/models/docs/createPages.js
  src/gatsby/models/docs/onCreateMarkdownContentNode.js
  src/gatsby/models/markdown-content/fields.js
  src/templates/doc.tsx
Due: eslint --fix, prettier --write

term: avoid "continuous" and fix many typos around metrics cmd refs
  content/docs/command-reference/plot/diff.md
  content/docs/command-reference/plot/index.md
  content/docs/command-reference/plot/show.md
  content/docs/command-reference/version.md
  content/docs/understanding-dvc/existing-tools.md
Due: prettier --write

Fix sidebar support for empty links
  src/utils/shared/sidebar.js
Due: eslint --fix

Adjust sidebar helpers to work with new PATH_ROOT
  src/utils/shared/sidebar.js
Due: eslint --fix

docs: remote: azure: don't use obsoleted url format
  content/docs/command-reference/remote/modify.md
Due: prettier --write

blog draft
  content/authors/marcel_rd.md
  content/blog/2020-05-08-dvc-ambassador-program.md.md
  static/uploads/avatars/marcel.jpg
  static/uploads/images/2020-05-08/Ambassador_Header.png
Due: prettier --write

Restyled by prettier
  content/authors/marcel_rd.md
  content/blog/2020-05-08-dvc-ambassador-program.md.md
Due: prettier --write

docs: update: add -R|--recursive
  content/docs/command-reference/update.md
Due: prettier --write

Update 2020-05-08-dvc-ambassador-program.md.md
  content/blog/2020-05-08-dvc-ambassador-program.md.md
Due: prettier --write

Fix sidebar support for empty links (/doc/ trailing slash issue) (#1265)
  src/utils/shared/sidebar.js
Due: eslint --fix

Add external doc sidebar links and replace "Changelog" with one.
  content/docs/sidebar.json
  src/components/Documentation/Layout/SidebarMenu/index.tsx
  src/utils/shared/sidebar.js
Due: eslint --fix, prettier --write

Remove `target: null` from non-external links.
  src/components/Documentation/Layout/SidebarMenu/index.tsx
Due: none

Change existing changelog link on Community to point to releases
  src/components/Community/data.json
Due: prettier --write

Updates mribeirodantas' blog post URL
  content/blog/2020-05-08-dvc-ambassador-program.md.md
Due: prettier --write

Change sidebar link to releases page
  content/docs/sidebar.json
Due: prettier --write
