Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Deleted redundant code
  src/gatsby/models/authors/createPages.js
Due: eslint --fix

example-get-started repo in pull examples
  content/docs/command-reference/pull.md
Due: prettier --write

cmd ref: clarify run --no-exec option behavior it does track, just doesn't commit deps/outs
  content/docs/command-reference/run.md
Due: prettier --write

Generate slug at build-time and fix LIMIT_BLOG_PAGES
  src/components/Blog/Post/index.tsx
  src/gatsby/models/authors/createPages.js
  src/gatsby/models/authors/createSchemaCustomization.js
  src/gatsby/models/authors/onCreateMarkdownContentNode.js
  src/templates/blog-post.tsx
Due: eslint --fix

Remove unnecessary promise.all wrap
  src/gatsby/models/authors/createPages.js
Due: eslint --fix

Improve Author page
  src/components/Blog/Author/index.tsx
  src/components/Blog/Author/styles.module.css
  src/templates/blog-author.tsx
Due: none

Center Author Header and constrain to 1000px
  src/components/Blog/Author/styles.module.css
Due: none

get-started: simplifications to fata-pipelines
  content/docs/tutorials/get-started/data-pipelines.md
  content/docs/tutorials/get-started/data-versioning.md
  content/docs/tutorials/get-started/experiments.md
Due: prettier --write

Clean only .cache when first build attempt fails
  scripts/deploy-with-s3.js
  scripts/s3-utils.js
Due: eslint --fix

Change Author links to an Array
  content/authors/dmitry_petrov.md
  content/authors/elle_obrien.md
  content/authors/george_vyshnya.md
  content/authors/jorge_orpinel.md
  content/authors/marcel_rd.md
  content/authors/marija_ilic.md
  content/authors/svetlana_grinchenko.md
  src/gatsby/models/authors/createPages.js
  src/gatsby/models/authors/createSchemaCustomization.js
  src/gatsby/models/authors/onCreateMarkdownContentNode.js
  src/templates/blog-author.tsx
  src/templates/blog-post.tsx
Due: eslint --fix, prettier --write

Update content/docs/command-reference/pull.md
  content/docs/command-reference/pull.md
Due: prettier --write

Update content/docs/command-reference/import.md
  content/docs/command-reference/import.md
Due: prettier --write

blog: fix Dmitry's author description md error
  content/authors/dmitry_petrov.md
Due: prettier --write

cmd ref: further clarify run --no-exec option per https://github.com/iterative/dvc.org/pull/1358#pullrequestreview-419553300
  content/docs/command-reference/run.md
Due: prettier --write

blog: update my description
  content/authors/jorge_orpinel.md
Due: prettier --write

Make build-time github fetching gracefully fail with no token
  gatsby-config.js
  src/gatsby/hooks/stars.ts
  src/gatsby/models.js
  src/gatsby/models/github/index.js
  src/server/middleware/api/github.js
Due: eslint --fix

Remove check for unchanged star count
  src/gatsby/hooks/stars.ts
  src/server/middleware/api/github.js
Due: eslint --fix

Actually use express correctly for empty responses, and add logs
  src/gatsby/hooks/stars.ts
  src/server/middleware/api/github.js
Due: eslint --fix

Move issues API endpoint to /github/issues
  src/server/middleware/api/index.js
  src/utils/front/api.ts
Due: eslint --fix

get-started: update index for DVC 1.0
  content/docs/tutorials/get-started/index.md
Due: prettier --write

user-guide: DVC File guide update (1)
  content/docs/sidebar.json
  content/docs/user-guide/dvc-metafile-formats.md
Due: prettier --write

updates
  content/docs/command-reference/pull.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/pull.md
Due: prettier --write

restyling
  content/docs/command-reference/pull.md
Due: prettier --write

made required changes
  content/docs/command-reference/commit.md
Due: prettier --write

glossary: update DVC-file terminology for tooltips
  content/docs/user-guide/basic-concepts/dependency.md
  content/docs/user-guide/basic-concepts/dvc-project.md
  content/docs/user-guide/basic-concepts/import-stage.md
  content/docs/user-guide/basic-concepts/output.md
Due: prettier --write

revise
  content/blog/2020-05-26-may-20-community-gems.md
  static/uploads/images/2020-05-26/data-registry.png
Due: prettier --write

revisions
  content/blog/2020-05-26-may-20-community-gems.md
Due: prettier --write

fix pic address
  content/blog/2020-05-26-may-20-community-gems.md
Due: prettier --write

user-guide: full draft of new DVC Metafiles Format doc
  content/docs/user-guide/dvc-metafile-formats.md
Due: prettier --write

Remove now-unused links from exclude-links.txt
  scripts/exclude-links.txt
Due: none

Make stars nullable and give the component a default placeholder
  src/components/Home/LandingHero/GithubLine/index.tsx
  src/gatsby/hooks/stars.ts
Due: none

Hide star count before attempting proxy update
  src/components/Home/LandingHero/GithubLine/index.tsx
Due: none

Change Author links to an Array
  content/authors/dmitry_petrov.md
  content/authors/elle_obrien.md
  content/authors/george_vyshnya.md
  content/authors/jorge_orpinel.md
  content/authors/marcel_rd.md
  content/authors/marija_ilic.md
  content/authors/svetlana_grinchenko.md
  src/gatsby/models/authors/createSchemaCustomization.js
  src/gatsby/models/authors/onCreateMarkdownContentNode.js
  src/templates/blog-post.tsx
Due: eslint --fix, prettier --write
