Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Restyled by prettier
  content/docs/studio/rest-api.md
Due: prettier --write

add docs for ability to toggle the filters (#5121)
  content/docs/studio/user-guide/experiments/explore-ml-experiments.md
Due: prettier --write

Resolve merge conflicts (add changes made in the upstream PR)
  content/docs/studio/rest-api/create-project.md
  content/docs/studio/rest-api/download-model.md
Due: prettier --write

Split rest-api api doc into sub-pages (#5124)
  content/docs/sidebar.json
  content/docs/studio/rest-api.md
  content/docs/studio/rest-api/create-project.md
  content/docs/studio/rest-api/download-model.md
  content/docs/studio/rest-api/index.md
Due: prettier --write

fix csp for media
  src/server.js
Due: eslint --fix

fix: video missing in docs (#5127)
  src/server.js
Due: eslint --fix

Add documentation for creating new projects via REST API (#5120)
  content/docs/sidebar.json
  content/docs/studio/rest-api/create-project.md
  content/docs/studio/rest-api/download-model.md
  content/docs/studio/rest-api/index.md
Due: prettier --write

Update content/docs/dvclive/install.md
  content/docs/dvclive/install.md
Due: prettier --write

Restyled by prettier
  content/docs/dvclive/install.md
Due: prettier --write

Restyled by prettier
  content/docs/user-guide/integrations/sagemaker.md
Due: prettier --write

add an `install` section for DVClive (#5122)
  content/docs/dvclive/install.md
  content/docs/sidebar.json
Due: prettier --write

reformat
  content/docs/user-guide/integrations/sagemaker.md
Due: prettier --write

send live updates outside a git repo (#5108)
  content/docs/studio/user-guide/experiments/live-metrics-and-plots.md
  content/docs/user-guide/integrations/databricks.md
  content/docs/user-guide/integrations/sagemaker.md
Due: prettier --write

change banner for feb 28
  src/components/Home/Alert/index.tsx
Due: none

run linter
  src/components/Home/Alert/index.tsx
Due: none

change banner for feb 28 (#5131)
  src/components/Home/Alert/index.tsx
Due: none

exp save: add target arg (#5090)
  content/docs/command-reference/exp/save.md
Due: prettier --write

consolidate model registry docs
  content/basic-concepts/model_registry.md
  content/docs/dvclive/how-it-works.md
  content/docs/sidebar.json
  content/docs/start/experiments/experiment-tracking.md
  content/docs/start/model-management/model-registry.md
  content/docs/studio/index.md
  content/docs/studio/model-registry.md
  content/docs/studio/user-guide/model-registry/add-a-model.md
  content/docs/studio/user-guide/model-registry/index.md
  content/docs/studio/user-guide/model-registry/register-version.md
  content/docs/studio/user-guide/team-collaboration/index.md
  content/docs/studio/user-guide/troubleshooting.md
  content/docs/user-guide/data-management/discovering-and-accessing-data.md
Due: prettier --write

redirect studio/model-registry
  redirects-list.json
Due: prettier --write

consolidate MR use case and video
  content/docs/gto/user-guide/index.md
  content/docs/sidebar.json
  content/docs/start/model-management/index.md
  content/docs/studio/user-guide/model-registry/index.md
  content/docs/use-cases/model-registry.md
  content/docs/user-guide/data-management/discovering-and-accessing-data.md
Due: prettier --write

consolidate instructions to fork example repo
  content/docs/start/model-management/add-model.md
  content/docs/start/model-management/index.md
  content/docs/start/model-management/model-registry.md
Due: prettier --write

drop old MR video
  content/docs/use-cases/model-registry.md
Due: prettier --write

feat: add platinum service support page
  package.json
  src/components/PromoSection/styles.module.css
  src/components/Support/index.tsx
  src/components/Support/styles.module.css
  src/components/base/dialog.tsx
  src/pages/support.tsx
  src/utils/index.ts
  static/logos/walmart.svg
  tailwind.config.js
  yarn.lock
Due: eslint --fix, prettier --write

drop customer success
  src/components/Support/index.tsx
Due: none

write exp sharing using auto push by default
  content/docs/start/experiments/experiment-tracking.md
  content/docs/user-guide/experiment-management/sharing-experiments.md
Due: prettier --write

include dvc add in pipeline setup
  content/docs/start/data-management/data-pipelines.md
Due: prettier --write

include dvc add in pipeline setup (#5136)
  content/docs/start/data-management/data-pipelines.md
Due: prettier --write

feat: integrate form with hubspot
  package.json
  src/components/Support/RequestAQuoteDialog.tsx
  src/components/Support/RequestAQuoteForm.tsx
  src/components/Support/index.tsx
  src/components/Support/utils.tsx
  src/components/base/button.tsx
  src/components/base/dialog.tsx
  src/components/base/input.tsx
  src/components/base/label.tsx
  src/components/base/select.tsx
  src/components/base/textarea.tsx
  src/utils/externalUrls.ts
  tailwind.config.js
  yarn.lock
Due: eslint --fix, prettier --write

add documentation concerning DVClive monitoring system metrics
  content/docs/dvclive/install.md
  content/docs/dvclive/live/index.md
  content/docs/dvclive/monitor_system.md
  content/docs/sidebar.json
Due: prettier --write

add example images and fix typo
  content/docs/dvclive/monitor_system.md
  static/img/dvclive-studio-system-metrics-plots.png
  static/img/dvclive-studio-system-metrics.png
  static/img/dvclive-vscode-system-metrics-plots.png
  static/img/dvclive-vscode-system-metrics.png
Due: prettier --write

Restyled by prettier
  content/docs/dvclive/install.md
  content/docs/dvclive/live/index.md
  content/docs/dvclive/monitor_system.md
Due: prettier --write

fix hlink
  content/docs/dvclive/monitor_system.md
Due: prettier --write

Restyled by prettier
  content/docs/dvclive/monitor_system.md
Due: prettier --write

Update src/components/Support/index.tsx
  src/components/Support/index.tsx
Due: none

feat: add platinum service support page (#5134)
  package.json
  src/components/PromoSection/styles.module.css
  src/components/Support/RequestAQuoteDialog.tsx
  src/components/Support/RequestAQuoteForm.tsx
  src/components/Support/index.tsx
  src/components/Support/styles.module.css
  src/components/Support/utils.tsx
  src/components/base/button.tsx
  src/components/base/dialog.tsx
  src/components/base/input.tsx
  src/components/base/label.tsx
  src/components/base/select.tsx
  src/components/base/textarea.tsx
  src/pages/support.tsx
  src/utils/externalUrls.ts
  src/utils/index.ts
  static/logos/walmart.svg
  tailwind.config.js
  yarn.lock
Due: eslint --fix, prettier --write

remove plots arguments and optional system install
  content/docs/dvclive/install.md
  content/docs/dvclive/monitor_system.md
Due: prettier --write

Use correct link for redirect
  redirects-list.json
Due: prettier --write

update code according to code changes
  content/docs/dvclive/how-it-works.md
  content/docs/dvclive/live/index.md
  content/docs/dvclive/live/monitor_system.md
  content/docs/sidebar.json
Due: prettier --write
