Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Update content/docs/command-reference/metrics/modify.md
  content/docs/command-reference/metrics/modify.md
Due: prettier --write

Remove mailchimp loading code for popup, which seems unused at all
  src/html.js
Due: eslint --fix

Remove mailchimp loading code for popup, which seems unused at all (#1104)
  src/html.js
Due: eslint --fix

cmd ref: metrics index changes to complement #1097
  content/docs/command-reference/metrics/diff.md
  content/docs/command-reference/metrics/index.md
Due: prettier --write

user-guide: include basic usage example per https://github.com/iterative/dvc.org/pull/1096#pullrequestreview-385145099
  content/docs/command-reference/remote/add.md
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

user-guide: clarify benefits to use your own GC project for GDrive remotes per https://github.com/iterative/dvc.org/pull/1096#pullrequestreview-385148729
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/modify.md
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

user-guide: add links between sections in gdrive guide
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

user-guide: make service accounts its own section per https://github.com/iterative/dvc.org/pull/1096#pullrequestreview-385153178
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

download: update to 0.91.3
  src/components/DownloadButton/index.js
Due: eslint --fix

user-guide: some copy edits per https://github.com/iterative/dvc.org/pull/1096#pullrequestreview-385155974
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/modify.md
Due: prettier --write

cmd ref: shorter p about full gdrive guide in remote add/modify, and links from params per https://github.com/iterative/dvc.org/pull/1096#pullrequestreview-385156371 and other review comments
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/modify.md
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

user-guide: move Authorization section under URL format and and term token->verification code for gdrive guide
  content/docs/command-reference/remote/add.md
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

download: update to 0.92.0
  src/components/DownloadButton/index.js
Due: eslint --fix

redirects: setup blog.dvc.org after migration
  redirects-list.json
Due: prettier --write

cmd ref: add mentions among groups of gdrive params in remote modify
  content/docs/command-reference/remote/modify.md
Due: prettier --write

cmd ref: small clarification about git analogy in push per https://github.com/iterative/dvc.org/commit/457cb0ade1eba837f917cda2d5e242d654728461#commitcomment-38217601
  content/docs/command-reference/push.md
Due: prettier --write

Migrate deployment process to s3 from the blog
  .eslintrc.json
  gatsby-config.js
  package.json
  scripts/deploy-with-s3.js
  scripts/s3-utils.js
  src/consts.js
  src/server/config.js
  src/server/index.js
  src/server/middleware/api/comments.js
  src/server/middleware/api/discourse.js
  src/server/middleware/api/github.js
  src/server/middleware/api/index.js
  src/server/middleware/redirects/index.js
  src/server/middleware/serve/index.js
  src/server/middleware/serve/local.js
  src/server/middleware/serve/s3.js
  src/server/utils.js
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Add trailing slash redirect to redirects list
  redirects-list.json
Due: prettier --write

Allow all node versions great or equal than 12.0.0
  package.json
Due: prettier --write

Migrate cloudflare worker redirects to redirects-list.json
  redirects-list.json
  src/server/middleware/redirects/index.js
Due: eslint --fix, prettier --write

Allow second redirect to remove trailing slash. Add tests for new redirects
  src/utils/redirects.test.js
Due: eslint --fix

Exclude redirects-list.json file from links checker
  scripts/link-check-git-diff.sh
Due: none

Add test for redirects from blog.dvc.org
  src/utils/redirects.test.js
Due: eslint --fix

Migrate deployment method from the blog repo (#1105)
  .eslintrc.json
  gatsby-config.js
  package.json
  redirects-list.json
  scripts/deploy-with-s3.js
  scripts/link-check-git-diff.sh
  scripts/s3-utils.js
  src/consts.js
  src/server/config.js
  src/server/index.js
  src/server/middleware/api/comments.js
  src/server/middleware/api/discourse.js
  src/server/middleware/api/github.js
  src/server/middleware/api/index.js
  src/server/middleware/redirects/index.js
  src/server/middleware/serve/index.js
  src/server/middleware/serve/local.js
  src/server/middleware/serve/s3.js
  src/server/utils.js
  src/utils/redirects.test.js
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

gdrive: misc updates and remove plain root URL per https://github.com/iterative/dvc.org/pull/1096#pullrequestreview-386034041
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/modify.md
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

user-guide: more motivation for URL formation section per https://github.com/iterative/dvc.org/pull/1096
  content/docs/command-reference/remote/add.md
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

user-guide: rename URL format section per https://github.com/iterative/dvc.org/pull/1096#pullrequestreview-386035862
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/modify.md
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

user-guide: copy edit per https://github.com/iterative/dvc.org/pull/1096#pullrequestreview-386036473
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

remote add: note about bucket setup for GC storage
  content/docs/command-reference/remote/add.md
Due: prettier --write

remote modify: add separation between regular vs service account gdrive params per https://github.com/iterative/dvc.org/pull/1096#pullrequestreview-385157806 and other comments
  content/docs/command-reference/remote/modify.md
Due: prettier --write

user-guide: note and link to gc project and service account sections of gdrive guide from intro per https://github.com/iterative/dvc.org/pull/1096#pullrequestreview-386038276
  content/docs/command-reference/remote/modify.md
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

user-fuide: merge adding creds section to custom gc section in gdrive g per https://github.com/iterative/dvc.org/pull/1096#pullrequestreview-386041340
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

user-guide: fix bad html in gdrive guide
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

docs: add `--all-commits` for push/pull/status/fetch/metrics show
  content/docs/command-reference/fetch.md
  content/docs/command-reference/metrics/show.md
  content/docs/command-reference/pull.md
  content/docs/command-reference/push.md
  content/docs/command-reference/status.md
Due: prettier --write

docs: add `--all-commits` for push/pull/status/fetch/metrics show (#1107)
  content/docs/command-reference/fetch.md
  content/docs/command-reference/metrics/show.md
  content/docs/command-reference/pull.md
  content/docs/command-reference/push.md
  content/docs/command-reference/status.md
Due: prettier --write

user-guide: add note about changing auth for gdrive remotes
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

gdrive: use folder id instead of root urls more, related changes per https://github.com/iterative/dvc.org/pull/1096#pullrequestreview-386926510
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/modify.md
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

cmd ref: complementary changes for #1107 (--all-commits option)
  content/docs/command-reference/fetch.md
  content/docs/command-reference/gc.md
  content/docs/command-reference/metrics/show.md
  content/docs/command-reference/pull.md
  content/docs/command-reference/push.md
  content/docs/command-reference/status.md
Due: prettier --write

user-guide: define folder id for gdrive remotes
  content/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

After-review changes
  content/docs/command-reference/metrics/add.md
  content/docs/command-reference/metrics/diff.md
  content/docs/command-reference/metrics/modify.md
  content/docs/command-reference/metrics/show.md
Due: prettier --write
