Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

tests: links: treat 429 as success (#1071)
  scripts/link-check.sh
Due: none

cmd-ref: document new gc behavior (#1023)
  content/docs/command-reference/gc.md
Due: prettier --write

api ref: update metrics add and remove descs per https://github.com/iterative/dvc/pull/3471#pullrequestreview-377170844
  content/docs/command-reference/metrics/add.md
  content/docs/command-reference/metrics/remove.md
Due: prettier --write

cmd ref: update remvoe desc. per https://github.com/iterative/dvc/pull/3471#pullrequestreview-377172394
  content/docs/command-reference/remove.md
Due: prettier --write

cmd ref: update root definition per https://github.com/iterative/dvc/pull/3471#pullrequestreview-377173196
  content/docs/command-reference/root.md
Due: prettier --write

cmd ref: imros to gc per https://github.com/iterative/dvc.org/pull/1023#pullrequestreview-377077194
  content/docs/command-reference/gc.md
Due: prettier --write

cmd ref: update gc --all-commits desc per https://github.com/iterative/dvc.org/pull/1023#discussion_r394824277
  content/docs/command-reference/gc.md
Due: prettier --write

redirect: /doc -> /doc/home
  redirects-list.json
Due: prettier --write

term" DVC Tutorials -> Tutorials (reverted) per https://github.com/iterative/dvc.org/pull/1051#pullrequestreview-377309166
  content/docs/tutorials/index.md
  src/components/Community/data.json
Due: prettier --write

tutorials: consolidating agenda, initialize, and configure into get-started index (WIP)
  content/docs/sidebar.json
  content/docs/tutorials/get-started/agenda.md
  content/docs/tutorials/get-started/configure.md
  content/docs/tutorials/get-started/index.md
  content/docs/tutorials/get-started/initialize.md
Due: prettier --write

Add 404 error code for not found page
  middleware/notFound/index.js
Due: eslint --fix

Fix images loaded status checker for the right column in the documentation
  package.json
  src/components/Documentation/RightPanel/index.js
  yarn.lock
Due: eslint --fix, prettier --write

Move images helpers to 'src/utils'. Use these helpers for waiting images load before scroll to anchor after page change. Remove smooth scroll behavior for scroll to top of the page
  src/components/Documentation/RightPanel/index.js
  src/components/Layout/index.js
  src/utils/images.js
Due: eslint --fix

Rename 'property' to 'name' attribute for description and keywords meta tags
  src/components/SEO/index.js
Due: eslint --fix

Remove duplication of modal root node
  src/html.js
Due: eslint --fix

Use 'serve-handler' package for handling trailings slashed in the proper way instead of express.static()
  gatsby-node.js
  middleware/notFound/index.js
  package.json
  server.js
  src/components/DocLayout/SidebarMenu/index.js
  yarn.lock
Due: eslint --fix, prettier --write

Fix caption styles after code blocks in the docs
  src/styles.js
Due: eslint --fix

Remove wrapper for markdown component
  src/components/Documentation/Markdown/index.js
  src/components/Documentation/Markdown/styles.js
Due: eslint --fix

Add compression middleware to server.js
  package.json
  server.js
Due: eslint --fix, prettier --write

Load algolia docsearch asynchronously to increase initial page load performance
  src/components/DocLayout/index.js
  src/components/DocLayout/styles.js
  src/components/SearchForm/index.js
  src/components/SearchForm/styles.js
  src/html.js
  src/utils/resources.js
Due: eslint --fix

Add bundle-analyzer plugin to allow analyze result webpack bundles
  gatsby-config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

Sentry: DVC-ORG-25. Use crossbrowser method of scrolling to necessary position in the element
  src/components/Layout/index.js
Due: eslint --fix

Replace Promise polyfill with more lightweight version
  package.json
  src/components/SearchForm/index.js
  src/html.js
  src/utils/images.js
  src/utils/resources.js
  yarn.lock
Due: eslint --fix, prettier --write

Sentry: DVC-ORG-27. Add polyfill for fetch (for IE 11)
  src/html.js
Due: eslint --fix

Allow to set empty slug in sidebar.json
  src/utils/sidebar.js
Due: eslint --fix

home: put it in /doc directly to close #1073
  content/docs/sidebar.json
  redirects-list.json
Due: prettier --write

Update license in the package.json
  package.json
Due: prettier --write

[WIP] Gatsby migration fixes (#1068)
  gatsby-config.js
  gatsby-node.js
  middleware/notFound/index.js
  package.json
  server.js
  src/components/DocLayout/SidebarMenu/index.js
  src/components/DocLayout/index.js
  src/components/DocLayout/styles.js
  src/components/Documentation/Markdown/index.js
  src/components/Documentation/Markdown/styles.js
  src/components/Documentation/RightPanel/index.js
  src/components/Layout/index.js
  src/components/SEO/index.js
  src/components/SearchForm/index.js
  src/components/SearchForm/styles.js
  src/html.js
  src/styles.js
  src/utils/images.js
  src/utils/resources.js
  yarn.lock
Due: eslint --fix, prettier --write

tests: links: add missing & sort
  scripts/exclude-links.txt
Due: none

tests: links: exclude exclusions on diff
  scripts/link-check-git-diff.sh
Due: none

minor lint
  scripts/link-check-git-all.sh
  scripts/link-check.sh
Due: none

tests: links: add missing & sort (#1076)
  scripts/exclude-links.txt
  scripts/link-check-git-all.sh
  scripts/link-check-git-diff.sh
  scripts/link-check.sh
Due: none

tests: links: exit 0 on empty diffs
  scripts/link-check-git-diff.sh
Due: none

fix again
  scripts/link-check-git-diff.sh
Due: none

tests: links: exit 0 on empty diffs (#1077)
  scripts/link-check-git-diff.sh
Due: none

user-guide: update note about node version for devs closes #1078
  content/docs/user-guide/contributing/docs.md
Due: prettier --write

user guide: rec Windows Terminal instead of Cmder
  content/docs/user-guide/running-dvc-on-windows.md
Due: prettier --write

Return back old style of quotes. Add margins to lists as it was previously
  gatsby-config.js
  src/components/Documentation/Markdown/styles.js
Due: eslint --fix

Return back old style of quotes. Add margins to lists as it was previously (#1080)
  gatsby-config.js
  src/components/Documentation/Markdown/styles.js
Due: eslint --fix

get-started: restore index in nav (bad recent merge)
  content/docs/sidebar.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
