Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Tweak lint-staged config and make restyled config based from it
  .restyled.yaml
  lint-staged.config.js
Due: eslint --fix

Remove commented out steps
  .github/workflows/lint-and-test.yml
Due: none

Remove unusable linters from restyled
  .restyled.yaml
Due: none

Try experimental lint-staged based config
  .github/workflows/lint-and-test.yml
Due: none

test broken formatting commit
  README.md
Due: prettier --write

add --no-verify to stop infinite loop
  .github/workflows/lint-and-test.yml
Due: none

Use push snippet from official checkout action docs
  .github/workflows/lint-and-test.yml
Due: none

Use PR ref on checkout
  .github/workflows/lint-and-test.yml
Due: none

Try checking out both branches
  .github/workflows/lint-and-test.yml
Due: none

Check out head ref
  .github/workflows/lint-and-test.yml
Due: none

Add ref checkout
  .github/workflows/lint-and-test.yml
Due: none

Try using git fetch
  .github/workflows/lint-and-test.yml
Due: none

Fetch both branches
  .github/workflows/lint-and-test.yml
Due: none

Give up and use fetch-depth: 0
  .github/workflows/lint-and-test.yml
Due: none

Try two-branch depth=0
  .github/workflows/lint-and-test.yml
Due: none

Tweak checkout and remove restyled for minimal testing
  .github/workflows/lint-and-test.yml
  .restyled.yaml
Due: none

checkout head ref, fetch main
  .github/workflows/lint-and-test.yml
Due: none

Restyled by clang-format
  lint-staged.config.js
Due: eslint --fix

Restyled by prettier
  lint-staged.config.js
Due: eslint --fix

Restyled by prettier-markdown
  README.md
Due: prettier --write

Quicker test
  .github/workflows/lint-and-test.yml
Due: none

Try reset --hard
  .github/workflows/lint-and-test.yml
Due: none

Use unshallow pull
  .github/workflows/lint-and-test.yml
Due: none

Re-add rest of the CI now that diffs work
  .github/workflows/lint-and-test.yml
Due: none

Create restyled-like feature that automatically pushes fixed files
  .github/workflows/lint-and-test.yml
  .restyled.yaml
Due: none

Pass when no changes are needed
  .github/workflows/lint-and-test.yml
Due: none

Deliberately break whitespace rules
  content/docs/contributing/blog.md
Due: prettier --write

Restyled by prettier-markdown
  content/docs/contributing/blog.md
Due: prettier --write

Fix unlinted files
  content/docs/contributing/blog.md
Due: prettier --write

deliberately break ts formatting
  plugins/landing-page/gatsby-node.ts
Due: none

Re-add -q
  .github/workflows/lint-and-test.yml
Due: none

Remove fetch-depth
  .github/workflows/lint-and-test.yml
Due: none

Add yaml to prettier script
  package.json
Due: prettier --write

Run fix-all on yml
  .github/workflows/link-check-deploy.yml
  content/data/home.yml
Due: none

Add explicit prettier config argument to restyled
  .restyled.yaml
Due: none
