Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Overhaul how GitHub stars are handled (#1363)
  gatsby-config.js
  package.json
  scripts/deploy-with-s3.js
  scripts/exclude-links.txt
  scripts/s3-utils.js
  src/components/Home/LandingHero/GithubLine/index.tsx
  src/gatsby/hooks/stars.ts
  src/gatsby/models.js
  src/gatsby/models/authors/onCreateMarkdownContentNode.js
  src/gatsby/models/github/index.js
  src/server/index.js
  src/server/middleware/api/github.js
  src/server/middleware/api/index.js
  src/utils/front/api.ts
  yarn.lock
Due: eslint --fix, prettier --write

dvc remove question
  content/blog/2020-05-26-may-20-community-gems.md
Due: prettier --write

Restyled by prettier
  content/blog/2020-05-26-may-20-community-gems.md
Due: prettier --write

fix answer
  content/blog/2020-05-26-may-20-community-gems.md
Due: prettier --write

blog: May gems (#1361)
  content/blog/2020-05-26-may-20-community-gems.md
  static/uploads/images/2020-05-26/May_20_Gems_Header.png
  static/uploads/images/2020-05-26/data-registry.png
Due: prettier --write

get-started: more simplifications to the middle GS pages
  content/docs/tutorials/get-started/data-pipelines.md
  content/docs/tutorials/get-started/data-versioning.md
  content/docs/user-guide/basic-concepts/data-artifact.md
Due: prettier --write

Add example content to work off of
  content/authors/dmitry_petrov.md
Due: prettier --write

Enable viewboxes in SVGR components
  gatsby-config.js
Due: eslint --fix

Make Twitter icon color-neutral
  src/components/HamburgerMenu/index.tsx
  src/components/HamburgerMenu/styles.module.css
  static/img/community/icon-twitter.svg
Due: none

Overhaul Author Link schema
  src/gatsby/models/authors/createSchemaCustomization.js
  src/gatsby/models/authors/onCreateMarkdownContentNode.js
Due: eslint --fix

Adapt FeedMeta to links and add a SocialIcon component
  src/components/Blog/Feed/Item/index.tsx
  src/components/Blog/FeedMeta/index.tsx
  src/components/Blog/FeedMeta/styles.module.css
  src/components/Blog/Post/index.tsx
  src/components/SocialIcon/index.tsx
  src/components/SocialIcon/linkedin.svg
  src/templates/blog-post.tsx
Due: none

get-started: address quick parts of Ivan's latest feedback, and complete Experiments page
  content/docs/tutorials/get-started/data-versioning.md
  content/docs/tutorials/get-started/experiments.md
Due: prettier --write

cmd ref: copy edits and more relevant updates to metrics for DVC 1.0 release, as well as other related cmd refs
  content/docs/command-reference/metrics/diff.md
  content/docs/command-reference/metrics/index.md
  content/docs/command-reference/metrics/show.md
  content/docs/command-reference/params/index.md
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/default.md
  content/docs/command-reference/remote/list.md
  content/docs/command-reference/remote/modify.md
  content/docs/command-reference/remote/remove.md
  content/docs/command-reference/remote/rename.md
Due: prettier --write

cmd ref: update plot similarly to previous commit for metrics
  content/docs/command-reference/plots/index.md
  content/docs/command-reference/plots/show.md
Due: prettier --write

Fix merge of new Author schema and add social icons to author pages
  src/components/Blog/Author/index.tsx
  src/components/Blog/Author/styles.module.css
  src/components/Blog/Feed/Item/index.tsx
  src/components/Blog/FeedMeta/index.tsx
  src/components/Blog/Post/index.tsx
  src/components/SocialIcon/index.tsx
  src/components/SocialIcon/styles.module.css
  src/templates/blog-author.tsx
  src/templates/blog-post.tsx
Due: none

cmd ref: more updates to metrics subcommands for 1.0 release... WIP
  content/docs/command-reference/metrics/diff.md
  content/docs/command-reference/metrics/index.md
  content/docs/command-reference/metrics/show.md
Due: prettier --write

Fix TS issues
  src/components/SocialIcon/index.tsx
Due: none

Update content/docs/command-reference/pull.md
  content/docs/command-reference/pull.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/pull.md
Due: prettier --write

Added reference for Dvcignore
  content/docs/command-reference/move.md
Due: prettier --write

block quote edit
  content/docs/command-reference/pull.md
  et --hard HEAD~1
Due: prettier --write

Delete et --hard HEAD~1
  et --hard HEAD~1
Due: none

Fixed issue 857
  src/components/SEO/index.tsx
Due: none

cmd ref: remove deprecated metrics subcommands from nav
  content/docs/sidebar.json
Due: prettier --write

cmd ref: update all metrics ref examples
  content/docs/command-reference/metrics/diff.md
  content/docs/command-reference/metrics/index.md
  content/docs/command-reference/metrics/show.md
Due: prettier --write

cmd ref: more updates to metrics and plots
  content/docs/command-reference/metrics/diff.md
  content/docs/command-reference/metrics/index.md
  content/docs/command-reference/metrics/show.md
  content/docs/command-reference/plots/diff.md
  content/docs/command-reference/plots/index.md
  content/docs/command-reference/plots/show.md
  static/img/plots_diff_workspace.svg
Due: prettier --write

Improve TS fix and move SocialIcon SVGs
  src/components/HamburgerMenu/index.tsx
  src/components/SocialIcon/github.svg
  src/components/SocialIcon/index.tsx
  src/components/SocialIcon/twitter.svg
Due: none

Revert "cmd ref: import - support for non-DVC repos"
  content/docs/command-reference/import.md
Due: prettier --write

Reverting commit - I
  content/docs/user-guide/api-reference/get_url.md
Due: prettier --write

Revert "Reverting commit - I"
  content/docs/user-guide/api-reference/get_url.md
Due: prettier --write

Author name clickable from Blog Home
  src/components/Blog/Feed/Item/index.tsx
Due: none

Remake string link processors
  src/gatsby/models/authors/onCreateMarkdownContentNode.js
  src/gatsby/models/authors/parse-link.js
  src/gatsby/models/authors/parse-link.test.js
  src/gatsby/models/authors/string-link-processor-utils.js
  src/gatsby/models/authors/string-link-processor.js
Due: eslint --fix
