Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

dvc 3.60.0
  src/components/DownloadButton/index.tsx
Due: none

docs(dvclive/xgboost): corrects code example
  content/docs/dvclive/ml-frameworks/xgboost.md
Due: prettier --write

docs(dvclive/xgboost): corrects code example (#5414)
  content/docs/dvclive/ml-frameworks/xgboost.md
Due: prettier --write

dvc 3.60.1
  src/components/DownloadButton/index.tsx
Due: none

Update experiment-pipelines.md
  content/docs/start/experiments/experiment-pipelines.md
Due: prettier --write

remove sales team link from docs
  content/docs/studio/self-hosting/installation/index.md
Due: prettier --write

remove sales team link from docs (#5417)
  content/docs/studio/self-hosting/installation/index.md
Due: prettier --write

site: allow hubspot.com to be loaded in an iframe
  packages/websites-server/src/index.js
Due: eslint --fix

site: allow hubspot.com to be loaded in an iframe (#5418)
  packages/websites-server/src/index.js
Due: eslint --fix

add a way to invalidate cloudfront cache
  packages/websites-server/package.json
  packages/websites-server/scripts/clear-cloudfront-cache.js
  packages/websites-server/scripts/deploy-with-s3.js
  yarn.lock
Due: eslint --fix, prettier --write

add a way to invalidate cloudfront cache (#5419)
  packages/websites-server/package.json
  packages/websites-server/scripts/clear-cloudfront-cache.js
  packages/websites-server/scripts/deploy-with-s3.js
  yarn.lock
Due: eslint --fix, prettier --write

dvc null
  src/components/DownloadButton/index.tsx
Due: none

add hubspot email subscription form
  src/components/SubscribeSection/Form/hubspot.css
  src/components/SubscribeSection/Form/index.tsx
  src/components/SubscribeSection/Form/styles.module.css
Due: none

add hubspot form to formAction
  config/link-check/excluded-links.yml
  packages/websites-server/src/index.js
Due: eslint --fix

add hsforms to the CSP
  packages/websites-server/src/index.js
Due: eslint --fix

useEffect
  src/components/SubscribeSection/Form/index.tsx
Due: none

add hubspot email subscription form (#5424)
  config/link-check/excluded-links.yml
  packages/websites-server/src/index.js
  src/components/SubscribeSection/Form/hubspot.css
  src/components/SubscribeSection/Form/index.tsx
  src/components/SubscribeSection/Form/styles.module.css
Due: eslint --fix

catch potential error in hbspt.forms.create
  src/components/SubscribeSection/Form/index.tsx
Due: none

use dynamically generated css and remove flickering by using onBeforeFormInit callback.
  src/components/SubscribeSection/Form/index.tsx
  src/components/SubscribeSection/Form/styles.module.css
Due: none

update .dvc/config
  .dvc/config
Due: none

dvc 3.61.0
  src/components/DownloadButton/index.tsx
Due: none

use downloads.dvc.org
  redirects-list.json
Due: prettier --write

fix tests
  packages/gatsby-theme/src/utils/shared/redirects.test.js
Due: eslint --fix

prettier
  content/blogs/2017-07-27-data-version-control-in-analytics-devops-paradigm.md
  content/blogs/2020-04-30-gsod-ideas-2020.md
  content/blogs/2023-03-20-automate-your-ml-pipeline-combining-airflow-dvc-and-cml-for-a-seamless-batch-scoring-experience.md
  content/docs/command-reference/repro.md
  content/docs/command-reference/stage/list.md
  content/docs/command-reference/status.md
  content/docs/command-reference/version.md
  content/docs/dvclive/live/log_sklearn_plot.md
  content/docs/dvclive/ml-frameworks/pytorch-lightning.md
  content/docs/studio/self-hosting/configuration/git-forges/github.md
  content/docs/studio/self-hosting/configuration/git-forges/gitlab.md
  content/docs/studio/self-hosting/installation/aws-ami.md
  content/docs/studio/user-guide/experiments/explore-ml-experiments.md
  content/docs/studio/user-guide/model-registry/add-a-model.md
  content/docs/studio/user-guide/model-registry/assign-stage.md
  content/docs/studio/user-guide/model-registry/register-version.md
  content/docs/studio/user-guide/single-sign-on.md
  content/docs/user-guide/data-management/remote-storage/google-drive.md
  content/docs/user-guide/data-management/remote-storage/http.md
  content/docs/user-guide/data-management/remote-storage/webdav.md
  content/docs/user-guide/index.md
Due: prettier --write

drop DVCORG_AWS envvars
  packages/websites-server/scripts/clear-cloudfront-cache.js
Due: eslint --fix

remove unneeded operator foranyvalue (#5408)
  content/docs/studio/user-guide/openid-connect.md
Due: prettier --write

docs: document new --hide-workspace flag
  content/docs/command-reference/exp/show.md
Due: prettier --write

move script to the root of the repo
  package.json
  packages/websites-server/package.json
  packages/websites-server/scripts/clear-cloudflare-cache.js
  packages/websites-server/scripts/heroku-deploy.sh
  scripts/clear-cloudfront-cache.js
  scripts/deploy-with-s3.js
  scripts/heroku-deploy.sh
  scripts/s3-utils.js
  yarn.lock
Due: eslint --fix, prettier --write

move script to the root of the repo (#5428)
  package.json
  packages/websites-server/package.json
  packages/websites-server/scripts/clear-cloudflare-cache.js
  packages/websites-server/scripts/heroku-deploy.sh
  scripts/clear-cloudfront-cache.js
  scripts/deploy-with-s3.js
  scripts/heroku-deploy.sh
  scripts/s3-utils.js
  yarn.lock
Due: eslint --fix, prettier --write

move websites-server to src/server
  gatsby-config.js
  nodemon.json
  package.json
  packages/websites-server/README.md
  packages/websites-server/nodemon.json
  packages/websites-server/package.json
  packages/websites-server/server.js
  packages/websites-server/src/index.js
  scripts/deploy-with-s3.js
  scripts/s3-utils.js
  src/gatsby/models/github/index.js
  src/server.js
  src/server/config.js
  src/server/index.js
  src/server/instrument.js
  src/server/middleware/api/comments.js
  src/server/middleware/api/discourse.js
  src/server/middleware/api/github.js
  src/server/middleware/api/index.js
  src/server/middleware/api/subscribe.js
  src/server/middleware/redirects/index.js
  src/server/middleware/serve/index.js
  src/server/middleware/serve/local.js
  src/server/middleware/serve/s3.js
  src/server/utils.js
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

move websites-server to src/server (#5429)
  gatsby-config.js
  nodemon.json
  package.json
  packages/websites-server/README.md
  packages/websites-server/nodemon.json
  packages/websites-server/package.json
  packages/websites-server/server.js
  packages/websites-server/src/index.js
  scripts/deploy-with-s3.js
  scripts/s3-utils.js
  src/gatsby/models/github/index.js
  src/server.js
  src/server/config.js
  src/server/index.js
  src/server/instrument.js
  src/server/middleware/api/comments.js
  src/server/middleware/api/discourse.js
  src/server/middleware/api/github.js
  src/server/middleware/api/index.js
  src/server/middleware/api/subscribe.js
  src/server/middleware/redirects/index.js
  src/server/middleware/serve/index.js
  src/server/middleware/serve/local.js
  src/server/middleware/serve/s3.js
  src/server/utils.js
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Fix typo in pull.md
  content/docs/command-reference/exp/pull.md
Due: prettier --write

Fix typo in pull.md (#5431)
  content/docs/command-reference/exp/pull.md
Due: prettier --write

reorder Windows installation commands
  content/docs/command-reference/exp/pull.md
  content/docs/install/windows.md
Due: prettier --write

fixed SHH -> SSH typo
  content/docs/user-guide/project-structure/configuration.md
Due: prettier --write

fixed SHH -> SSH typo (#5432)
  content/docs/user-guide/project-structure/configuration.md
Due: prettier --write

api: remove /dvcx/waitlist
  src/server/middleware/api/index.js
  src/server/middleware/api/subscribe.js
Due: eslint --fix

api: remove /dvcx/waitlist (#5435)
  src/server/middleware/api/index.js
  src/server/middleware/api/subscribe.js
Due: eslint --fix

send error to sentry if no hubspot form is created
  src/components/SubscribeSection/Form/index.tsx
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
