Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

dummy edit
  content/blog/2021-10-05-adding-data-to-build-a-more-generic-model.md
Due: prettier --write

Remove USE_PRODUCTION_CACHE flag
  scripts/deploy-with-s3.js
Due: eslint --fix

Update some more packages and try container stack
  app.json
  package.json
  yarn.lock
Due: prettier --write

experiments: hide long-form name for `dvc exp` cmd.
  config/prismjs/dvc-commands.js
  content/docs/api-reference/make_checkpoint.md
  content/docs/command-reference/exp/diff.md
  content/docs/command-reference/exp/gc.md
  content/docs/command-reference/exp/index.md
  content/docs/command-reference/exp/list.md
  content/docs/command-reference/exp/pull.md
  content/docs/command-reference/exp/push.md
  content/docs/command-reference/exp/remove.md
  content/docs/command-reference/exp/run.md
  content/docs/command-reference/exp/show.md
  content/docs/command-reference/gc.md
  content/docs/start/experiments.md
  content/docs/user-guide/basic-concepts/experiment.md
  content/docs/user-guide/experiment-management/checkpoints.md
  content/docs/user-guide/experiment-management/running-experiments.md
Due: eslint --fix, prettier --write

ref: experiments->exp in nav
  content/docs/sidebar.json
Due: prettier --write

Update pipelines-files.md
  content/docs/user-guide/project-structure/pipelines-files.md
Due: prettier --write

Restyled by prettier
  content/docs/user-guide/project-structure/pipelines-files.md
Due: prettier --write

Update content/docs/dvclive/api-reference/live.md
  content/docs/dvclive/api-reference/live.md
Due: prettier --write

Restyled by prettier
  content/docs/dvclive/api-reference/live.md
Due: prettier --write

Update some other packages to trigger a cache clear
  package.json
  yarn.lock
Due: prettier --write

finished last QA
  content/blog/2021-10-26-october-21-community-gems.md
Due: prettier --write

Revert stack change attempt, async setPageContext, remove Aptfile
  Aptfile
  app.json
  src/gatsby/common.js
Due: eslint --fix, prettier --write

Upgrade CircleCI node and un-refactor glossary query
  .circleci/config.yml
  src/utils/front/glossary.ts
Due: none

Move methods to Live subfolder
  content/docs/dvclive/api-reference/get_step.md
  content/docs/dvclive/api-reference/index.md
  content/docs/dvclive/api-reference/live.md
  content/docs/dvclive/api-reference/live/get_step.md
  content/docs/dvclive/api-reference/live/index.md
  content/docs/dvclive/api-reference/live/log.md
  content/docs/dvclive/api-reference/live/next_step.md
  content/docs/dvclive/api-reference/live/set_step.md
  content/docs/dvclive/dvclive-with-dvc.md
  content/docs/dvclive/get-started.md
  content/docs/dvclive/ml-frameworks/pytorch.md
  content/docs/dvclive/ml-frameworks/tensorflow.md
  content/docs/sidebar.json
  plugins/gatsby-remark-dvc-linker/index.test.js
  plugins/gatsby-remark-dvc-linker/liveLinker.js
Due: eslint --fix, prettier --write

Fixed links
  content/docs/dvclive/api-reference/live/next_step.md
Due: prettier --write

experiments: hide long-form name for `dvc exp` cmd. (#2901)
  config/prismjs/dvc-commands.js
  content/docs/api-reference/make_checkpoint.md
  content/docs/command-reference/exp/diff.md
  content/docs/command-reference/exp/gc.md
  content/docs/command-reference/exp/index.md
  content/docs/command-reference/exp/list.md
  content/docs/command-reference/exp/pull.md
  content/docs/command-reference/exp/push.md
  content/docs/command-reference/exp/remove.md
  content/docs/command-reference/exp/run.md
  content/docs/command-reference/exp/show.md
  content/docs/command-reference/gc.md
  content/docs/sidebar.json
  content/docs/start/experiments.md
  content/docs/user-guide/basic-concepts/experiment.md
  content/docs/user-guide/experiment-management/checkpoints.md
  content/docs/user-guide/experiment-management/running-experiments.md
Due: eslint --fix, prettier --write

cases: simplify lang. per https://github.com/iterative/dvc.org/pull/2782#pullrequestreview-773274621
  content/docs/use-cases/experiment-bookkeeping.md
Due: prettier --write

Shouldn't this action be followed with dvc push?
  content/docs/user-guide/how-to/update-tracked-data.md
Due: prettier --write

ref: add missing exp subcommands for lang highlighter per https://github.com/iterative/dvc.org/pull/2901#pullrequestreview-773554412
  config/prismjs/dvc-commands.js
Due: eslint --fix

some suggestions of Ivan applied.
  content/docs/start/experiments.md
Due: prettier --write

Update pipelines-files.md (#2902)
  content/docs/user-guide/project-structure/pipelines-files.md
Due: prettier --write

Removed old example repo
  content/docs/dvclive/dvclive-with-dvc.md
Due: prettier --write

Removed "the functions in"
  content/docs/dvclive/api-reference/index.md
Due: prettier --write

Update content/docs/dvclive/api-reference/live/index.md
  content/docs/dvclive/api-reference/live/index.md
Due: prettier --write

Removed step
  content/docs/dvclive/api-reference/live/index.md
Due: prettier --write

Update config/prismjs/dvc-commands.js
  config/prismjs/dvc-commands.js
Due: eslint --fix

ref: add missing exp subcommands for lang highlighter (#2906)
  config/prismjs/dvc-commands.js
Due: eslint --fix

ref: fix exp sidebar label per https://github.com/iterative/dvc.org/pull/2906#issuecomment-938757803
  content/docs/sidebar.json
Due: prettier --write

Resolve ts-lint issues
  package.json
  src/components/Blog/Post/HeroPic/index.tsx
  src/components/Blog/Post/index.tsx
  src/components/Community/Learn/index.tsx
  src/components/Documentation/Layout/SearchForm/index.tsx
  src/components/Documentation/Markdown/index.tsx
  src/components/Documentation/WithJSX/AutoLinkElement/index.tsx
  src/components/Documentation/index.tsx
  src/components/Link/index.tsx
  src/components/SEO/index.tsx
  src/html.tsx
  src/pages/enterprise.tsx
  src/queries/posts.ts
  src/templates/blog-post.tsx
  src/typings.ts
  src/utils/front/resources.ts
  yarn.lock
Due: prettier --write

ref: fix exp sidebar label (#2907)
  content/docs/sidebar.json
Due: prettier --write

Prettier on content/docs/user-guide/contributing/blog.md
  content/docs/user-guide/contributing/blog.md
Due: prettier --write

guide: roll back wrong files
  content/docs/sidebar.json
  content/docs/user-guide/basic-concepts/experiment.md
  content/docs/user-guide/experiment-management/checkpoints.md
  content/docs/user-guide/experiment-management/dvc-experiments.md
Due: prettier --write

guide: roll back Exp Mgmt index...
  content/docs/user-guide/experiment-management/index.md
Due: prettier --write

guide: link to Sharing Exps from index
  content/docs/user-guide/experiment-management/index.md
Due: prettier --write

guide: add DVC Experiments page and links + some copy edits
  content/docs/api-reference/make_checkpoint.md
  content/docs/command-reference/exp/apply.md
  content/docs/command-reference/exp/branch.md
  content/docs/command-reference/exp/run.md
  content/docs/sidebar.json
  content/docs/user-guide/experiment-management/cleaning-experiments.md
  content/docs/user-guide/experiment-management/dvc-experiments.md
  content/docs/user-guide/experiment-management/index.md
  content/docs/user-guide/experiment-management/running-experiments.md
Due: prettier --write

guide: Listing exps on remotes per https://github.com/iterative/dvc.org/pull/2908#pullrequestreview-775502448
  content/docs/user-guide/experiment-management/sharing-experiments.md
Due: prettier --write

guide: don't mention Git here... per https://github.com/iterative/dvc.org/pull/2908#pullrequestreview-775506755
  content/docs/user-guide/experiment-management/index.md
Due: prettier --write

guide: clarify that git is needed for exps and sharing per https://github.com/iterative/dvc.org/pull/2908#pullrequestreview-775506990
  content/docs/user-guide/experiment-management/index.md
  content/docs/user-guide/experiment-management/sharing-experiments.md
Due: prettier --write

guide: remove checkpoint related changes
  content/docs/api-reference/make_checkpoint.md
  content/docs/sidebar.json
Due: prettier --write
