Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix feed titles (mostly) (#1181)
  gatsby-config.js
Due: eslint --fix

get started: complete params section back in experiments page
  content/docs/tutorials/get-started/data-pipelines.md
  content/docs/tutorials/get-started/experiments.md
Due: prettier --write

get started: misc. small fixes
  content/docs/tutorials/get-started/data-pipelines.md
  content/docs/tutorials/get-started/experiments.md
Due: prettier --write

init: clarify that .dvc is added to Git automatically
  content/docs/command-reference/init.md
  content/docs/tutorials/deep/preparation.md
  content/docs/tutorials/pipelines.md
  content/docs/use-cases/versioning-data-and-model-files.md
Due: prettier --write

get started: simplify index, et al.
  content/docs/tutorials/get-started/data-pipelines.md
  content/docs/tutorials/get-started/data-versioning.md
  content/docs/tutorials/get-started/experiments.md
  content/docs/tutorials/get-started/index.md
Due: prettier --write

get started: simplify through data-versioning#configure-remote-storage
  content/docs/command-reference/remote/index.md
  content/docs/command-reference/remote/list.md
  content/docs/command-reference/remote/modify.md
  content/docs/tutorials/get-started/data-pipelines.md
  content/docs/tutorials/get-started/data-versioning.md
  content/docs/tutorials/get-started/experiments.md
  content/docs/tutorials/pipelines.md
  content/docs/tutorials/versioning.md
  content/docs/understanding-dvc/related-technologies.md
  content/docs/user-guide/large-dataset-optimization.md
Due: prettier --write

cmd ref: rewrite list and root rel=https://github.com/iterative/dvc/issues/3590#issuecomment-618372548
  content/docs/command-reference/get.md
  content/docs/command-reference/import.md
  content/docs/command-reference/list.md
  content/docs/command-reference/root.md
Due: prettier --write

Add aria-label props to improve SEO
  src/components/HamburgerMenu/index.tsx
  src/components/LayoutHeader/index.tsx
Due: none

log pages
  package.json
Due: prettier --write

Remove NM cache heroku test
  package.json
Due: prettier --write

get started: simplify complete data-versioning page
  content/docs/command-reference/diff.md
  content/docs/command-reference/get.md
  content/docs/glossary.js
  content/docs/tutorials/get-started/data-pipelines.md
  content/docs/tutorials/get-started/data-versioning.md
  content/docs/tutorials/pipelines.md
  content/docs/tutorials/versioning.md
Due: eslint --fix, prettier --write

get started: simplify complete data-versioning page (2)
  content/docs/command-reference/import.md
  content/docs/tutorials/get-started/data-versioning.md
  content/docs/use-cases/data-registries.md
Due: prettier --write

get started: update metrics examples to use JSON
  content/docs/tutorials/get-started/data-pipelines.md
  content/docs/tutorials/get-started/data-versioning.md
  content/docs/tutorials/get-started/experiments.md
Due: prettier --write

get started: more simplification and improvements up to data-pipelines#stages
  content/docs/command-reference/get.md
  content/docs/tutorials/deep/preparation.md
  content/docs/tutorials/get-started/data-pipelines.md
  content/docs/tutorials/get-started/data-versioning.md
  content/docs/tutorials/get-started/experiments.md
  content/docs/tutorials/get-started/index.md
  content/docs/tutorials/pipelines.md
  content/docs/tutorials/versioning.md
Due: prettier --write

blog: fix a broken link
  content/blog/2020-01-17-january-20-dvc-heartbeat.md
Due: prettier --write

fonts: update files to support eastern eur languages
  src/components/Page/fonts/brandon_bld.woff
  src/components/Page/fonts/brandon_bld.woff2
  src/components/Page/fonts/brandon_bld_it.woff
  src/components/Page/fonts/brandon_bld_it.woff2
  src/components/Page/fonts/brandon_blk.woff
  src/components/Page/fonts/brandon_blk.woff2
  src/components/Page/fonts/brandon_blk_it.woff
  src/components/Page/fonts/brandon_blk_it.woff2
  src/components/Page/fonts/brandon_light.woff
  src/components/Page/fonts/brandon_light.woff2
  src/components/Page/fonts/brandon_light_it.woff
  src/components/Page/fonts/brandon_light_it.woff2
  src/components/Page/fonts/brandon_med.woff
  src/components/Page/fonts/brandon_med.woff2
  src/components/Page/fonts/brandon_med_it.woff
  src/components/Page/fonts/brandon_med_it.woff2
  src/components/Page/fonts/brandon_reg.woff
  src/components/Page/fonts/brandon_reg.woff2
  src/components/Page/fonts/brandon_reg_it.woff
  src/components/Page/fonts/brandon_reg_it.woff2
  src/components/Page/fonts/brandon_thin.woff
  src/components/Page/fonts/brandon_thin.woff2
  src/components/Page/fonts/brandon_thin_it.woff
  src/components/Page/fonts/brandon_thin_it.woff2
Due: none

test: link-check: fix git diff multi-errors
  scripts/link-check.sh
Due: none

test: fix link-check diffs
  scripts/link-check-git-diff.sh
Due: none

test: link-check: misc tidy
  scripts/link-check-git-all.sh
Due: none

test: link-check: more path safety and comments
  scripts/link-check-git-all.sh
  scripts/link-check-git-diff.sh
  scripts/link-check.sh
Due: none

test: link-check: use git pathspec exclusions
  scripts/link-check-git-diff.sh
Due: none

test: link-check: diff: whitelist rather than blacklist
  scripts/link-check-git-diff.sh
Due: none

test: link-check: fix file paths, add comments
  scripts/link-check-git-diff.sh
  scripts/link-check.sh
Due: none

test: link-check: fix mac sed
  scripts/link-check.sh
Due: none

link-check: add more file extensions
  scripts/link-check-git-all.sh
  scripts/link-check-git-diff.sh
Due: none

link-check: add and sort exclusions
  scripts/exclude-links.txt
Due: none

link-check: add *.css
  scripts/link-check-git-all.sh
  scripts/link-check-git-diff.sh
Due: none

link-check: re-exclude redirects-list.json
  scripts/link-check-git-diff.sh
Due: none

Accessibility: have focus styles without having them too for those who don't use keyboards.
  config/postcss/mixins.js
  src/components/Blog/Feed/Item/styles.module.css
  src/components/Blog/Post/Markdown/styles.module.css
  src/components/Blog/Post/Share/styles.module.css
  src/components/Community/styles.module.css
  src/components/Documentation/Layout/SidebarMenu/index.tsx
  src/components/Documentation/RightPanel/index.tsx
  src/components/Documentation/styles.module.css
  src/components/DownloadButton/index.tsx
  src/components/Home/LandingHero/index.tsx
  src/components/Home/LearnMore/index.tsx
  src/components/LayoutHeader/Nav/index.tsx
  src/components/LayoutHeader/Nav/styles.module.css
  src/components/MainLayout/index.tsx
  src/components/Page/base.css
  src/components/Paginator/index.tsx
  src/components/PromoSection/styles.module.css
  src/components/PseudoButton/styles.module.css
  src/components/SubscribeSection/Form/index.tsx
  src/components/SubscribeSection/Form/styles.module.css
  src/components/Support/styles.module.css
  src/utils/front/accessibility.ts
Due: eslint --fix

Accessibility: have focus styles without having them too for those who don't use keyboards. (#1153)
  config/postcss/mixins.js
  src/components/Blog/Feed/Item/styles.module.css
  src/components/Blog/Post/Markdown/styles.module.css
  src/components/Blog/Post/Share/styles.module.css
  src/components/Community/styles.module.css
  src/components/Documentation/Layout/SidebarMenu/index.tsx
  src/components/Documentation/RightPanel/index.tsx
  src/components/Documentation/styles.module.css
  src/components/DownloadButton/index.tsx
  src/components/Home/LandingHero/index.tsx
  src/components/Home/LearnMore/index.tsx
  src/components/LayoutHeader/Nav/index.tsx
  src/components/LayoutHeader/Nav/styles.module.css
  src/components/MainLayout/index.tsx
  src/components/Page/base.css
  src/components/Paginator/index.tsx
  src/components/PromoSection/styles.module.css
  src/components/PseudoButton/styles.module.css
  src/components/SubscribeSection/Form/index.tsx
  src/components/SubscribeSection/Form/styles.module.css
  src/components/Support/styles.module.css
  src/utils/front/accessibility.ts
Due: eslint --fix

get started: chnges to GS intro per private feedback
  content/docs/tutorials/get-started/data-pipelines.md
  content/docs/tutorials/get-started/data-versioning.md
  content/docs/tutorials/get-started/experiments.md
  content/docs/tutorials/get-started/index.md
Due: prettier --write

get started: jump right into action in data-versioning, et al. per https://iterativeai.slack.com/archives/DLW4G0F7W/p1587838608016000
  content/docs/tutorials/get-started/data-pipelines.md
  content/docs/tutorials/get-started/data-versioning.md
  content/docs/tutorials/get-started/experiments.md
  content/docs/tutorials/get-started/index.md
Due: prettier --write

plot: index
  config/prismjs/dvc-commands.js
  content/docs/command-reference/plot/diff.md
  content/docs/command-reference/plot/index.md
  content/docs/command-reference/plot/show.md
  static/img/plot_auc.svg
  static/img/plot_diff.svg
  static/img/plot_show.svg
  static/img/plot_show_field.svg
Due: eslint --fix, prettier --write

remote WebDav: Add docs
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/modify.md
Due: prettier --write

Restyled by prettier
  content/docs/command-reference/remote/modify.md
Due: prettier --write

test: link-check: misc fixes (#1169)
  scripts/exclude-links.txt
  scripts/link-check-git-all.sh
  scripts/link-check-git-diff.sh
  scripts/link-check.sh
Due: none

link-check: abstract away finder
  scripts/link-check.sh
  scripts/utils.sh
Due: none

link-check: purge unused exclusions
  scripts/exclude-links.txt
Due: none

link-check: add exclude-links-check.sh
  scripts/exclude-links-check.sh
Due: none

test: add link-check-exclude
  .circleci/config.yml
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
