Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Update experiment ames
  content/docs/api-reference/make_checkpoint.md
  content/docs/command-reference/exp/apply.md
  content/docs/command-reference/exp/branch.md
  content/docs/command-reference/exp/diff.md
  content/docs/command-reference/exp/gc.md
  content/docs/command-reference/exp/list.md
  content/docs/command-reference/exp/pull.md
  content/docs/command-reference/exp/push.md
  content/docs/command-reference/exp/remove.md
  content/docs/command-reference/exp/save.md
  content/docs/command-reference/exp/show.md
  content/docs/use-cases/experiment-tracking.md
  content/docs/user-guide/experiment-management/cleaning-experiments.md
  content/docs/user-guide/experiment-management/comparing-experiments.md
  content/docs/user-guide/experiment-management/persisting-experiments.md
  content/docs/user-guide/experiment-management/running-experiments.md
  content/docs/user-guide/experiment-management/sharing-experiments.md
Due: prettier --write

test: replace set-output => GITHUB_OUTPUT (#4138)
  .github/workflows/update.yaml
Due: none

Replace `dvc run` with `dvc stage add`
  content/docs/user-guide/project-structure/dvcyaml-files.md
Due: prettier --write

Update content/docs/start/index.md
  content/docs/start/index.md
Due: prettier --write

Restyled by prettier
  content/docs/start/index.md
Due: prettier --write

fix webpack config (#4192)
  gatsby-node.js
Due: eslint --fix

Remove duplicate sentry plugin entry
  gatsby-config.js
Due: eslint --fix

Add test button and remove obsolete sentry plugin
  package.json
  src/pages/index.tsx
  yarn.lock
Due: prettier --write

Remove test button
  src/pages/index.tsx
Due: none

Use cleaner looking syntax for config.entry.app fix
  gatsby-node.js
Due: eslint --fix

Update theme and remove sentry config file (#4191)
  gatsby-config.js
  gatsby-node.js
  package.json
  sentry.config.js
  yarn.lock
Due: eslint --fix, prettier --write

Update dvcyaml-files.md (#4174)
  content/docs/user-guide/project-structure/dvcyaml-files.md
Due: prettier --write

guide: update figures (much more concrete) and
  content/docs/user-guide/data-management/index.md
  static/img/direct_access_storage.png
  static/img/dvc_managed_storage.png
  static/img/manual_data_management.png
Due: prettier --write

guide: edits to How it works (Data Mgmt)
  content/docs/user-guide/data-management/index.md
Due: prettier --write

update algolia search key values
  src/@dvcorg/gatsby-theme-iterative/components/Documentation/Layout/SearchForm/index.tsx
Due: none

start: reader instructions (in index pages) (#4000)
  content/docs/start/index.md
Due: prettier --write

pipelines: wording updates (#4025)
  content/docs/command-reference/dag.md
  content/docs/command-reference/repro.md
  content/docs/command-reference/run.md
  content/docs/start/data-management/data-pipelines.md
  content/docs/start/data-management/metrics-parameters-plots.md
  content/docs/user-guide/overview.md
Due: prettier --write

start: link to data step from Pipelines (#4155)
  content/docs/start/data-management/data-pipelines.md
Due: prettier --write

dvc start: update metrics show
  content/docs/start/data-management/metrics-parameters-plots.md
Due: prettier --write

dvc start: fix code block cli->yaml
  content/docs/start/data-management/metrics-parameters-plots.md
Due: prettier --write

Flexible plots (#4145)
  content/docs/start/data-management/metrics-parameters-plots.md
  static/img/plots_cm_get_started_show.svg
  static/img/plots_importance_get_started_diff.png
  static/img/plots_importance_get_started_show.png
  static/img/plots_prc_get_started_diff.svg
  static/img/plots_prc_get_started_show.svg
  static/img/plots_roc_get_started_diff.svg
  static/img/plots_roc_get_started_show.svg
Due: prettier --write

start: reader instructions (2)
  content/docs/start/index.md
Due: prettier --write

guide: restore content removed by previous merge and
  content/docs/user-guide/data-management/index.md
  content/docs/user-guide/data-versioning.md
  static/img/versioned-project.png
Due: prettier --write

Apply suggestions from code review
  content/docs/user-guide/data-management/index.md
  content/docs/user-guide/data-versioning.md
Due: prettier --write

guide: remove assets pertaining to #4042
  content/docs/user-guide/data-management/storage-locations.md
  static/img/direct_access_storage.png
  static/img/dvc_managed_storage.png
  static/img/storage-locations.png
Due: prettier --write

start: reader instructions (2) (#4197)
  content/docs/start/index.md
Due: prettier --write

ref: fix some broken MD ref-links
  content/docs/command-reference/exp/apply.md
  content/docs/command-reference/exp/branch.md
  content/docs/command-reference/exp/diff.md
  content/docs/command-reference/exp/gc.md
  content/docs/command-reference/exp/list.md
  content/docs/command-reference/exp/pull.md
  content/docs/command-reference/exp/push.md
  content/docs/command-reference/exp/run.md
  content/docs/command-reference/exp/save.md
  content/docs/command-reference/exp/show.md
Due: prettier --write

ref: fix some broken MD ref-links (#4199)
  content/docs/command-reference/exp/apply.md
  content/docs/command-reference/exp/branch.md
  content/docs/command-reference/exp/diff.md
  content/docs/command-reference/exp/gc.md
  content/docs/command-reference/exp/list.md
  content/docs/command-reference/exp/pull.md
  content/docs/command-reference/exp/push.md
  content/docs/command-reference/exp/run.md
  content/docs/command-reference/exp/save.md
  content/docs/command-reference/exp/show.md
Due: prettier --write

start: `exp save`-related clarifications
  content/docs/start/experiment-management/experiments.md
Due: prettier --write

guide: `exp save`-related updates
  content/docs/user-guide/experiment-management/experiments-overview.md
  content/docs/user-guide/experiment-management/running-experiments.md
Due: prettier --write

ref: `exp save`-related improvements
  content/docs/command-reference/exp/run.md
  content/docs/command-reference/exp/save.md
Due: prettier --write

ref: copy edits
  content/docs/command-reference/exp/save.md
Due: prettier --write

typos
  content/docs/user-guide/basic-concepts/experiment.md
Due: prettier --write

Restyled by prettier
  content/docs/user-guide/basic-concepts/experiment.md
Due: prettier --write

yarn upgrade
  package.json
  yarn.lock
Due: prettier --write

upgrade packages
  package.json
  yarn.lock
Due: prettier --write

run gatsby codemods for query
  plugins/community-page/gatsby-node.js
  src/components/Home/WhatsNewModal/index.tsx
  src/queries/posts.ts
  src/utils/front/community.ts
Due: eslint --fix

silence css warnings
  package.json
  plugins/community-page/gatsby-node.js
  yarn.lock
Due: eslint --fix, prettier --write
