Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

cmd-ref plots fix syntax highlighter (#3598)
  content/docs/command-reference/plots/index.md
Due: prettier --write

nav: cases + link MR to iterative.ai/model-registry
  content/docs/sidebar.json
  content/docs/use-cases/ml-experiment-tracking.md
  content/docs/use-cases/ml-model-registry.md
  content/docs/use-cases/versioning-data-and-models/index.md
  content/docs/use-cases/versioning-data-and-models/tutorial.md
  redirects-list.json
Due: prettier --write

nav: guide
  content/docs/sidebar.json
  content/docs/user-guide/experiment-management/cleaning-experiments.md
  content/docs/user-guide/how-to/add-stage-deps-or-outs.md
  content/docs/user-guide/how-to/merge-git-conflicts.md
  content/docs/user-guide/index.md
  content/docs/user-guide/project-structure/index.md
  content/docs/user-guide/related-technologies.md
  content/docs/user-guide/setup-google-drive-remote.md
  redirects-list.json
Due: prettier --write

nav: ref
  content/docs/sidebar.json
Due: prettier --write

nav: contib
  content/docs/sidebar.json
Due: prettier --write

nav: CML (what)
  content/docs/sidebar.json
Due: prettier --write

nav: Studio
  content/docs/sidebar.json
  content/docs/studio/user-guide/install-github-app.md
  content/docs/studio/user-guide/views/create-a-view.md
  content/docs/studio/user-guide/views/share-a-view.md
Due: prettier --write

nav: DVCLive
  content/docs/dvclive/api-reference/live/set_step.md
  content/docs/dvclive/ml-frameworks/hugging-face.md
  content/docs/sidebar.json
Due: prettier --write

Typos
  content/docs/user-guide/how-to/share-a-dvc-cache.md
  content/docs/user-guide/project-structure/dvc-files.md
  content/docs/user-guide/project-structure/pipelines-files.md
Due: prettier --write

minor fix
  content/blog/2022-05-16-may-22-heartbeat.md
Due: prettier --write

added linker terms
  gatsby-config.js
Due: eslint --fix

Add surnames in acknowledgements
  content/blog/2022-06-14-DVC-VS-Code-extension.md
Due: prettier --write

Rewrite up next list into alinea
  content/blog/2022-06-14-DVC-VS-Code-extension.md
Due: prettier --write

Update sidebar label creation code * Let sidebar uppercase more than `dvc` in labels made from slugs
  content/docs/sidebar.json
  plugins/gatsby-theme-iterative-docs/src/utils/shared/sidebar.js
Due: eslint --fix, prettier --write

Add a little more fluff to the USPs
  content/blog/2022-06-14-DVC-VS-Code-extension.md
Due: prettier --write

api: mention experiments in rev description (#3594)
  content/docs/api-reference/get_url.md
  content/docs/api-reference/open.md
  content/docs/api-reference/read.md
Due: prettier --write

Add more keywords
  plugins/gatsby-theme-iterative-docs/src/utils/shared/sidebar.js
Due: eslint --fix

fix typo
  plugins/gatsby-theme-iterative-docs/src/utils/shared/sidebar.js
Due: eslint --fix

Use only one large regex
  plugins/gatsby-theme-iterative-docs/src/utils/shared/sidebar.js
Due: eslint --fix

Optimize function
  plugins/gatsby-theme-iterative-docs/src/utils/shared/sidebar.js
Due: eslint --fix

Just use regex
  plugins/gatsby-theme-iterative-docs/src/utils/shared/sidebar.js
Due: eslint --fix

Remove unneeded variable
  plugins/gatsby-theme-iterative-docs/src/utils/shared/sidebar.js
Due: eslint --fix

Let sidebar uppercase more than `dvc` in labels made from slugs (#3602)
  content/docs/sidebar.json
  plugins/gatsby-theme-iterative-docs/src/utils/shared/sidebar.js
Due: eslint --fix, prettier --write

Link Sid
  content/blog/2022-06-14-DVC-VS-Code-extension.md
Due: prettier --write

Condense Why-sections into one
  content/blog/2022-06-14-DVC-VS-Code-extension.md
Due: prettier --write

Restyled by prettier
  content/blog/2022-06-14-DVC-VS-Code-extension.md
Due: prettier --write

Grammarly suggestion
  content/blog/2022-06-14-DVC-VS-Code-extension.md
Due: prettier --write

updated dates and blog image
  content/blog/2022-05-31-aws-remotes-in-dvc.md
  static/uploads/images/2022-05-31/aws_bucket.png
  static/uploads/images/2022-05-31/create_bucket.png
  static/uploads/images/2022-05-31/created_bucket.png
  static/uploads/images/2022-05-31/credentials.png
  static/uploads/images/2022-05-31/dvc-aws.png
  static/uploads/images/2022-05-31/finding_s3.png
  static/uploads/images/2022-05-31/make_credentials.png
Due: prettier --write

removed duplicate content
  content/blog/2022-05-17-aws-remotes-in-dvc.md
  static/uploads/images/2022-05-17/aws_bucket.png
  static/uploads/images/2022-05-17/create_bucket.png
  static/uploads/images/2022-05-17/created_bucket.png
  static/uploads/images/2022-05-17/credentials.png
  static/uploads/images/2022-05-17/finding_s3.png
  static/uploads/images/2022-05-17/make_credentials.png
Due: prettier --write

blog: Using AWS remotes in DVC (#3519)
  content/blog/2022-05-31-aws-remotes-in-dvc.md
  static/uploads/images/2022-05-31/aws_bucket.png
  static/uploads/images/2022-05-31/create_bucket.png
  static/uploads/images/2022-05-31/created_bucket.png
  static/uploads/images/2022-05-31/credentials.png
  static/uploads/images/2022-05-31/dvc-aws.png
  static/uploads/images/2022-05-31/finding_s3.png
  static/uploads/images/2022-05-31/make_credentials.png
Due: prettier --write

actually pushed changes
  content/blog/2022-06-07-using-gcp-remotes-in-dvc.md
  static/uploads/images/2022-06-07/dvc-gcp.png
  static/uploads/images/2022-06-07/gcp_create_service_account.png
  static/uploads/images/2022-06-07/gcp_empty_service_account.png
  static/uploads/images/2022-06-07/gcp_initial_page.png
  static/uploads/images/2022-06-07/gcp_new_project.png
  static/uploads/images/2022-06-07/gcp_service_account.png
Due: prettier --write

ref: exp push/pull experiment metavar (#3585)
  content/docs/command-reference/exp/pull.md
  content/docs/command-reference/exp/push.md
Due: prettier --write

Fix missing blog post images
  content/blog/2022-05-31-aws-remotes-in-dvc.md
Due: prettier --write

Apply suggestions from code review
  content/docs/user-guide/experiment-management/cleaning-experiments.md
Due: prettier --write

Apply suggestions from code review
  content/docs/user-guide/experiment-management/comparing-experiments.md
Due: prettier --write

Update content/docs/user-guide/experiment-management/sharing-experiments.md
  content/docs/user-guide/experiment-management/sharing-experiments.md
Due: prettier --write

Update content/docs/user-guide/experiment-management/cleaning-experiments.md
  content/docs/user-guide/experiment-management/cleaning-experiments.md
Due: prettier --write

Update content/docs/user-guide/experiment-management/comparing-experiments.md
  content/docs/user-guide/experiment-management/comparing-experiments.md
Due: prettier --write

Restyled by prettier
  content/docs/user-guide/experiment-management/cleaning-experiments.md
  content/docs/user-guide/experiment-management/comparing-experiments.md
  content/docs/user-guide/experiment-management/sharing-experiments.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
