Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Add all functions
  content/docs/dvclive/api-reference/sklearn.md
  content/docs/dvclive/ml-frameworks/sklearn.md
  static/img/dvclive-sklearn-cc.png
  static/img/dvclive-sklearn-cm.png
  static/img/dvclive-sklearn-det.png
  static/img/dvclive-sklearn-pr.png
  static/img/dvclive-sklearn-roc.png
Due: prettier --write

live: remove 3rd party intro (#3169)
  content/docs/dvclive/ml-frameworks/catalyst.md
  content/docs/dvclive/ml-frameworks/fastai.md
  content/docs/dvclive/ml-frameworks/huggingface.md
  content/docs/dvclive/ml-frameworks/keras.md
  content/docs/dvclive/ml-frameworks/lightgbm.md
  content/docs/dvclive/ml-frameworks/mmcv.md
  content/docs/dvclive/ml-frameworks/pytorch-lightning.md
  content/docs/dvclive/ml-frameworks/pytorch.md
  content/docs/dvclive/ml-frameworks/tensorflow.md
  content/docs/dvclive/ml-frameworks/xgboost.md
Due: prettier --write

Revert to master package.json
  package.json
Due: prettier --write

Remove unused normalize sidebar module
  package.json
  plugins/gatsby-theme-iterative-docs/normalize-sidebar.js
  plugins/gatsby-theme-iterative-docs/normalize-sidebar.test.js
Due: eslint --fix, prettier --write

Re-fix package.json and change test imports
  package.json
  plugins/gatsby-theme-iterative-docs/src/utils/shared/sidebar.test.js
Due: eslint --fix, prettier --write

stylelint --fix
  src/gatsby-theme-iterative-docs/components/LayoutFooter/styles.module.css
  src/gatsby-theme-iterative-docs/components/LayoutHeader/Nav/Popup/styles.module.css
Due: none

Fix svg imports
  src/components/LayoutFooter/index.tsx
  src/components/LayoutFooter/styles.module.css
  src/components/LayoutHeader/Nav/LinkItems/index.tsx
  src/components/LayoutHeader/Nav/Popup/index.tsx
  src/components/LayoutHeader/Nav/Popup/styles.module.css
  src/components/LayoutHeader/index.tsx
Due: none

updated to refer to stage add instead of run (#3165)
  content/docs/command-reference/remove.md
Due: prettier --write

redirects: make a couple 302
  redirects-list.json
Due: prettier --write

Update redirects-list.json
  redirects-list.json
Due: prettier --write

added pathname params
  gatsby-config.js
  plugins/gatsby-remark-args-linker/index.js
Due: eslint --fix

code fixes
  plugins/gatsby-remark-args-linker/index.js
Due: eslint --fix

aligned the icons
  src/components/Documentation/Markdown/Main/styles.module.css
Due: none

Rename to plots
  content/docs/dvclive/api-reference/plots.md
  content/docs/dvclive/ml-frameworks/sklearn.md
Due: prettier --write

suggestion
  content/docs/dvclive/api-reference/plots.md
  content/docs/sidebar.json
Due: prettier --write

redirects: make a couple 302 (#3172)
  redirects-list.json
Due: prettier --write

updates based on feedback
  content/blog/2022-01-31-january-22-community-gems.md
Due: prettier --write

Update dvctable regex, fixing bug in blog post
  config/prismjs/dvctable.js
Due: eslint --fix

Interactive synopsis Fix #2024 (#3140)
  config/prismjs/dvc-hook.js
  config/prismjs/usage.js
  gatsby-config.js
  plugins/gatsby-remark-args-linker/index.js
  plugins/gatsby-remark-args-linker/package.json
  plugins/gatsby-remark-dvc-linker/commandLinker.js
  src/components/Documentation/Markdown/Main/styles.module.css
  static/icons/index.js
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

updated command to look more realistic
  content/blog/2022-01-31-january-22-community-gems.md
Due: prettier --write

updates: directory->workdir
  content/blog/2022-01-15-moving-local-experiments-to-the-cloud-with-iterative-terraform-provider.md
Due: prettier --write

Add prebuild script for creating blog images
  .gitignore
  gatsby-node.js
  src/gatsby/models/blog/createPages.js
  src/templates/blog-post.tsx
Due: eslint --fix

ref: clarify mechanics around commands with `-R` (recursive option)
  content/docs/command-reference/add.md
  content/docs/command-reference/checkout.md
  content/docs/command-reference/commit.md
  content/docs/command-reference/fetch.md
  content/docs/command-reference/metrics/diff.md
  content/docs/command-reference/metrics/show.md
  content/docs/command-reference/pull.md
  content/docs/command-reference/push.md
  content/docs/command-reference/stage/list.md
  content/docs/command-reference/status.md
  content/docs/command-reference/update.md
Due: prettier --write

ref: -d before -R in Options
  content/docs/command-reference/checkout.md
  content/docs/command-reference/commit.md
  content/docs/command-reference/fetch.md
  content/docs/command-reference/pull.md
  content/docs/command-reference/push.md
  content/docs/command-reference/status.md
Due: prettier --write

Rename `dvctablehorizontals` to `dvctable` and use across site (#3173)
  config/prismjs/dvctable.js
  content/blog/2021-07-19-hyperparam-tuning.md
  content/blog/2021-08-24-transfer-learning-experiments.md
  content/blog/2021-10-05-adding-data-to-build-a-more-generic-model.md
  content/blog/2021-11-30-november-21-community-gems.md
  content/blog/2021-12-07-ml-experiment-versioning.md
  content/docs/command-reference/exp/remove.md
  content/docs/command-reference/exp/show.md
  content/docs/start/experiments.md
  content/docs/use-cases/experiment-tracking.md
  content/docs/user-guide/experiment-management/cleaning-experiments.md
  content/docs/user-guide/experiment-management/comparing-experiments.md
  content/docs/user-guide/experiment-management/persisting-experiments.md
  src/components/Blog/Post/Markdown/styles.module.css
  src/components/Documentation/Markdown/Main/styles.module.css
Due: eslint --fix, prettier --write

clarification
  content/docs/start/experiments.md
Due: prettier --write

stages -> experiments
  content/docs/start/experiments.md
Due: prettier --write

added that
  content/docs/start/experiments.md
Due: prettier --write

move example out of parens
  content/docs/start/experiments.md
Due: prettier --write

revised for command argument link to --set-param
  content/docs/start/experiments.md
Due: prettier --write

replaced "Here is..." with "Example"
  content/docs/start/experiments.md
Due: prettier --write

Use dvctable style with all tables * move all tables into their own dvctable code blocks * update table format * bold all table headings
  content/blog/2021-02-18-dvc-2-0-pre-release.md
  content/blog/2021-03-03-dvc-2-0-release.md
  content/blog/2021-05-28-may-21-community-gems.md
  content/docs/api-reference/make_checkpoint.md
  content/docs/command-reference/exp/apply.md
  content/docs/command-reference/exp/branch.md
  content/docs/command-reference/exp/diff.md
  content/docs/command-reference/exp/gc.md
  content/docs/user-guide/experiment-management/checkpoints.md
Due: prettier --write

Update content/blog/2022-01-15-moving-local-experiments-to-the-cloud-with-iterative-terraform-provider.md
  content/blog/2022-01-15-moving-local-experiments-to-the-cloud-with-iterative-terraform-provider.md
Due: prettier --write

guide: merge Exp org patterns into tabs section rel. https://github.com/iterative/dvc.org/issues/2939
  content/docs/command-reference/exp/index.md
  content/docs/user-guide/experiment-management/index.md
Due: prettier --write

start: Add a parameters hidden section to experiments to merge params/metrics into experiments (#3163)
  content/docs/start/experiments.md
Due: prettier --write

Add margin-bottom to toggle component
  src/components/Documentation/Markdown/styles.module.css
Due: none

ref: move Alias notes to before short desc.
  content/docs/command-reference/exp/index.md
  content/docs/command-reference/list.md
Due: prettier --write

Add margin-bottom to toggle component (#3180)
  src/components/Documentation/Markdown/styles.module.css
Due: none
