Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

util: update debugging node script name per https://github.com/iterative/dvc.org/pull/891#pullrequestreview-338434652
  package.json
  pages/doc.js
  public/static/docs/user-guide/contributing/docs.md
Due: eslint --fix, prettier --write

typo per https://github.com/iterative/dvc.org/pull/864#pullrequestreview-338379504
  static/docs/command-reference/checkout.md
Due: prettier --write

cmd ref: reword last sentence in checkout --relink option desc. per https://github.com/iterative/dvc.org/pull/864#pullrequestreview-338379578
  static/docs/command-reference/checkout.md
Due: prettier --write

user-guide: simplify note about checkout --relink in large-dataset-optimization per https://github.com/iterative/dvc.org/pull/864#pullrequestreview-338379594
  static/docs/user-guide/large-dataset-optimization.md
Due: prettier --write

cmd ref: try to use "data files and directories" always in checkout per https://github.com/iterative/dvc.org/pull/864#pullrequestreview-338379632
  static/docs/command-reference/checkout.md
Due: prettier --write

cmd ref: another small wording update for checkout per https://github.com/iterative/dvc.org/pull/864#pullrequestreview-338470475 comments
  public/static/docs/command-reference/checkout.md
Due: prettier --write

tests: updte "Returns first child with source..." test per https://github.com/iterative/dvc.org/pull/891#pullrequestreview-338378539
  .gitignore
  src/utils/sidebar.test.js
Due: eslint --fix

`dvc import` can access non-DVC Git repositories
  public/static/docs/command-reference/import.md
Due: prettier --write

pull: add 'too many open files error' solution
  public/static/docs/command-reference/pull.md
Due: prettier --write

push/pull: roll back common problems, add troubleshooting guide
  public/static/docs/command-reference/pull.md
  public/static/docs/command-reference/push.md
  static/docs/user-guide/troubleshooting.md
Due: prettier --write

push: add 'too many open files error' solution
  public/static/docs/command-reference/pull.md
  public/static/docs/command-reference/push.md
Due: prettier --write

Update static/docs/user-guide/troubleshooting.md
  static/docs/user-guide/troubleshooting.md
Due: prettier --write

troubleshooting: add sidebar.json entry
  public/static/docs/sidebar.json
  static/docs/user-guide/troubleshooting.md
Due: prettier --write

remote: use `-d` in s3 example
  public/static/docs/command-reference/remote/index.md
Due: prettier --write

fix #901: fix link to github repo for edit button
  pages/doc.js
Due: eslint --fix

remove extra / in the edit gihub path
  pages/doc.js
Due: eslint --fix

install: add note about restarting Linux terminal after installation
  public/static/docs/install/linux.md
Due: prettier --write

install: add resourcing shell rc file to linux notes
  public/static/docs/install/linux.md
Due: prettier --write

install: add mention about conatiners in linux install note
  public/static/docs/install/linux.md
Due: prettier --write

install: summarize full note about restarting Linux terminal after pip install
  public/static/docs/install/linux.md
Due: prettier --write

docs: locking-related updates
  public/static/docs/command-reference/repro.md
  public/static/docs/user-guide/dvc-files-and-directories.md
Due: prettier --write

cmd ref: mini update to get
  public/static/docs/command-reference/get.md
Due: prettier --write

cmd ref: remove tutorials/index for #727
  public/static/docs/sidebar.json
  public/static/docs/tutorials/index.md
Due: prettier --write

refactor: rename variable for clarity in Tutorials.js
  src/Documentation/Tutorials.js
Due: eslint --fix

Say 'DVC project or Git repository'
  public/static/docs/command-reference/import.md
Due: prettier --write

refactor: don't modify fn args in Array.reduce callback (styles.js) per https://github.com/iterative/dvc.org/pull/891#discussion_r363580968
  src/styles.js
Due: eslint --fix

refactor: don't modify fn args in `isInsideCodeBlock` (Markdown.js) per https://github.com/iterative/dvc.org/pull/891#pullrequestreview-338653640
  src/Documentation/Markdown/Markdown.js
Due: eslint --fix

`cur`->`s` in Array.reduce callback (styles.js)
  src/styles.js
Due: eslint --fix

cmd ref: small impro for get desc.
  public/static/docs/command-reference/get.md
Due: prettier --write

remote: explicitly mention that we are setting default remote
  public/static/docs/command-reference/remote/index.md
Due: prettier --write

install: add note about homogeneous DVC versions per https://groups.google.com/a/iterative.ai/forum/#!msg/support/ZBNM2dydyxU
  public/static/docs/install/index.md
Due: prettier --write

Revert discord widget
  src/Community/Block/index.js
  src/Community/Block/styles.js
  src/Community/Events/index.js
  src/Community/Events/styles.js
  src/Community/Meet/index.js
  src/Community/Meet/styles.js
  src/Community/styles.js
Due: eslint --fix

Get discord stats from static file
  src/Community/Meet/index.js
  src/Community/data.json
Due: eslint --fix, prettier --write

web: strip down indices for tutorials, use-cases and user-guide per https://github.com/iterative/dvc.org/pull/903#pullrequestreview-339045722
  public/static/docs/sidebar.json
  public/static/docs/tutorials/index.md
  public/static/docs/tutorials/interactive.md
  public/static/docs/use-cases/index.md
  public/static/docs/user-guide/index.md
Due: prettier --write

term: review usage of and around "recommend" per https://github.com/iterative/dvc.org/pull/896#pullrequestreview-338457183
  public/static/docs/command-reference/add.md
  public/static/docs/command-reference/commit.md
  public/static/docs/command-reference/config.md
  public/static/docs/command-reference/metrics/add.md
  public/static/docs/get-started/connect-code-and-data.md
  public/static/docs/install/linux.md
  public/static/docs/install/macos.md
  public/static/docs/install/pre-release.md
  public/static/docs/tutorials/versioning.md
  public/static/docs/use-cases/versioning-data-and-model-files.md
  public/static/docs/user-guide/contributing/docs.md
  public/static/docs/user-guide/updating-tracked-files.md
Due: prettier --write

install: remove note about version compatibilities
  public/static/docs/install/index.md
Due: prettier --write

api: create index and structure for #463
  public/static/docs/api-reference/get_url.md
  public/static/docs/api-reference/index.md
  public/static/docs/api-reference/open.md
  public/static/docs/api-reference/read.md
  public/static/docs/sidebar.json
Due: prettier --write

api ref: add summon page, improve format of all pages
  public/static/docs/api-reference/get_url.md
  public/static/docs/api-reference/open.md
  public/static/docs/api-reference/read.md
  public/static/docs/api-reference/summon.md
  public/static/docs/sidebar.json
Due: prettier --write

api ref: complete pages per initial desc. per https://github.com/iterative/dvc.org/issues/463#issuecomment-514139792
  public/static/docs/api-reference/open.md
  public/static/docs/api-reference/read.md
  public/static/docs/api-reference/summon.md
Due: prettier --write

fix broken links
  public/static/docs/changelog/0.18.md
  public/static/docs/command-reference/gc.md
  public/static/docs/command-reference/metrics/show.md
  public/static/docs/command-reference/run.md
  public/static/docs/get-started/index.md
  public/static/docs/tutorials/community.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
