Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Change blog picture example to better reflect actual file structure.
  content/docs/user-guide/contributing/blog.md
Due: prettier --write

Update user-guide/contributing/blog (#1236)
  content/docs/user-guide/contributing/blog.md
Due: prettier --write

Make root-relative links absolute in feed.
  gatsby-config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

blog: add back how-to idea into GSoD 2020 post
  content/blog/2020-04-30-gsod-ideas-2020.md
Due: prettier --write

Restyled by prettier
  content/blog/2020-04-30-gsod-ideas-2020.md
Due: prettier --write

blog: add experience with @algomaster99 in GSoD 2020 post
  content/blog/2020-04-30-gsod-ideas-2020.md
  static/uploads/images/2020-04-30/Katacoda_scenario.png
  static/uploads/images/2020-04-30/tooltip.png
Due: prettier --write

new plot options & custom templates
  content/docs/command-reference/plot/diff.md
  content/docs/command-reference/plot/index.md
  content/docs/command-reference/plot/show.md
Due: prettier --write

blog: use pip install --upgrade for installing pre-release 1.0
  content/blog/2020-05-04-dvc-3-years-and-1-0-release.md
Due: prettier --write

Update run.md
  content/docs/command-reference/run.md
Due: prettier --write

blog: use pip install --upgrade for installing pre-release 1.0 (#1241)
  content/blog/2020-05-04-dvc-3-years-and-1-0-release.md
Due: prettier --write

blog: add Aman's talk to GSoD 2020 post
  content/blog/2020-04-30-gsod-ideas-2020.md
  static/uploads/images/2020-04-30/Katacoda_scenario.png
  static/uploads/images/2020-04-30/SciPy_India_Aman.png
Due: prettier --write

docs: run: update --no-exec description (#1225)
  content/docs/command-reference/run.md
Due: prettier --write

blog: complete community outreach section in GSoD 2020 post
  content/blog/2020-04-30-gsod-ideas-2020.md
Due: prettier --write

blog: complete community outreach section in GSoD 2020 post (#1242)
  content/blog/2020-04-30-gsod-ideas-2020.md
Due: prettier --write

Finish getting things working with both processors.
  gatsby-config.js
Due: eslint --fix

Move the feed plugin back to its original space.
  gatsby-config.js
Due: eslint --fix

[docs]: correct the Gitpod button's Url.
  content/docs/user-guide/contributing/docs.md
Due: prettier --write

[docs]: correct the Gitpod button's Url. (#1244)
  content/docs/user-guide/contributing/docs.md
Due: prettier --write

blog: possibly last round of improvements to GSoD 2020 post
  content/blog/2020-04-30-gsod-ideas-2020.md
  static/uploads/images/2020-04-30/Discord_user_video_tutorials.png
Due: prettier --write

Last improvements to GSoD '20 blgo post (2) (#1247)
  content/blog/2020-04-30-gsod-ideas-2020.md
  static/uploads/images/2020-04-30/Discord_user_video_tutorials.png
Due: prettier --write

blog: fix typos in 2.0 pre-release post
  content/blog/2020-05-04-dvc-3-years-and-1-0-release.md
Due: prettier --write

blog: address pending review items from original my PR review per https://github.com/iterative/dvc.org/pull/1213#pullrequestreview-405203972
  content/blog/2020-05-04-dvc-3-years-and-1-0-release.md
Due: prettier --write

Change comment proxy cache TTL to 1 minute
  src/server/middleware/api/comments.js
Due: eslint --fix

Change gitpod button to HTML link
  content/docs/user-guide/contributing/docs.md
Due: prettier --write

Change comment proxy cache TTL to 1 minute (#1250)
  src/server/middleware/api/comments.js
Due: eslint --fix

blog: avoid scalar and continuous terms (metrics) in 1.0 post
  content/blog/2020-05-04-dvc-3-years-and-1-0-release.md
Due: prettier --write

blog: improvements to 1.0 announcement (#1248)
  content/blog/2020-05-04-dvc-3-years-and-1-0-release.md
Due: prettier --write

blog: website ui/ix idea is med-adv in difficulty
  content/blog/2020-04-30-gsod-ideas-2020.md
Due: prettier --write

try to replace pretty-quick fully with lint-staged
  content/docs/user-guide/contributing/docs.md
  package.json
Due: prettier --write

user guide: remove redundant info about formatting commands per https://github.com/iterative/dvc.org/pull/1252#pullrequestreview-406274192
  content/docs/user-guide/contributing/docs.md
Due: prettier --write

Put gitpod button within quote
  content/docs/user-guide/contributing/docs.md
Due: prettier --write

user guide: format Gitpod note in docs contrib guide (using Gitpod)
  content/docs/user-guide/contributing/docs.md
Due: prettier --write

user guide: reformat note about Gitpod per 1253
  content/docs/user-guide/contributing/docs.md
Due: prettier --write

Extract feed processor from gatsby-config to its own file
  gatsby-config.js
  package.json
  plugins/utils/makeFeedHtml.js
  yarn.lock
Due: eslint --fix, prettier --write

Change unwrapped image styling in a way that respects original max-width
  plugins/utils/makeFeedHtml.js
Due: eslint --fix

Revert package.json to its pre-branch form.
  package.json
Due: prettier --write

Use remark image wrapper class from its exported constants
  plugins/utils/makeFeedHtml.js
Due: eslint --fix

Clean formatting of blog feed query
  gatsby-config.js
Due: eslint --fix

Change plugin definitions to all have "resolve" first.
  gatsby-config.js
Due: eslint --fix

gitpod: remove from docs contrib guide for now
  content/docs/user-guide/contributing/docs.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
