Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Added image icons to user content
  public/static/img/community/ugc/codecentric.png
  public/static/img/community/ugc/fowler_icon.ico
  public/static/img/community/ugc/medium_logo.png
  public/static/img/community/ugc/ml-axis-of-change.png
  public/static/img/community/ugc/tds_logo.png
  src/Community/data.json
Due: prettier --write

add a few excluded links
  scripts/exclude-links.txt
Due: none

cmd ref: typo in get per https://github.com/iterative/dvc.org/pull/931#pullrequestreview-352683085
  public/static/docs/command-reference/get.md
Due: prettier --write

glossary: removed unnecessary sentence in project def. per https://github.com/iterative/dvc.org/pull/931#discussion_r374312624
  public/static/docs/glossary.js
Due: eslint --fix

cmd ref: refactor notes in get-url and import-url per https://github.com/iterative/dvc.org/pull/931#pullrequestreview-352682755
  public/static/docs/command-reference/get-url.md
  public/static/docs/command-reference/import-url.md
Due: prettier --write

increase banner resolution
  public/static/img/community/banner_feb20.png
  public/static/img/community/banner_mobile_feb20.png
Due: none

Refactor NextLink and NextRouter
  pages/doc.js
  pages/features.js
  pages/index.js
  pages/support.js
  src/components/Diagram/index.js
  src/components/Documentation/Markdown/index.js
  src/components/Documentation/SidebarMenu/index.js
  src/components/Documentation/index.js
  src/components/Footer/index.js
  src/components/HamburgerMenu/index.js
  src/components/Layout/index.js
  src/components/LocalLink/index.js
  src/components/Nav/index.js
  src/components/Nav/styles.js
  src/components/PromoSection/index.js
  src/components/PromoSection/styles.js
  src/components/TopMenu/index.js
  src/components/TrySection/index.js
  src/components/TrySection/styles.js
Due: eslint --fix

refactor: move some files around, fix loose ends and fix broken redirect
  redirects-list.json
  server.js
  src/utils/redirects.js
  src/utils/redirects.test.js
Due: eslint --fix, prettier --write

gdrive: add User Guide page
  public/static/docs/command-reference/remote/add.md
  public/static/docs/command-reference/remote/modify.md
  public/static/docs/sidebar.json
  public/static/docs/user-guide/setup-google-drive-remote.md
  public/static/img/gdrive-create-credentials.png
  public/static/img/gdrive-enable-apis-and-services.png
Due: prettier --write

add cache.shared config reference and use case
  public/static/docs/command-reference/config.md
  public/static/docs/use-cases/shared-development-server.md
Due: prettier --write

gdrive: updates to User Guide page
  public/static/docs/user-guide/setup-google-drive-remote.md
Due: prettier --write

Update config.md
  public/static/docs/command-reference/config.md
Due: prettier --write

Fix links and add analytics to community page
  src/Community/Contribute/index.js
  src/Community/Events/index.js
  src/Community/Hero/index.js
  src/Community/Learn/index.js
  src/Community/Meet/index.js
  src/utils/ga.js
Due: eslint --fix

Remove Learn section icons
  public/static/img/community/blog.svg
  public/static/img/community/documentation.svg
  public/static/img/community/user_content.svg
  src/Community/Events/index.js
  src/Community/Learn/index.js
Due: eslint --fix

Normalize event pictures
  public/static/img/community/events/divops.jpg
  public/static/img/community/events/divops.png
  public/static/img/community/events/mlprague.jpg
  public/static/img/community/events/mlprague.png
  src/Community/data.json
Due: prettier --write

Add placeholder for events images
  public/static/img/community/event-placeholder.svg
  src/Community/Events/index.js
Due: eslint --fix

Fix image line wrap
  src/Community/Learn/index.js
  src/Community/styles.js
Due: eslint --fix

exclude links from link-check
  scripts/exclude-links.txt
  scripts/link-check.sh
Due: none

hotfix: GH PR template format fix
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

Update exclude-links.txt
  scripts/exclude-links.txt
Due: none

server: reformat/refactor code and comments around new redirects as mentioned in https://github.com/iterative/dvc.org/pull/970#pullrequestreview-353200254
  server.js
  src/utils/redirects.js
  src/utils/redirects.test.js
Due: eslint --fix

Fix preemptive sendind of errors
  src/Community/Learn/index.js
  src/Community/Meet/index.js
Due: eslint --fix

Add ref forwarding to button
  src/Community/Button/index.js
Due: eslint --fix

fix typo in "Building registries" 1st code block
  public/static/docs/use-cases/data-registries.md
Due: prettier --write

cmd ref: push: fix link
  public/static/docs/command-reference/push.md
Due: prettier --write

Update top menu styles (no-triangle)
  src/components/Nav/styles.js
Due: eslint --fix

Update movile menu
  public/static/img/community/icon-community.svg
  public/static/img/community/icon-contribute.svg
  public/static/img/community/icon-discord.svg
  public/static/img/community/icon-events.svg
  public/static/img/community/icon-github.svg
  public/static/img/community/icon-learn.svg
  public/static/img/community/icon-mail.svg
  public/static/img/community/icon-twitter.svg
  public/static/img/community/menu.png
  public/static/img/community/triangle.png
  src/components/HamburgerMenu/index.js
  src/components/HamburgerMenu/styles.js
Due: eslint --fix

Add github and discord icons to header
  src/components/Nav/index.js
  src/components/Nav/styles.js
Due: eslint --fix

Fix opacity for links
  src/components/HamburgerMenu/styles.js
  src/components/Nav/styles.js
Due: eslint --fix

Make community headers clickable
  pages/community.js
  src/components/Community/Block/index.js
  src/components/Community/Learn/index.js
  src/components/Community/Meet/index.js
  src/components/Community/styles.js
Due: eslint --fix

Fix Collapsible calculation on resize
  package.json
  src/components/Community/Section/index.js
  yarn.lock
Due: eslint --fix, prettier --write

Open section on mobile navigation
  src/components/Community/Section/index.js
Due: eslint --fix

download: update to 0.82.9
  src/components/DownloadButton/index.js
Due: eslint --fix

cmd ref: update short desc with simpler terms per https://github.com/iterative/dvc/pull/3277#pullrequestreview-352650016
  public/static/docs/command-reference/get.md
  public/static/docs/command-reference/import.md
Due: prettier --write

ci: redule number of links that need to be excluded and improve some config file comments
  .circleci/config.yml
  public/static/docs/understanding-dvc/how-it-works.md
  public/static/docs/use-cases/sharing-data-and-model-files.md
  scripts/exclude-links.txt
  src/utils/sidebar.js
  src/utils/sidebar.test.js
Due: eslint --fix, prettier --write

test: link-check against merge base
  scripts/link-check-git-diff.sh
Due: none

test: link-check diff additions only
  scripts/link-check-git-diff.sh
Due: none

ci: complete and abc sort scripts/exclude-links.txt for #974
  scripts/exclude-links.txt
Due: none

cmd ref: push/pull: fix docs about recursive option
  public/static/docs/command-reference/pull.md
  public/static/docs/command-reference/push.md
Due: prettier --write

Reduce size of the icons in the head
  src/components/Nav/styles.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md}
