Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Reorganized the script. Current version doesn't create issues automatically. Uncomment line 34 for doing so.
  check-help-output.zsh
Due: none

Restyled by prettier
  content/docs/user-guide/concepts/dvc-project.md
  content/docs/user-guide/concepts/remote-storage.md
Due: prettier --write

removed a minor part for test
  help-text/checkout-help.txt
Due: none

[auto] updated help output for help-text/checkout-help.txt
  help-text/checkout-help.txt
Due: none

testing the checkout-help-text
  help-text/checkout-help.txt
Due: none

modified add-help for test
  help-text/add-help.txt
Due: none

uniform file names
  help-text/add--help.txt
  help-text/check-ignore--help.txt
  help-text/checkout--help.txt
  help-text/commit--help.txt
  help-text/config--help.txt
  help-text/dag--help.txt
  help-text/destroy--help.txt
  help-text/diff--help.txt
  help-text/doctor--help.txt
  help-text/fetch--help.txt
  help-text/freeze--help.txt
  help-text/gc--help.txt
  help-text/get--help.txt
  help-text/get-url--help.txt
  help-text/import--help.txt
  help-text/import-url--help.txt
  help-text/init--help.txt
  help-text/install--help.txt
  help-text/list--help.txt
  help-text/move--help.txt
  help-text/pull--help.txt
  help-text/push--help.txt
  help-text/remove--help.txt
  help-text/repro--help.txt
  help-text/root--help.txt
  help-text/run--help.txt
  help-text/status--help.txt
  help-text/unfreeze--help.txt
  help-text/unprotect--help.txt
  help-text/update--help.txt
  help-text/version--help.txt
Due: none

testing
  help-text/add--help.txt
Due: none

reorganize the script
  check-help-output.zsh
Due: none

Fixed double a
  content/docs/command-reference/config.md
Due: prettier --write

document stage:add
  content/docs/command-reference/stage/add.md
  content/docs/command-reference/stage/index.md
  content/docs/sidebar.json
Due: prettier --write

minor modifications
  content/docs/command-reference/config.md
Due: prettier --write

modified to have a more informal language and removed BC text from the tooltip
  content/docs/user-guide/basic-concepts/stage.md
Due: prettier --write

update external refs to old experiments section
  content/docs/command-reference/fetch.md
  content/docs/command-reference/metrics/index.md
  content/docs/command-reference/metrics/show.md
  content/docs/use-cases/versioning-data-and-model-files/tutorial.md
Due: prettier --write

revisions CML start-gitlab
  content/docs/cml/start-gitlab.md
Due: prettier --write

updates to Heartbeat
  content/blog/2021-02-16-february-21-dvc-heartbeat.md
  static/uploads/images/2021-02-16/dags_diagram.png
  static/uploads/images/2021-02-16/feb21cover.png
  static/uploads/images/2021-02-16/newstack_image.png
  static/uploads/images/2021-02-16/spacy_integration.jpg
  static/uploads/images/2021-02-16/spacy_integration.png
Due: prettier --write

Restyled by prettier
  content/blog/2021-02-16-february-21-dvc-heartbeat.md
Due: prettier --write

revised dagshub image and link
  content/blog/2021-02-16-february-21-dvc-heartbeat.md
Due: prettier --write

term: review "experiment" links/tooltips
  content/docs/command-reference/exp/index.md
  content/docs/command-reference/fetch.md
  content/docs/use-cases/index.md
  content/docs/user-guide/related-technologies.md
Due: prettier --write

ref: exapnd make_checkpoints example, use exp tooltips
  content/docs/api-reference/make_checkpoint.md
  content/docs/command-reference/exp/index.md
Due: prettier --write

ref: finish initial make_checkpoint() example
  content/docs/api-reference/make_checkpoint.md
Due: prettier --write

Add dvc experiments to linked-terms
  content/linked-terms.js
Due: eslint --fix

ref: complete exp index Desc
  content/docs/command-reference/exp/index.md
Due: prettier --write

images shrunk
  static/uploads/images/2021-02-16/dags_diagram.png
  static/uploads/images/2021-02-16/feb21cover.png
  static/uploads/images/2021-02-16/newstack_image.png
  static/uploads/images/2021-02-16/spacy_integration.jpg
Due: none

Update content/docs/command-reference/update.md
  content/docs/command-reference/update.md
Due: prettier --write

fix metrics, parameters, and plots sidebar title
  content/docs/sidebar.json
Due: prettier --write

dashub-logo
  static/uploads/images/2021-02-16/dagshub-logo.png
Due: none

corrcting Roger and Dagshub logo
  content/blog/2021-02-16-february-21-dvc-heartbeat.md
  static/uploads/images/2021-02-16/dagshub-logo.png
Due: prettier --write

adjust roger
  content/blog/2021-02-16-february-21-dvc-heartbeat.md
Due: prettier --write

formatting
  content/blog/2020-08-07-cml-self-hosted-runners-on-demand-with-gpus copy.md
  static/uploads/images/2021-02-17/gh_actions_art.png
  static/uploads/images/2021-02-17/sample_pr.png
Due: prettier --write

fix blog filename
  content/blog/2021-02-17-cml-runner-prerelease.md
Due: prettier --write

cmd: add dvc update --to-remote docs (#2175)
  content/docs/command-reference/update.md
Due: prettier --write

added Alt text
  content/blog/2021-02-16-february-21-dvc-heartbeat.md
Due: prettier --write

ref: write Description and dump Options for exp run
  content/docs/command-reference/exp/run.md
Due: prettier --write

cleanup: delete redundant files
  static/uploads/images/2021-02-11/dags_diagram.png
  static/uploads/images/2021-02-11/feb21cover.png
  static/uploads/images/2021-02-11/newstack_image.png
  static/uploads/images/2021-02-11/spacy_integration.jpg
  static/uploads/images/2021-02-11/spacy_integration.png
Due: none

Update 2021-02-12-february-21-dvc-heartbeat.md
  content/blog/2021-02-12-february-21-dvc-heartbeat.md
Due: prettier --write

Delete 2021-02-12-february-21-dvc-heartbeat.md
  content/blog/2021-02-12-february-21-dvc-heartbeat.md
Due: prettier --write

Update jeny_defigueiredo.md
  content/authors/jeny_defigueiredo.md
Due: prettier --write
