Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

adding compressed image
  static/uploads/images/2021-08-31/Community-Gems-0830-August.png
Due: none

Fix typo in download-link-check-schedule
  .github/workflows/download-link-check-schedule.yml
Due: none

Add Github action for checking dvc download links (#2660)
  .github/workflows/download-link-check-deploy.yml
  .github/workflows/download-link-check-schedule.yml
Due: none

Dvclive linker (#2766)
  content/docs/dvclive/api-reference/init.md
  content/docs/dvclive/api-reference/log.md
  content/docs/dvclive/api-reference/next_step.md
  content/docs/dvclive/user-guide/dvclive-with-dvc.md
  content/docs/dvclive/user-guide/ml-frameworks/pytorch.md
  content/docs/dvclive/user-guide/ml-frameworks/tensorflow.md
  content/docs/dvclive/user-guide/quickstart.md
  plugins/gatsby-remark-dvc-linker/index.js
  plugins/gatsby-remark-dvc-linker/index.test.js
  plugins/gatsby-remark-dvc-linker/liveLinker.js
Due: eslint --fix, prettier --write

Fix attempted imported css warnings
  src/components/Community/Meet/index.tsx
  src/components/Documentation/Layout/SidebarMenu/index.tsx
  src/components/DownloadButton/index.tsx
  src/components/Home/LandingHero/GithubLine/index.tsx
  src/components/Home/UseCases/index.tsx
  src/components/LayoutFooter/index.tsx
  src/components/LayoutHeader/index.tsx
  src/components/MainLayout/index.tsx
Due: none

Add tbd comment to 404.tsx
  src/pages/404.tsx
Due: none

guide: only one arg per exp run -S per https://github.com/iterative/dvc.org/pull/2690#discussion_r694245977
  content/docs/user-guide/experiment-management/running-experiments.md
Due: prettier --write

Update content/docs/user-guide/basic-concepts/dvc-project.md
  content/docs/user-guide/basic-concepts/dvc-project.md
Due: prettier --write

concept: workspace copy edit rl https://github.com/iterative/dvc.org/pull/2754#discussion_r696108435
  content/docs/user-guide/basic-concepts/workspace.md
Due: prettier --write

Added note about unsuported expressions
  content/docs/command-reference/params/index.md
Due: prettier --write

Update content/docs/dvclive/api-reference/log.md
  content/docs/dvclive/api-reference/log.md
Due: prettier --write

Applied suggestions
  content/docs/dvclive/api-reference/get_step.md
Due: prettier --write

Added missing step refs
  content/docs/dvclive/api-reference/next_step.md
  content/docs/dvclive/user-guide/dvclive-with-dvc.md
Due: prettier --write

fix typos, grammar, punctuation
  content/docs/user-guide/basic-concepts/dvc-project.md
Due: prettier --write

Use linker
  content/docs/dvclive/api-reference/get_step.md
Due: prettier --write

Use linker
  content/docs/dvclive/api-reference/log.md
Due: prettier --write

DVCLive get step (#2765)
  content/docs/dvclive/api-reference/get_step.md
  content/docs/dvclive/api-reference/init.md
  content/docs/dvclive/api-reference/log.md
  content/docs/dvclive/api-reference/next_step.md
  content/docs/dvclive/user-guide/dvclive-with-dvc.md
  content/docs/sidebar.json
Due: prettier --write

delete incorrect dvc exp run -S usage
  content/docs/user-guide/experiment-management/running-experiments.md
Due: prettier --write

guide: DVC Project concept page (#2754)
  content/docs/user-guide/basic-concepts/dvc-project.md
  content/docs/user-guide/basic-concepts/workspace.md
Due: prettier --write

updated image name
  content/blog/2021-08-31-aug-community-gems.md
Due: prettier --write

changed url
  content/blog/2021-08-31-aug-21-community-gems.md
Due: prettier --write

updated url name
  content/blog/2021-08-31-august-21-community-gems.md
Due: prettier --write

blog: August community gems (#2655)
  content/blog/2021-08-31-august-21-community-gems.md
  static/uploads/images/2021-08-31/Community-Gems-0830-August.png
Due: prettier --write

Rollback gatsby@3.10.2 to 3.6.0
  package.json
  yarn.lock
Due: prettier --write

Remove comment in 404 page
  src/pages/404.tsx
Due: none

ref: copy edit default remote order
  content/docs/command-reference/fetch.md
  content/docs/command-reference/pull.md
  content/docs/command-reference/push.md
  content/docs/command-reference/status.md
Due: prettier --write

guide: reorder output fields order (in metafiles)
  content/docs/user-guide/project-structure/dvc-files.md
  content/docs/user-guide/project-structure/pipelines-files.md
Due: prettier --write

test: change content/docs/user-guide/contributing/blog.md for https://github.com/iterative/dvc.org/issues/2641
  content/docs/user-guide/contributing/blog.md
Due: prettier --write

test: bad change to .../contributing/blog.md
  content/docs/user-guide/contributing/blog.md
Due: prettier --write

guide: format file
  content/docs/user-guide/project-structure/pipelines-files.md
Due: prettier --write

test: try reverting https://github.com/iterative/dvc.org/commit/2dd2e91094873b2367dae484c62a838c255202de#diff-eb41540235b5687201bb19ed968c284453eea68563f5908a6e15ed8cbfa959de
  .restyled.yaml
Due: none

format .restyled.yaml
  .restyled.yaml
Due: none

ref: copy edit params index
  content/docs/command-reference/params/index.md
Due: prettier --write

config: sort prettier settings by abc
  .prettierrc
  .restyled.yaml
Due: none

guide: remove repeated code block per https://github.com/iterative/dvc.org/pull/2767#pullrequestreview-742888574
  content/docs/user-guide/experiment-management/running-experiments.md
Due: prettier --write

guide: remove mention of exp run -S accepting a list
  content/docs/user-guide/experiment-management/running-experiments.md
Due: prettier --write

Update content/docs/command-reference/exp/remove.md
  content/docs/command-reference/exp/remove.md
Due: prettier --write

ref: formate exp remove
  content/docs/command-reference/exp/remove.md
Due: prettier --write

remove specific experiments in queue (#2715)
  content/docs/command-reference/exp/remove.md
Due: prettier --write
