Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Update index.md
  content/docs/user-guide/index.md
Due: prettier --write

Update run-dvc-on-windows.md
  content/docs/user-guide/how-to/run-dvc-on-windows.md
Due: prettier --write

chore: upgrade packages
  .yarn/releases/yarn-4.5.0.cjs
  .yarn/releases/yarn-4.9.1.cjs
  .yarnrc.yml
  gatsby-config.js
  package.json
  src/@dvcorg/gatsby-theme-iterative/components/Documentation/Layout/SearchForm/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

chore: upgrade packages
  package.json
  yarn.lock
Due: prettier --write

fix: update stylelint configuration and dependencies
  .stylelintrc
  package.json
  src/components/Community/styles.module.css
  yarn.lock
Due: prettier --write

fix: update dependency array in useMemo for Slides component
  src/components/Home/LandingHero/Slides/index.tsx
Due: none

fix: update dependencies for date-fns, nanoid, and tailwind-merge
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade server, husky config
  .husky/install.mjs
  .husky/pre-commit
  package.json
  yarn.lock
Due: prettier --write

fix: update @dvcorg/websites-server to 0.3.0-beta.6
  package.json
  yarn.lock
Due: prettier --write

fix: update @dvcorg/websites-server to 0.3.0-beta.7
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade server to major version
  package.json
  yarn.lock
Due: prettier --write

chore: remove dc section
  src/@dvcorg/gatsby-theme-iterative/components/HamburgerMenu/index.tsx
  src/@dvcorg/gatsby-theme-iterative/components/LayoutFooter/index.tsx
  src/@dvcorg/gatsby-theme-iterative/components/LayoutHeader/Nav/index.tsx
  src/@dvcorg/gatsby-theme-iterative/components/LayoutHeader/Nav/styles.module.css
  src/@dvcorg/gatsby-theme-iterative/data/menu.tsx
  src/components/Home/Hero/BetterTogether/index.tsx
  src/components/Home/Hero/GetOnTheWaitlist/Form.tsx
  src/components/Home/Hero/GetStarted/GetStartedWithDatachain.tsx
  src/components/Home/Hero/HeroSection.tsx
  src/components/Home/Hero/index.tsx
  src/components/Home/index.tsx
  static/img/landing/Hero Visualization.svg
Due: none

chore: drop more dc ref
  content/data/datachain.yml
  content/docs/index.md
  plugins/landing-page/gatsby-node.ts
  src/@dvcorg/gatsby-theme-iterative/components/HamburgerMenu/index.tsx
  src/@dvcorg/gatsby-theme-iterative/components/LayoutHeader/Nav/Popup/index.tsx
  src/@dvcorg/gatsby-theme-iterative/data/menu.tsx
  src/components/Home/LandingHero/DatachainSlides.tsx
Due: prettier --write

chore: drop platinum services
  src/components/Support/index.tsx
Due: none

chore: reorg dvc.org (#5357)
  content/data/datachain.yml
  content/docs/index.md
  plugins/landing-page/gatsby-node.ts
  src/@dvcorg/gatsby-theme-iterative/components/HamburgerMenu/index.tsx
  src/@dvcorg/gatsby-theme-iterative/components/LayoutFooter/index.tsx
  src/@dvcorg/gatsby-theme-iterative/components/LayoutHeader/Nav/Popup/index.tsx
  src/@dvcorg/gatsby-theme-iterative/components/LayoutHeader/Nav/index.tsx
  src/@dvcorg/gatsby-theme-iterative/components/LayoutHeader/Nav/styles.module.css
  src/@dvcorg/gatsby-theme-iterative/data/menu.tsx
  src/components/Home/Hero/BetterTogether/index.tsx
  src/components/Home/Hero/GetOnTheWaitlist/Form.tsx
  src/components/Home/Hero/GetStarted/GetStartedWithDatachain.tsx
  src/components/Home/Hero/HeroSection.tsx
  src/components/Home/Hero/index.tsx
  src/components/Home/LandingHero/DatachainSlides.tsx
  src/components/Home/index.tsx
  src/components/Support/index.tsx
  static/img/landing/Hero Visualization.svg
Due: prettier --write

remove LI link from the footer
  src/@dvcorg/gatsby-theme-iterative/components/LayoutFooter/index.tsx
Due: none

remove LI link from the footer (#5358)
  src/@dvcorg/gatsby-theme-iterative/components/LayoutFooter/index.tsx
Due: none

style: update styles for Blog components
  src/components/Blog/Feed/styles.module.css
  src/components/Blog/Layout/index.tsx
  src/components/Blog/PageContent/styles.module.css
  src/components/Blog/Post/Markdown/styles.module.css
  src/components/Blog/Post/index.tsx
  src/templates/blog-home.tsx
  src/templates/blog-post.tsx
  src/templates/blog-tags.tsx
Due: none

chore: add initial DVC configuration and ignore files
  .dvc/.gitignore
  .dvc/config
  .dvcignore
  content/.gitignore
  content/uploads.dvc
  requirements.txt
Due: none

fix: update scripts to include dvc pull commands
  package.json
Due: prettier --write

fix: add missing heroku/python buildpack
  app.json
Due: prettier --write

feat: add husky hooks for dvc checkout and push
  .husky/post-checkout
  .husky/pre-push
Due: none

fix: update heroku deploy script and websites-server version
  package.json
  yarn.lock
Due: prettier --write

fix: update websites-server version to 0.3.2
  package.json
  yarn.lock
Due: prettier --write

rearrange studio links
  content/docs/command-reference/exp/push.md
  content/docs/command-reference/studio/index.md
  content/docs/dvclive/index.md
  content/docs/dvclive/live/log_image.md
  content/docs/dvclive/ml-frameworks/pytorch-lightning.md
  content/docs/start/experiments/experiment-tracking.md
  content/docs/start/model-registry/manage-models.md
  content/docs/studio/index.md
  content/docs/studio/user-guide/account-management/index.md
  content/docs/studio/user-guide/experiments/create-a-project.md
  content/docs/studio/user-guide/troubleshooting.md
  content/docs/use-cases/data-registry/tutorial.md
  content/docs/use-cases/model-registry.md
  content/docs/user-guide/data-management/discovering-and-accessing-data.md
  content/docs/user-guide/env.md
  content/docs/user-guide/experiment-management/comparing-experiments.md
  content/docs/user-guide/experiment-management/sharing-experiments.md
  content/docs/user-guide/experiment-management/visualizing-plots.md
  content/docs/user-guide/integrations/databricks.md
  content/docs/user-guide/integrations/sagemaker.md
  content/docs/user-guide/project-structure/configuration.md
Due: prettier --write

remove unused alert component
  src/components/Home/Alert/index.tsx
  src/constants/externalUrls.ts
Due: none

drop gatsby-source-rss-feed
  gatsby-config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

rearrange studio links (#5368)
  content/docs/command-reference/exp/push.md
  content/docs/command-reference/studio/index.md
  content/docs/dvclive/index.md
  content/docs/dvclive/live/log_image.md
  content/docs/dvclive/ml-frameworks/pytorch-lightning.md
  content/docs/start/experiments/experiment-tracking.md
  content/docs/start/model-registry/manage-models.md
  content/docs/studio/index.md
  content/docs/studio/user-guide/account-management/index.md
  content/docs/studio/user-guide/experiments/create-a-project.md
  content/docs/studio/user-guide/troubleshooting.md
  content/docs/use-cases/data-registry/tutorial.md
  content/docs/use-cases/model-registry.md
  content/docs/user-guide/data-management/discovering-and-accessing-data.md
  content/docs/user-guide/env.md
  content/docs/user-guide/experiment-management/comparing-experiments.md
  content/docs/user-guide/experiment-management/sharing-experiments.md
  content/docs/user-guide/experiment-management/visualizing-plots.md
  content/docs/user-guide/integrations/databricks.md
  content/docs/user-guide/integrations/sagemaker.md
  content/docs/user-guide/project-structure/configuration.md
  gatsby-config.js
  package.json
  src/components/Home/Alert/index.tsx
  src/constants/externalUrls.ts
  yarn.lock
Due: eslint --fix, prettier --write

remove some redirects
  redirects-list.json
Due: prettier --write

remove some redirects (#5369)
  redirects-list.json
Due: prettier --write

Revert "drop gatsby-source-rss-feed"
  gatsby-config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

add feed to blog
  gatsby-config.js
  package.json
  plugins/blogs/createSchemaCustomization.ts
  src/components/Home/WhatsNewModal/index.tsx
  src/gatsby/models.js
  src/gatsby/models/blogFeed/index.js
  src/queries/usePosts.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix(deps): update yarn.lock file
  yarn.lock
Due: none

rename
  gatsby-config.js
  src/components/Community/Learn/index.tsx
  src/components/SEO/index.tsx
  src/templates/blog-home.tsx
  yarn.lock
Due: eslint --fix
