Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

guide: top-level templating (not just stages)
  content/docs/user-guide/project-structure/dvcyaml-files.md
Due: prettier --write

drop cloud versioned remotes (#5190)
  content/docs/command-reference/exp/push.md
  content/docs/command-reference/install.md
  content/docs/command-reference/push.md
  content/docs/user-guide/data-management/cloud-versioning.md
  content/docs/user-guide/data-management/remote-storage/amazon-s3.md
  content/docs/user-guide/data-management/remote-storage/azure-blob-storage.md
  content/docs/user-guide/data-management/remote-storage/google-cloud-storage.md
  content/docs/user-guide/pipelines/external-dependencies-and-outputs.md
Due: prettier --write

Update env.md
  content/docs/user-guide/env.md
Due: prettier --write

Update content/docs/user-guide/env.md
  content/docs/user-guide/env.md
Due: prettier --write

apply linters
  content/docs/user-guide/env.md
Due: prettier --write

Update env.md (#5191)
  content/docs/user-guide/env.md
Due: prettier --write

keep Alert component and remove banner from home page
  src/components/Home/Alert/index.tsx
  src/components/Home/index.tsx
Due: none

import is no longer needed
  src/components/Home/index.tsx
Due: none

removing banner temporarily (#5188)
  src/components/Home/index.tsx
Due: none

Fix scmProviders.github on Helm `values.yaml`
  content/docs/studio/self-hosting/configuration/git-forges/github.md
Due: prettier --write

Fix data format
  content/docs/studio/self-hosting/configuration/git-forges/github.md
Due: prettier --write

Restyled by prettier
  content/docs/studio/self-hosting/configuration/git-forges/github.md
Due: prettier --write

Fix `scmProviders.github` naming conventions (#5194)
  content/docs/studio/self-hosting/configuration/git-forges/github.md
Due: prettier --write

Document OpenID Connect support
  content/docs/studio/user-guide/openid-connect.md
Due: prettier --write

Restyled by prettier
  content/docs/studio/user-guide/openid-connect.md
Due: prettier --write

Replace Brandon with Roboto
  src/@dvcorg/gatsby-theme-iterative/components/MainLayout/fonts.css
  tailwind.config.js
Due: eslint --fix

fixup! Replace Brandon with Roboto
  src/@dvcorg/gatsby-theme-iterative/components/MainLayout/fonts.css
Due: none

chore: use jost font for docs
  src/styles/global.css
Due: none

chore: use jost font
  src/@dvcorg/gatsby-theme-iterative/components/MainLayout/fonts.css
  src/styles/global.css
  tailwind.config.js
Due: eslint --fix

test: font robot only for docs
  src/styles/global.css
Due: none

Add OIDC to side bar
  content/docs/sidebar.json
Due: prettier --write

checkpoint
  content/docs/studio/user-guide/account-management/index.md
  content/docs/studio/user-guide/openid-connect.md
Due: prettier --write

checkpoint
  content/docs/studio/user-guide/account-management/index.md
Due: prettier --write

Polish
  content/docs/studio/user-guide/openid-connect.md
Due: prettier --write

add more oidc instructions
  content/docs/studio/user-guide/openid-connect.md
Due: prettier --write

Apply suggestions from code review
  content/docs/studio/user-guide/openid-connect.md
Due: prettier --write

add more oidc instructions (#5206)
  content/docs/studio/user-guide/openid-connect.md
Due: prettier --write

Update openid-connect.md
  content/docs/studio/user-guide/openid-connect.md
Due: prettier --write

Document OpenID Connect support (#5197)
  content/docs/sidebar.json
  content/docs/studio/user-guide/account-management/index.md
  content/docs/studio/user-guide/openid-connect.md
Due: prettier --write

Fix naming on openid-connect.md examples
  content/docs/studio/user-guide/openid-connect.md
Due: prettier --write

Fix naming on openid-connect.md examples (#5208)
  content/docs/studio/user-guide/openid-connect.md
Due: prettier --write

close parentheses
  content/docs/command-reference/add.md
Due: prettier --write

close parentheses (#5210)
  content/docs/command-reference/add.md
Due: prettier --write

fix inline code syntax in callout
  content/docs/user-guide/data-management/large-dataset-optimization.md
Due: prettier --write

remove extra spaces
  content/docs/user-guide/data-management/large-dataset-optimization.md
Due: prettier --write

fix inline code syntax in callout (#5213)
  content/docs/user-guide/data-management/large-dataset-optimization.md
Due: prettier --write

Update deprecated Azure OpenID Connect variables
  content/docs/studio/user-guide/openid-connect.md
Due: prettier --write
