Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

fix expression
  .github/workflows/check-deployment.yml
Due: none

rename
  .github/workflows/check-deployment.yml
Due: none

Update check-deployment.yml
  .github/workflows/check-deployment.yml
Due: none

docs for exp save
  content/docs/command-reference/exp/save.md
  content/docs/sidebar.json
  content/docs/start/experiment-management/experiments.md
  content/docs/user-guide/experiment-management/experiments-overview.md
  content/docs/user-guide/experiment-management/persisting-experiments.md
  content/docs/user-guide/experiment-management/running-experiments.md
Due: prettier --write

Updated the content about live experiment statuses
  content/docs/studio/user-guide/projects-and-experiments/live-metrics-and-plots.md
Due: prettier --write

guide: rewrite text of Data Mgmt index
  content/docs/user-guide/data-management/index.md
Due: prettier --write

Change GH request and use new server version
  package.json
  src/gatsby/models/github/index.js
  yarn.lock
Due: eslint --fix, prettier --write

Change GH request and use new server version (#4170)
  package.json
  src/gatsby/models/github/index.js
  yarn.lock
Due: eslint --fix, prettier --write

guide: update Data Mgmt figures
  content/docs/user-guide/data-management/index.md
  static/img/direct-storage-access.png
  static/img/dvc-data-access.png
  static/img/dvc_managed_storage.png
  static/img/manual_data_management.png
Due: prettier --write

add link to import-url --version-aware
  content/docs/command-reference/update.md
Due: prettier --write

update check deployment
  .github/workflows/check-deployment.yml
Due: none

expand exp save example
  content/docs/command-reference/exp/save.md
Due: prettier --write

dvc/guide: share exps without dvc remote
  content/docs/user-guide/experiment-management/sharing-experiments.md
Due: prettier --write

change ref to main branch
  .github/workflows/check-deployment.yml
Due: none

Using reusable workflow for check deployment (#4169)
  .github/workflows/check-deployment.yml
Due: none

Update dvcyaml-files.md
  content/docs/user-guide/project-structure/dvcyaml-files.md
Due: prettier --write

Restyled by prettier
  content/docs/user-guide/project-structure/dvcyaml-files.md
Due: prettier --write

Update content/docs/user-guide/experiment-management/sharing-experiments.md
  content/docs/user-guide/experiment-management/sharing-experiments.md
Due: prettier --write

guide: iterate on Data Mgmt again
  content/docs/user-guide/data-management/index.md
  content/docs/user-guide/data-management/storage-locations.md
Due: prettier --write

Add `dvclive.env`
  content/docs/dvclive/api-reference/env.md
  content/docs/sidebar.json
Due: prettier --write

Updates for DVCLive only
  content/docs/dvclive/api-reference/live/end.md
  content/docs/dvclive/api-reference/live/index.md
  content/docs/dvclive/api-reference/live/log_image.md
  content/docs/dvclive/api-reference/live/log_metric.md
  content/docs/dvclive/api-reference/live/log_param.md
  content/docs/dvclive/get-started.md
  content/docs/user-guide/basic-concepts/experiment.md
  static/img/dvclive-vscode-compare.png
  static/img/dvclive-vscode-monitoring.gif
  static/img/dvclive_exp_tracking_plots_diff.svg
Due: prettier --write

Add notes about `dvc.yaml`.
  content/docs/dvclive/api-reference/live/end.md
  content/docs/dvclive/api-reference/live/index.md
  content/docs/dvclive/api-reference/live/next_step.md
  content/docs/dvclive/how-it-works.md
Due: prettier --write

Update content/docs/command-reference/exp/save.md
  content/docs/command-reference/exp/save.md
Due: prettier --write

exp save docs (#4166)
  content/docs/command-reference/exp/save.md
  content/docs/sidebar.json
  content/docs/start/experiment-management/experiments.md
  content/docs/user-guide/experiment-management/experiments-overview.md
  content/docs/user-guide/experiment-management/persisting-experiments.md
  content/docs/user-guide/experiment-management/running-experiments.md
Due: prettier --write

Add `Live.end` to the sidebar
  content/docs/sidebar.json
Due: prettier --write

Passed -> Passing
  content/docs/dvclive/get-started.md
Due: prettier --write

dvc/guide: share exps without dvc remote (#4172)
  content/docs/user-guide/experiment-management/sharing-experiments.md
Due: prettier --write

Update sharing-experiments.md
  content/docs/user-guide/experiment-management/sharing-experiments.md
Due: prettier --write

Restyled by prettier
  content/docs/user-guide/experiment-management/sharing-experiments.md
Due: prettier --write

docs -> doc
  content/docs/dvclive/api-reference/live/end.md
  content/docs/dvclive/api-reference/ml-frameworks/index.md
  content/docs/dvclive/api-reference/ml-frameworks/pytorch-lightning.md
  content/docs/dvclive/api-reference/ml-frameworks/tensorflow.md
Due: prettier --write

Add missing `dvc.yaml`
  content/docs/dvclive/how-it-works.md
Due: prettier --write

dvc 2.37.0
  src/components/DownloadButton/index.tsx
Due: none

Update content/docs/dvclive/get-started.md
  content/docs/dvclive/get-started.md
Due: prettier --write

Renames. script -> code. VSCode -> VS Code
  content/docs/dvclive/get-started.md
  content/docs/dvclive/how-it-works.md
Due: prettier --write

Update sharing-experiments.md (#4177)
  content/docs/user-guide/experiment-management/sharing-experiments.md
Due: prettier --write

Update content/docs/dvclive/api-reference/live/end.md
  content/docs/dvclive/api-reference/live/end.md
Due: prettier --write

Restyled by prettier
  content/docs/dvclive/api-reference/live/end.md
Due: prettier --write

update end
  content/docs/dvclive/api-reference/live/end.md
Due: prettier --write

Add framework example in end
  content/docs/dvclive/api-reference/live/end.md
Due: prettier --write
