Repository iterative/dvc.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Make unexisting docs pages return 404 status
  pages/doc.js
  server.js
  src/Documentation/Markdown/utils/remark-linker.js
  src/Documentation/SidebarMenu/SidebarMenu.js
  utils/helper.js
  utils/helper.test.js
  utils/sidebar.json
Due: eslint --fix, prettier --write

Addicons to meet blocks
  src/Community/Block/styles.js
  src/Community/Meet/index.js
  static/img/community/discord.svg
  static/img/community/discourse.svg
  static/img/community/github.svg
Due: eslint --fix

Remove console.log
  src/Community/Block/index.js
Due: eslint --fix

Add styles to Discord block
  src/Community/Meet/index.js
  src/Community/Meet/styles.js
  src/utils/format.js
  static/fonts/fonts.css
Due: eslint --fix

Add styles for events
  src/Community/Events/index.js
  src/Community/Events/styles.js
Due: eslint --fix

Add illustration to community blocks
  src/Community/Contribute/index.js
  src/Community/Events/index.js
  src/Community/Learn/index.js
  src/Community/Meet/index.js
  src/Community/Section/styles.js
  src/Community/data.json
  static/img/community/contribute_bg.jpg
  static/img/community/learn_bg.jpg
  static/img/community/meet_bg.jpg
Due: eslint --fix, prettier --write

Add real github api for issues
  package.json
  pages/api/github.js
  src/Community/Meet/index.js
  yarn.lock
Due: eslint --fix, prettier --write

Add comment about Github API mock
  pages/api/github.js
Due: eslint --fix

Update static/docs/user-guide/experiments/branches.md
  static/docs/user-guide/experiments/branches.md
Due: prettier --write

Move @octokit/graphql to dependencies
  package.json
Due: prettier --write

Add blog api integration
  pages/api/blog.js
  src/Community/Learn/index.js
  src/Community/Learn/styles.js
Due: eslint --fix

Real API to get latest blog posts
  pages/api/discourse.js
  src/Community/Meet/index.js
Due: eslint --fix

Renamed and moved sidebar.json and helper.js
  pages/doc.js
  server.js
  src/Documentation/Markdown/utils/remark-linker.js
  src/Documentation/SidebarMenu/SidebarMenu.js
  src/utils/sidebar.js
  src/utils/sidebar.test.js
  static/docs/sidebar.json
Due: eslint --fix, prettier --write

Update path to sidebar.json in docs
  static/docs/user-guide/contributing/docs.md
Due: prettier --write

config: add `hardlink_lock` description
  static/docs/command-reference/config.md
Due: prettier --write

import: supports also non-output files/dirs
  static/docs/command-reference/get.md
  static/docs/command-reference/import.md
Due: prettier --write

cmd ref: improve `import` and `get` descriptions per https://github.com/iterative/dvc.org/pull/873#discussion_r359610809 (and https://github.com/iterative/dvc.org/pull/873#discussion_r359611053)
  static/docs/command-reference/get.md
  static/docs/command-reference/import.md
Due: prettier --write

CI: fix formatter to check all files
  package.json
Due: prettier --write

quick fix to .prettierrc
  .prettierrc
Due: none

yarn: add 'format' utility script and document it in docs contrib guide
  package.json
  static/docs/user-guide/contributing/docs.md
Due: prettier --write

cmd ref: rephrase well-behaved section (0)
  static/docs/command-reference/run.md
Due: prettier --write

Update texts
  src/Community/Contribute/index.js
  src/Community/data.json
Due: eslint --fix, prettier --write

Add pluralization to comments count
  src/Community/Meet/index.js
  src/utils/i18n.js
Due: eslint --fix

Add comments to blog posts
  src/Community/Learn/index.js
  src/Community/Learn/styles.js
Due: eslint --fix

cmf ref: change "well-behaved" to "unsupported behavior" in run per https://github.com/iterative/dvc.org/pull/877#discussion_r359737709
  src/Documentation/glossary.js
  static/docs/command-reference/run.md
Due: eslint --fix, prettier --write

cmd ref: alert about DVC removing outputs before executing commands both in run and repro per https://github.com/iterative/dvc.org/pull/877#discussion_r359704588
  static/docs/command-reference/repro.md
  static/docs/command-reference/run.md
Due: prettier --write

cmd ref: use friendlier language in note about deterministic commans (run) per https://github.com/iterative/dvc.org/pull/877#discussion_r359692629
  static/docs/command-reference/run.md
Due: prettier --write

cmd ref: add link to "software entropy" in unsupported cmd bhvr section of run per https://github.com/iterative/dvc.org/pull/877#discussion_r359693051
  static/docs/command-reference/run.md
Due: prettier --write

glossary: move glossary.js to static/docs/
  src/Tooltip/index.js
  static/docs/glossary.js
Due: eslint --fix

cmd ref: improve deprecation info in run, et al. per https://github.com/iterative/dvc.org/pull/877#discussion_r360183999
  static/docs/command-reference/checkout.md
  static/docs/command-reference/run.md
Due: prettier --write

term: review "output file" phrase per https://github.com/iterative/dvc.org/commit/ced036f5aa1998138ba4c59dfbd154e7a42e9524#r36514187
  pages/features.js
  static/docs/command-reference/add.md
  static/docs/command-reference/commit.md
  static/docs/command-reference/repro.md
  static/docs/command-reference/run.md
  static/docs/glossary.js
  static/docs/tutorials/deep/define-ml-pipeline.md
  static/docs/tutorials/versioning.md
  static/docs/understanding-dvc/what-is-dvc.md
Due: eslint --fix, prettier --write

cmd ref: soften note about DVC removing outputs before running stages per https://github.com/iterative/dvc.org/commit/ced036f5aa1998138ba4c59dfbd154e7a42e9524#r36514187
  static/docs/command-reference/repro.md
  static/docs/command-reference/run.md
Due: prettier --write

cmd ref: soften note about determinism in run per https://github.com/iterative/dvc.org/commit/ced036f5aa1998138ba4c59dfbd154e7a42e9524#r36514194
  static/docs/command-reference/run.md
Due: prettier --write

use blog.dvc.org instead of dataversioncontrol
  src/Footer/index.js
  src/HamburgerMenu/index.js
  src/Nav/index.js
Due: eslint --fix

cmd ref: soften deprecation notes in run options per https://github.com/iterative/dvc.org/pull/877#pullrequestreview-335075002
  static/docs/command-reference/run.md
Due: prettier --write

yarn: make `format` script require arg, `format-all` for all md,js,jsx files per private discussion with Ivan rel: https://github.com/iterative/dvc.org/pull/877#pullrequestreview-335577564
  package.json
  static/docs/user-guide/contributing/docs.md
Due: prettier --write

glossary: correct Dependency text per https://github.com/iterative/dvc.org/pull/877#pullrequestreview-335578200
  static/docs/glossary.js
Due: eslint --fix

term: wrap `command` in back ticks as much as possible in run cmd ref rel: https://github.com/iterative/dvc.org/pull/877#pullrequestreview-335578404
  static/docs/command-reference/run.md
Due: prettier --write

cmd ref: rename "Avoiding unexpected behavior" section per https://github.com/iterative/dvc.org/pull/877#pullrequestreview-335578518
  static/docs/command-reference/run.md
Due: prettier --write
